---
layout: coop-experience
id: index
item-url: /community/communities-of-practice.html
section: Community
meta-title:	Communities of practice
meta-description: Find out about the communities of practice sessions we run for Co-op colleagues.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Community
title: Communities of practice
last-reviewed: Last reviewed&#58; 4 May 2022
intro-text-lead: 
  - Communities of practice for each discipline meet every 2 weeks to learn, share work and support each other.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: False
link-box-text-design: View borders in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3856%3A0
link-box-text-dev: View code snippet
link-box-link-dev: /examples/foundations/borders.html

# Changelog
changelog:
  - date: 4 May 2022
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full"> 
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <p>Typical sessions include talks, design crits or exploring a particular topic together.</p>
                        <p>All colleagues are welcome to join any session.</p>
                        <p>Whoever is currently running the community of practice will post the topic for each session in the relevant channels in Slack:</p>
                        <ul>
                            <li>#content-designers</li>
                            <li>#interaction</li>
                            <li>#servicedesigning</li>
                            <li>#userresearch</li>
                            <li>#visual</li>
                        </ul>
                        <p>To get a calendar invite for any community of practice, ask one of the facilitators.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2>Schedule</h2>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-12"> 
                        <table class="coop-table">
                            <thead>
                                <tr class="coop-table__row">
                                    <th class="coop-table__header" scope="col" width="30%">Day</th>
                                    <th class="coop-table__header" scope="col">Discipline</th>
                                    <th class="coop-table__header" scope="col">Facilitators</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">Tuesday</th>
                                    <td class="coop-table__cell">User research</td>
                                    <th class="coop-cell" scope="col">Jessica Armson and Rachel Hand</th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">Wednesday</th>
                                    <td class="coop-table__cell">Content design</td>
                                    <th class="coop-cell" scope="col">Rachel Machin and Sophie Newbery</th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">Friday</th>
                                    <td class="coop-table__cell">Visual design</td>
                                    <th class="coop-cell" scope="col">Steph Clubb and Gail Mellows</th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">Friday</th>
                                    <td class="coop-table__cell">Service design</td>
                                    <th class="coop-cell" scope="col">Alistair Ruff</th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">Friday</th>
                                    <td class="coop-table__cell">Interaction design</td>
                                    <th class="coop-cell" scope="col">Imran Afzal and Lynn Hagan</th>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>