---
layout: coop-experience
id: index
item-url: /community/design-surgery.html
meta-title: Design surgery
meta-description: The design surgery is dedicated time for designers and teams to get direction and feedback from design leadership.
intro-text-lead: 

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: 
title: Design surgery&#58; Terms of reference
last-reviewed: Last reviewed&#58; 23 March 2022
intro-text-lead:  
  - Feedback and direction are critical to maintain and improve the quality of the design we do.
# Image at the top of the hero
decorative-image-url:  /images/decorative/foundations.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: /about-this-prototype/
  
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">     
                        <p>In teams, we do peer reviews using <a href="https://digitalblog.coop.co.uk/2018/03/28/how-to-run-a-design-crit-and-why-theyre-important/">design crits.</a></p>
                        <p>Our design leadership team is accountable for the standard and quality of design. As our team gets larger, we need to maintain the quality of our craft and share expertise across teams. Design leadership will take a more active role in giving direction and feedback.</p>
                        <p>We’ll do this through a weekly design surgery.</p>
                        <p>We'll try it for one month and review it at the end of April 2022.</p>
                        <h2>Purpose</h2>
                        <ul>
                            <li class="coop-u-margin-b-16">The design surgery will be dedicated time for designers and teams to get direction and feedback from design leadership.</li>
                            <li class="coop-u-margin-b-16">It will also be time for design leadership to support designers in working through challenging problems and making informed design decisions.</li>
                            <li class="coop-u-margin-b-16">It will be a space to maintain and improve the quality of the design work, enabling us to create better experiences for our customers and colleagues.</li>
                            <li class="coop-u-margin-b-16">We will work across the whole spectrum of design, from customer experience metrics to polished production design.</li>
                            <li class="coop-u-margin-b-16">Finally, it will be a safe space to escalate any weighty issues blocking our ability to design effectively. </li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>Who</h2>
                        <p>We’re focusing on developing the design standards and quality within the Experience team at Co-op.</p>
                        <p>The design surgery will include the following disciplines:</p>
                        <ul>
                            <li>Content design and strategy</li>
                            <li>CX strategy</li>
                            <li>Interaction design</li>
                            <li>Service design</li>
                            <li>User research</li>
                            <li>Visual design</li>
                        </ul>
                        <p>In the future we may broaden this group out to include wider disciplines in the Experience team such as SEO (Search Engine Optimisation), CRO (Conversion Rate Optimisation), and product management.</p> 
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>When</h2>
                        <p>The design surgery will be open every Wednesday morning from 9:30 – 12:00.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-12"> 
                        <table class="coop-table">
                            <thead>
                                <tr class="coop-table__row">
                                    <th class="coop-table__header" scope="col" width="30%">Time</th>
                                    <th class="coop-table__header" scope="col">Discipline</th>
                                    <th class="coop-table__header" scope="col">Design leader(s)</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">9:30am</th>
                                    <td class="coop-table__cell">Experience strategy and high-priority escalations</td>
                                    <th class="coop-cell" scope="col">Katherine Wastell</th>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">10:00am</th>
                                    <td class="coop-table__cell">Service design and user research</td>
                                    <th class="coop-cell" scope="col">Adam Hopwood</th>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">10:30am</th>
                                    <td class="coop-table__cell">Content design and strategy</td>
                                    <th class="coop-cell" scope="col">Hannah Horton</th>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">11:00am</th>
                                    <td class="coop-table__cell">Customer experience measurement and strategy</td>
                                    <th class="coop-cell" scope="col">Gem Hinett and Nate Langley</th>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row">11:30am</th>
                                    <td class="coop-table__cell">Interaction design, visual design and front-end</td>
                                    <th class="coop-cell" scope="col">James Rice, Matt Tyas and Gail Mellows</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>How it will work</h2>
                        <p>For the first month, we’ll trial inviting designers to come and share work.</p>
                        <h3>Before the surgery</h3>
                        <ol>
                            <li class="coop-u-margin-b-16">We'll send you an email inviting you to come and share a particular piece of work.</li>
                            <li class="coop-u-margin-b-16">If there's a piece of work you'd like us to prioritise, put yourself forward by <a href="https://forms.office.com/pages/responsepage.aspx?id=tLdPg01i6E2pdy1GrZeb2Y6LRajkFc5GvB0GRiClEgZUMVVBSEJPS1VGR1hLUUszTklHVEhKNERUSy4u">requesting a slot at the design surgery.</a></li>
                            <li class="coop-u-margin-b-16">We’ll offer you a date and a 30-minute time slot.</li>
                            <li class="coop-u-margin-b-16">Please share your work with us at least the day before the session (how to do this will be outlined when we offer you a slot).
                                <ul>
                                    <li class="coop-u-margin-b-16 coop-u-margin-t-16 coop-t-font-size-18">It can be in any format; a Figma file, an interview guide, a sketch, a Miro board.</li>
                                    <li class="coop-u-margin-b-16 coop-t-font-size-18">There is no need to create a polished deck unless that’s what you need feedback on.</li>
                                </ul>
                            </li>
                        </ol>
                        <h3>At the surgery</h3>
                        <p>You'll have 30 minutes:</p>
                        <ol>
                            <li class="coop-u-margin-b-16">10 minutes to explain the work and context.</li>
                            <li class="coop-u-margin-b-16">15 minutes for discussion and feedback.</li>
                            <li class="coop-u-margin-b-16">5 minutes to agree actions and next steps.</li>
                        </ol>
                        <h3>After the surgery</h3>
                        <p>After the session, we'll email the feedback we discussed alongside our decisions and arrange any follow-up time or escalation.</p>
                        <p>The feedback email will include expectations on how you respond to the feedback, which we will agree in the surgery.</p>
                        <p>The surgery should be an open line of communication to the leadership team. We will encourage you to return later to let us know what has happened since.</p>
                        <p>We’ll ask you for <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=tLdPg01i6E2pdy1GrZeb2Y6LRajkFc5GvB0GRiClEgZUQkQyR0JBNlc2MFpHUFpOQUxSSlJVUTFDUC4u">feedback to help us improve</a> the design surgery.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>Principles</h2>
                        <ul>
                            <li class="coop-u-margin-b-16">Everyone did the best job they could with the information they had available to them at the time.</li>
                            <li class="coop-u-margin-b-16">Designers don't need to defend their work or decisions</li>
                            <li class="coop-u-margin-b-16">Show the thing.</li>
                            <li class="coop-u-margin-b-16">Feedback is a gift.</li>
                            <li class="coop-u-margin-b-16">We can improve even the best piece of work in the world.</li>
                            <li class="coop-u-margin-b-16">We're aiming for progress, not perfection</li>
                            <li class="coop-u-margin-b-16">We want to be more experimental, which means we'll get some bets wrong, and that's ok.</li>
                            <li class="coop-u-margin-b-16">It is not a forum for leadership to 'sign-off' designs.</li>
                        </ul>
                    </div>
                </div>
            </div> 
        </section>
    </main>
    {% include footer.html %}
</div>
