---
layout: coop-experience
id: index
item-url: /community/feedback.html
meta-title: Feedback
meta-description: Submit your feedback to the Experience Library team
title: Suggest an update to the Experience Library
description: Submit your feedback to the Experience Library team
col-width: 9
intro-text-lead: 
decorative-image-url:  /images/decorative/foundations.svg
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <form action="https://formspree.io/f/xqkwqwgb" method="POST">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item">
                                <div class="coop-u-margin-resp-b-32-16">
                                    <label for="name" class="label">Name</label>
                                    <input type="text" id="name" name="Name" class="coop-form__input" />
                                </div>
                                <div class="coop-u-margin-resp-b-32-16">
                                    <label for="email" class="label">Email</label>
                                    <p id="email-hint" class="coop-form__hint">We’ll only use this if we need to know more about your feedback.</p>
                                    <input type="email" id="email" name="_replyto" autocomplete="email" class="coop-form__input" aria-describedby="email-hint" required />
                                </div>
                                <div class="coop-u-margin-resp-b-32-16">
                                    <label for="which-page" class="label">Which page is this about?</label>
                                    <input type="text" id="which-page" name="Which page is this about?" class="coop-form__input" />
                                </div>
                                <div class="coop-u-margin-resp-b-32-16">
                                    <label id="feedback-comment" for="id_comments" class="label">What update do you want to suggest to this page?</label>
                                    <textarea cols="40" id="id_comments" name="What update do you want to suggest to this page?" rows="5"></textarea>
                                </div>
                                <div class="coop-u-margin-resp-b-32-16">
                                    <button class="coop-btn coop-btn--primary" type="submit">Send feedback</button>
                                </div>
                            </div>
                        </div>  
                    </form>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>