---
layout: coop-experience
id: index
item-url: /community/
section: Community
meta-title:	Contribute
meta-description: Find out what the process is to add something to, or update something already in the Co-op Experience Library.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: 
title: Contribute
last-reviewed: 
intro-text-lead:  
  - We need your help to make sure that everything in the Experience Library is up to date, correct and useful. Because it’s only as good as we make it together.
# Image at the top of the hero
decorative-image-url:  /images/decorative/community-and-contribution-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: about-this-prototype/

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero-dark.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>Give feedback or suggest an update</h2>
                        <p>Fill in our form to <a href="{{ '/community/feedback.html' | prepend: site.baseurl }}">give feedback or suggest an update</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>Add to the Experience Library</h2>
                        <p>To find the best way for you to add to the Experience Library, we'll be talking to and working with, product and design teams from October 2021.</p>
                        <p>We want to learn what you do now and how we can help you to share reusable patterns with others.</p>
                        <p>If you want to get in touch before then, fill in our form to <a href="{{ '/community/feedback.html' | prepend: site.baseurl }}">give feedback or suggest an update</a>.</p>
                        <h2>Thank you</h2>
                        <p>The Experience Library exists because of the experience, knowledge and skills of lots of people from around the Co-op. It would not exist without your contribution. </p>
                        <p>Your contribution will help:</p>
                        <ul>
                            <li>our colleagues and communities work more efficiently</li>
                            <li>our products and services be more inclusive</li>
                            <li>save Co-op money</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>