---
layout: coop-experience
id: index
item-url: /community/thank-you.html
meta-title:	Feedback sent - Community and contribution
meta-description: Submit your feedback to the Experience Library team.
title: Feedback sent
col-width: 9
intro-text-lead: 
decorative-image-url:  /images/decorative/foundations.svg
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>Thank you for your feedback</h2>
                    <p>These are the next steps...</p>  
                    </form>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>