---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/team-charter.html
section: ways-of-working-workshops
meta-title:	Team charter
meta-description: Find out how to use the Team charter workshop with your team to agree your team principles, behaviours and values.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Team charter
last-reviewed: Last reviewed&#58; 17 December 2021
intro-text-lead:
  - Agree your team principles, behaviours and values so that you understand what to expect from each other.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/stand-up-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: The whole team
  - img: /images/icons/clock.svg
    text: 1 - 2 hours

# Changelog
changelog:
  - date: 14 December 2021
    notes: Minor content updates
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on a Team charter workshop</h2>
                        <h3>Why have a Team charter workshop</h3>
                        <p>Your team charter helps your team to understand and agree on:</p>
                        <ul>
                            <li><a href="{{ 'https://www.coop.co.uk/experience-library/ways-of-working/glossary.html#letter-p' | prepend: site.baseurl }}">principles</a> you will have for working as a team</li>
                            <li>behaviours you expect from one another</li>
                            <li>values that your team believes in</li>
                        </ul>
                        <p class="coop-u-margin-t-64">Talking through this with your team helps to:</p>
                        <ul>
                            <li>create an open feedback culture where people feel safe</li>
                            <li>understand what people need to work well</li>
                            <li>get along as a team</li>
                            <li>create a positive space to produce your work</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>All members of the team and key stakeholders including anyone in the office or working remotely at home.</p>
                        <h3>When to do a Vision and goals workshop</h3>
                        <ul>
                            <li>When a new team comes together</li>
                            <li>When someone new on your team joins</li>
                            <li>When you need to review it, for example every 3 months</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p><a href="https://www.ustwo.com/blog/the-7-habits-of-highly-effective-teams/" target="_blank">The 7 Habits of Highly Effective Teams</a></p>
                        <p><a href="https://blog.agilityscales.com/how-to-define-and-evolve-your-team-principles-81bc2589ba0c" target="_blank">How to Define and Evolve Your Team Principles</a></p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to run a team charter</h2>
                        <p>All of the steps and activities for creating a team charter are in <a href="https://miro.com/app/board/o9J_lXffLv0=/">this Miro board.</a> This is so that your team can work together remotely in a shared visual space.</p>
                        <p>The Miro board includes:</p>
                        <ul>
                            <li>Tips for using Miro</li>
                            <li>How to duplicate the template and create your own board</li>
                            <li>Facilitator guide</li>
                            <li>Goals for the session</li>
                            <li>Creating a safe environment</li>
                            <li>Activity 1: Team check in</li>
                            <li>Activity 2: Agreeing team principles</li>
                            <li>Activity 3: Agreeing team behaviours</li>
                            <li>Activity 4: Agreeing team values</li>
                            <li>Activity 5: Creating team charter</li>
                            <li>Next steps</li>  
                        </ul>
                        <a class="coop-btn coop-btn--primary coop-u-margin-t-32" href="https://miro.com/app/board/o9J_lXffLv0=/">Open Miro board</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
