---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/workshops/vision-and-goals.html
section: ways-of-working-workshops
meta-title:	Vision and goals
meta-description: Find out how to use the Vision and goals workshop with your team to identify what you are aiming for and want to achieve.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Vision and goals
last-reviewed: Last reviewed&#58; 16 December 2021
intro-text-lead:
  - Create a vision and goals for your team so that you all agree on what you are aiming for and want to achieve.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/workshops/vision-and-goals-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 10 to 20 people maximum
  - img: /images/icons/clock.svg
    text: 1 - 2 hours

# Changelog
changelog:
  - date: 16 December 2021
  notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on a vision and goals workshop</h2>
                        <h3>Why have a vision and goals workshop</h3>
                        <p>Understand:</p>
                        <ul>
                            <li>how your team vision relates to the Co-op's vision and mission</li>
                            <li>what you want to achieve as a team</li>
                            <li>how your goals and objectives relate to your vision</li>
                            <li>how to break your objectives down into weekly and daily tasks</li>
                            <li>how you will measure your progress against your vision, goals and tasks</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>All members of the team and key stakeholders including anyone in the office or working remotely at home.</p>
                        <blockquote class="coop-u-margin-t-32 coop-u-margin-b-64">
                            <p>We wanted everyone to feel empowered to create a vision for ourselves. In a collaborative session everyone owns it. It gives people a platform to question what we’re doing, talk it through and find agreement.</p>
                            <cite>Carly, Co-op Represent network.</cite>
                        </blockquote>
                        <h3>When to do a vision and goals workshop</h3>
                        <ul>
                            <li>Create a vision and goals as one of the first things you do as a team</li>
                            <li>It’s important that everyone in the team knows what the vision and goals are. They should be visible whenever your team reviews work or plans for the future</li>
                        </ul>
                        <blockquote class="coop-u-margin-t-32 coop-u-margin-b-64">
                            <p>As a participant you’re so focused on what you’re doing. A facilitator can ask questions and spot patterns which is massively helpful.</p>
                            <cite>Natalie, Co-op Represent network</cite>
                        </blockquote>
                        <h3>Learn more</h3>
                        <p><a href="https://digitalblog.coop.co.uk/2021/01/14/how-were-making-sure-teams-objectives-align-with-the-co-op-vision/" target="_blank">How we’re making sure teams’ objectives align with the Co-op vision</a></p>
                        <p><a href="https://library.gv.com/how-google-sets-goals-okrs-a1f69b0b72c7#.fcvp3rt7jhttps://library.gv.com/how-google-sets-goals-okrs-a1f69b0b72c7#.fcvp3rt7j" target="_blank">How Google sets goals: OKRs</a></p>
                        <h3>Glossary</h3>
                        <p>Related terms: vision, mission, goal, metric, objectives and key results (OKR’s), key performance indicator (KPI).</p>
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to run a vision and goals workshop</h2>
                        <p>All of the steps and activities for creating a vision and goals are in <a href="https://miro.com/app/board/o9J_lYK5Fno=/">this Miro board.</a> This is so that your team can work together remotely in a shared visual space.</p>
                        <p>The Miro board includes:</p>
                        <ul>
                            <li>Welcome and introductions</li>
                            <li>Aims and principles for the session</li>
                            <li>Activity 1: Team purpose</li>
                            <li>Activity 2: Qualities a vision should haven</li>
                            <li>Activity 3: What kind of words do we want in our vision?</li>
                            <li>Activity 4: Building the vision statement</li>
                            <li>Activity 5: Ideas for goals</li>
                            <li>Activity 6: Things we can do to achieve our goals (metrics)</li>
                            <li>Vision goals and metrics template</li>
                            <li>Next steps</li>  
                        </ul>
                        <a class="coop-btn coop-btn--primary coop-u-margin-t-32" href="https://miro.com/app/board/o9J_lYK5Fno=/">Open Miro board</a>     
                        <blockquote class="coop-u-margin-t-64">
                            <p>We had a group with strong personalities and opinions. As a leader I wanted to bring people together on a journey. I wanted us to know who we are and what we stand for. The vision session gave me a leadership tool to do that.</p>
                            <cite>Carly, Co-op Represent network</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
