
.el-c-pullout {
    margin: var(--spacing-64) 0 0;  
    padding: var(--spacing-32);
    border: 1px solid var(--color-grey-mid-light);
    border-radius: var(--ui-border-radius);
}

.el-c-pullout__example {
    padding: var(--spacing-16);
    border: 1px solid var(--color-grey-mid-light);
}