
.interact-banner {
  position: relative;
  background-color: var(--color-link-focus);
  color: var(--color-white);
  margin: 0px;
  padding: var(--spacing-16);
}



@media (--mq-medium) {
    .interact-banner__p {
        width: 60%;
    }
}
