
.el-c-hero {
    margin-bottom: var(--spacing-64); 
    padding: 0 0 var(--spacing-32) var(--spacing-64);
    background: var(--color-grey-neutral-warm);
} 

.el-c-hero__image {
    display: flex; 
    flex-direction: row-reverse;
}

.el-c-hero__inner {
    margin-right: var(--spacing-64);
}

.el-c-hero__text { 
    max-width: 45rem; 
    margin-bottom: var(--spacing-64); 
}

.el-c-hero__title {
    font-size: 5rem;
}