
.el-c-contribute-card-test {
    margin: 0 0 var(--spacing-32) 0;
    padding: var(--spacing-24);
    background: var(--color-text);
    border-radius: var(--ui-border-radius);
    box-shadow: var(--ui-shadow);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.el-c-contribute-card-test__media,
.el-c-contribute-card-test__content {
    width: 100%;
}

.el-c-contribute-card-test__image--masked {
    mask-image: url('../../images/test-mask/cog-large.svg');
    mask-position: center right;
    mask-size: 70%;
    mask-repeat: no-repeat;
    transform: scale(1.25) translate(10%, 20%);
}

.el-c-contribute-card-test__image--absolute {
    position: absolute;
    bottom: -5.5rem;
    left: -5.5rem;
}

.el-c-contribute-card-test__title {
    font-size: 2rem;
    line-height: 1.2;
    color: var(--color-white)
}

@media (--mq-small) {
    .el-c-contribute-card-test__image--masked {
        transform: scale(1.25) translate(5%, 15%);
    }
}

@media (--mq-large) {
    .el-c-contribute-card-test {
        flex-direction: row;
    }

    .el-c-contribute-card-test__media,
    .el-c-contribute-card-test__content {
        width: 50%;
    }

    .el-c-contribute-card-test__image--masked {
        transform: scale(1.75) translate(5%, 0%) ;
    }

    .el-c-contribute-card-test__image--absolute {
        left: 42%;
    }
}

@media (--mq-xlarge) {
    .el-c-contribute-card-test__image--absolute {
        left: 44%;
    }
 }

 @media (--mq-xxlarge) {
    .el-c-contribute-card-test__image--absolute {
        left: 48%;
    }
 }
