
.el-c-pullout {
    margin: var(--spacing-64) 0 0;  
    padding: var(--spacing-16);
    border: 1px solid var(--color-grey-mid-light);
    border-radius: var(--ui-border-radius);
}

@media (--mq-medium) {
    .el-c-pullout  {
       padding: var(--spacing-32) var(--spacing-16) var(--spacing-32) var(--spacing-16);
    }
} 

.el-c-pullout__example {
    padding: var(--spacing-16) var(--spacing-16) var(--spacing-16) 0;
    
}