
.el-c-header  {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 16px 16px 16px 16px;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.1);
    background-color: var(--color-white);
}
