
.el-c-changelog {
    margin: var(--spacing-64) 0 0;  
    padding: var(--spacing-16);
    
}

@media (--mq-medium) {
    .el-c-changelog  {
       padding: var(--spacing-32) 0 var(--spacing-32) 0;
    }
} 