
.el-c-in-page-nav {
    margin-bottom: calc(var(--spacing-16) * -1);
}

.el-c-in-page-nav li {
    display: block;
    margin-bottom: var(--spacing-8);
}

@media (--mq-medium) {
    .el-c-in-page-nav li {
        display: inline-block;
        margin-bottom: 0;
    } 
}

.el-c-in-page-nav__link {
    color: var(--color-text);
    margin-right: var(--spacing-32);
    text-decoration: none;
}

.el-c-in-page-nav__link:hover {
    color: var(--color-text);
    text-decoration: underline;
}

