
.el-c-mobile-header  {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 12px 16px 10px 16px;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.1);
  background-color: var(--color-white);
  @media (--mq-medium) {
    display: none;
  }
}

.el-c-mobile-header__btn { 
  display: block;
  position: absolute;
  z-index: 12;
  right: 16px;
  top: 9px;
  @media (--mq-medium) {
    display: none;
  }
}