
.el-i-slack {
    position: relative;
    margin-right: 10px;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: super;
}

.el-i-slack-text {
    display: inline-block;
    position: relative;
    bottom: var(--spacing-16);
    vertical-align: sub;
}