
.el-i-slack {
    position: relative;
    margin-right: 10px;
    display: inline-block;
    height: 3rem;
    width: 3rem;
}

.el-i-slack-text {
    display: inline-block;
    position: relative;
    bottom: var(--spacing-16);
}