.coop-c-skip-nav--desktop {
    display: none;
}

@media (--mq-medium) {
  .coop-c-skip-nav--desktop {
    display: inline-block;
  }
}

.coop-c-skip-nav--mobile {
    display: inline-block;
}

@media (--mq-medium) {
  .coop-c-skip-nav--mobile {
    display: none;
  }
}