
<footer class="coop-l-footer coop-l-page coop-l-page--neutral">
    <div class="coop-l-grid coop-u-list-bare">  
        <div class="coop-l-grid__item coop-l-grid__item--large-6">
            <h3 class="coop-t-font-size-24">Get support</h3>
            <p>Post in the Design System Support Slack channel (Co-op Digital colleagues only)</p>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-6">
            <h3 class="coop-t-font-size-24">Sign up for email updates</h3>
            <p>We'll keep you informed about changes and developments.</p>
            <a class="coop-btn coop-btn--primary" href="https://coop-design-system.herokuapp.com/sign-up.html">Sign up</a>     
        </div>
    </div>
    <div class="coop-u-margin-resp-t-64-32">
        <p class="coop-t-font-size-16">Copyright &copy; Co-operative Group Limited. All rights reserved.</p>
    </div>
</footer>

