<!-- Main footer -->
<footer class="footer-main">
    {% comment %}
    <div class="wrap footer-main-top">

        <!-- Logo -->
        <a class="coop-logo" aria-label="Homepage" href="/">
            {% include logo.html %}
        </a>
        <!-- /Logo -->

        <div class="support-links">
            <div class="row">
                <div class="small-6 medium-3 column">
                    <h4 class="menu-toggle">Support links 1</h4>
                    <ul>
                        <li><a href="#">First item</a></li>
                        <li><a href="#">Second item</a></li>
                    </ul>
                </div>
                <div class="small-6 medium-3 column">
                    <h4 class="menu-toggle">Support links 2</h4>
                    <ul>
                        <li><a href="#">First item</a></li>
                        <li><a href="#">Second item</a></li>
                    </ul>
                </div>
                <div class="small-6 medium-3 column small-clear medium-clear-none">
                    <h4 class="menu-toggle">Support links 3</h4>
                    <ul>
                        <li><a href="#">First item</a></li>
                        <li><a href="#">Second item</a></li>
                    </ul>
                </div>
                <div class="small-6 medium-3 column">
                    <h4 class="menu-toggle visuallyhidden small-shown">Connect with us</h4>
                    <ul class="social-links">
                        <li><a href="#"><span class="visuallyhidden">Facebook</span><i class="icon icon-facebook"></i></a></li>
                        <li><a href="#"><span class="visuallyhidden">Twitter</span><i class="icon icon-twitter"></i></a></li>
                        <li><a href="#"><span class="visuallyhidden">LinkedIn</span><i class="icon icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {% endcomment %}

    {% comment %}
    <nav class="bottom-links">
        <ul class="wrap">
            <li><a href="#">Privacy & cookies</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Terms & conditions</a></li>
        </ul>
    </nav>
    {% endcomment %}

    <div class="wrap legalese">
        <p>Copyright &copy; Co-operative Group Limited. All rights reserved.</p>
    </div>

</footer>
<!-- /Main footer -->
