<section class="el-c-hero">
    <div class="el-c-hero__image">
        <img src="/images/decorative/borders-hero.svg" alt="" />
    </div>
    <div class="el-c-hero__content">
        <p class="el-c-hero__section">{{ page.section }}</p>
        <h1 class="el-c-hero__title">{{ page.title }}</h1>
        <p class="el-c-hero__meta">{{ page.last-reviewed }}</p>
        <p class="coop-t-lead-p">You can use borders to create separation between components or boxes of content.</p>
        <div class="el-c-info-card">
            test
        </div>
    </div>
</section>