<div class="el-c-hero__inner">
    <div class="el-c-info-card">
        <div class="coop-l-grid">
            <div class="coop-l-grid__item coop-l-grid__item--large-7">
                <h2>{{ page.info-card-title }}</h2>
                {% for item in page.info-card-p %}
                <p>{{ item }}</p>
                {% endfor %}
            </div>
            <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-l-grid__item--large-offset-1">
                <img src="{{ page.info-card-image | prepend: site.baseurl }}" alt="" class="el-c-info-card__image" />
            </div>
        </div>
    </div>
</div>