<div class="coop-c-notification coop-c-notification--alert" role="alert">
    <h3 class="coop-c-notification__heading">This is a work in progress prototype</h3>
    <p class="coop-c-notification__p">
        We’ll be adding more content over time. If you can not find the information you need here, try the <a href="https://coop-design-system.herokuapp.com/" class="coop-t-link-black">Co-op design system</a>. To give feedback on this prototype, email <a href="mailto:designsystem@coop.co.uk" class="coop-t-link-black">designsystem@coop.co.uk</a> or Co-op Digital colleagues can post in the #design-system-support Slack channel.
    </p>
</div>