<form class="el-c-search" autocomplete="off">
    <div class="coop-form__wrapper">
        <label for="search-small-input" class="coop-u-visuallyhidden">Search the Experience Library</label>
        <input type="search" name="search" id="search-small-input" placeholder="Search"
                class="coop-form__input el-c-search__input coop-c-search__input--small" />
    </div>  
</form>
<ul id="results-container" class="coop-u-list-bare coop-search-results"></ul>
<div class="el-c-search__results-bg"></div>