<nav class="side-nav">
    <ul class="coop-u-list-bare">
        <li class="side-nav__title">Guidelines</li>
        <li class="side-nav__link"><a href="#">Principles</a></li>
        <li class="side-nav__title">Design and development</li>
        <li class="side-nav__link"><a href="#">Design tokens</a></li>
        <li class="side-nav__link"><a href="#">Elements</a></li>
        <li class="side-nav__link"><a href="/component-overview.html">Components</a></li>
        <li class="side-nav__link"><a href="#">Patterns</a></li>
        <li class="side-nav__title">Processes</li>
        <li class="side-nav__link"><a href="#">Contributing</a></li>
        <li class="side-nav__link"><a href="#">Meet ups</a></li>
    </ul>
</nav>
