<div class="coop-u-flex">
    <nav class="coop-u-flex__sidebar">
      <form class="coop-c-search">
          <label for="search-small" class="coop-u-visuallyhidden">Search the experience library</label>
          <input type="search" name="search" id="search-small" placeholder="Search" class="coop-form__input coop-c-search__input coop-c-search__input--small">
          <button class="coop-c-search__button coop-c-search__button--small coop-btn">
              <span class="coop-u-visuallyhidden">Search</span>
              <svg width="32" height="32" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0 6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5 11z" fill="#FFFFFF" fill-rule="evenodd"/></svg>
          </button>
      </form>
    <ul class="coop-side-nav coop-u-list-bare">
        {% if page.id == 'index' %}
        <li class="side-nav__link"><a href="#">Designing at Co-op</a></li>
        <li class="side-nav__link"><a href="#">Get started with:</a></li>
        <li class="side-nav__link"><a href="/ui/">UI library</a></li>
        <li class="side-nav__link"><a href="#">Visual language</a></li>
        <li class="side-nav__link"><a href="/accessibility/">Accessibility</a></li>
        <li class="side-nav__link"><a href="#">Content</a></li>
        <li class="side-nav__link"><a href="#">Community</a></li>
        {% endif %}

        {% if page.id == 'accessibility' %}
            <li class="side-nav__title"><a href="#">Accessibility policy</a></li>
            <li class="side-nav__title"><a href="#">Standards</a></li>
            <li class="side-nav__link"><a href="#">Using these standards</a></li>
            <li class="side-nav__link"><a href="#">Make it understandable</a></li>
            <li class="side-nav__link"><a href="#">Make it readable and usable</a></li>
            <li class="side-nav__link"><a href="#">Put the user in control</a></li>
            <li class="side-nav__link"><a href="#">Forms</a></li>
            <li class="side-nav__title"><a href="#">Testing and research</a></li>
            <li class="side-nav__link"><a href="#">Accessibility testing framework</a></li>
            <li class="side-nav__link"><a href="#">Researching with users</a></li>
            <li class="side-nav__title"><a href="#">Tools and resources</a></li>
            <li class="side-nav__title"><a href="#">Community</a></li>
            <li class="side-nav__link"><a href="#">Accessibility champions network</a></li>
            <li class="side-nav__link"><a href="#">Accessibility groups at Co-op</a></li>
            <li class="side-nav__link"><a href="#">Meet ups</a></li>
            <li class="side-nav__link"><a href="#">Support</a></li>
        {% endif %}
    </ul>
</nav>
