<div class="coop-c-signpost">
    <a href="{{ signpost.link | prepend: site.baseurl }}" class="coop-c-signpost__link">
        {% if signpost.image %}
        <figure class="coop-c-signpost__media">
            <picture class="coop-c-signpost__image">
                <img src="{{ signpost.image | prepend: site.baseurl }}" alt="">
            </picture>
        </figure>
        {% endif %}
        <div class="coop-c-signpost__content">
            <p class="coop-c-signpost__title">{{ signpost.text }}</p>
            <span class="coop-c-signpost__icon" aria-hidden="true">
                <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                    <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"/>
                </svg>
            </span>
        </div>
    </a>
</div>