<nav class="coop-c-skip-nav coop-c-skip-nav--desktop">
    <ul class="coop-c-skip-nav__list">
        <li><a href="#main" title="Skip to main content" class="coop-c-skip-nav__link">Skip to content</a></li>
        <li><a href="#desktop-logo" title="Skip to header" class="coop-c-skip-nav__link">Skip to header</a></li>
        <li><a href="#search-small-input" title="Skip to search" class="coop-c-skip-nav__link">Skip to search</a></li>
        <li><a href="#navigation" title="Skip to main navigation" class="coop-c-skip-nav__link">Skip to main navigation</a></li>
    </ul>
</nav>
<nav class="coop-c-skip-nav coop-c-skip-nav--mobile">
    <ul class="coop-c-skip-nav__list">
        <li><a href="#main" title="Skip to main content" class="coop-c-skip-nav__link">Skip to content</a></li>
        <li><a href="#mobile-logo" title="Skip to header" class="coop-c-skip-nav__link">Skip to header</a></li>
        <li><a href="#js-menu-toggle" title="Skip to menu" class="coop-c-skip-nav__link">Skip to menu</a></li>
    </ul>
</nav>