---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/digital-sustainability-policy.html
section: ways-of-working
meta-title:	Digital sustainability policy
meta-description: <!-- tbc -->

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Digital sustainability policy
last-reviewed: Last reviewed&#58; 7 October 2022
intro-text-lead:
  - Here's how we're...
decorative-image-url:  /images/decorative/glossary-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 7 October 2022
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>At Co-op we want to use technology in a way that:</p>
                        <ul>
                            <li>demands less energy</li>
                            <li>manages waste better</li>
                        </ul>
                        <p>This is the first Co-op digital sustainability policy. We’ve set out our aims to develop responsibly designed products and services with some examples.</p>
                        <p>It does not include everything we can do. There are many other opportunities for digital sustainability beyond this policy. This is what we are committing to, based on what is possible now.</p>
                        <p>This is a place to start and the minimum we need to do to make the way we use data and technology better for our planet. It is one part of Co-op's vision to co-operate for a fairer world.</p>

                        <h2>Why we have a digital sustainability policy</h2>
                        <p>We want Co-op colleagues to reduce how much energy we use, for example, how much:</p>
                        <ul>
                            <li>content and data we create</li>
                            <li>data we store on servers</li>
                            <li>energy we demand through how we use our servers</li>
                        </ul>
                        <p>We want Co-op's digital sustainability policy to go beyond a statement of values.</p>
                        <p>It’s about working with teams across Co-op to make it meaningful. This includes everyone doing what they can to reduce energy demand day-to-day now, not planning to do it in future.</p>

                        <h3>Things we can do to increase digital sustainability and reduce energy demand</h3>

                        <h4>1. Ways of working</h4>
                        <p>Consider energy demand when we start a piece of work, including:</p>
                        <ul>
                            <li>whether creating content is necessary</li>
                            <li>deleting old or unused versions of content or data</li>
                            <li>whether we need to have meetings or we can achieve our goals another way</li>
                            <li>do regular audits of information on SharePoint and Co-op websites sites to reduce energy demand</li>
                            <li>questioning whether video content adds enough value to justify energy intensive production and hosting</li>
                        </ul>
                        <p><strong>Examples:</strong></p>
                        <p>Audit online meetings to see if you can reduce them or work in other ways? A 1-hour online audio call demands 36MB of data per person. A 1 hr online video call demands 270MB of data per person.</p>
                        <p>If similar content is in multiple places, can you content design one version and remove the alternative versions?</p>
                        <p>Email signature – take them out or delete images.</p>

                        <h4>2. Engineering and development practice</h4>
                        <p>Reduce the amount of data that we use and transfer. This reduces energy use on the client’s server and the networks between them.</p>
                        <p>Only process the amount of data that we need by keeping demand to a minimum. We can:</p>
                        <ul>
                            <li>use techniques such as Lazy Loading to reduce the amount of data we generate</li>
                            <li>use static content, rather than generated content where possible</li>
                        </ul>
                        <p>Always consider energy demand when deciding which code languages to use. We can decide:</p>
                        <ul>
                            <li>if we need to use a dynamic language</li>
                            <li>where we process the source code</li>
                        </ul>
                        <p><strong>Examples:</strong></p>
                        <p>Use web page loading time as a metric across all Co-op customer and colleague products.</p>
                        <p>Compress data when it is transmitted to reduce the amount we send. For example, we can use tools such as Minify to reduce the size of JavaScript files before they are transmitted.</p>
                        <p>Use techniques such as Lazy Loading to reduce the amount of data we generate.</p>

                        <h4>3. Supply chain</h4>
                        <p>Select suppliers based on the capacity of their product or service to reduce energy demand. We can:</p>
                        <ul>
                            <li>balance the business benefit with energy demand</li>
                            <li>look into how reducing energy demand may also reduce costs to influence the decision (beyond the upfront costs and comparison of products)</li>
                        </ul>
                        <p><strong>Examples:</strong></p>
                        <p>The cost of several suppliers for ‘x digital thing’ is similar and they offer comparable quality. We can take the energy demand of the supplier’s product into account. This way we make a decision that is good for sustainability and would also reduce business costs.</p>

                        <h4>3.1 Hosting</h4>
                        <p>Choose hosting options that balance environmental impact with the performance of the systems we host. This applies to both cloud-hosted, datacentre and co-located hosting. We can:</p>
                        <ul>
                            <li>use appropriate processors that are available from hosting products</li>
                        </ul>
                        <p><strong>Examples:</strong></p>
                        <p>Use AWS Graviton processor to improve performance and reduce energy demand.</p>

                        <h4>3.2 Equipment</h4>
                        <p>Consider how work laptops store data and try and reduce the amount of energy machines use. We can:</p>
                        <ul>
                            <li>delete any images we are no longer using</li>
                            <li>look at which part of the machine is being used by different programmes and whether there are ways to reduce energy demand</li>
                            <li>Be aware of how we use our machines on a day-to day basis including how many windows we have open</li>
                        </ul>
                        <p>Example: ‘x’ programme takes more energy than ‘y’ programme, so we switch to using ‘y’.</p>
                        <!-- double check format of the sentence above with Marianne -->

                        <h4>3.3 Data and storage</h4>
                        <p>We will:</p>
                        <ul>
                            <li>only store the data that we need </li>
                            <li>regularly audit and delete data that we do not need</li>
                            <li>enhance data retention policies, in line with the law, to balance privacy, sustainability, and business needs</li>
                        </ul>
                        <p>We will:</p>
                        <ul>
                            <li>continue to work with our cloud partners such as AWS and Azure to store data in the most energy efficient way possible and reduce energy demand.</li>
                        </ul>

                        <p><strong>Examples:</strong></p>
                        <p>We only record information and storing data when we can prove that it has a high business value and worth the energy needed to save. This applies to things like:</p>
                        <ul>
                            <li>typical personal customer and colleague data which also comes under GDPR guidelines</li>
                            <li>making conscious decisions on what we keep, including Miro boards, Powerpoint presentations, videos, audio files and documents</li>
                            <li>being aware of data storage that has a higher carbon footprint because it takes more space and demands more energy to transfer and save, like video</li>
                        </ul>
                        <p><strong>Example:</strong></p>
                        <p>Make choices about whether to record meetings in Teams. Are they watched? They are auto-deleted after 3 months – what use will they be in that time?</p>

                        <h3>What we are already doing:</h3>
                        <p>Data cleansing, working with teams to understand what a regular data cleanse might look like for them based on their data needs.</p>
                        <p>Meeting with suppliers like AWS to understand more. We can track impact through billing in the AWS portal, which we can use to track data reduction in future.</p>
                        <p>Aligning sustainability across Co-op.</p>
                        <p>Meeting across disciplines to work together to understand our data real estate and baseline emissions to work on targets.</p>

                        <h3>Responsibility for digital sustainability</h3>
                        <p>Everyone working on Co-op products and services is accountable for doing everything they can in their role to increase digital sustainability.</p>

                        <h3>Awareness of the digital sustainability policy</h3>
                        <p>We will:</p>
                        <ul>
                            <li>publish the digital sustainability policy on the Experience Library so that is accessible to all colleagues. This site is also public facing and demonstrates our accountability for digital sustainability at Co-op</li>
                            <li>provide detail on how to achieve the points in this policy through community of practice workshops and any other opportunities to share understanding</li>
                    <!--    <li>[something about support from leadership and people feeling empowered to spend time doing this]</li> -->
                        </ul>

                        <h3>Help with sustainability</h3>
                        <p>We will:</p>
                        <ul>
                            <li>monitor the digital sustainability inbox <!-- [address] --> for anyone who wants help with digital sustainability</li>
                        </ul>

                        <h3>How we will measure the success of the digital sustainability policy:</h3>
                        <p>We will:</p>
                        <ul>
                            <li>document outcomes of discussions and workshops on the digital sustainability policy</li>
                <!--        <li></li> -->
                        </ul>

                        <h4>Information and resources on digital sustainability</h4>
                        <p><a href="https://www.designcouncil.org.uk/our-mission/design-for-planet-1/design-for-planet-festival-2022/">Design for planet 2022</a></p>

                        <h3>Closing statement</h3>
                        <p>TBC</p>

                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
