---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/facilitation-guide.html
section: ways-of-working
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Facilitation guide
last-reviewed: Last reviewed&#58; 2 February 2022
intro-text-lead: This is a practical guide to help you achieve your outcomes when you’re facilitating. It’s based on advice from people who help teams facilitate sessions across Co-op.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 2 February 2022
    notes: First version of page published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>The facilitation guide includes an introduction to facilitating and things to think about before, during and after facilitating sessions.</p>
                    </div>

                </div>

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="coop-c-signpost">
                            <a href="/.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Introduction to facilitating</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="coop-c-signpost">
                            <a href="/.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Things to do or think about before running a session</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="coop-c-signpost">
                            <a href="/.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Things to do or think about during a workshop</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="coop-c-signpost">
                            <a href="/.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Things to do or think about after running a session</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
