---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/inclusive-meeting-guidelines.html
section: ways-of-working
meta-title:	Inclusive meeting guidelines
meta-description: Guidelines to help people collaborate effectively and inclusively.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: 7 inclusive meeting guidelines
last-reviewed: Last reviewed&#58; 29 September 2021
intro-text-lead:  
  - 
decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 29 September 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>The way we collaborate has changed.</p>
                        <p>With a lot of meetings now online, it can be harder for people to contribute effectively. This can mean some voices are not heard.</p>
                        <p>We've created these guidelines to help people collaborate effectively and inclusively. We want everyone to be able to contribute in a way they feel comfortable.</p>
                        <p>We think these guidelines will encourage more:</p>
                        <ul>
                            <li>voices to be heard</li>
                            <li>inclusive discussions</li>
                        </ul>
                        <p>And as a result, Co-op will:</p>
                        <ul>
                            <li>become aware of problems earlier</li>
                            <li>save money, as problems can be fixed earlier</li>
                            <li>create more inclusive products and services</li>
                            <li>open up our products and services to more people</li>
                        </ul>      
                        <h2 class="coop-u-margin-t-64">1. Give everyone the opportunity to contribute</h2>
                        <p>Ask people if they want to contribute.</p>
                        <p>Allow people to contribute anonymously or in smaller groups.</p>
                        <p>Check if people can access the tools you're using, explain how to use them and offer an alternative if necessary.</p>
                        <p>Use visible timers and allow thinking time.</p>
                        <p>Use captions and transcripts where possible.</p>
                        <p>Consider how people could contribute outside of the meeting, in their own time.</p>
                        <img src="{{ '/images/decorative/IMG-1.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">2. Set clear expectations, early</h2>
                        <p>Send out an agenda in advance.</p>
                        <p>Clearly state the purpose of the meeting and the outcome you want to achieve.</p>
                        <p>Give a running order, include approximate times.</p>
                        <img src="{{ '/images/decorative/IMG-2.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">3. Give context: do not assume any prior knowledge</h2>
                        <p>Reiterate any information that someone would need to know to be able to contribute.</p>
                        <p>Give regular recaps. Consider taking notes as you go so you can easily refer back.</p>
                        <p>Be mindful of late joiners and the context they might lack.</p>
                        <img src="{{ '/images/decorative/IMG-3.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">4. Use clear language</h2>
                        <p>Do not use acronyms without explaining what they mean.</p>
                        <p>Use plain English.</p>
                        <p>Be mindful of people who are new to the organisation or team. If you use jargon, explain what you mean.</p>
                        <img src="{{ '/images/decorative/IMG-4.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">5. Respect people’s time </h2>
                        <p>Book only the amount of time you need with people, and allow people to leave if they've contributed all they need to.</p>
                        <p>Plan your meeting to allow people breaks between meetings, for example 5 or 15 minutes past the hour.</p>
                        <p>If the meeting is long, schedule in regular breaks.</p>
                        <img src="{{ '/images/decorative/IMG-5.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">6. Value all contributions equally</h2>
                        <p>Give everyone a chance to speak, do not allow one voice to dominate. If you’re referencing what’s been inputted, reference contributions from a range of people.</p>
                        <p>Consider your audience. Be prepared to adapt your approach or process to encourage contribution from more people.</p>
                        <img src="{{ '/images/decorative/IMG-6.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt="">
                        <h2 class="coop-u-margin-t-64">7. Encourage clarity, curiosity, and challenges</h2>
                        <p>Explain how people can ask questions.</p>
                        <p>Encourage people to get clarity on things they do not understand.</p>
                        <p>Allow people to ask questions anonymously, for example by adding post-its to a collaboration board.</p>
                        <img src="{{ '/images/decorative/IMG-7.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-64" alt=""> 
                    </div>
                </div>
            </div>      
        </section>
    </main>
    {% include footer.html %}
</div>
