---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/
section: ways-of-working
meta-title:	Ways of working
meta-description: Find activities, workshops, case studies and a glossary to help your ways of working.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title:
title: Ways of working
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:
  - Guides and activities to help your team work together and solve problems.
intro-text-list:

# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: /about-this-prototype/

# Signposts
signpost:
  - link: /ways-of-working/activities/
    text: Activities
    image: /images/ways-of-working/activities/kick-off.jpg
  - link: /ways-of-working/case-studies/
    text: Case studies
    image: /images/ways-of-working/case-studies/case-studies-index-signpost.svg
  - link: /ways-of-working/agile-glossary.html
    text: Agile glossary
    image: /images/decorative/glossary-signpost.svg
  - link: /ways-of-working/inclusive-meeting-guidelines.html
    text: Inclusive meeting guidelines
    image: /images/decorative/inclusive-meeting-guidelines-signpost.svg
  - link: /ways-of-working/workshops/
    text: Workshops
    image: /images/ways-of-working/workshops/workshops-index-signpost.svg

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid coop-u-margin-resp-b-32-16">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <ul class="coop-l-grid coop-u-list-bare">
                            {% for signpost in page.signpost %}
                            <li class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-flex">
                                {% include signpost.html %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
