---
layout: coop-experience
id: index
item-url: /about-this-prototype/
meta-title:	About
meta-description: This is a work in progress so you’ll find lots of things are missing at the moment.
title: About this prototype
col-width: 9
intro-text-lead: This is a work in progress so you’ll find lots of things are missing at the moment.
decorative-image-url: /images/decorative/about-this-prototype-hero.svg
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>What our Experience Library is for</h2>
                    <p>Our customers expect Co-op products and services to be:</p>
                    <ul>
                        <li>reliable</li>
                        <li>easy to use</li>
                        <li>trustworthy</li>
                    </ul>
                    <p>We’ve got to meet that expectation - and, if we can, exceed it too.</p>
                    <p>Our Experience Library is here to help us create accessible customer experiences that:</p>
                    <ul>
                        <li>feel consistent</li>
                        <li>look good</li>
                        <li>work well for everyone</li>
                    </ul>
                    <p>We’re making the Experience Library a place where you’ll be able to find clear and comprehensive guidelines around how we create, communicate and design at Co-op. </p>
                    <p>This should mean more of our colleagues can do their best work, more quickly and easily than before. That saves Co-op time and money.</p>
                    <p>And being able to create better, more consistent experiences for our customers should mean they always get what they need from us. So they’ll continue to choose Co-op.</p>
                    <h2>What you can expect from this prototype</h2>
                    <p>The Experience Library team began working on this prototype in April 2021.</p>
                    <p>It's a work in progress so you’ll find lots of things are missing at the moment.</p> 
                    <p>We’ll keep updating the prototype with new content.</p> 
                    <p>On this page, you’ll find information on what we’re working on now and what we’re planning to work on in the future. We decide what to work on and in what order based on user needs and research.</p> 
                    <p>If you can’t find the information you were looking for in the Experience Library, try the Co-op design system. (Eventually, the Experience Library will replace the design system.)</p> 
                    <h2>What we’re working on now</h2>
                    <ul>
                        <li>Adding content to the Components and Patterns sections</li>
                        <li>Conducting research to test our initial designs</li>
                        <li>Creating and adding content to a content guidelines section</li>
                        <li>Working toward replacing the design system with this website by the end of Q3</li>
                        <li>Working with the Digital skills team to add content about Digital ways of working</li>
                    </ul>
                    <h2>What we’re planning to work on in the future</h2>
                    <ul>
                        <li>Significantly expanding the Components and patterns section</li>
                        <li>Creating and adding content to a Getting Started section</li>
                        <li>Creating design tokens that developers can use in Storybook and adding the relevant links to the Experience Library</li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>