---
layout: blank
id: examples
---

<section class="coop-l-page">
    <div class="coop-u-margin-resp-b-32-16">
        <p class="coop-t-h1">Hero banner</p>
        <a href="https://github.com/coopdigital/coop-frontend/blob/master/packages/shared-component--featureCard/readme.md">Go to the installation documentation</a>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item coop-l-grid__item--large-12 coop-u-margin-t-64">
            {% include examples/shared-component--hero/dist/hero.html %}
        </div>
    </div>  
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/shared-component--hero/dist/hero.html %}
        {% endhighlight %}
    </div> 
</section>

