---
layout: blank
id: examples
--- 

<section class="coop-l-page">
    <div class="coop-u-margin-resp-b-32-16">
        <p class="coop-t-h1">Skip navigation</p>
        <a href="https://github.com/coopdigital/coop-frontend/blob/master/packages/component-skipnav/readme.md">Go to the installation documentation</a>
    </div>
    <div class="coop-u-margin-b-32">
        <div class="coop-l-grid">
            <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-margin-t-64">
                {% include examples/component-skipnav/dist/skipnav.html %}
            </div>
        </div>  
    </div>
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/component-skipnav/dist/skipnav.html %}
        {% endhighlight %}
    </div> 
</section>

