---
layout: blank
id: examples
---
<div class="coop-l-grid">
    <div class="coop-l-grid__item coop-u-margin-t-64">
        <ul class="coop-c-list-tags">
            <li class="coop-c-tag coop-c-tag--gluten-free">
                <a href="#" class="coop-c-tag__link">Gluten Free</a>
            </li>
            <li class="coop-c-tag coop-c-tag--vegan">
                <a href="#" class="coop-c-tag__link">Vegan</a>
            </li>
            <li class="coop-c-tag coop-c-tag--vegetarian">
                <a href="#" class="coop-c-tag__link">Vegetarian</a>
            </li>
            <li class="coop-c-tag coop-c-tag--co-op-irresistible">
                <a href="#" class="coop-c-tag__link">Irresistible</a>
            </li>
            <li class="coop-c-tag">
                <a href="#" class="coop-c-tag__link">Nut Free</a>
            </li>
            <li class="coop-c-tag ">
                <a href="#" class="coop-c-tag__link" >Ros&eacute;</a>
            </li>
            <li class="coop-c-tag ">
                <a href="#" class="coop-c-tag__link" >Fairtrade</a>
            </li>
            <li class="coop-c-tag ">
                <a href="#" class="coop-c-tag__link" >Award winning</a>
            </li>
        </ul>
    </div>
</div>
