---
layout: blank
id: examples
---
<section class="coop-l-page">
    <h1>Grid</h1> 
    <a href="https://github.com/coopdigital/coop-frontend/blob/master/packages/foundations-grid/readme.md">Go to the installation documentation</a>

    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>3 up</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>4 up</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>1/3 - 2/3</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>2/3 - 1/3</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-8">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>Content centred</h4>
        </div>
    </div>
    <div class="coop-l-grid coop-u-flex-centered">
        <div class="coop-l-grid__item coop-l-grid__item--8">
            <span class="el-c-demo-block"></span>
        </div>
    </div>

    {% highlight html %}
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>3 up</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>4 up</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-3 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>1/3 - 2/3</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>2/3 - 1/3</h4>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-8">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
        <div class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-margin-b-32">
            <span class="el-c-demo-block">
                <span></span>
            </span>
        </div>
    </div>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item">
            <h4>Content centred</h4>
        </div>
    </div>
    <div class="coop-l-grid coop-u-flex-centered">
        <div class="coop-l-grid__item coop-l-grid__item--8">
            <span class="el-c-demo-block"></span>
        </div>
    </div>
    {% endhighlight %}
</div>
