---
layout: coop-experience
id: index
item-url: /forms/form-elements-and-patterns.html
section: Forms
description: You can use borders to create separation between components or sections of content.
meta-title:	Form elements and patterns
meta-description: Find out which form elements and patterns there are and when to use them when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Forms
title: Form elements and patterns
last-reviewed: Last reviewed&#58; 18 January 2022
intro-text-lead: 
  - A list of Co-op form elements and patterns, and when to use them.
# Image at the top of the hero
decorative-image-url:  /images/decorative/inputs-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: False
link-box-text-design: View borders in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3856%3A0
link-box-text-dev: View code snippet
link-box-link-dev: /examples/foundations/borders.html

# Changelog
changelog:
  - date: 18 January 2022
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full"> 
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <p class="coop-t-font-size-22">Before designing a page, look at our <a href="{{ '/forms/form-principles.html' | prepend: site.baseurl }}">form principles</a> to check whether a form is needed.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12"> 
                        <table class="coop-table">
                            <thead>
                                <tr class="coop-table__row">
                                    <th class="coop-table__header" scope="col" width="30%">Element or pattern</th>
                                    <th class="coop-table__header" scope="col">What it does</th>
                                    <th class="coop-table__header" scope="col">Examples</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/buttons.html' | prepend: site.baseurl }}">Buttons</a></th>
                                    <td class="coop-table__cell">Interactive elements that people can use to take an action.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Submit information</li>
                                            <li>pay</li>
                                            <li>Send a message</li>
                                            <li>Download an app</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/checkboxes.html' | prepend: site.baseurl }}">Checkboxes</a></th>
                                    <td class="coop-table__cell">Let people select one or more options from a list, or toggle a single option on or off.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Multiple choice question</li>
                                            <li>Opt in to marketing communications</li>
                                            <li>Accept terms and conditions</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/patterns/date-input.html' | prepend: site.baseurl }}">Date input</a></th>
                                    <td class="coop-table__cell">Three input fields that let people enter a date.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Date of birth</li>
                                            <li>Start date</li>
                                            <li>End date</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/patterns/form-validation.html' | prepend: site.baseurl }}">Form validation</a></th>
                                    <td class="coop-table__cell">Tell people why data cannot be submitted and what they can do to fix it.</td>
                                    <td class="coop-table__cell">If someone has:
                                        <ul>
                                            <li class=coop-u-margin-t-16>left a required field empty</li>
                                            <li>entered information in the wrong format</li>
                                            <li>not entered the correct amount of characters</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/radio-buttons.html' | prepend: site.baseurl }}">Radio buttons</a></th>
                                    <td class="coop-table__cell">Let people select a single option from a list of less than 5 options.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Select an answer</li>
                                            <li>Select delivery options</li>
                                            <li>Select payment method</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/select-dropdowns.html' | prepend: site.baseurl }}">Select dropdowns</a></th>
                                    <td class="coop-table__cell">Let people choose an option from a list.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Sort options using a particular filter, for example ‘price from low to high’</li>
                                            <li>Select an address from a postcode look up</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/textareas.html' | prepend: site.baseurl }}">Textareas</a></th>
                                    <td class="coop-table__cell">Fields that let people enter long responses.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Feedback</li>
                                            <li>Additional information</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody> 
                                <tr class="coop-table__row">        
                                    <th class="coop-table__cell" scope="row"><a href="{{ '/elements/text-inputs.html' | prepend: site.baseurl }}">Text inputs</a></th>
                                    <td class="coop-table__cell">Fields that let people enter information.</td>
                                    <th class="coop-cell" scope="col">
                                        <ul>
                                            <li>Enter your full name</li>
                                            <li>Enter your email</li>
                                            <li>Enter your password</li>
                                        </ul>
                                    </th>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>