/* Card - notification (alert) */

@import "@coopdigital/foundations-vars";

.coop-c-notification--alert {
  background-color: var(--color-orange-alert-light);
  border-left-color: var(--color-orange-alert);
}
