---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/case-studies/customer-experience-case-study.html
section: ways-of-working-case-studies
meta-title:	Customer Experience (CX) and Life Services content design case study
meta-description: Find out how the Customer Experience (CX) and  Life Services team worked on content design together

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Customer Experience (CX) and Life Services content design case study
last-reviewed: Last reviewed&#58; 6 January 2022
intro-text-lead:
  - Find out how Co-op's Customer Experience team worked with colleagues in Funeralcare and Legal Services to improve the life services journey for our customers.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/case-studies/cx-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 6 January 2022
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>What this case study is about</h2>
                        <p>This case study includes how:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">the teams made what they already had better by working together</li>
                            <li class="coop-u-margin-b-8">content design changes resulted in a 49% increase in probate leads and a 55% increase in number of probate sales</li>
                            <li class="coop-u-margin-b-8">the teams generated an extra £140,000 income per year</li>
                            <li class="coop-u-margin-b-8">doing a content audit can work with other design methods</li>
                            <li class="coop-u-margin-b-8">compromising is worth it if it makes things better for the user</li>
                        </ul>
                        <h2>Who was involved</h2>
                        <p>This work was a collaboration between the CX team and life services.</p>
                        <p>The CX team is a group of designers, delivery and user experience specialists, who work with teams across Co-op to help them improve the customer experience for people using their products and services.</p>
                        <p>Life Services bring together services from Co-op Legal Services, Insurance and Funeralcare. This includes things like wills, funerals and life insurance. Life services provide help with probate, which is the legal process of dealing with someone’s money, property and possessions after they have died. Funeralcare handles all parts of the funeral arrangement from bringing someone who died into their care and organising the day of the funeral, through to the cremation or burial. They also provide funeral plans for people to put in place before they die.  Often people need probate and a funeral when they’re dealing with a death. And if you use Co-op for both, we cover the cost of the funeral.</p>
                        
                        <h2>Why the Life Services and CX teams joined together</h2>
                        <p>The Customer Experience (CX) team wanted to understand the Life Services customer experience. We knew that multiple life services could benefit people, and Co-op wanted to see if there was more opportunity to explain what we offered at the appropriate time.</p>
                        <p>The CX team acted as facilitators, setting up collaborative sessions with Insurance, Funeralcare and CLS. They identified opportunities within the customer experience where Co-op could offer customers life services they might need.</p>
                        <p>Funeralcare lead content designer, Helen Lawson, has years of experience working closely with colleagues and customers and creating content based on user research. She is passionate about talking about death in an open and accessible way.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>We need to have open conversations about death, dying and bereavement. We work hard to make sure people get the information they need about what they need at the point where they need it. The content must be clear, kind and upfront.</p>
                            <cite>Helen Lawson, Lead Content Designer for Funeralcare</cite>
                        </blockquote>
                        <p>If legal language is hard for people to understand, it can cause distress. Co-op want to explain our products and services, in a clear way, to help people work out what they need and how we can help them.</p>
                        <h2>Methods used</h2>
                        <p>Helen did a content audit to look at things like:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">different Co-op content on Life Services topics</li>
                            <li class="coop-u-margin-b-8">where the content is</li>
                            <li class="coop-u-margin-b-8">where the content directed people to</li>
                            <li class="coop-u-margin-b-8">whether people can access and understand the content</li>
                        </ul>
                        <p>The teams identified existing web pages where they could talk about probate at the same time as providing information on funerals. There was a genuine benefit to the customer if we did, as Co-op covers the cost of the funeral, if the customer uses Co-op for probate. Most importantly, linking these services did not interrupt the user journey.</p>
                        <h2>How they improved the customer experience</h2>
                        <p>Helen made some changes to the content based on the content guidelines in the experience library, including:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">breaking up text with more sub-headings and smaller paragraphs</li>
                            <li class="coop-u-margin-b-8">using bullets for lists so people can scan more easily</li>
                            <li class="coop-u-margin-b-8">changing titles and sub-headings so that was clear what information that that section contained</li>
                            <li class="coop-u-margin-b-8">explaining jargon and complex terms in clear language</li>
                        </ul>
                        <p>The team also found appropriate points to direct people to a ‘check if you need probate’ page. The page explained what probate was, when it was needed and importantly, when it was not. This reduced stress for users and reduced incoming calls from people who did not need this service.</p>
                        <p>The teams realised Funeralcare colleagues needed some training on using the updated script which asks about probate. It was important that colleagues felt that they had the skills to deal with different responses from customers in that situation.</p>
                        <p>“Looking at the whole customer journey and strategy really focuses in on what users need at the time. It now includes a question about probate at the start, in an open and honest way. By working together and thinking about what the customer most needs at the time, we made it better for them and helped the business at the same time”, says Helen.</p>
                        <h2>Looking across different channels</h2>
                        <p>As part of the content audit, the team also realised that there was a phone call from the Co-op Funeralcare support team to see if customers wanted to talk about probate when they were arranging a funeral.</p>
                        <p>Helen and the team asked if they could have a look at the script for the call. “The content in the script had a different tone than the content on the website and in other places we communicate with people. It’s important that when someone is dealing with a difficult situation like a death, that we reassure them that they are dealing with the same business and being treated in the same way every time we are in touch “, says Helen.</p>
                        <p>This kind of content needs to be signed off by our Legal Services department. As Co-op colleagues, the team wanted to follow the legal advice at the same time as knowing how important it is for the customer to understand it.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>Collaborating on this was one of the best parts of the work. We suggested updates to make the conversation clearer, which also involved making some compromises. But overall, we improved the experience for our customers and that really matters.</p>
                            <cite>Helen Lawson, Lead Content Designer for Funeralcare</cite>
                        </blockquote>
                        <h2>The impact of the content improvements</h2>
                        <p>As a result of the content changes on the webpages:</p>
                        <p>35% of all Funeralcare traffic now goes to the ‘check if you need probate’ section of the CLS website.</p>
                        <p>Comparing the 16 weeks since the content went live to the previous 16 weeks, there were:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">49% increase in probate leads</li>
                            <li class="coop-u-margin-b-8">50% increase in bookings (where we quote for probate)</li>
                            <li class="coop-u-margin-b-8">55% increase in number of probate sales, which is an extra £140,000 per year</li>
                        </ul>
                        <p>All of the web pages and scripts were already in use. These are the results of teams working together to make changes to the wording and tone of the content.</p>
                        <h2>Long-term impact</h2>
                        <p>The teams realised Funeralcare colleagues needed some training on using the updated script which asks about probate. It was important that colleagues felt that they had the skills to deal with different responses from customers in that situation.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>Looking at the whole customer journey and strategy really focuses in on what users need at the time. It now includes a question about probate at the start, in an open and honest way. By working together and thinking about what the customer most needs at the time, we made it better for them and helped the business at the same time.</p>
                            <cite>Helen Lawson, Lead Content Designer for Funeralcare</cite>
                        </blockquote>
                        <h2>Tools and resources</h2>
                        <p>Find out more:</p>
                        <p><a href="{{ 'https://coop.co.uk/experience-library/content-guidelines/' | prepend: site.baseurl }}">Content guidelines</a></p>
                        <p><a href="{{ 'https://static.coop.co.uk/experience-library/ways-of-working/' | prepend: site.baseurl }}">Ways of working activities</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
