---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/case-studies/vision-and-goals-case-study.html
section: ways-of-working-case-studies
meta-title:	Vision and goals case study
meta-description: Find out how the Represent network created their vision and goals.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Case studies
title: Vision and goals
last-reviewed: Last reviewed&#58; 22 February 2022
intro-text-lead:
  - Find out about the impact of Represent’s team vision session.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/workshops/vision-and-goals-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# Changelog
changelog:
  - date: 7 January 2022
    notes: First version of page published
  - date: 22 February 2022
    notes: Revised content
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">

                        <h2>What this case study is about</h2>
                        <p>This case study includes how Represent did a group vision session to:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">go from being unsure about what focus on, to agreeing what they wanted to achieve</li>
                            <li class="coop-u-margin-b-8">empower everyone to share opinions and find alignment on their goals</li>
                            <li class="coop-u-margin-b-8">agree that their purpose was to ‘represent’ colleagues</li>
                            <li class="coop-u-margin-b-8">decide the name for their network</li>
                            <li class="coop-u-margin-b-8">develop their vision and mission so that they could be definite about how they wanted to progress</li>
                        </ul>

                        <h2>The Represent network</h2>
                        <p>Represent began when founder, Carly Tait, sent a message on Yammer to connect with other disabled colleagues.</p>
                        <p>Represent is a community of colleagues who come together to talk as friends. "We quickly realised that despite having a range of different impairments, our challenges and experiences of disability were similar,” says Natalie.</p>
                        <p>The group realised that they had all often felt isolated, and that the difficulties they had at work often related to the stigma and misunderstanding of disability from others.</p>

                        <h2>Why Represent needed a vision</h2>
                        <p>Natalie describes the responsibility that the group all experienced in the beginning; "The pressure we felt to support colleagues was immense. We were passionate about wanting to change things, but we were trying to get through a mire of complexity. We couldn’t get agreement between ourselves as to what we wanted to achieve."</p>
                        <p>The two main challenges were: </p>
                        <ul>
                            <li class="coop-u-margin-b-8">a huge demand for support</li>
                            <li class="coop-u-margin-b-8">the group did not feel aligned</li>
                        </ul>
                        <p>There was so much that they could do, but they were struggling to decide where to start.</p>
                        <p>"We had a group with strong personalities and opinions. As a leader I wanted to bring people together on a journey. I wanted us to be clear about who we are as a group and what we stand for. The vision session was a valuable leadership tool to do that," said Carly.</p>

                        <h2>How the vision session worked</h2>
                        <p>Carly and the group spent a couple of sessions working on their vision and goals. It was set up in a Miro board so that everyone could work together in a collaborative way. Working in this way meant that the session was accessible for all of the group. “Having a visual interactive tool and a facilitator was key to making it work for different kinds of learners. If you have a sight impairment or a neurodiverse condition, or deafness, it is easy to miss captions and things being said in Teams meetings, says Natalie.</p>
                        <p>The group worked through the Miro board sections in a step-by-step methodical way. The facilitator helped to keep the group on track and make sure everyone is included.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>You can’t underestimate how important structure is to a session like this.</p>
                            <cite>Natalie, Co-op Represent network.</cite>
                        </blockquote>

                        <h2>What the group discovered</h2>
                        <p>During the vision session the group realised that they needed a ‘people first’ approach and that building a community at Co-op was what was important. They discovered that they were here to ‘represent colleagues’ and so they got their name from the session. The group also decided that they needed to be visible in areas of society where they are excluded.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>"We wanted everyone to feel empowered to create a vision for ourselves. In a collaborative session everyone owns it. It gives people a platform to question what we’re doing, talk it through and find agreement. It was a huge success and turning point for us."</p>
                            <cite>Carly, Co-op Represent network chair</cite>
                        </blockquote>

                        <h2>The impact of the session</h2>
                        <p>Having the vision and mission helped the group to talk confidently about what we wanted to achieve,” says Natalie</p>
                        <p>Represent decided that they wanted to:</p>
                        <ul>
                            <li class="coop-u-margin-b-8">build a network of people to support each other</li>
                            <li class="coop-u-margin-b-8">educate and raise awareness of disability - including helping people understand what disability means</li>
                            <li class="coop-u-margin-b-8">influence policies and processes within Co-op to remove barriers to success</li>
                        </ul>
                        <p>Natalie shares some of the misconceptions about disability: “Only 6 or 7% of disabled people are a wheelchair user, but that’s the perception of a disabled person, so it’s not an accurate perception. Disability doesn’t discriminate. We need people to be mindful that it affects people differently, even if they have the same condition.”</p>
                        <p>After the vision session, Represent decided to focus on breaking down the barriers to people talking about disability at work. They raise awareness through things like team huddles and being included in important discussions around diversity & inclusion at Co-op.</p>
                        <p>Represent want people to feel more confident about having conversations about disability. "Often people don’t bring it up because they’re afraid of using the wrong terms. But it’s better to have the conversation than not have the conversation at all," adds Natalie.</p>

                        <h2>What the group learned from doing the workshop</h2>
                        <p>The facilitator in the group is responsible for the pace and outcomes. They ask straight-forward questions to help everyone to understand the detail and help group information together. “We went from having lots of ‘noise’ around what we were doing to having specific things that we wanted to do. We wouldn’t have been able to do that without the structure of the vision and goals sessions," says Natalie.</p>
                        <blockquote class="coop-u-margin-t-48 coop-u-margin-b-48">
                            <p>"If we’d not done these vision activities, I don’t think we’d have landed any of our work so well."</p>
                            <cite>Carly, Co-op Represent founder</cite>
                        </blockquote>
                        <p>Represent launched formally in 2021 and have a Yammer page.</p>

                        <h2>Tools and resources</h2>
                        <a href="https://miro.com/app/board/o9J_lYK5Fno=/" target="_blank">View our vision and goals workshop.</a>

                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
