---
layout: coop-experience
id: index
item-url: /elements/buttons.html
section: Elements
meta-title:	Buttons
meta-description: Buttons are interactive elements that people can use to take an action. Get more information on buttons.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Buttons
last-reviewed: Last reviewed&#58; 2 June 2021
intro-text-lead: 
  - Buttons are interactive elements that people can use to take an action.
# Image at the top of the hero
decorative-image-url: /images/decorative/borders-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 3 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Buttons must be actionable. For example, they could be used to allow people to:</p>
                        <ul>
                            <li>submit information</li>
                            <li>pay</li>
                            <li>send a message</li>
                            <li>download an app</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="el-c-pullout el-c-pullout--nested">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <figure class="el-c-pullout__figure">
                            <img src="/images/examples/elements/logo/logo-focus-ring.png" alt="Co-op logo with the purple line around it indicating keyboard focus is applied" width="100">
                            <figcaption class="coop-t-caption">The logo with the focus ring applied. The invisible padding increases the touch target size.</figcaption>
                        </figure>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
