---
layout: coop-experience
id: index
item-url: /elements/checkboxes.html
section: Elements
meta-title:	Checkboxes - Co-op Experience Library
meta-description: Find out how to use checkboxes when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Checkboxes
last-reviewed: Last reviewed&#58; 27 July 2021
intro-text-lead: 
  - Checkboxes allow people to select one or more options from a list, or toggle a single option on or off.
# Image at the top of the hero
decorative-image-url:  /images/decorative/checkboxes-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View checkboxes in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A516
link-box-text-dev: View code snippet
link-box-link-dev: /examples/elements/checkboxes.html

# Changelog
changelog:
  - date: 4 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>When using checkboxes, allow people to select anywhere in the checkbox or label to select that option.</p>
                        
                        <p>Display the options from top to bottom, not left to right. This means that people:</p>
                        <ul>
                            <li>can scan the options</li>
                            <li>who have zoomed in to the content will not have to scroll side to side to work out which checkbox they need to select</li>
                        </ul>
                        <p>Consider letting people select a 'None of these' option. Some people might need this so that they can move on to the next question or task.</p>
                        <p>We've used our foundations to design checkboxes. For consistency across Co-op products and services, do not change the styling of the checkboxes.</p>
                        <h3>Labels</h3>
                        <p>Checkboxes must have a label that tells people what information to enter. Space form fields evenly and close to their associated label.</p>
                        <p>The label must be short and make it clear what information you’re asking for.</p>
                        <h3>Hint text</h3>
                        <p>You can add optional hint text to help people understand the information they need to enter.</p>
                        <p>For example, you might want to make it clear to a user that they can select multiple options. For this you could add hint text ‘Select all that apply’.</p>
                        <h3>Error messages</h3>
                        <p>Give error messages after the user submits the form.</p>
                        <p>Error messages should appear above the relevant checkboxes. This means they are read out by assistive technology in an order that makes sense.</p>
                        <p><a href="{{ '/patterns/form-validation.html' | prepend: site.baseurl }}">Go to the guidelines on form validation</a>.</p>
                        <h3>Focus ring</h3>
                        <p>The focus ring appears as a purple outline around any object, including checkboxes, when someone selects it.</p>
                        <p>Do not remove the focus ring. Some people who use assistive technology need it to navigate our products and services.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-6">
                                <form id="checkboxes" class="coop-form" novalidate>
                                    <fieldset id="checkbox-1" class="coop-form__row">
                                        <legend class="coop-form__label">Do you own:</legend>
                                            <p id="checkbox-1-error" class="coop-form__error" hidden></p>
                                            <div class="coop-form__choice">
                                                <input type="checkbox" name="checkbox-1" id="checkbox-1-1" value="1" class="coop-form__field coop-form__checkbox">
                                                <label for="checkbox-1-1" class="coop-form__label">a business</label>
                                            </div>
                                            <div class="coop-form__choice">
                                                <input type="checkbox" name="checkbox-1" id="checkbox-1-2" value="2" class="coop-form__field coop-form__checkbox">
                                                <label for="checkbox-1-2" class="coop-form__label">agricultural property</label>
                                            </div>
                                            <div class="coop-form__choice">
                                                <input type="checkbox" name="checkbox-1" id="checkbox-1-3" value="3" class="coop-form__field coop-form__checkbox">
                                                <label for="checkbox-1-3" class="coop-form__label">foreign property</label>
                                            </div>    
                                            <div class="coop-form__choice">
                                                <input type="checkbox" name="checkbox-1" id="checkbox-1-4" value="4" class="coop-form__field coop-form__checkbox">
                                                <label for="checkbox-1-4" class="coop-form__label">trademarks or patents</label>
                                            </div>
                                    </fieldset>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Checkboxes.</p>
                                <form id="checkboxes-hint" class="coop-form" novalidate>
                                    <fieldset id="checkbox-2" class="coop-form__row" aria-describedby="checkbox-2-hint">
                                        <legend class="coop-form__label">Do you own:</legend>
                                        <p id="checkbox-2-hint" class="coop-form__hint">Select all that apply</p>
                                        <p id="checkbox-2-error" class="coop-form__error" hidden></p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-2" id="checkbox-2-1" value="1" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-2-1" class="coop-form__label">a business</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-2" id="checkbox-2-2" value="2" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-2-2" class="coop-form__label">agricultural property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-2" id="checkbox-2-3" value="3" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-2-3" class="coop-form__label">foreign property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-2" id="checkbox-2-4" value="4" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-2-4" class="coop-form__label">trademarks or patents</label>
                                        </div>
                                    </fieldset>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Checkboxes with hint text.</p>
                                <form id="checkboxes-error" class="coop-form" novalidate>
                                    <fieldset id="checkbox-3" class="coop-form__row" aria-describedby="checkbox-3-error">
                                        <legend class="coop-form__label">Do you own:</legend>
                                        <p id="checkbox-3-error" class="coop-form__error">Select options owned by you</p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-3" id="checkbox-3-1" value="1" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-3-1" class="coop-form__label">a business</label>
                                        </div>                                    
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-3" id="checkbox-3-2" value="2" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-3-2" class="coop-form__label">agricultural property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-3" id="checkbox-3-3" value="3" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-3-3" class="coop-form__label">foreign property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-3" id="checkbox-3-4" value="4" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-3-4" class="coop-form__label">trademarks or patents</label>
                                        </div>
                                    </fieldset>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Checkboxes with error message.</p>
                                  <form id="checkboxes-hint-error" class="coop-form" novalidate>
                                    <fieldset id="checkbox-4" class="coop-form__row" aria-describedby="checkbox-4-hint checkbox-4-error">
                                        <legend class="coop-form__label">Do you own:</legend>
                                        <p id="checkbox-4-hint" class="coop-form__hint">Select all that apply</p>
                                        <p id="checkbox-4-error" class="coop-form__error">Select options owned by you</p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-4" id="checkbox-4-1" value="1" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-4-1" class="coop-form__label">a business</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-4" id="checkbox-4-2" value="2" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-4-2" class="coop-form__label">agricultural property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-4" id="checkbox-4-3" value="3" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-4-3" class="coop-form__label">foreign property</label>
                                        </div>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-4" id="checkbox-4-4" value="4" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-4-4" class="coop-form__label">trademarks or patents</label>
                                        </div>
                                     </fieldset>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Checkboxes with hint text and error message.</p>
                                <form id="checkboxes-single" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <p id="checkbox-5-error" class="coop-form__error" hidden></p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-5" id="checkbox-5-1" value="1" class="coop-form__field coop-form__checkbox">
                                            <label for="checkbox-5-1" class="coop-form__label">I agree to the terms and conditions</label>
                                        </div>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Single checkbox.</p>
                                <form id="checkboxes-single-hint" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <p id="checkbox-6-error" class="coop-form__error" hidden></p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-6" id="checkbox-6-1" value="1" class="coop-form__field coop-form__checkbox" aria-describedby="checkbox-6-hint">
                                            <label for="checkbox-6-1" class="coop-form__label">I agree to the terms and conditions</label>
                                            <p id="checkbox-6-hint" class="coop-form__hint">Descriptive hint text goes here</p>
                                        </div>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Single checkbox with hint text.</p>
                                <form id="checkboxes-single-error" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <p id="checkbox-7-error" class="coop-form__error">Please accept the terms and conditions</p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-7" id="checkbox-7-1" value="1" class="coop-form__field coop-form__checkbox" aria-describedby="checkbox-7-error">
                                            <label for="checkbox-7-1" class="coop-form__label">I agree to the terms and conditions</label>
                                        </div>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Single checkbox with error message.</p>
                                <form id="checkboxes-single-hint-error" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <p id="checkbox-8-error" class="coop-form__error">Please accept the terms and conditions</p>
                                        <div class="coop-form__choice">
                                            <input type="checkbox" name="checkbox-8" id="checkbox-8-1" value="1" class="coop-form__field coop-form__checkbox" aria-describedby="checkbox-8-hint checkbox-8-error">
                                            <label for="checkbox-8-1" class="coop-form__label">I agree to the terms and conditions</label>
                                            <p id="checkbox-8-hint" class="coop-form__hint">Descriptive hint text goes here</p>
                                        </div>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Single checkbox with hint text and error message.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
