---
layout: coop-experience
id: index
item-url: /elements/co-op-logo.html
section: Elements
meta-title:	Co-op logo
meta-description: Find out how to use the Co-op logo when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Co-op logo
last-reviewed: Last reviewed&#58; 2 June 2021
intro-text-lead: 
  - The Co-op Cloverleaf Symbol was first created in 1968. Today we use a modernised version of it.
# Image at the top of the hero
decorative-image-url:  /images/decorative/logo-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View the Co-op logo in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A539
link-box-text-dev: View code snippet
link-box-link-dev: https://pioneer-design-system.herokuapp.com/examples/elements/co-op-logo.html

# Changelog
changelog:
  - date: 2 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>For digital products and services, the logo must:</p>
                        <ul>
                            <li>be 38 pixels in width and 40 pixels in height</li>
                            <li>be an SVG (scalable vector graphic) so it shows up clearly on all devices</li>
                            <li>be in the top left corner of the webpage so it acts as a consistent signpost</li>
                            <li>only be used once per page (not including when it's used in images)</li>
                            <li>be ‘Co-op blue’ colour when used in the header</li>
                            <li>have invisible padding around it to creates a tappable area that’s large enough to meet <a href="https://www.coop.co.uk/accessibility/standards#target-size">our accessibility standards for touch target size</a></li>
                        </ul> 
                        <p>You can sometimes use the Co-op logo in white on a ‘Co-op blue’ background, for example on app or homescreen icons.</p>
                        <p>You can use images containing the logo, for example, product images.</p>
                        <p><a href="/foundations/colours.html">Go to the guidelines on colours</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <figure class="el-c-pullout__figure coop-u-margin-resp-b-64-32">
                            <img src="/images/examples/elements/logo/logo-focus-ring.png" alt="Co-op logo with the purple line around it indicating keyboard focus is applied" width="100">
                            <figcaption class="coop-t-caption">The logo with the focus ring applied. The invisible padding increases the touch target size.</figcaption>
                        </figure>
                        <figure class="el-c-pullout__figure coop-u-margin-resp-b-64-32">
                            <img src="/images/examples/elements/logo/logo-header.png" alt="Co-op logo in the main coop.co.uk header used at correct size and in the correct position">
                            <figcaption  class="coop-t-caption">The logo used at the correct size in the coop.co.uk header.</figcaption>
                        </figure>
                        <figure class="el-c-pullout__figure coop-u-margin-resp-b-64-32">
                            <img src="/images/examples/elements/logo/logo-app.jpeg" alt="Screenshot of the Co-op app icon on an iPhone screen" width="100">
                            <figcaption class="coop-t-caption">The Co-op app icon.</figcaption>
                        </figure>
                        <figure class="el-c-pullout__figure coop-u-margin-resp-b-64-32">
                            <img src="/images/examples/elements/logo/logo-image.jpeg" alt="Co-op logo printed on a carrier bag" width="320">
                            <figcaption class="coop-t-caption">An image of the Co-op logo on a carrier bag on the Co-op app.</figcaption>
                        </figure>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
