---
layout: coop-experience
id: index
item-url: /elements/headings-paragraphs-and-lists.html
section: Elements
meta-title:	Headings, paragraphs and lists
meta-description: Find out how to use headings, paragraphs and lists when designing online content for Co-op to give your content structure and make it more readable.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 9
section-title: Elements
title: Headings, paragraphs and&nbsp;lists
last-reviewed: Last reviewed&#58; 3 June 2021
intro-text-lead: 
  - Headings, paragraphs and lists give your content structure and can make it more readable.
# Image at the top of the hero
decorative-image-url: /images/decorative/headings-paragraphs-lists-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 3 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Our headings, paragraphs and lists have set font sizes.</p>
                        <p><a href="/foundations/font-sizes.html">Go to the guidelines on font sizes</a>.</p>
                        <p>All attributes of the headings, paragraphs and lists have been designed using values from the <a href="/foundations/">foundations</a>.</p>
                        <p>Only change the styling of the headings, paragraphs and lists if these guidelines allow it.</p>
                        <h3>Headings</h3>
                        <p>You can style headings to look different to fit your design, for example you can  make a H2 look smaller. There is code to help engineers do this. </p>
                        <p>But if you change the styling of the heading, you must keep the heading attributes so your content still has a logical heading structure. </p>
                        <p>This is because assistive technology users use the headings as a way to navigate around the page.</p>
                        <h3>Paragraphs</h3>
                        <p>Paragraphs are set at a size to make content readable.</p>
                        <p>We also have an ‘intro paragraph’ font size that you can use to highlight introductory content at the top of the page.</p>
                        <h3>Lists</h3>
                        <p>Use bullet points to break up a list of items.</p>
                        <p>Use a numbered list for a logical sequence of things, like a series of tasks that must be done in a certain order. </p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout el-c-pullout--nested">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-u-margin-resp-b-64-32">
                            <h1 class="coop-t-h-mega">Heading mega</h1>
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                            <p class="coop-t-lead-p">Intro paragraph</p>
                            <p>Paragraph</p>	
                            <p class="coop-t-caption">The font sizes applied to all of our heading levels and paragraphs.</p>
                        </div>
                        <div class="coop-u-margin-resp-b-64-32">
                        <p>The meeting agenda will be:</p>
                            <ul>
                                <li>an overview of the last month</li>
                                <li>a presentation</li>
                                <li>a special announcement</li>
                            </ul>
                            <p class="coop-t-caption">A bullet point list.</p>
                        </div>
                        <div class="coop-u-margin-resp-b-64-32">
                            <p>Before leaving the house:</p>
                            <ol>
                                <li>Put on socks.</li>
                                <li>Put on shoes.</li>
                                <li>Tie laces.</li>
                            </ol>
                            <p class="coop-t-caption">A numbered list.</p>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
