---
layout: coop-experience
id: index
item-url: /elements/headings-paragraphs-and-lists.html
section: Elements
meta-title:	Headings, paragraphs and lists - Co-op Experience Library
meta-description: Find out how to use headings, paragraphs and lists when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Headings, paragraphs and&nbsp;lists
last-reviewed: Last reviewed&#58; 10 August 2021
intro-text-lead: 
  - Headings, paragraphs and lists give your content structure and help to make it more readable.
# Image at the top of the hero
decorative-image-url: images/decorative/headings-paragraphs-lists-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View headings, paragraphs and lists in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3992%3A1107
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# In page nav
in-page-nav:
  - link-id: anchor-content-guidelines
    link-text: Content guidelines
  - link-id: anchor-design-guidelines
    link-text: Design guidelines
  - link-id: anchor-examples
    link-text: Examples
  - link-id: anchor-changelog
    link-text: Changelog

# Changelog
changelog:
  - date: 3 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-content-guidelines">Content guidelines</h2>
                        <h3>Headings</h3>
                        <p>You should use headings and subheadings to break your content up. This makes your content:</p>
                        <ul>
                            <li>easier for people to read</li>
                            <li>more accessible for those using assistive technology like screen readers</li>
                        </ul>
                        <p>Headings should be short, clear and descriptive because this helps people to understand what content is there and find the content they need.</p>
                        <p>Front-load your headings where possible. Statements work better than questions and they let you put the keyword first.</p>
                        <p>Good example: £5 Freezer Fillers</p>
                        <p>Bad example: Looking to stock up on brands you love? Browse our £5 Freezer Filler</p>
                        <h3>Paragraphs</h3>
                        <p>Write paragraphs using short simple sentences. As a general rule, use 25 words or less. Longer lines can be difficult to read.</p>
                        <h3>Lists</h3>
                        <h4>Bullet lists (unordered lists)</h4>
                        <p>Use bullet points to break up a list of items. It makes your content easier to read and understand.</p>
                        <p>Bullets must:</p>
                        <ul>
                            <li>use a lead-in line</li>
                            <li>make sense running on from the lead-in line</li>
                            <li>use lower case at the start of the bullet</li>
                            <li>have only one sentence per bullet point - use commas, dashes or semicolons to expand on an item</li>
                        </ul>
                        <p>Bullets should not:</p>
                        <ul>
                            <li>be paragraphs using the list format for visual effect</li>
                            <li>use a full stop after the last bullet point</li>
                            <li>include ‘or’ or an ‘and’ after the bullets</li>
                        </ul>
                        <h4>Numbered lists (ordered lists)</h4>
                        <p>Use a numbered list for a logical sequence of things, like a series of tasks that must be done in a certain order.</p>
                        <p>Unlike bullet lists, they do not need a lead-in line and should be complete sentences that start with a capital letter and end with a full stop.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-design-guidelines">Design guidelines</h2>
                        <p>Our headings, paragraphs and lists have set font sizes.</p>
                        <p><a href="{{ 'foundations/font-sizes.html' | prepend: site.baseurl }}">Go to the guidelines on font sizes</a>.</p>
                        <p>We’ve used our foundations to design headings, paragraphs and lists.</p>
                        <h3>Headings</h3>
                        <p>Headings should be structured logically. This is because assistive technology users can use the headings as a way to navigate around the page.</p>
                        <p>Heading 1 (H1) is the main page heading, you should only have one of these.</p>
                        <p>Heading 2 (H2) is a subheading, you can have several of these.</p>
                        <p>Heading 3 (H3) is a subheading within a H2 section, you can have several of these.</p>
                        <p>You can use our custom font sizes to adjust the size of headings to fit your design. For more information, <a href="{{ 'foundations/font-sizes.html' | prepend: site.baseurl }}">go to the guidelines on font sizes</a>.</p>
                        <h3>Paragraphs and lists</h3>
                        <p>Paragraphs, lead paragraphs and lists are set at a size to make content readable.</p>
                        <p>Do not change the font sizes, or the line spacing. These have been set to meet our <a href="https://www.coop.co.uk/accessibility/standards#line-spacing">accessibility standards</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout el-c-pullout--nested">
                    <div class="el-c-pullout-header">
                        <h2 id="anchor-examples">Examples</h2>
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-u-margin-resp-b-64-32">
                            <h1>Everything you need to know about Fairtrade</h1>
                            <p class="coop-t-lead-p">When you choose Fairtrade, you’re helping make a difference to farmers all over the world. Fairtrade is a global movement that guarantees producers a fair deal.</p>
                            <p>From the best ways to support Fairtrade, to how it’s transforming communities, here’s everything you need to know.</p>
                            <h2>Fairtrade is about empowering farmers and workers</h2>
                            <p>When you buy products with the Fairtrade Mark, you’re supporting the farmers and workers’ human rights.</p>
                            <p>This helps to provide:</p>
                            <ul>
                                <li>a fair price for their product through the Fairtrade Minimum Price and Premium</li>
                                <li>fair terms of trade when selling their products</li>
                                <li>good working conditions that are socially fair</li>
                                <li>freedom from forced or underage labour</li>
                            </ul>
                            <p class="coop-t-caption">Text content using a H1, lead paragraph, paragraph, H2 and bullet list.</p>
                        </div>
                        <div class="coop-u-margin-resp-b-64-32">
                        <p>The meeting agenda will be:</p>
                            <ul>
                                <li>an overview of the last month</li>
                                <li>a presentation</li>
                                <li>a special announcement</li>
                            </ul>
                            <p class="coop-t-caption">A bullet point list.</p>
                        </div>
                        <div class="coop-u-margin-resp-b-64-32">
                            <p>Before leaving the house:</p>
                            <ol>
                                <li>Put on socks.</li>
                                <li>Put on shoes.</li>
                                <li>Tie laces.</li>
                            </ol>
                            <p class="coop-t-caption">A numbered list.</p>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
