---
layout: coop-experience
id: index
item-url: /elements/index.html
section: Elements
meta-title: Elements
meta-description: Elements are the styles and interactions we apply to the user interface. Find out what elements you should use when you’re creating for Co-op. 

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
title: Elements
intro-text-lead: 
 - Elements are the styles and interactions we apply to the most generic parts of the user interface – things like buttons, headings and links.
intro-text: 
 - Elements are based on our <a href="/foundations/index.html">foundations</a> and are used to create <a href="/components/index.html">components</a>. By keeping our elements consistent, we make sure that common tasks look and feel the same. This makes our products easier to use. 
 - 

# Image at the top of the hero
decorative-image-url: /images/decorative/elements-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View our elements in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/?node-id=3915%3A0
link-box-text-dev: 
link-box-link-dev: 

# Signposts
signpost:
  - link: /elements/buttons.html
    text: Buttons
    image: /images/decorative/buttons-signpost.svg 
  - link: /elements/checkboxes.html
    text: Checkboxes
    image: /images/decorative/checkboxes-signpost.svg 
  - link: /elements/co-op-logo.html
    text: Co-op logo
    image: /images/decorative/co-op-logo-signpost.svg
  - link: /elements/headings-paragraphs-and-lists.html
    text: Headings, paragraphs and lists
    image: /images/decorative/headings-paragraphs-lists-signpost.svg 
  - link: /elements/inputs.html
    text: Inputs
    image: /images/decorative/inputs-signpost.svg  
  - link: /elements/links.html
    text: Links
    image: /images/decorative/links-signpost.svg 
  - link: /elements/quotes.html
    text: Quotes
    image: /images/decorative/quotes-signpost.svg 
  - link: /elements/radio-buttons.html
    text: Radio buttons
    image: /images/decorative/radio-buttons-signpost.svg 
  - link: /elements/select-dropdowns.html
    text: Select dropdowns
    image: /images/decorative/select-dropdown-signpost.svg 
  - link: /elements/tables.html
    text: Tables
    image: /images/decorative/placeholder-image.svg 
  - link: /elements/textareas.html
    text: Textarea
    image: /images/decorative/textareas-signpost.svg 
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <ul class="coop-l-grid coop-u-list-bare">
                {% for signpost in page.signpost %}
                <li class="coop-l-grid__item coop-l-grid__item--large-4 coop-u-flex">
                    {% include signpost.html %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% include footer.html %}
</div>