---
layout: coop-experience
id: index
item-url: /elements/links.html
section: Elements
meta-title:	Links - Co-op Experience Library
meta-description: Find out how to use links when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Links
last-reviewed: Last reviewed&#58; 9 August 2021
intro-text-lead: 
  - A link (short for hyperlink) is an HTML object that allows the user to go to a new location when they select it. 
# Image at the top of the hero
decorative-image-url: /images/decorative/links-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View links in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A608
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# In page nav
in-page-nav:
  - link-id: content-guidelines
    link-text: Content guidelines
  - link-id: design-guidelines
    link-text: Design guidelines
  - link-id: examples
    link-text: Examples
  - link-id: seo-guidelines
    link-text: SEO guidelines
  - link-id: anchor-changelog
    link-text: Changelog

# Changelog
changelog:
  - date: 3 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2 id="content-guidelines">Content guidelines</h2>
                        <p>If you add a link, consider the user's onward journey. Sometimes links can distract the user from their core task meaning they may not return.</p>
                        <p>Use links to:</p>
                        <ul>
                            <li>help users get to where they need to go</li>
                            <li>avoid duplicating information that exists elsewhere </li>
                            <li>link to an authority on a subject</li>
                        </ul>
                        <p>Link text must:</p>
                        <ul>
                            <li>not use vague terms, for example 'click here' or 'more information'</li>
                            <li>describe the page it goes to, for example '<a href="https://www.coop.co.uk/accessibility/standards">Co-op digital accessibility standards</a>'</li>
                            <li>make sense when read out of context – screen readers can read link text in isolation without the surrounding content</li>
                            <li>reflect what the user will see when they get to the page</li>
                            <li>be at the end, not the middle of a sentence – this makes it easier for people to scan</li>
                        </ul>
                        <p>If the link is to an action:</p>
                        <ul>
                            <li>include the action at the start of the link, for example, ‘book an appointment’</li>
                            <li>make the text between 2 and 4 words where possible – this can make the action quicker to understand</li>
                            <li>consider using a button if the action is the main thing you want someone to do on a page</li>
                        </ul>

                        <p>Regularly review the links you use and remove or update any that are out-of-date or no longer work.</p>
                        <h3>Linking to other websites</h3>
                        <p>You might need, or want, to link to other websites that are not owned by Co-op (external websites). Any external websites you link to must be:</p>
                        <ul>
                            <li>high quality</li>
                            <li>relevant</li>
                            <li>trustworthy</li>
                        </ul>
                        <p>If they're not, it could damage Co-op's reputation.</p>
                        <p>If you're linking to an external site tell the user that they’re leaving our site, for example, ‘For more information visit <a href="https://www.citizensadvice.org.uk/">citizensadvice.org.uk</a>'.</p>
                        <p>If it’s a short URL (web address) – that is it contains no symbols and has a maximum of one ‘/' – use a full URL, for example 'For more information, go to <a href="https://www.bbc.co.uk/sport">bbc.co.uk/sport</a>’. This means that people could remember it, or write it down, if they wanted to visit the site later.</p>
                        <p>If it’s a complex URL – that is it contains symbols or more than one ‘/' – use words as the link text, for example, ‘See the <a href="https://readabilityguidelines.co.uk/content-design/links/">Content Design London Readability guidelines on links</a>’.</p>
                        <h3>Opening links</h3>
                        <p>Links should usually be set to open in the same tab, so that people can use the 'back' button to navigate.</p>
                        <p>If you think the link should open in a new tab, include ‘(opens in a new tab)' as part of the link. For example, you can set a link to open in a different tab so that someone does not lose their progress in a form.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2 id="design-guidelines">Design guidelines</h2>
                        <p>Links should have the correct colour contrast. To see the colours we use for links, <a href="/foundations/colours.html">go to the guidelines on colours</a>.</p>
                        <h3>Underline</h3>
                        <p>In general, links should be underlined. The underline should disappear when the user hovers their cursor over it.</p>
                        <p>You do not need to underline a link if:</p>
                        <ul>
                            <li>there’s another visual cue that indicates that it’s a link, for example the arrow icon</li>
                            <li>it’s in context, for example within a header or footer</li>
                        </ul>
                        <h3>Focus ring</h3>
                        <p>The focus ring appears as a purple outline around any object, including links, when someone selects it.</p>
                        <p>Do not remove the focus ring. Some people who use assistive technology need it to navigate our products and services.</p>
                    </div>
                </div> 
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2 id="examples">Examples</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link" href="#">Start making your will</a></p>	
                                        <p class="coop-t-caption">A default link.</p>
                                    </div>  
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link coop-t-link--arrow" href="#">More about <span class="coop-t-nowrap">offers<svg class="coop-t-link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" aria-hidden="true" focusable="false"><path class="coop-u-brand-membership-pink-bright-fill" d="M13.89 0L11.4 2.46l5.87 5.8H0v3.48h17.28l-5.88 5.8L13.89 20 24 10z" stroke="none"/></svg></span></a></p>
                                        <p class="coop-t-caption">Link with the arrow icon.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link coop-t-link-active" href="#">Start making your will</a></p>	
                                        <p class="coop-t-caption">A default link with focus ring.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link" href="#">Book an appointment</a>.</p>	
                                        <p class="coop-t-caption">An example of a link to an action.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p>You can find out more in <a class="coop-t-link" href="https://www.coop.co.uk/accessibility/standards">Co-op's digital accessibility standards</a>.</p>	
                                        <p class="coop-t-caption">An example of a link to a page.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p>For more information, go to <a class="coop-t-link" href="https://www.bbc.co.uk/sport">bbc.co.uk/sport</a></p>	
                                        <p class="coop-t-caption">An example of a link to a short external URL.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p>See the <a class="coop-t-link" href="https://readabilityguidelines.co.uk/content-design/links/">Content Design London Readability guidelines on links</a>.</p>	
                                        <p class="coop-t-caption">An example of a link to a complex external URL.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p>Find out more about <a class="coop-t-link" href="https://www.coop.co.uk/membership" target="_blank"> Co-op Membership (opens in a new tab)</a>.</p>	
                                        <p class="coop-t-caption">An example of a link that opens in a new tab.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2 id="seo-guidelines">SEO guidelines</h2>
                        <p>Using relevant links in your content can help it to appear higher up in search results (known as search engine optimisation or SEO).</p>
                        <p>See how you can <a href="/search-engine-optimisation/seo-for-links.html">use links to help SEO</a>.</p>
                    </div>
                </div> 
            </div>    
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
