---
layout: coop-experience
id: index
item-url: /elements/links.html
section: Elements
meta-title:	Links
meta-description: Find out how to use links when designing online content for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Links
last-reviewed: Last reviewed&#58; 3 June 2021
intro-text-lead: 
  - A link (short for hyperlink) is an HTML object that allows the user to go to a new location when they select it. 
# Image at the top of the hero
decorative-image-url: /images/decorative/links-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View links in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A608
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 3 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2>Guidelines</h2>
                        <p>A link should be descriptive of the place it’s taking the user.</p>
                        <p>In general, links should be underlined. The underline should disappear when the user hovers their cursor over it.</p>
                        <p>You do not need to underline a link if:</p>
                        <ul>
                            <li>there’s another visual cue that indicates that it’s a link, for example the arrow icon</li>
                            <li>it’s in context, for example within a header or footer</li>
                        </ul>
                        <p>Links should have the correct colour contrast. To see the colours we use for links, <a href="/foundations/colours.html">go to the guidelines on colours.</a></p>
                        <p>Link text must always tell the user where it’s taking them. Do not use ‘click here’. </p>
                        <p>Our links come with a focus ring by default. Do not remove or change the focus ring, as some people who use assistive technology need it to navigate the page.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2>Examples</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link" href="#">Start making your will</a></p>	
                                        <p class="coop-t-caption">A standard link.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link coop-t-link--arrow" href="#">More about <span class="coop-t-nowrap">offers<svg class="coop-t-link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" aria-hidden="true" focusable="false"><path class="coop-u-brand-membership-pink-bright-fill" d="M13.89 0L11.4 2.46l5.87 5.8H0v3.48h17.28l-5.88 5.8L13.89 20 24 10z" stroke="none"/></svg></span></a></p>
                                        <p class="coop-t-caption">Link with the arrow icon.</p>
                                    </div>
                                    <div class="coop-u-margin-resp-b-64-32">
                                        <p><a class="coop-t-link coop-t-link-active" href="#">Start making your will</a></p>	
                                        <p class="coop-t-caption">A standard link with focus ring.</p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
