---
layout: coop-experience
id: index
item-url: /elements/links.html
section: Elements
description: 

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Links
last-reviewed: Last reviewed 20 April 2021
intro-text-lead: 
  - A link (short for hyperlink) is an HTML object that allows the user to go to a new location when they click or tap it. It should be descriptive of the place it’s taking the user.
# Image at the top of the hero
decorative-image-url: /images/decorative/borders-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View links in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install links
link-box-link-dev: /about-this-prototype/

# Example (add path to html file or image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">                
                        <h2>Guidance</h2>
                        <p>A link should always be displayed as in the example here unless it’s used on a background colour, in which case it can be black or white.</p>
                        <p>In general, a link should be underlined. The underline should be removed on hover.</p>
                        <p>You do not need to underline a link if:</p>
                        <ul>
                            <li>it’s presented with another visual cue that indicates that it’s a link, for example an arrow icon</li>
                            <li>if it’s in context, for example within a header or footer</li>
                        </ul>
                        <p>Links should:</p>
                        <ul>
                            <li>be checked for correct colour contrast</li>
                            <li>use the hand/pointer to indicate that the link is clickable</li>
                            <li>always have the purple focus ring as this is essential for keyboard users</li>
                        </ul>
                        <p><a href="/foundations/colours.html">Go to the colours we use for links and associated states.</a></p>
                        <h2>Accessibility</h2>
                        <p>Link text can be read out of context and should always tell the user where it’s taking them — never use ‘click here’.</p>
                        <p>Find out <a href="#">how to write link content.</a></p>
                        <p>Never remove the purple focus ring for any reason. Keyboard users need the focus ring as it is the only way they can navigate the page.</p>
                        <a href="#">For more information see our general guide on accessibility</a>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2>Examples</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                                    <p><a class="coop-t-link" href="#">Start making your will</a></p>
                                    <h3 class="coop-t-font-size-22">Links with icons</h3>
                                    <p><a class="coop-t-link coop-t-link--arrow" href="#">More about <span class="coop-t-nowrap">offers<svg class="coop-t-link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" aria-hidden="true" focusable="false"><path class="coop-u-brand-membership-pink-bright-fill" d="M13.89 0L11.4 2.46l5.87 5.8H0v3.48h17.28l-5.88 5.8L13.89 20 24 10z" stroke="none"/></svg></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
