---
layout: coop-experience
id: index
item-url: /elements/quotes.html
section: Elements
meta-title:	Quotes - Co-op Experience Library
meta-description: Find out how to use quotes when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Quotes
last-reviewed: Last reviewed&#58; 11 June 2021
intro-text-lead: 
  - Use quotes to support your content by highlighting a particular message or point.
# Image at the top of the hero
decorative-image-url: images/decorative/quotes-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View quotes in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A611
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 11 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>The quote should help your user to:</p>
                        <ul>
                            <li>understand the content better</li>
                            <li>do what they came to do</li>
                            <li>trust the information</li>
                        </ul>
                        <p class="coop-u-margin-t-48">You could use quotes from:</p>
                        <ul>
                            <li>an expert</li>
                            <li>someone who has attended an event</li>
                            <li>someone who has used a product or service</li>
                        </ul>
                        
                        <p class="coop-u-margin-t-48">Reference who you got the quote from. This can include the person's:</p>
                        <ul>
                            <li>name</li>
                            <li>job title</li>
                            <li>organisation</li>
                            <li>website, if relevant</li>
                        </ul>
                        <p>We usually avoid using italics, but referencing the source of a quote is an exception.</p>
                        <p class="coop-u-margin-t-48">If you use a quote within a quote, use double quotation marks around it.</p>


                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-8">
                                <blockquote>
                                    <p>&#8220;Having accessible services should not be a question for Co-op, it’s what we should and must do.&#8221;</p>
                                    <cite>Adam Warburton, Chief Product Officer, Co-op.</cite>
                                </blockquote>
                                <blockquote>
                                    <p class="coop-t-h2">&#8220;Having accessible services should not be a question for Co-op, it’s what we should and must do.&#8221;</p>
                                    <cite>Adam Warburton, Chief Product Officer, Co-op.</cite>
                                </blockquote>
                                <p class="coop-t-caption">Quotations used with the standard or larger font size applied.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
