---
layout: coop-experience
id: index
item-url: /elements/select-dropdowns.html
section: Elements
meta-title:	Select dropdowns - Co-op Experience Library
meta-description: Find out how to use select dropdowns when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Select dropdowns
last-reviewed: Last reviewed&#58; 4 June 2021
intro-text-lead: 
  - Select dropdowns let people choose an option from a list.
# Image at the top of the hero
decorative-image-url:  /images/decorative/select-dropdown-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View select dropdowns in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A617
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 4 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Research shows that select dropdowns can be difficult to use. <a href="https://www.youtube.com/watch?v=CUkMCQR4TpY&ab_channel=Front-endLondon">Watch Alice Bartlett's video about the difficulties of select dropdowns</a>.</p>
                        <p>Whenever possible, ask questions with fewer options and use radio buttons.</p>
                        <p><a href="{{ '/elements/radio-buttons.html' | prepend: site.baseurl }}">Go to the guidelines for radio buttons</a>.</p>
                        <p>Sometimes due to technical constraints, you may need to use a select dropdown.</p>
                        <p>We’ve used our foundations to design select dropdowns. For consistency across Co-op products and services, do not change the styling of select dropdowns.</p>
                        <h3>Labels</h3>
                        <p>Select dropdowns must have a label that tells people what information to enter. Space form fields evenly and close to their associated label.</p>
                        <P>The label must be short and make it clear what information you’re asking for.</p>
                        <h3>Hint text</h3>
                        <p>You can add optional hint text to help people understand the information they need to enter.</p> 
                        <h3>Error messages</h3>
                        <p>Give error messages after the user submits the form.</p>
                        <p>Error messages should appear above the relevant select dropdown. This means they are read out by assistive technology in an order that makes sense.</p>
                        <h3>Focus ring</h3>
                        <p>The focus ring appears as a purple outline around any object, including select dropdowns, when someone selects it.</p>
                        <p>Do not remove the focus ring. Some people who use assistive technology need it to navigate our products and services.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-6">
                                <form id="selects" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <label class="coop-form__label" for="sort-by-1">Sort by:</label>       
                                        <p id="sort-by-1-error" class="coop-form__error" hidden></p>
                                        <select id="sort-by-1" class="coop-form__field coop-form__select">
                                            <option value="">Select option</option>
                                            <option value="relevancy" selected>Relevancy</option>
                                            <option value="price-asc">Price: Low to high</option>
                                            <option value="price-desc">Price: High to low</option>
                                        </select>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Select dropdown.</p>
                                <form id="selects-hint" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <label class="coop-form__label" for="sort-by-2">Sort by:</label>
                                        <p id="sort-by-2-hint" class="coop-form__hint">This is an example hint</p>
                                        <p id="sort-by-2-error" class="coop-form__error" hidden></p>
                                        <select id="sort-by-2" class="coop-form__field coop-form__select" aria-describedby="sort-by-2-hint">
                                            <option value="">Select option</option>
                                            <option value="relevancy" selected>Relevancy</option>
                                            <option value="price-asc">Price: Low to high</option>
                                            <option value="price-desc">Price: High to low</option>
                                        </select>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Select dropdown with hint text.</p>
                                <form id="selects-error" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <label class="coop-form__label" for="sort-by-3">Sort by:</label>
                                        <p id="sort-by-3-error" class="coop-form__error">Select a sort by option</p>
                                        <select id="sort-by-3" class="coop-form__field coop-form__select coop-form__invalid" aria-describedby="sort-by-3-error">
                                            <option value="">Select option</option>
                                            <option value="relevancy">Relevancy</option>
                                            <option value="price-asc">Price: Low to high</option>
                                            <option value="price-desc">Price: High to low</option>
                                        </select>
                                    </div>
                                </form>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">Select dropdown with error message.</p>
                                <form id="selects-hint-error" class="coop-form" novalidate>
                                    <div class="coop-form__row">
                                        <label class="coop-form__label" for="sort-by-4">Sort by:</label>
                                        <p id="sort-by-4-hint" class="coop-form__hint">This is an example hint</p>
                                        <p id="sort-by-4-error" class="coop-form__error">Select a sort by option</p>
                                        <select id="sort-by-4" class="coop-form__field coop-form__select coop-form__invalid" aria-describedby="sort-by-4-hint sort-by-4-error">
                                            <option value="">Select option</option>
                                            <option value="relevancy">Relevancy</option>
                                            <option value="price-asc">Price: Low to high</option>
                                            <option value="price-desc">Price: High to low</option>
                                    </select>
                                    </div>
                                </form>
                                <p class="coop-t-caption">Select dropdown with hint text and error message.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
