---
layout: coop-experience
id: index
item-url: /elements/tables.html
section: Elements
meta-title:	Tables
meta-description: Find out how to use tables when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Elements
title: Tables
last-reviewed: Last reviewed&#58; 11 Aug 2021
intro-text-lead: 
  - Tables can help people compare and understand data.
# Image at the top of the hero
decorative-image-url: images/decorative/tables-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View tables in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3915%3A620
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 11 Aug 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Consider whether a table is really needed. A table can often be replaced by:</p>
                        <ul>
                            <li>a list of bullet points with appropriate subheadings</li>
                            <li>a row of cards</li>
                            <li>a csv spreadsheet for large amounts of data</li>
                        </ul>
                        <p>Only use tables to present data. For example, prices or dates.</p>
                        <p>Do not use images in tables.</p>
                        <h3>Size</h3>
                        <p>Large tables can be overwhelming for some people and can be confusing for users of assistive technology.</p>
                        <p>Use a maximum of 4 columns. This is the amount that can be comfortably displayed on a smartphone.</p>
                        <p>Have more rows than columns wherever possible to make your table longer, rather than wider. This makes it easier for people to read and understand.</p>
                        <ul>
                            <li>allow the user the scroll the table left and right</li>
                            <li>provide cues that there is more content that people can scroll to, for example the table could be formatted so the table looks cut off on the screen</li>
                            <li>research the implementation with real people to make sure it’s as accessible as possible</li>
                        </ul>
                        <h3>Captions</h3>
                        <p>A caption is the heading for a table. It appears above the table as a heading.</p>
                        <p>Most screen readers announce the captions.</p>
                        <h3>Headers and footers</h3>
                        <p>Both columns and rows of a table can have headings these indicate the groups of data within the table.</p>
                        <p>If there are a lot of rows in your table, you can use table footers which appear at the bottom of the table to help people remember the data that the table contains if they have scrolled down the page a long way.</p>
                        <h3>Top left cell</h3>
                        <p>The top left cell of a table is often blank as there is no overarching header for the row headings. Use the caption to describe the content of the table.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-12">
                                <div class="coop-table-wrapper">
                                    <table class="coop-table">
                                        <caption>
                                            This table compares our Classic and Select Plus pet insurance
                                        </caption>
                                        <thead>
                                            <tr>
                                            <th scope="col">Compare Pet Insurance</th>
                                            <th scope="col">Classic</th>
                                            <th scope="col">Select Plus</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">Vet fees cover</th>
                                            <td>£2000</td>
                                            <td>£5000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Extra treatments</th>
                                            <td>Not included</td>
                                            <td>£750</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">A basic table comparing pet insurance products.</p>
                                <div class="coop-table-wrapper">
                                    <table class="coop-table">
                                        <caption class="coop-table__caption">
                                        This table shows compares points earnings in 2018 and 2019
                                        </caption>
                                        <thead>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__header" scope="col">Partner</th>
                                            <th class="coop-table__header coop-table__header--numeric" scope="col" align="right" width="15%">2018</th>
                                            <th class="coop-table__header coop-table__header--numeric" scope="col" align="right" width="15%">2019</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">Co-op Food</th>
                                            <td class="coop-table__cell coop-table__cell--numeric">709.09</td>
                                            <td class="coop-table__cell coop-table__cell--numeric">654.45</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">Co-op Insurance</th>
                                            <td class="coop-table__cell coop-table__cell--numeric">49.99</td>
                                            <td class="coop-table__cell coop-table__cell--numeric">52.35</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__footer" scope="row">Points total</th>
                                            <td class="coop-table__footer coop-table__footer--numeric">759.08</td>
                                            <td class="coop-table__footer coop-table__footer--numeric">706.80</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div> 
                                <p class="coop-t-caption coop-u-margin-resp-b-64-32">A table with a header and a footer.</p>
                                <div class="coop-table-wrapper">
                                    <table class="coop-table">
                                        <caption class="coop-table__caption">
                                        This table lists the 10 most recent times that you’ve earned Co‑op rewards
                                        </caption>
                                        <thead>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__header coop-t-nowrap" scope="col">Date and time</th>
                                            <th class="coop-table__header coop-table__footer--numeric coop-t-nowrap" scope="col" align="right" width="15%">For you</th>
                                            <th class="coop-table__header coop-table__footer--numeric coop-t-nowrap" scope="col" align="right" width="25%">Dividend points</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">8 February 2021, 9:00pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap"></td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">3.75</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">7 February 2021, 7:28pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap"></td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">12.10</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">7 February 2021, 7:28pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">-£0.09</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap"></td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">1 February 2021, 1:40pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">£0.05</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">8.50</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">3 January 2021, 4:45pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">£0.04</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">12.65</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">3 January 2021, 4:45pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">-£0.29</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap"></td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">27 January 2021, 9:10pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">£0.29</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">45.28</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">27 January 2021, 9:10pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">-£0.37</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap"></td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">24 January 2021, 2:50pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">£0.12</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">12.70</td>
                                        </tr>
                                        <tr class="coop-table__row">
                                            <th class="coop-table__cell" scope="row">23 January 2021, 5:13pm</th>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">£0.05</td>
                                            <td class="coop-table__cell coop-table__cell--numeric coop-t-nowrap">2.98</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="coop-t-caption">A complex table with left and right scroll on smaller devices.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
