---
layout: coop-experience
id: index
item-url: /components/editorial-card.html
section: Components
meta-title:	Editorial card
meta-description: An editorial card lets you highlight and link to more in-depth content on another page. Get more information on how to use editorial cards.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Components
title: Editorial card 
last-reviewed: Last reviewed&#58; 4 June 2021
intro-text-lead: 
  - An editorial card lets you highlight and link to more in-depth content on another page.
# Image at the top of the hero
decorative-image-url: /images/decorative/editorial-card-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View editorial card in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3876%3A59
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# Changelog
changelog:
  - date: 4 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2>Example</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid">
                                    <div class="coop-l-grid__item coop-l-grid__item--large-4">
                                        <article class="coop-c-editorialcard">
                                            <a class="coop-c-editorialcard__link">
                                                <div class="coop-c-editorialcard__inner">
                                                    <figure class="coop-c-editorialcard__media">
                                                        <picture class="coop-c-editorialcard__image"> 
                                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                            <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                                        </picture>
                                                    </figure>
                                                    <div class="coop-c-editorialcard__content">
                                                        <header class="coop-c-editorialcard__header">
                                                            <h3 class="coop-c-editorialcard__title">
                                                                <span>
                                                                    Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                                </span>
                                                            </h3>
                                                        </header>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                                <p class="coop-t-caption">An editorial card with all the required elements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>An editorial card should give people enough information to make an informed decision about whether or not to select it.</p>
                        <p>The whole card should link to one destination. Do not use buttons or links to any other destinations within an editorial card.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Required elements</h2>
                        <h3>Title</h3>
                        <p>The title should:</p>
                        <ul>
                            <li>be no more than 90 characters in length</li>
                            <li>make it clear what the user will find on the page that the card links to</li> 
                        </ul>
                        <h3>Image</h3>
                        <p>The image must relate to the content.</p>
                        <p>It must have an alt tag that describes the image content.</p>
                        <p>If you are creating an editorial card in our content management system Contentful, you should upload a 780px (width) × 438px (height) image. Contentful will then generate and add the required image sizes.</p>
                        <p>If you are creating an editorial card using the code, consider image quality across both retina and non-retina devices.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Optional elements</h2>
                        <h3>Label</h3>
                        <p>You can add a label to show a category or tag associated with the content.</p>
                        <p>This could help people to identify content that interests them.</p>
                        <p>The label sits above the title.</p>
                        <h3>Paragraph</h3>
                        <p>If you need to include supporting information in your editorial card, you can use a paragraph.</p>
                        <p>Paragraphs should be no more than 170 characters in length.</p>
                        <p>The paragraph sits below the title.</p>    
                    </div>
                </div>
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-4">
                                <article class="coop-c-editorialcard">
                                    <a class="coop-c-editorialcard__link">
                                        <div class="coop-c-editorialcard__inner">
                                            <figure class="coop-c-editorialcard__media">
                                                <picture class="coop-c-editorialcard__image">
                                                    <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                    <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                    <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                    <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                    <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                                </picture>
                                            </figure>
                                            <div class="coop-c-editorialcard__content">
                                                <header class="coop-c-editorialcard__header">
                                                    <p class="coop-c-editorialcard__subtitle">Fairtrade</p>
                                                    <h3 class="coop-c-editorialcard__title">
                                                        <span>
                                                            Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                        </span>
                                                    </h3>
                                                </header>
                                                <div class="coop-c-editorialcard__body">
                                                    <p>Join us in celebrating 25 years of Fairtrade by enjoying products that carry the Fairtrade Mark, or holding your own Fairtrade party.</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <p class="coop-t-caption">An editorial card with a ‘Fairtrade’ label and a paragraph.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Using an editorial card, or cards, on a page</h2>
                        <h3>Using up to 3 cards in a row</h3>
                        <p>Do not use more than 3 editorial cards in a row. Lay these out using the <a href="/layout/grid.html">grid</a>.</p>
                        <p>Use the grid to help you to set the number of columns for different screen sizes.</p>
                    </div>
                </div>
                <div class="el-c-pullout el-c-pullout--nested">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                        <figure class="el-c-pullout__figure">
                            <img src=/images/decorative/editorial-card-using-multiple-cards.png alt="Editorial cards used in a row of 3">
                            <figcaption class="coop-t-caption">3 editorial cards in a row linking to content from Co-op Food.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h3>Using one card in a row</h3>
                        <p>You can adapt the editorial card so that it fills the whole row horizontally.</p>
                        <p>The CSS class that supports the horizontal format already exists. If you’re unsure, ask the engineers on your team to talk you through it.</p>
                    </div>
                </div>
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                        <article class="coop-c-editorialcard coop-c-editorialcard--horizontal">
                            <a class="coop-c-editorialcard__link">
                                <div class="coop-c-editorialcard__inner">
                                    <figure class="coop-c-editorialcard__media">
                                        <picture class="coop-c-editorialcard__image">
                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                            <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                        </picture>
                                    </figure>
                                    <div class="coop-c-editorialcard__content">
                                        <header class="coop-c-editorialcard__header">
                                            <p class="coop-c-editorialcard__subtitle">Fairtrade</p>
                                            <h3 class="coop-c-editorialcard__title">
                                                <span>
                                                    Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                </span>
                                            </h3>
                                        </header>
                                        <div class="coop-c-editorialcard__body">
                                            <p>Join us in celebrating 25 years of Fairtrade by enjoying products that carry the Fairtrade Mark, or holding your own Fairtrade party.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <p class="coop-t-caption">An editorial card that has been adapted to fill the whole row.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</div>
