---
layout: coop-experience
id: index
item-url: /components/
section: Components
meta-title:	Components
meta-description: Components are blocks of content and code you can use in your designs.
description: Components are blocks of content and code you can use in your designs.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
title: Components
intro-text-lead: Components are blocks of content and code you can use in your designs.
intro-text: Components are made up of the <a href="/foundations/index.html">foundations</a> and <a href="/elements/index.html">elements</a> and are combined to build webpages. The components give you a starting point when designing Co-op products.
intro-text-link: 
intro-text-link-url: #

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View our components in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/?node-id=3873%3A312
link-box-text-dev: 
link-box-link-dev:

# Image at the top of the hero
decorative-image-url:  /images/decorative/components.svg

# Signposts
signpost:
  - link: /components/alert-notification.html
    text: Alert notification
    image: /images/decorative/alert-notification-signpost.svg
  - link: /components/editorial-card.html
    text: Editorial card
    image: /images/decorative/editorial-card-signpost.svg 
  - link: /components/feature-card.html
    text: Feature card
    image: /images/decorative/feature-card-signpost.svg 
  - link: /components/hero-banner.html
    text: Hero banner
    image: /images/decorative/hero-banner-signpost.svg
  - link: /components/search.html
    text: Search
    image: /images/decorative/search-signpost.svg   
  - link: /components/signpost.html
    text: Signpost navigation
    image: /images/decorative/signpost-navigation-signpost.svg 
  - link: /components/skip-navigation.html
    text: Skip navigation
    image: /images/decorative/skip-navigation-signpost.svg 
  - link: /components/success-notification.html
    text: Success notification
    image: /images/decorative/success-notification-signpost.svg  
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <ul class="coop-l-grid coop-u-list-bare">
                {% for signpost in page.signpost %}
                <li class="coop-l-grid__item coop-l-grid__item--large-4  coop-u-flex">
                    {% include signpost.html %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% include footer.html %}
</div>