---
layout: coop-experience
id: index
item-url: /components/
section: Components
description: Components are blocks of content and code you can use in your designs.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
title: Components
intro-text-lead: Components are blocks of content and code you can use in your designs.
intro-text: Components are made up of the foundations and elements and are combined to build webpages. The components give you a starting point when designing Co-op products.
intro-text-link: Go to the guidelines on how to theme the components
intro-text-link-url: #

# Image at the top of the hero
decorative-image-url: /images/decorative/foundations.svg

# Signposts
signpost:
  - link: /components/signpost.html
    text: Signpost
    image: /images/signpost.jpg

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <ul class="coop-l-grid coop-u-list-bare">
                {% for signpost in page.signpost %}
                <li class="coop-l-grid__item coop-l-grid__item--large-4">
                    {% include signpost.html %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% include footer.html %}
</div>