---
layout: coop-experience
id: index
description: Find out how to use the search component when designing online products and services for Co-op.
section: Components
item-url: /components/search.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Components
title: Search
last-reviewed: Last reviewed&#58; 15 July 2021
intro-text-lead: 
  - Search allows a person to enter a word or a phrase into a search box to find relevant content.
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View search in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=3992%3A1370
link-box-text-dev: 
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 15 July 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2>Example</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid">
                                    <div class="coop-l-grid__item coop-l-grid__item--large-7 coop-l-grid__item--xlarge-5">
                                        <form class="coop-c-search coop-form">
                                            <label for="search-large" class="coop-u-visuallyhidden">Search [website name]</label>
                                            <input type="search" name="search" id="search-large" placeholder="Search [website name]" class="coop-form__input coop-c-search__input">
                                            <button class="coop-c-search__button coop-btn">
                                                <span class="coop-u-visuallyhidden">Search</span>
                                                <svg width="32" height="32" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0 6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5 11z" fill="#FFFFFF" fill-rule="evenodd"/></svg>
                                            </button>
                                        </form>
                                        <form class="coop-c-search">
                                            <label for="search-small" class="coop-u-visuallyhidden">Search [website name]</label>
                                            <input type="search" name="search" id="search-small" placeholder="Search [website name]" class="coop-form__input coop-c-search__input coop-c-search__input--small">
                                            <button class="coop-c-search__button coop-c-search__button--small coop-btn">
                                                <span class="coop-u-visuallyhidden">Search</span>
                                                <svg width="32" height="32" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0 6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5 11z" fill="#FFFFFF" fill-rule="evenodd"/></svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <p class="coop-t-caption coop-u-margin-t-32">Search component with placeholder content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Required elements</h2>
                        <h3>Label and placeholder content</h3>
                        <p>Although labels on input fields should usually be visible, and placeholder content avoided, the search component is an exception.</p>
                        <p>Placeholder content is the content that sits within the search box, and disappears when someone starts to enter a search term. Use placeholder content to describe where the person is searching, for example, ‘Search [website name]’.</p>
                        <h3>Size</h3>
                        <p>Use the search component at either:</p>
                        <ul>
                            <li>60 pixels high</li>
                            <li>44 pixels high</li>
                        </ul>
                        <p>Set the width of the search component using the grid. The grid is a flexible way to lay out components that adapt to different device sizes. This means the search component will adapt to fit your design.</p>
                        <p class="coop-u-margin-b-32"><a href="/layout/grid.html">Go to the guidelines on the grid.</a></p>
                        <p>Make sure the search component is not:</p>
                        <ul>
                            <li>too wide –  as people using a screen magnifiers could find it hard to locate the search button</li>
                            <li>too small – as people may find it hard to find and enter words into</li>
                        </ul>
                        <p>Check that the placeholder content is not cut off on smaller screen sizes.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Optional elements</h2>
                        <h3>Button colour</h3>
                        <p>If search is the main action someone will make on your page, change the colour of the button to a primary button.</p>
                        <p><a href="/elements/buttons.html">Go to the guidelines on buttons.</a></p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</div>
