---
layout: coop-experience
id: index
description: An editorial card lets you highlight and link to editorial content on another page. Get more information on how to use editorial cards.
section: Components
item-url: /components/card-editorial.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Components
title: Editorial card
last-reviewed: Last reviewed 14 April 2021
intro-text-lead: 
  - An editorial card lets you highlight and link to editorial content on another page. Users can go to the editorial page by tapping or clicking on the card.
# Image at the top of the hero
decorative-image-url: /images/decorative/card-editorial-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View editorial cards in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install editorial cards
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-pullout">
                <div class="el-c-pullout-header">
                    <h2>Example</h2>
                </div>
                <div class="el-c-pullout-content">
                    <div class="coop-l-grid">
                        <div class="coop-l-grid__item coop-l-grid__item--large-4">
                            <article class="coop-c-editorialcard">
                                <a href="#" class="coop-c-editorialcard__link">
                                    <div class="coop-c-editorialcard__inner">
                                        <figure class="coop-c-editorialcard__media">
                                            <picture class="coop-c-editorialcard__image"> 
                                                <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                            </picture>
                                        </figure>
                                        <div class="coop-c-editorialcard__content">
                                            <header class="coop-c-editorialcard__header">
                                                <h3 class="coop-c-editorialcard__title">
                                                    <span>
                                                        Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                    </span>
                                                </h3>
                                            </header>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                    <p class="coop-t-caption">An editorial card with all the required elements.</p>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <h2>Guidelines</h2>
                        <p>You can use editorial cards to present links to content about different subjects in a consistent way.</p>
                        <p>An editorial card should give people enough information to make an informed decision about whether to click or tap on the card.</p>
                        <p>You should make the whole card active to create a large clickable area.</p>
                        <p>An editorial card should only link to one other destination. Do not use buttons or links to any other destinations within an editorial card.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Required elements</h2>
                        <h3>Title</h3>
                        <p>The short title should:</p>
                        <ul>
                            <li>be no more than 90 characters in length</li>
                            <li>make it clear what the user will find on the page that the card links to</li> 
                        </ul>
                        <h3>Image</h3>
                        <p>The image must relate to the content.</p>
                        <p>It must have an alt tag that describes the image content. For more information, go to the accessibility standard for alternative text.</p>
                        <p>If you are creating an editorial card in our content management system Contentful, you should upload a 780 × 438 pixel width image(???). Contentful will then generate and add the required image sizes.</p>
                        <p>If you are creating an editorial card using the code, you should supply 2 image sizes:</p>
                        <ul>
                            <li>780px (width) × 438px (height)</li>
                            <li>400px (width) × 225px (height)</li> 
                        </ul>
                        <h3>Link</h3>
                        <p>The whole card should be clickable and link to one destination.</p>
                        <p>If you need to display text below an image in a column but you do not want it to be clickable, use the grid to lay out the image and text.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Optional elements</h2>
                        <h3>Paragraph</h3>
                        <p>If you need to include supporting information in your editorial card, you can use a paragraph.</p>
                        <p>Paragraphs should be no more than 170 characters in length.</p>
                        <p>The paragraph sits below the title.</p>
                        <h3>Label</h3>
                        <p>You can add a label to show a category or tag associated with the content.</p>
                        <p>This could help people to identify content that interests them.</p>
                        <p>The label sits above the title.</p>        
                    </div>
                </div>
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-4">
                                <article class="coop-c-editorialcard">
                                    <a
                                        href="https://www.coop.co.uk"
                                        class="coop-c-editorialcard__link"
                                        data-contenttype="Card|Editorial"
                                        data-contentparent=""
                                        data-linktext=""
                                    >
                                        <div class="coop-c-editorialcard__inner">
                                            <figure class="coop-c-editorialcard__media">
                                                <picture class="coop-c-editorialcard__image">
                                                    
                                                    <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                    <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                                    
                                                    <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                    <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                                
                                                    <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                                </picture>
                                            </figure>
                                            <div class="coop-c-editorialcard__content">
                                                <header class="coop-c-editorialcard__header">
                                                    <p class="coop-c-editorialcard__subtitle">Fairtrade</p>
                                                    <h3 class="coop-c-editorialcard__title">
                                                        <span>
                                                            Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                        </span>
                                                    </h3>
                                                </header>
                                                <div class="coop-c-editorialcard__body">
                                                    <p>Join us in celebrating 25 years of Fairtrade by enjoying products that carry the Fairtrade Mark, or holding your own Fairtrade party.</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <p class="coop-t-caption">An editorial card with a paragraph and a label displaying the ‘Fairtrade’ category.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Using an editorial card or cards on a page</h2>
                        <h3>Using up to 3 cards in a row</h3>
                        <p>You should not use more than 3 editorial cards in a row. You should lay these out using the grid.</p>
                        <p>The grid will help you to set the number of columns the editorial card is displayed over for different screen sizes.</p>
                    </div>
                </div>
                <div class="el-c-pullout el-c-pullout--nested">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                    <img src=/images/decorative/editorial-card-using-multiple-cards.png alt="Editorial cards used in a row of 3" class="coop-u-margin-b-32">
                    <p class="coop-t-caption">3 editorial cards used to highlight content from Co-op Food.</p>
                    </div>
                </div>
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h3>Using one card in a row</h3>
                        <p>Editorial cards will adapt to fill the available space.</p>
                        <p>If you place one card in a row, it will change to a horizontal format and fill the whole row.</p>
                    </div>
                </div>
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h4>Example</h4>
                    </div>
                    <div class="el-c-pullout-content">
                        <article class="coop-c-editorialcard coop-c-editorialcard--horizontal">
                            <a href="https://www.coop.co.uk" class="coop-c-editorialcard__link">
                                <div class="coop-c-editorialcard__inner">
                                    <figure class="coop-c-editorialcard__media">
                                        <picture class="coop-c-editorialcard__image">
                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=webp&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/webp">
                                            <source media="(min-width: 64em)" srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                            <source srcset="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346 1x" type="image/jpeg">
                                            <img src="//images.ctfassets.net/bffxiku554r1/1xIj1XR8rHSadHDMhxWyid/8c0e5d881334839a0e5809c9a8af8eca/Fairtrade_Supplier_Image.jpg?fm=jpg&amp;q=60&amp;fit=thumb&amp;w=618&amp;h=346" width="618" height="346" alt="">
                                        </picture>
                                    </figure>
                                    <div class="coop-c-editorialcard__content">
                                        <header class="coop-c-editorialcard__header">
                                            <p class="coop-c-editorialcard__subtitle">Fairtrade</p>
                                            <h3 class="coop-c-editorialcard__title">
                                                <span>
                                                    Find out the difference <span class="coop-u-nowrap">Co-op</span> makes as we celebrate 25 years of Fairtrade
                                                </span>
                                            </h3>
                                        </header>
                                        <div class="coop-c-editorialcard__body">
                                            <p>Join us in celebrating 25 years of Fairtrade by enjoying products that carry the Fairtrade Mark, or holding your own Fairtrade party.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <p class="coop-t-caption">A standalone editorial card that has adapted to fill the whole row.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</div>
