
@import "@coopdigital/css-foundations";

/* Components */
@import "@coopdigital/component-skipnav";
@import "@coopdigital/component-card--product";
@import "@coopdigital/component-notification";
@import "@coopdigital/component-notification--alert";
@import "@coopdigital/component-search";
@import "@coopdigital/component-squircles";
@import "@coopdigital/component-tags";
@import "@coopdigital/shared-component--signpost";
@import "@coopdigital/shared-component--editorialcard";
@import "@coopdigital/shared-component--featurecard";
@import "@coopdigital/shared-component--hero";
@import "@coopdigital/shared-component--membership";
@import "@coopdigital/shared-component--offers";

/* a few demo styles */

img {
    display: block;
}

.coop-logo path {
    fill: var(--color-brand);
}

.ds-header-example {
    position: relative;
    z-index: 2;
    padding: 16px 0 10px 0;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.1);
    background-color: var(--color-white);
}

@media (--mq-large) {
    .ds-header-example {
        padding: 32px 0 28px 0;
    }
}

.ds-demo-block {
    display: block;
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--color-grey-dark);
    background: var(--color-grey-mid);
    display: block;
}

.dm-colour__swatch--wide {
    padding: 10px 16px;
}

.dm-colour__swatch {
    min-height: 220px;
    width: 100%;
    border-radius: var(--ui-border-radius);
}

.dm-colour__swatch.coop-u-grey-light-bg {
    border: 1px solid #c4c4c4;
}

.coop-list-bare,
.list-bare {
    list-style: none;
    padding-left: 0;
}

@media (min-width: 81.25em) {
    .coop-c-hero__inner {
        padding: 3rem 2rem 0;
    }
}

