   
/* Foundations */ 
@import "normalize.css";  
@import "@coopdigital/foundations-vars";
@import "@coopdigital/foundations-global";
@import "@coopdigital/foundations-typography";
@import "@coopdigital/foundations-grid";
@import "@coopdigital/foundations-colors"; 
@import "@coopdigital/foundations-buttons";
@import "@coopdigital/foundations-forms";
@import "@coopdigital/foundations-tables"; 
     
/* Components */     
@import '@coopdigital/component-skipnav';
@import '@coopdigital/component-card--product';
@import '@coopdigital/component-notification'; 
@import '@coopdigital/component-notification--alert';
@import '@coopdigital/component-search';   
@import '@coopdigital/component-squircles';
@import '@coopdigital/component-tags';
@import '@coopdigital/shared-component--signpost';
@import '@coopdigital/shared-component--editorialcard'; 
@import '@coopdigital/shared-component--featurecard';  
@import '@coopdigital/shared-component--hero';
@import '@coopdigital/shared-component--linklist';
@import '@coopdigital/foundations-vars';
                                               
/* Experience Library theme */ 
@import 'theme/global.pcss';  
@import 'theme/layout.pcss';  
@import 'theme/el-c-mobile-header.pcss'; 
@import 'theme/side-bar.pcss'; 
@import 'theme/skip-nav.pcss';  
@import 'theme/search.pcss'; 
@import 'theme/signpost.pcss';  
@import 'theme/el-c-hero.pcss';
@import 'theme/el-c-hero-dark.pcss'; 
@import 'theme/el-c-hero-home.pcss'; 
@import 'theme/el-c-info-card.pcss';
@import 'theme/el-c-interact-banner.pcss'; 
@import 'theme/el-c-pullout.pcss'; 
@import 'theme/el-c-primary-section.pcss';
@import 'theme/el-c-changelog.pcss';
@import 'theme/el-c-colour-swatch.pcss';
@import 'theme/notification.pcss'; 
@import 'theme/el-c-contribute-card.pcss';
@import 'theme/el-c-in-page-nav.pcss';
@import 'theme/el-c-activity-meta.pcss'; 
     
/* Utility overrides */
@import "@coopdigital/foundations-layout";

@media (--mq-medium) {
  .coop-c-signpost {
    margin-bottom: var(--spacing-32);
  }
}
          
.external-link-container { 
  background-color: var(--color-white); 
  margin-bottom: var(--spacing-4);
  border-radius: var(--ui-border-radius); 
  box-shadow: var(--ui-shadow); 
  transition: box-shadow 0.2s ease-in;
  color: var(--color-text);  
  text-decoration: none;
  padding: 24px 20px 16px 20px;  
}

.external-link {
  margin-bottom: 8px;
}

.external-link-icon {
  display: inline-block;
  margin-right: var(--spacing-8);
  vertical-align: middle;
}

.inline-link {
  color: var(--color-text);
}

.inline-link:hover {
  color: var(--color-text);
}
 
ul.inline-nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-grey-neutral-cool-light);
  border-radius: 4px;
  position: sticky;
  top: 0;
}

li.inline-nav {
  float: left;
}

li a.inline-nav {
  display: block;
  color: var(--color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
} 

li a.inline-nav:hover {
  color: var(--color-text);
  text-decoration: underline;
}
 
.active {
  border-bottom: 4px solid var(--color-text);
  color: var(--color-text);
} 

.link-blue {
  color: var(--color-blue-mid-4);
  text-decoration: underline;
}

.top-task-container {
  background-color: var(--color-white);
  margin-bottom: var(--spacing-32);
  border-radius: var(--ui-border-radius);
  box-shadow: var(--ui-shadow);
  color: var(--color-text);
  text-decoration: none;
  padding: 24px 20px 16px 20px;
  min-height: 90%;
}

.top-task-container li {
  margin-bottom: var(--spacing-8);
}


.nested-link {
  font-weight: 400;
  font-size: 1rem;
}

.coop-t-hr-slim {
  display: block; 
  border-style: solid;
  border-color: var(--color-grey-mid);
  border-width: 0 0 1px;
  height: 0;
  color: var(--color-grey-mid);
  margin-top: var(--spacing-64);
  margin-bottom: var(--spacing-8);
}
 
.coop-t-hr-side-nav { 
  display: block;
  border-style: solid;
  border-color: var(--color-grey-mid);
  border-width: 0 0 1px;
  height: 0;
  color: var(--color-grey-mid);
  width: 248px;
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-16);
} 


.ds-header-slim .coop-c-search__button {
  background: none;
  position: relative;
  margin-left: var(--spacing-16);
  border-radius: 5px;
} 

.example-box {
  border: 1px solid var(--color-grey-mid);
  padding: var(--spacing-32);
}
 
hr, 
.coop-t-hr-el {
  display: block; 
  border-style: solid;
  border-color: var(--color-grey-mid);
  border-width: 0 0 1px;
  height: 0;
  color: var(--color-grey-mid);
  margin-top: 0;
  margin-bottom: var(--spacing-64);

  @media (--mq-medium) {
    margin-top: 0; 
    margin-bottom: var(--spacing-64);
  } 
}

.font-example-regular{
  font-size: 2em;
  font-weight: normal;
}
 
.font-example-medium{
  font-size: 2em;
  font-weight: 500;
}

.font-example-demi{
  font-size: 2em;
  font-weight: bold;
}
 
.white-text{
  color: var(--color-white);
}

.coop-t-link-active {
  transition: none;
  outline: 2px solid var(--color-link--focus);
  outline-offset: 3px;
}