---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/being-confident-during-a-session.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Being confident during a session
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated header
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>When you're facilitating a session try to:</p>
                        <ul>
                            <li>be brave and go for it,   everyone wants the session to go well</li>
                            <li>start with your plan and expect the unexpected. It’s rare for everything to go exactly as you expect but that's ok</li>
                            <li>research your session content and audience well so that you can be confident and step in when you need to</li>
                            <li>find the balance between allowing discussion and moving the conversation on</li>
                            <li>trust your gut feelings and adapt the approach based on how your group responds</li>
                            <li>ask your group how they can best use the time if things start to go off-track</li>
                        </ul>

                        <h2>Next section of the facilitation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/creating-psychological-safety.html">creating psychological safety</a>.</p>

                        <h2>Previous section of the facilitation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/top-things-to-think-about-when-planning-your-session.html">top things to think about when planning your session</a>.</p>

                    </div>

                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
