---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 10

section-title: Facilitation guide
title: Deciding whether a session is the right choice
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>Facilitating a session is a brilliant way to work through activities together with your team. You can save time and money by making sure everyone has the same understanding and agrees on what you should do next. But you might not always need a session.</p>
                        <p>Sessions are only a good use of time when:</p>
                        <ul>
                            <li>you have enough time to plan it well</li>
                            <li>you're willing to consider everyone’s opinion</li>
                            <li>you have everyone you need in the room</li>
                            <li>you have enough time for discussion during activities or are happy to get as far as you can and save some activities for later. Rushing risks bad decisions and people not feeling heard</li>
                            <li>you need everyone’s input to decide what to do next. If you already have a decision, you can let everyone know without a session</li>
                            <li>everyone can access the session remotely or in person, depending on how you run it</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <section class="coop-l-page coop-u-yellow-light-10-bg">
            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h3>More guides on facilitating:</h3>
                </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Introduction to facilitating</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/things-you-need-to-run-a-session.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Things you need to run a session</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/session-and-workshop-design.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Session and workshop design</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/top-things-to-think-about-when-planning-your-session.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Top things to think about when planning your session</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/being-confident-during-a-session.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Being confident during a session</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/creating-psychological-safety.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Creating psychological safety</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/trouble-shooting.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Trouble shooting</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/practicial-things-to-do-after-a-workshop.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Practical things to do after a workshop include making sure</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/start-a-reflective-practice-on-facilitating.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">If you want to start a reflective practice on facilitating</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <div class="coop-c-signpost">
                            <a href="/experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html" class="coop-c-signpost__link">
                                <div class="coop-c-signpost__content">
                                    <p class="coop-c-signpost__title">Find out more about facilitating</p>
                                    <span class="coop-c-signpost__icon" aria-hidden="true">
                                        <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                            <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

        </section>
    </main>
    <div class="coop-u-yellow-light-10-bg">
    {% include footer.html %}
    </div>
</div>
