---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Find out more about facilitating
last-reviewed: Last reviewed&#58; 22 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 22 February 2022
    notes: Published first version
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Get started as a facilitator</h2>

                        <h3><a href="https://www.namahn.com/event/alison-coward/" target="_blank">'Great workshops, great teams’ presentation</a></h3>
                        <p>Alison Coward gives a great introduction to getting started with facilitation in this 1 hour talk.</p>

                        <h3><a href="https://bracketcreative.co.uk/book-effective-workshops/" target="_blank">‘A pocket guide to effective workshops’ ebook</a></h3>
                        <p>Alison Coward’s short intro book to facilitation. Helpful for everyone.</p>

                        <h3><a href="https://www.slideshare.net/SuzanneMorrison/how-to-be-a-better-facilitator" target="_blank">‘How to be a better facilitator’ presentation</a></h3>
                        <p>Suzanne Morrison and Chris Downey share helpful advice on facilitating.</p>

                        <h2>Find more facilitation tools and guides</h2>

                        <h3><a href="https://www.sessionlab.com/library" target="_blank">Session Lab</a></h3>
                        <p>‘Library of facilitation techniques’ based on idea or product stage.</p>

                        <h3><a href="https://www.liberatingstructures.com/" target="_blank">‘Liberating Structures’</a></h3>
                        <p>Table of session ideas based on activity type.</p>

                        <h3><a href="https://toolbox.hyperisland.com/" target="_blank">‘Hyper Island Toolkit’</a></h3>
                        <p>Methods and tools for creative collaboration based on filters like product stage and session type.</p>

                        <h3><a href="http://www.retrospectivewiki.org/" target="_blank">Retrospective Wiki</a></h3>
                        <p>Retrospective plans, tips and tricks, tools and ideas to help you get the most out of retrospectives.</p>

                        <h3><a href="https://help.miro.com/hc/en-us" target="_blank">'Miro' help centre</a></h3>
                        <p>Help with everything to do with Miro digital whiteboards.</p>

                        <h2>Deep dive into facilitation techniques</h2>

                        <h3><a href="https://workshops.work/podcast/" target="_blank">‘Workshop's work’ podcast episodes</a></h3>
                        <p>Visual map of over 100 podcast episodes on facilitation based on theme.</p>

                        <h3><a href="https://www.amazon.co.uk/Facilitators-Participatory-Decision-Making-Jossey-Bass-Management/dp/0787982660" target="_blank">‘Facilitator's Guide to Participatory Decision-Making' book</a></h3>
                        <p>Sam Caner’s classic facilitating book to take your skills further.</p>

                    </div>

                </div>
            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
