---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/facilitation-guide.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Facilitation guide
last-reviewed: Last reviewed&#58;22 February 2022
intro-text-lead: The facilitation guide includes an introduction to facilitating and things to think about before, during and after facilitating sessions.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: First page published
  - date: 12 February 2022
    notes: Updated navigation and signpost links
  - date: 22 February 2022
    notes: Improved page layout
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>

        <section class="coop-l-page">

            <div>
                <h2>Before a session</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/introduction-to-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Introduction to facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Deciding whether a session is the right choice</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/things-you-need-to-run-a-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Things you need to run a session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/session-and-workshop-design.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Session and workshop design</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/top-things-to-think-about-when-planning-your-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Top things to think about when planning your session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div>
                <h2>During a session</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/being-confident-during-a-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Being confident during a session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/creating-psychological-safety.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Creating psychological safety</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/trouble-shooting.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Trouble shooting</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div>
                <h2>After a session</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/practicial-things-to-do-after-a-workshop.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Practical things to do after a workshop include making sure</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/start-a-reflective-practice-on-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">If you want to start a reflective practice on facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Find out more about facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>

    </main>
    {% include footer.html %}
</div>
