---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/facilitation-guide.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Introduction to facilitating
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead: This is a practical guide to help you to facilitate group sessions and conversations. It’s based on advice from experts across Co-op and industry.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <h2>Getting started with facilitation</h2>
                        <p>We did some research and learned that lots of people find facilitating daunting, but you can learn facilitation skills with practice.</p>
                        <p>Learning about facilitating can also help you to understand your responsibility as a participant and make the most of working with your team.</p>
                        <p>Preparing well and trying new things is important for facilitators of all experience levels.</p>

                        <h3>The facilitator’s role</h3>
                        <p>Facilitators help people in sessions to get the most out of their time together and:</p>
                        <ul>
                            <li>make sure that everyone can contribute</li>
                            <li>communicate the purpose and goals of the session</li>
                            <li>give clear, visible instructions</li>
                            <li>ask questions that constructively challenge assumptions and reasoning for decisions</li>
                            <li>keep everything running smoothly and manage anything that comes up</li>
                        </ul>
                        <p>As a facilitator, you do not lead the discussion in one direction or make decisions for the group.</p>
                        <p>You also need to make sure that the session suits people with different personalities and ways of learning. Thinking about how people respond and reflect on elements of your session helps everyone.</p>
                        <p>Facilitator’s also make sure that everyone has time to complete tasks. You might also need a co-facilitator.</p>

                        <h3>The co-facilitator’s role</h3>
                        <p>Co-facilitators can work with you to plan and deliver a session or just help out on the day of the session.</p>
                        <p>Co-facilitators can help to do things like:</p>
                        <ul>
                            <li>summarise and visualise discussions by grouping ideas and themes</li>
                            <li>set the timer and give prompts on timing</li>
                            <li>monitor the chat function for questions</li>
                            <li>be available if anyone is stuck</li>
                            <li>point things out that the facilitator has missed</li>
                        </ul>
                        <p>This kind of support helps the facilitator to focus on the overall flow of the session.</p>

                        <h3>The participant’s role</h3>
                        <p>Participants need to:</p>
                        <ul>
                            <li>give as much input as they feel comfortable to do that day</li>
                            <li>actively listen to each other</li>
                            <li>give other people the chance to speak</li>
                            <li>respect each other’s views and understand that everyone is doing their best</li>
                            <li>give activities their full attention</li>
                        </ul>
                        <p>The facilitator needs to make participants aware of their role in making the session work from the start. Our inclusive meeting guidelines (link) give examples of techniques you could use.</p>

                        <h4>Next section of the faciliation guide</h4>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">deciding whether a session is the right choice</a>.</p>

<!--
                        <h4>All sections of the faciliation guide</h4>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Deciding whether a session is the right choice</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Things you need to run a session</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Session and workshop design</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Top things to think about when planning your session</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Being confident during a session</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Creating psychological safety</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Trouble shooting</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Practical things to do after a session</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Start a reflective practice on facilitating</a></p>
                        <p><a href="#/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">Find out more about facilitating</a></p>
-->
                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
