---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/facilitation-guide.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Facilitation guide
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead: This is a practical guide to help you achieve your outcomes when you’re facilitating. It’s based on advice from people who help teams facilitate sessions across Co-op.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# In page nav
in-page-nav:
  - link-id: introduction-to-facilitating
    link-text: Introduction to facilitating
  - link-id: deciding-whether-a-session-is-right
    link-text: Deciding whether a session is right
  - link-id: things-you-need-to-run-a-session
    link-text: Things you need to run a session

# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">
                        <p>The facilitation guide includes an introduction to facilitating and things to think about before, during and after facilitating sessions.</p>

                        <h2 id="introduction-to-facilitating">Getting started with facilitation</h2>
                        <p>We did some research and learned that lots of people find facilitating daunting, but you can learn facilitation skills with practice.</p>
                        <p>Learning about facilitating can also help you to understand your responsibility as a participant and make the most of working with your team.</p>
                        <p>Preparing well and trying new things is important for facilitators of all experience levels.</p>

                        <h3>The facilitator’s role</h3>
                        <p>Facilitators help people in sessions to get the most out of their time together and:</p>
                        <ul>
                            <li>make sure that everyone can contribute</li>
                            <li>communicate the purpose and goals of the session</li>
                            <li>give clear, visible instructions</li>
                            <li>ask questions that constructively challenge assumptions and reasoning for decisions</li>
                            <li>keep everything running smoothly and manage anything that comes up</li>
                        </ul>
                        <p>As a facilitator, you do not lead the discussion in one direction or make decisions for the group.</p>
                        <p>You also need to make sure that the session suits people with different personalities and ways of learning. Thinking about how people respond and reflect on elements of your session helps everyone.</p>
                        <p>Facilitator’s also make sure that everyone has time to complete tasks. You might also need a co-facilitator.</p>

                        <h3>The co-facilitator’s role</h3>
                        <p>Co-facilitators can work with you to plan and deliver a session or just help out on the day of the session.</p>
                        <p>Co-facilitators can help to do things like:</p>
                        <ul>
                            <li>summarise and visualise discussions by grouping ideas and themes</li>
                            <li>set the timer and give prompts on timing</li>
                            <li>monitor the chat function for questions</li>
                            <li>be available if anyone is stuck</li>
                            <li>point things out that the facilitator has missed</li>
                        </ul>
                        <p>This kind of support helps the facilitator to focus on the overall flow of the session.</p>

                        <h3>The participant’s role</h3>
                        <p>Participants need to:</p>
                        <ul>
                            <li>give as much input as they feel comfortable to do that day</li>
                            <li>actively listen to each other</li>
                            <li>give other people the chance to speak</li>
                            <li>respect each other’s views and understand that everyone is doing their best</li>
                            <li>give activities their full attention</li>
                        </ul>
                        <p>The facilitator needs to make participants aware of their role in making the session work from the start. Our inclusive meeting guidelines (link) give examples of techniques you could use.</p>

                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="deciding-whether-a-session-is-right">Deciding whether a session is the right choice</h2>
                        <p>Facilitating a session is a brilliant way to work through activities together with your team. You can save time and money by making sure everyone has the same understanding and agrees on what you should do next. But you might not always need a session.</p>
                        <p>Sessions are only a good use of time when:</p>
                        <ul>
                            <li>you have enough time to plan it well</li>
                            <li>you're willing to consider everyone’s opinion</li>
                            <li>you have everyone you need in the room</li>
                            <li>you have enough time for discussion during activities or are happy to get as far as you can and save some activities for later. Rushing risks bad decisions and people not feeling heard</li>
                            <li>you need everyone’s input to decide what to do next. If you already have a decision, you can let everyone know without a session</li>
                            <li>everyone can access the session remotely or in person, depending on how you run it</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="things-you-need-to-run-a-session">Things you need to run a session</h2>
                        <p>You’ll need a digital or physical space so that everyone can access and contribute to the session. This could include:</p>
                        <ul>
                            <li>checking people can access the venue for face-to-face sessions</li>
                            <li>space to move around the room if activities are on walls</li>
                            <li>access to tools for remote sessions, such as: Teams, Miro, Trello</li>
                            <li>any insights or information like the outcomes you’re aiming for, business considerations, user research</li>
                            <li>digital or physical sticky dots or marker pens</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="session-and-workshop-design">Session and workshop design</h2>
                        <p>You can get inspiration and more detail for designing sessions in <a href="/experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html">the resources section</a>.</p>
                        <p>Always include a <a href="/ways-of-working/activities/check-in.html">check-in</a> for people to say hello and talk to each other before the main activities. Creating an opportunity for people to share how they are feeling before the session will help you find out wants to contribute. If people speak at the start, it’s also more likely they will join in during the session.</p>
                        <p>When you’re designing activities, plan time for silent thinking or reading time if people need it.</p>
                        <p>Be specific and provide examples to support your point or show people what you want them to do.</p>
                        <p>Include a balance between presenting information, capturing ideas and generating discussion. A variety of activities will help your team concentrate.</p>
                        <p>Check-out activities invite everyone to share immediate feedback about whether the session achieved the outcomes. They also encourage people to reflect on activities and their own contributions.</p>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="top-things-to-think-about-when-planning-your-session">Top things to think about when planning your session</h2>
                        <p>Experienced facilitators from around the Co-op have a range of advice around preparation including to:</p>
                        <ul>
                            <li>communicate the date, time and brief agenda in a diary invite a few weeks in advance. You should tell people what the session is about, but you do not need to share every detail</li>
                            <li>set up your collaboration or working space in advance</li>
                            <li>think about questions you will ask to get each discussion or activity going</li>
                            <li>if you have more than 3 or 4 people in the group, ask someone to help you group themes during discussions and set the clock on screen</li>
                            <li>make sure people can see timings and notes being captured at the point they need it</li>
                            <li>allow extra time for facilitating remotely. People do not have the same audio and visual cues as they do face-to-face so it can take longer to do set ups and get a point across.</li>
                            <li>keep background information concise but long enough so that everyone understands what is going on</li>
                            <li>plan in breaks after 45 mins to an hour. Do not be tempted to ‘get an activity finished’ if you have been going for more than an hour. People will get tired and start to switch off</li>
                            <li>make sure people are accountable for any actions</li>
                        </ul>
                        <p>Most importantly, finish on time. It's one of the hardest parts of facilitating and something experienced facilitators struggle with sometimes. You want people to leave on a positive note, not worried that they are going to be late for their next meeting or that you did not discuss something important.</p>
                        <p>You could also plan a way for people to provide feedback on the session after they’re reflected.</p>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="being-confident-during-a-session">Being confident during a session</h2>
                        <h3>When you're facilitating a session try to:</h3>
                        <ul>
                            <li>be brave and go for it,   everyone wants the session to go well</li>
                            <li>start with your plan and expect the unexpected. It’s rare for everything to go exactly as you expect but that's ok</li>
                            <li>research your session content and audience well so that you can be confident and step in when you need to</li>
                            <li>find the balance between allowing discussion and moving the conversation on</li>
                            <li>trust your gut feelings and adapt the approach based on how your group responds</li>
                            <li>ask your group how they can best use the time if things start to go off-track</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="creating-psychological-safety">Creating psychological safety</h2>
                        <p>It’s important that everyone in the session feels comfortable and can contribute. If your group is new to collaborative sessions, you could review Co-op's <a href="/ways-of-working/inclusive-meeting-guidelines.html">inclusive meeting guidelines</a>.</p>
                        <p>If it’s relevant, you could also talk about:</p>
                        <ul>
                            <li>does everyone in the group have an equal voice in terms of the outcomes? You should be clear whether peoples’ opinions will be treated as guidance or influence the decision.</li>
                            <li>people having different opinions and being challenged is a good thing if it’s done in a respectful way. Diversity of thought will produce better outcomes.</li>
                            <li>is the chat function mainly for questions and comments? Using emojis and adding gifs might help people feel more connected but can also take attention away from the activity. Adding links to external sites that are off topic might be distracting.</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="trouble-shooting">Trouble shooting</h2>
                        <p>One of the things that is most interesting and challenging about facilitating is, what to do when things go off topic or something unexpected happens.</p>
                        <p>Having some tips that you can access during your session might help you feel more confident even if you do not use them.</p>

                        <h2>Tips on ‘what you could say when’:</h2>

                        <h3>People are confused or when you do not know if people have understood, which is most of the time when you’re working remotely:</h3>
                        <blockquote>Is there anything I can make clearer for you?</blockquote>
                        <p>Always assume someone hasn’t understood.</p>
                        <p>Try to avoid saying: “Does that make sense?” and “Is that okay?”</p>
                        <p>It can make people think that you doubt whether it makes sense or is okay. They may also not want to say that they do not understand.</p>

                        <h3>If you don’t know what someone means:</h3>
                        <blockquote>“Can you tell me more about that..”</blockquote>

                        <h3>If someone has skipped ahead to a different activity:</h3>
                        <blockquote>“We’re looking at x activity now and will move onto y in a few minutes.”</blockquote>
                        <p>If you’re working remotely, you can also use the Miro tool to “bring everyone to me” if you feel like people are lost on the board. See resources (****link****)</p>

                        <h3>If someone is talking too much:</h3>
                        <blockquote>“Does everyone agree with that or think something different?”</blockquote>
                        <blockquote>“What does everyone else think?”</blockquote>
                        <blockquote>“That’s an interesting point. Would anyone like to respond?”</blockquote>
                        <p><strong>if they're off point:</strong></p>
                        <blockquote>“Can we park that there...”</blockquote>
                        <p><strong>if they're on point:</strong></p>
                        <blockquote>“Would anyone like to respond?”</blockquote>

                        <p>Try to find a way to interject. Often this means waiting for a pause. This takes practice.</p>

                        <h3>If someone hasn’t talked at all?</h3>
                        <blockquote>“has anyone else got anything new or different to add?”</blockquote>
                        <blockquote>“In a few minutes we’re going to talk about x. I’ll ask two of you to say what they think.”</blockquote>
                        <blockquote>This helps people to prepare to say something.</blockquote>

                        <h3>If someone throws in a question or comment that takes you completely off topic because they have something they want to talk through:</h3>
                        <blockquote>“We’re starting to go down a different route and talk about a different topic. Do you want to explore that or do you want to carry on with what we were working today?”</blockquote>

                        <h3>If you start to go round in circles:</h3>
                        <blockquote>“I feel like we’ve exhausted this, shall we move on or has anyone got anything new or different add?”</blockquote>
                        <blockquote>“Has anyone got anything to add that will help the group move on?”</blockquote>
                        <p>This way if anyone adds anything it will add value and if not, you can move on.</p>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="practicial-things-to-do-after-a-workshop">Practical things to do after a workshop</h2>
                        <p><strong>Practical things to do after a workshop include making sure:</strong></p>
                        <ul>
                            <li>everyone can access the outcomes of the workshop and materials in a way that works for your team</li>
                            <li>it's clear who is going to do any actions and a timeframe if you can</li>
                            <li>people know what will happen next and when the next workshop is if there is another one</li>
                            <li>people know who to contact if they have questions about what came up in the workshop</li>
                            <li>people know how to give you feedback if you want it</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="start-a-reflective-practice-on-facilitating">Start a reflective practice on facilitating</h2>
                        <p><strong>If you want to start a reflective practice on facilitating:</strong></p>
                        <ul>
                            <li>make notes on how you think it went as soon as possible</li>
                            <li>ask people for feedback directly if you are comfortable doing that</li>
                            <li>watch the recording if there is one. Watching yourself back can be difficult but very useful</li>
                            <li>identify any areas you want to improve and how you want to do that. It could be by asking someone more experienced for a chat or reading about it</li>
                            <li>make notes about how you could improve your materials straight away, ideally on them. It's so easy to forget the detail.</li>
                        </ul>
                    </div>

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="find-out-more-about-facilitating">Find out more about facilitating</h2>
                        <h3>Resources</h3>

                        <h4>Websites or slides</h4>
                        <p><a href="https://www.slideshare.net/SuzanneMorrison/how-to-be-a-better-facilitator">Some good exercises from a conference session</a>.</p>
                        <p><a href="https://www.sessionlab.com/library">Library of facilitation techniques from SessionLab</a>.</p>
                        <p><a href="https://www.liberatingstructures.com/">https://www.liberatingstructures.com/</a>.</p>
                        <p><a href="https://toolbox.hyperisland.com/">https://toolbox.hyperisland.com/</a>.</p>
                        <p><a href="https://help.miro.com/hc/en-us">https://help.miro.com/hc/en-us</a>.</p>

                        <h4>Podcasts</h4>
                        <p>A <a href="https://app.mural.co/t/workshopswork1562/m/workshopswork1562/1586853789131/80b9aff6d8e4e4660d19dd7233d636a2bab9747a?sender=19a7ca98-4c97-443d-af09-86352f8a076a">map of podcast episodes</a> from a range of industry experts.</p>

                        <h4>Videos</h4>
                        <p>A talk on <a href="https://www.namahn.com/event/alison-coward/">'how to get started' by Alison Coward</a>.</p>

                        <h4>Books</h4>
                        <p><a href="https://www.amazon.co.uk/Skilled-Facilitator-Comprehensive-Consultants-Facilitators/dp/1119064392/ref=sr_1_1?adgrpid=103651888934&gclid=EAIaIQobChMImYvWsNrh9QIVRe7tCh2R_gVVEAAYASAAEgJ2QfD_BwE&hvadid=450328133444&hvdev=c&hvlocphy=9046506&hvnetw=g&hvqmt=e&hvrand=5247780952768277541&hvtargid=kwd-295303240742&hydadcr=18490_1772480&keywords=the+skilled+facilitator&qid=1643828548&sr=8-1">The Skilled Facilitator</a>.</p>
                        <p><a href="https://www.amazon.co.uk/Facilitators-Participatory-Decision-Making-Jossey-Bass-Management/dp/0787982660">Facilitator's Guide to Participatory Decision-Making</a>.</p>
                        <p><a href="https://bracketcreative.co.uk/book-effective-workshops/">A Pocket Guide To Effective Workshops</a>.</p>
                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
