---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/practicial-things-to-do-after-a-workshop.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Practical things to do after a workshop
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p><strong>Practical things to do after a workshop include making sure:</strong></p>
                        <ul>
                            <li>everyone can access the outcomes of the workshop and materials in a way that works for your team</li>
                            <li>it's clear who is going to do any actions and a timeframe if you can</li>
                            <li>people know what will happen next and when the next workshop is if there is another one</li>
                            <li>people know who to contact if they have questions about what came up in the workshop</li>
                            <li>people know how to give you feedback if you want it</li>
                        </ul>

                        <h2>Next section of the faciliation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/start-a-reflective-practice-on-facilitating.html">start a reflective practice on facilitating</a>.</p>

                        <h2>Previous section of the faciliation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/trouble-shooting.html">trouble shooting</a>.</p>

                    </div>

                </div>

            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
