---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/things-you-need-to-run-a-session.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Things you need to run a session
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">

                        <p>You’ll need a digital or physical space so that everyone can access and contribute to the session. This could include:</p>
                        <ul>
                            <li>checking people can access the venue for face-to-face sessions</li>
                            <li>space to move around the room if activities are on walls</li>
                            <li>access to tools for remote sessions, such as: Teams, Miro, Trello</li>
                            <li>any insights or information like the outcomes you’re aiming for, business considerations, user research</li>
                            <li>digital or physical sticky dots or marker pens</li>
                        </ul>

                        <h2>Next section of the facilitation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/session-and-workshop-design.html">session and workshop design</a>.</p>

                        <h2>Previous section of the facilitation guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/deciding-whether-a-session-is-the-right-choice.html">deciding whether a session is the right choice</a>.</p>
                    </div>

                </div>

            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
