---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/top-things-to-think-about-when-planning-your-session.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 10

section-title: Facilitation guide
title: Top things to think about when planning your session
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>Experienced facilitators from around the Co-op have a range of advice around preparation including to:</p>
                        <ul>
                            <li>communicate the date, time and brief agenda in a diary invite a few weeks in advance. You should tell people what the session is about, but you do not need to share every detail</li>
                            <li>set up your collaboration or working space in advance</li>
                            <li>think about questions you will ask to get each discussion or activity going</li>
                            <li>if you have more than 3 or 4 people in the group, ask someone to help you group themes during discussions and set the clock on screen</li>
                            <li>make sure people can see timings and notes being captured at the point they need it</li>
                            <li>allow extra time for facilitating remotely. People do not have the same audio and visual cues as they do face-to-face so it can take longer to do set ups and get a point across.</li>
                            <li>keep background information concise but long enough so that everyone understands what is going on</li>
                            <li>plan in breaks after 45 mins to an hour. Do not be tempted to ‘get an activity finished’ if you have been going for more than an hour. People will get tired and start to switch off</li>
                            <li>make sure people are accountable for any actions</li>
                        </ul>
                        <p>Most importantly, finish on time. It's one of the hardest parts of facilitating and something experienced facilitators struggle with sometimes. You want people to leave on a positive note, not worried that they are going to be late for their next meeting or that you did not discuss something important.</p>
                        <p>You could also plan a way for people to provide feedback on the session after they’re reflected.</p>
                    </div>

                </div>

            </div>
        </section>

        <section class="coop-l-page coop-u-yellow-light-10-bg">
            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h3>More guides in this section:</h3>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">All facilitation guides</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/decideing-whether-a-session-is-the-right-choice.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Deciding whether a session is the right choice</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/things-you-need-to-run-a-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Things you need to run a session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/session-and-workshop-design.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Session and workshop design</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/during-a-session-its-important-to-try-to.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">During a session, it's important for a facilitator to try to</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/creating-psychological-safety.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Creating psychological safety</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/trouble-shooting.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Trouble shooting</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/practicial-things-to-do-after-a-workshop.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Practical things to do after a workshop include making sure</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/start-a-reflective-practice-on-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">If you want to start a reflective practice on facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Find out more about facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>
    </main>
    {% include footer.html %}
</div>
