---
layout: coop-experience
id: ways-of-working
item-url: /experience-library/ways-of-working/facilitation-guide/trouble-shooting.html
section: ways-of-working-facilitation-guide
meta-title:	Facilitation guide
meta-description: Guidelines to help people facilitate.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Facilitation guide
title: Trouble shooting
last-reviewed: Last reviewed&#58; 8 February 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 February 2022
    notes: Updated navigation and signpost links
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <p>One of the things that is most interesting and challenging about facilitating is, what to do when things go off topic or something unexpected happens.</p>
                        <p>Having some tips that you can access during your session might help you feel more confident even if you do not use them.</p>

                        <h2>Tips on ‘what you could say when’:</h2>

                        <h3>People are confused or when you do not know if people have understood, which is most of the time when you’re working remotely:</h3>
                        <blockquote>Is there anything I can make clearer for you?</blockquote>
                        <p>Always assume someone hasn’t understood.</p>
                        <p>Try to avoid saying: “Does that make sense?” and “Is that okay?”</p>
                        <p>It can make people think that you doubt whether it makes sense or is okay. They may also not want to say that they do not understand.</p>

                        <h3>If you don’t know what someone means:</h3>
                        <blockquote>“Can you tell me more about that..”</blockquote>

                        <h3>If someone has skipped ahead to a different activity:</h3>
                        <blockquote>“We’re looking at x activity now and will move onto y in a few minutes.”</blockquote>
                        <p>If you’re working remotely, you can also use the Miro tool to “bring everyone to me” if you feel like people are lost on the board. See resources (****link****)</p>

                        <h3>If someone is talking too much:</h3>
                        <blockquote>“Does everyone agree with that or think something different?”</blockquote>
                        <blockquote>“What does everyone else think?”</blockquote>
                        <blockquote>“That’s an interesting point. Would anyone like to respond?”</blockquote>
                        <p><strong>if they're off point:</strong></p>
                        <blockquote>“Can we park that there...”</blockquote>
                        <p><strong>if they're on point:</strong></p>
                        <blockquote>“Would anyone like to respond?”</blockquote>

                        <p>Try to find a way to interject. Often this means waiting for a pause. This takes practice.</p>

                        <h3>If someone hasn’t talked at all?</h3>
                        <blockquote>“has anyone else got anything new or different to add?”</blockquote>
                        <blockquote>“In a few minutes we’re going to talk about x. I’ll ask two of you to say what they think.”</blockquote>
                        <blockquote>This helps people to prepare to say something.</blockquote>

                        <h3>If someone throws in a question or comment that takes you completely off topic because they have something they want to talk through:</h3>
                        <blockquote>“We’re starting to go down a different route and talk about a different topic. Do you want to explore that or do you want to carry on with what we were working today?”</blockquote>

                        <h3>If you start to go round in circles:</h3>
                        <blockquote>“I feel like we’ve exhausted this, shall we move on or has anyone got anything new or different add?”</blockquote>
                        <blockquote>“Has anyone got anything to add that will help the group move on?”</blockquote>
                        <p>This way if anyone adds anything it will add value and if not, you can move on.</p>
                    </div>

                </div>
            </div>
        </section>

        <section class="coop-l-page coop-u-yellow-light-10-bg">
            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h3>More guides on facilitating:</h3>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">All facilitation guides</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/decideing-whether-a-session-is-the-right-choice.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Deciding whether a session is the right choice</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/things-you-need-to-run-a-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Things you need to run a session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/session-and-workshop-design.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Session and workshop design</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/top-things-to-think-about-when-planning-your-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Top things to think about when planning your session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/being-confident-during-a-session.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Being confident during a session</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/creating-psychological-safety.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Creating psychological safety</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/practicial-things-to-do-after-a-workshop.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Practical things to do after a workshop include making sure</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/start-a-reflective-practice-on-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">If you want to start a reflective practice on facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/facilitation-guide/find-out-more-about-facilitating.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">Find out more about facilitating</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>
    </main>
    {% include footer.html %}
</div>
