---
layout: coop-experience
id: index
item-url: /patterns/form-validation.html
section: Patterns
meta-title:	Form validation
meta-description: Find out how to use the form validation when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Patterns
title: Form validation
last-reviewed: Last reviewed&#58; 31 Aug 2021
intro-text-lead: 
  - Validation can stop the submission of data. This pattern tells a person that this has happened, and the action they need to take to fix it.  
intro-text-list:


# Image at the top of the hero
decorative-image-url:  /images/decorative/form-validation-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View form validation in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=4319%3A229
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# In page nav
in-page-nav:
  - link-id: anchor-guidelines
    link-text: Guidelines
  - link-id: anchor-example
    link-text: Example
  - link-id: anchor-changelog
    link-text: Changelog

# Changelog
changelog:
  - date: 31 Aug 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-guidelines">Guidelines</h2>
                        <p>Only activate validation on mandatory fields.</p>
                        <p>Validation messages must:</p>
                        <ul>
                            <li>be specific about what the user needs to do fix the error, for example, ‘enter the amount of hours worked in whole numbers’, not ‘hours entered invalid’ </li>
                            <li>start with an action, for example, ‘enter’ or ‘select’</li>
                            <li>be written in plain English</li>
                            <li>contain the minimum amount of information the user needs to fix the error</li>
                            <li>make sense when read out of context, for example, ‘enter your full name’, not ‘fill in the field’</li>
                        </ul>
                        <p>The validation pattern is made up of an:</p>
                        <ul>
                            <li>error summary at the top of the page</li>
                            <li>error message above the field</li>
                        </ul>
                        <p>The errors listed in bullet points in the error summary start with a lower case letter.</p>
                        <p>The error message above the field start with a capital letter.</p>
                        <p>Both do not end with a full stop.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2 id="anchor-example">Example</h2> 
                            </div>
                            <div class="el-c-pullout-content">
                                {% include interact-banner.html %}
                                <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-l-grid__item--collapse">
                                    <!-- Validation -->
                                    <form id="validation-demo" class="coop-form" novalidate>
                                        <!-- Validation summary (empty) -->
                                        <div id="validation-demo-box" class="coop-c-message coop-c-message--error" tabindex="-1" role="alert" hidden></div>
                                        <h3>Your details</h3>
                                        <div class="coop-form__row">
                                            <label class="coop-form__label" for="validation-demo-name">Your full name</label>
                                            <p id="validation-demo-name-error" class="coop-form__error" hidden></p>
                                            <input id="validation-demo-name" class="coop-form__field coop-form__input" type="text" autocomplete="name" name="validation-demo-name">
                                        </div>
                                        <div class="coop-form__row">
                                            <label class="coop-form__label" for="validation-demo-email">Your email address</label>
                                            <p id="validation-demo-email-hint" class="coop-form__hint">We’ll only use this to contact you about your will</p>
                                            <p id="validation-demo-email-error" class="coop-form__error" hidden></p>
                                            <input id="validation-demo-email" class="coop-form__field coop-form__input" type="email" autocomplete="email" name="validation-demo-email" aria-describedby="validation-demo-email-hint">
                                        </div>
                                        <div class="coop-form__row">
                                            <button class="coop-btn coop-btn--primary" aria-live="assertive" aria-relevant="additions text" aria-atomic="true">
                                                <span class="coop-btn__text" role="status" hidden>Updating details…</span>
                                                <span class="coop-btn__text">Update details</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
