---
layout: coop-experience
id: index
item-url: /patterns/
section: Patterns
meta-title:	Patterns&hellip;
meta-description: Patterns are&hellip;
description: Patterns are&hellip;

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
title: Patterns
intro-text-lead: Patterns are&hellip;
intro-text: 
intro-text-link: 
intro-text-link-url: #

# Hero link box - set to false or remove the code below to remove
link-box: true
link-box-text-design: View our patterns in Figma
link-box-link-design: https://www.figma.com/file/fxMzW1FsGlMluRHmawIr9r/Co-op-Experience-Library?node-id=4319%3A234
link-box-text-dev: 
link-box-link-dev:

# Image at the top of the hero
decorative-image-url: images/decorative/components.svg

# Signposts
signpost:
 - link: patterns/date-input.html
   text: Date input
   image: images/decorative/date-input-signpost.svg
 - link: patterns/form-validation.html
   text: Form validation
   image: images/decorative/form-validation-signpost.svg

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <ul class="coop-l-grid coop-u-list-bare">
                {% for signpost in page.signpost %}
                <li class="coop-l-grid__item coop-l-grid__item--large-4  coop-u-flex">
                    {% include signpost.html %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% include footer.html %}
</div>