---
layout: blank
id: examples
---
<section class="coop-l-page">
    <h1>Forms</h1>
    <div class="coop-u-margin-b-32">
        {% include examples/component-search/dist/search.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/text.html %}
        {% include examples/foundations-forms/src/examples/text-hint.html %}
        {% include examples/foundations-forms/src/examples/text-error.html %}
        {% include examples/foundations-forms/src/examples/text-hint-error.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/text-fixed.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/passwords.html %}
    </div>
    <div class="coop-u-margin-b-32">
        <div class="coop-l-grid">
            <div class="coop-l-grid__item coop-l-grid__item--large-6">
              {% include examples/foundations-forms/src/examples/textarea.html %}
              {% include examples/foundations-forms/src/examples/textarea-hint.html %}
              {% include examples/foundations-forms/src/examples/textarea-error.html %}
              {% include examples/foundations-forms/src/examples/textarea-hint-error.html %}
            </div>
        </div>
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/checkboxes.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-hint.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-error.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-hint-error.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/checkboxes-single.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-single-hint.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-single-error.html %}
        {% include examples/foundations-forms/src/examples/checkboxes-single-hint-error.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/radios.html %}
        {% include examples/foundations-forms/src/examples/radios-hint.html %}
        {% include examples/foundations-forms/src/examples/radios-error.html %}
        {% include examples/foundations-forms/src/examples/radios-hint-error.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/selects.html %}
        {% include examples/foundations-forms/src/examples/selects-hint.html %}
        {% include examples/foundations-forms/src/examples/selects-error.html %}
        {% include examples/foundations-forms/src/examples/selects-hint-error.html %}
    </div>

    <div class="coop-l-grid">
      <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-l-grid__item--medium-8">
        <div class="coop-u-margin-b-32">
          {% include examples/foundations-forms/src/examples/summary-alert.html %}
          {% include examples/foundations-forms/src/examples/summary-error.html %}
        </div>
      </div>
    </div>
</section>
