---
layout: blank
id: examples
---
<section class="coop-l-page">

    <div class="coop-u-margin-b-32">
        <h1>Inputs</h1>
        <a href="https://github.com/coopdigital/coop-frontend/blob/master/packages/foundations-forms/readme.md">Go to the installation documentation</a>
    </div>

    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/text.html %}
        {% include examples/foundations-forms/src/examples/text-hint.html %}
        {% include examples/foundations-forms/src/examples/text-error.html %}
        {% include examples/foundations-forms/src/examples/text-hint-error.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/foundations-forms/src/examples/text.html %}
        {% include examples/foundations-forms/src/examples/text-hint.html %}
        {% include examples/foundations-forms/src/examples/text-error.html %}
        {% include examples/foundations-forms/src/examples/text-hint-error.html %}
        {% endhighlight %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/text-fixed.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/foundations-forms/src/examples/text-fixed.html %}
        {% endhighlight %}
    </div>
    <div class="coop-u-margin-b-32">
        {% include examples/foundations-forms/src/examples/passwords.html %}
    </div>
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/foundations-forms/src/examples/passwords.html %}
        {% endhighlight %}
    </div>
</section>
