---
layout: blank
id: examples
---

<section class="coop-l-page">
    <h1>Tables</h1>
    <a href="https://github.com/coopdigital/coop-frontend/blob/master/packages/foundations-tables/readme.md">Go to the installation documentation</a>
    <div class="coop-l-grid">
        <div class="coop-l-grid__item coop-l-grid__item--medium-10 coop-l-grid__item--large-8">
            {% include examples/foundations-tables/src/examples/tables.html %}
        </div>
    </div>
    <div class="coop-u-margin-b-32">
        {% highlight html %}
        {% include examples/foundations-tables/src/examples/tables.html %}
        {% endhighlight %}
    </div>
</div>
