---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/closing-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	Closing a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Closing a review
last-reviewed: Last reviewed&#58; 17th August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 August 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <p>Review the aims you set at the start of the session - is there increased clarity or knowledge?</p>
                        <p>It's sometimes hard to know how the session has gone if you've been concentrating hard on facilitating for an hour. This is a good opportunity to ask:</p>
                        <p>‘How did this process work for this content?’ Invite people to get in touch if there’s anything they still want to discuss.</p>
                        <p>Explain what will happen next.</p>

                        <h2>Next section of the review guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/post-session-tasks.html">post session tasks</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
