---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/gathering-feedback.html
section: ways-of-working-design-and-content-review
meta-title:	Gathering feedback
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Gathering feedback
last-reviewed: Last reviewed&#58; 17th August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 August 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <p>Let everyone know that it’s time to feedback in an inclusive way.</p>
                        <p>You could say: ‘Thanks everyone for taking time to look over the work. We’ve now got (this amount) of minutes for everyone to feedback.’</p>

                        <h2>Different ways to gather and <br>discuss feedback:</h2>

                        <p><b>Invite anyone to feedback</b></p>
                        <p>People might be nervous about sharing what they think. As well as encouraging people are comfortable with speaking up, check for signs that others might want to say something, like:</p>
                        <ul>
                            <li>raised hands</li>
                            <li>people starting to talk at the same time as someone else and letting someone else go first</li>
                        </ul>

                        <p><b>Invite someone to speak from each group</b></p>
                        <p>Ask one person from each team to speak for their group. Encourage them to discuss the most interesting points. If they list everything you might not have time to discuss the points.</p>

                        <p><b>Invite feedback on points on post-its or comments on a board</b></p>
                        <p>Scan all the comments on the board, and ask the person who added it to share what they are thinking. You can then facilitate the discussion from there.</p>
                        <p>This is a good way to focus on the feedback you feel is most valuable, but you may end up focusing on the views of a smaller number of people. Make it clear that all feedback is useful and you are raising points where you think the discussion is most valuable.</p>

                        <p><b>Responding to feedback</b></p>
                        <p>How you respond to feedback is as important as how you ask for it.</p>
                        <p>Take the time to listen to what people have to say so that they feel heard. You do not need to agree with their comment or make any changes as a result. The most important thing is that the person making the comment does not feel judged and you help them to add their contribution to the discussion.</p>

                        <p><b>Making notes and finding agreement</b></p>
                        <p>If you have a large group, you could ask a team member or co- facilitator to make notes on what everyone says so that you can focus on encouraging discussion.</p>
                        <p>Encourage the group to come to an agreement on each point. If there is no agreement, find another way forward like:</p>
                        <ul>
                            <li>explaining, as the designer, why you think one version makes more sense and the reason for it</li>
                            <li>gathering more data from user testing or research, or asking a subject expert</li>
                            <li>suggesting that you make a decision one way and put the design out for testing</li>
                        </ul>

                        <p>If you’re not getting the kind of feedback you expected, be more specific about what you are looking for. You can also ask someone you think may have a useful point to say what they think, if you know that they would be comfortable with that. You could say:</p>
                        <p>‘That’s all really useful feedback thank-you. Has anyone got any thoughts on ‘...................’</p>
                        <p>That’s interesting. [Name], you worked on this problem in [that part of the business. Do you have any views on how this could work here?</p>

                        <h3>Next section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/closing-a-review.html">closing a review</a>.</p>

                        <h3>Previous section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/running-a-review.html">running a review</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
