---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review.html
section: ways-of-working-design-and-content-review
meta-title:	Design and content review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Design and </br> content review
last-reviewed: Last reviewed&#58;20 July 2022
intro-text-lead: Improve work and solve problems as a team.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 20 July 2022
    notes: First page published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>

        <section class="coop-l-page">

            <div>
                <h2 class="coop-u-margin-resp-t-32-24">Before a review</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/why-to-do-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">1. Why do a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/the-what-who-and-when-of-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">2. The what, who and when of a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/structuring-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">3. Structuring a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div>
                <h2 class="coop-u-margin-resp-t-64-32">During a review</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/starting-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">4. Starting a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/running-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">5. Running a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/gathering-feedback.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">6. Gathering feedback</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/closing-a-review.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">7. Closing a review</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div>
                <h2 class="coop-u-margin-resp-t-64-32">After a review</h2>
            </div>

            <div class="coop-l-grid">

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/post-session-tasks.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">8. Post session tasks</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="coop-l-grid__item coop-l-grid__item--large-6">
                    <div class="coop-c-signpost">
                        <a href="/experience-library/ways-of-working/design-and-content-review/learn-more.html" class="coop-c-signpost__link">
                            <div class="coop-c-signpost__content">
                                <p class="coop-c-signpost__title">9. Learn more</p>
                                <span class="coop-c-signpost__icon" aria-hidden="true">
                                    <svg class="coop-c-signpost__icon__svg" viewBox="0 0 16 29">
                                        <path d="M1.909 28.11a1.575 1.575 0 0 1-1.115-2.691L11.713 14.5.793 3.58a1.575 1.575 0 1 1 2.23-2.228l12.033 12.033a1.575 1.575 0 0 1 0 2.229L3.023 27.647c-.307.308-.71.463-1.114.463z"></path>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>

    </main>
    {% include footer.html %}
</div>
