---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/post-session-tasks.html
section: ways-of-working-design-and-content-review
meta-title:	Post session tasks
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Post session tasks
last-reviewed: Last reviewed&#58; 19th August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 August 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <p>Thank everyone for coming and repeat what will happen next.</p>
                        <p>Some people want to option to think about the design or content after the session, or they may miss the review meeting. If it fits within your timescale, let them know how to add comments and the deadline. You may get better responses if have a short turnaround, like the end of the day.</p>
                        <p>Review all of the comments and put the findings together with any other research. You could use a Miro board to visualise any patterns. As the designer or content designer it’s up to you to make the decision on the next version or iteration of the design. You only need to change anything that everyone agreed on or there was evidence for making a change.</p>
                        <p>One way to do this is to find agreement on each point of feedback, but then take time to reflect on what change you want to make.</p>
                        <p>Produce and share the next version if relevant.</p>

                        <h2>Next section of the review guide</h2>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/learn-more.html">learn more about reviews</a>.</p>

                        <h3>Previous section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/closing-a-review.html">closing a review</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
