---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/running-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	Running a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Running a review
last-reviewed: Last reviewed&#58; 17th August 2022
intro-text-lead: Can this space be blank and lead straight into a H2?

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 August 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <h2>How to introduce giving feedback</h2>
                        <p>Ask everyone to focus their feedback on the work, not the person who wrote it or their skills. You could say things like:</p>
                        <ul>
                            <li>everyone did the best work they could with the information they had at the time</li>
                            <li>every comment is valuable</li>
                            <li>think about how the person presenting the work is feeling about sharing their work at an early stage</li>
                            <li>be honest and constructive so that we can make the content as useful as possible</li>
                            <li>positive feedback is still feedback</li>
                            <li>it's okay if you do not have any feedback</li>
                        </ul>

                        <p>Ask people to try to avoid saying things like:</p>
                        <p>‘That will not work,’</p>
                        <p>‘That word’s not right’</p>

                        <p>Ask people to try to make suggestions and ask questions about the design or content like:</p>
                        <p>‘Have you thought about trying this?’</p>
                        <p>‘How does this part help the user’?</p>
                        <p>‘What’s the reason for including this?’</p>

                        <p>Ask people to add some context so that people know if what you’re saying is based on:</p>
                        <ul>
                            <li>research or experience</li>
                            <li>what you’ve seen on another product or service</li>
                            <li>based on your opinion or feeling</li>
                        </ul>

                        <p>You could say:</p>
                        <p>‘When we tried this on [this] product we found that it worked better to do [this] rather than [that]’</p>
                        <p>‘I read an article in [this website] saying that recent research suggest that users find [this] easier to read than [that]’</p>
                        <p>‘When I look at this design or sentence it makes me feel like [this]. I’d be interested in what other people think. Would [something else] help avoid that?’</p>

                        <h2>Presenting the work and what you want people to do</h2>

                        <p>Let everyone know how you, or people presenting, are going to share the design or content. Include the timeframes for presenting the work, making comments and discussion.</p>
                        <p>Be clear about whether you if you want people to:</p>
                        <ul>
                            <li>write down comments during the presentation</li>
                            <li>raise comments during the presentation</li>
                            <li>put their hand up to make a comment after the presentation</li>
                        </ul>

                        <p>During the presentation explain the problem that the design or content is trying to solve. Let people know where the user will find the design or content when it’s live or ready.</p>
                        <p>Remember that you are familiar with the content and the group is not. If in doubt, share less design or content.</p>
                        <p>You can explain your process and thinking but try not to ‘sell’ the content.</p>
                        <p>How you present the work depends on what you are reviewing and what you want from it. Explain what you want feedback on. This could be areas that you feel least confident in. It could also be something that you have discussed regularly in your team without coming to a decision.</p>

                        <h2>When to share the material</h2>
                        <p>Sharing material on the day creates a collective response. However, some people prefer to see content or design before the session. Either way, you need to give people time to think about their feedback.</p>
                        <p>Balance how you run the session between how people prefer to work, what is possible in the time and what you want to achieve.</p>

                        <h3>Example 1: Design of a date picker.</h3>
                        <p>You could say:</p>
                        <p><b>Problem: </b>Explain the problem that the date picker will solve, for example:</p>
                        <p>‘There are many different ways for users to enter a date in Co-op products and services. Users sometimes struggle to enter a date  manually because the keyboard does not work or the field does not match. Different designs may also slow users down because it is not familiar.</p>
                        <p>We want to design a way for Co-op users to enter a date which is accessible, achieves the outcome for the product and aligns with other Co-op experiences.’</p>

                        <p><b>Discovery:</b>Talk through any user research, external best practice or insights you found while exploring the problem space</p>
                        <p><b>Initial Ideas:</b>Show any prototypes or sketches</p>
                        <p><b>Design:</b>Talk through the proposed design in Figma and what you want feedback on.</p>

                        <h3>Example 2: Long form review of content in a glossary</h3>
                        <p>You could say:</p>
                        <p><b>Problem:</b> Explain the problem that the glossary will solve, for example: ‘We know that people come across words connected to agile working that they do not understand.</p>
                        <p><b>Discovery:</b> Talk through any user research or insights you found while exploring the problem space.</p>
                        <p><b>Initial ideas:</b> Show any prototypes or sketches if it’s relevant. You could also highlight the process you have followed and why you have made your decisions so far.</p>

                        <p><b>Design:</b> Talk through the proposed content and what you want feedback on, for example:</p>
                        <p>‘We’ve created a glossary which is a list of words or terms that people might come across when they are learning about agile ways of working. Each term has a description so that people know what the term means. It is on the test site now. After this review and amends we’re making it live on the Experience Library’</p>
                        <p>You can also explain what the content or design is not, for example:</p>
                        <p>‘The glossary is not the place that people come to learn how to use agile methods. That is what the rest of the site is for and there are links through to methods.’</p>

                        <h2>Constraints and blockers</h2>
                        <p>Let your team know what stage you’re at in the design. This will help people provide the most useful feedback for you.</p>
                        <p>This could include:</p>
                        <ul>
                            <li>the feature or element is a prototype so we can easily make big changes if we need to</li>
                            <li>this is going live tomorrow so we need to know if we’ve missed anything</li>
                            <li>If there is anything that cannot be changed due to technology or other decisions</li>
                            <li>any information that the user will experience before or after what you are showing today</li>
                            <li>what aspect of the design or content do you want feedback on, for example: how a specific feature works, the overall design or layout, do people think this will be useful, does a section of content help the user to get from one point to another in the journey</li>
                        </ul>

                        <h3>Next section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/gathering-feedback.html">gathering feedback</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
