---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/starting-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	Starting a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Starting a review
last-reviewed: Last reviewed&#58; 17th August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 8 August 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <p>This is one way of doing this activity based on our experience. It’s designed for a facilitator to run this session, but anyone can use it to learn how the activity works.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>

                        <h2>Welcome and introductions</h2>
                        <p>Welcome everyone to the session. Ask everyone to introduce themselves if they do not know each other.</p>
                        <p>Let everyone know that the session is about supporting and learning from each other. You can use the information in the guidance [link] section to talk about this.</p>
                        <p>Go through your running order and structure for your crit.</p>

                        <h3>Next section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/running-a-review.html">running a review</a>.</p>

                        <h3>Previous section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/structuring-a-review.html">structuring a review</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
