---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/structuring-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	Structuring a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Structuring a review
last-reviewed: Last reviewed&#58; 17 August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 29 July 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <p>How you structure your review depends on the kind of work you’re looking at and the outcomes that you want to achieve.</p>
                        <p>The value in the review comes from the discussion and what people learn. If you only have enough time for people to make comments individually, you may come away with lots of different views on how the work should be.</p>
                        <p>Help everyone to come away with a shared understanding and a positive experience of reviews which they can bring to the next session.</p>
                        <p>These are some common situations and how you can structure the review to get the most out of it. Your review might include a combination of these things:</p>

                        <h2>You have a number of people bringing different work to the session</h2>
                        <p>Split the time in the session equally between the people presenting the work. If someone is less confident about having the time to review their work, put them first to show that their work is important.</p>
                        <p>It’s also okay to spend all the session looking at one piece of work in more detail.</p>

                        <h2>You are doing a review of a large piece of work or have more than 10 people in the group</h2>
                        <p>If the content or design is longer than one page, split it into sections and label each section clearly visually. This could be on a Miro board, a document or on a piece of paper. You can:</p>
                        <ul>
                            <li>name who (or which group) will look at each part and explain how long they will have to read and make comments and how the feedback will work</li>
                            <li>split the design or content between groups of two or three people. Let them know whether they will need to call each other or go into breakout rooms if working remotely</li>
                        </ul>

                        <h2>You are looking for a kind of feedback or outcome</h2>
                        <p>You need to be clear about what kind of feedback you are looking for. You could ask for feedback on things like:</p>
                        <ul>
                            <li>the overall structure</li>
                            <li>the best way of solving this problem from other Co-op or outside designs</li>
                            <li>whether a section is in the right place</li>
                            <li>the content in the context of your process that you can share</li>
                            <li>anything people like</li>
                        </ul>

                        <h3>Next section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/starting-a-review.html">starting a review</a>.</p>

                        <h3>Previous section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/facilitation-guide/the-what-who-and-when-of-a-review.html">the what, who and when of a review</a>.</p>


                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
