---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/the-what-who-and-when-of-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	The what, who and when of a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: The what, who and when of a review
last-reviewed: Last reviewed&#58; 17 August 2022
intro-text-lead:

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 29 July 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <h2>What to share at a review</h2>
                        <p>You can do reviews to show anything you like. Some ideas are:</p>
                        <ul>
                            <li>a design</li>
                            <li>some content</li>
                            <li>sketches</li>
                            <li>code</li>
                            <li>a concept</li>
                            <li>a slide deck</li>
                            <li>Miro board</li>
                            <li>an email</li>
                        </ul>

                        <h2>Things you might need</h2>
                        <p>Any information that will help like:</p>
                        <ul>
                            <li>outcomes you’re aiming for</li>
                            <li>business considerations or context</li>
                            <li>user research</li>
                            <li>any other insights or relevant information</li>
                        </ul>
                        <p>A digital or physical space so that you can see all the ideas and create the questions.</p>
                        <p>Digital or physical sticky dots or marker pens.</p>

                        <h2>Who goes to a review:</h2>
                        <p>Reviews are about being inclusive. You will reach better outcomes by including people with a range of different perspectives and knowledge. This includes:</p>
                        <ul>
                            <li>a main facilitator who is a designer or a decision maker on the content</li>
                            <li>support facilitators if you are reviewing a large piece of design</li>
                            <li>team members with an understanding of the product or service</li>
                            <li>product or service users</li>
                            <li>people who are interested in learning about your product or the design process</li>
                        </ul>
                        <p>You will need to structure your design or content review to suit the number of people who come along and the outcomes you need.</p>

                        <h2>When to do a review:</h2>
                        <p>Do a design or content review:</p>
                        <ul>
                            <li>as soon as you have a piece of content which you would like help with</li>
                            <li>to get your team’s feedback and make content better before user research</li>
                            <li>to test a prototype of an early version of a product or service</li>
                        </ul>
                        <p>Sharing work early helps you to make it better quicker. Making changes later in the process costs more time and money.</p>
                        <p>Your team could run reviews at a regular time each week or day so that it’s part of your schedule.</p>

                        <h3>Next section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/structuring-a-review.html">structuring a review</a>.</p>

                        <h3>Previous section of the review guide</h3>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/introduction-to-facilitating.html">why to do a review</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
