---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/design-and-content-review/why-to-do-a-review.html
section: ways-of-working-design-and-content-review
meta-title:	Why to do a review
meta-description: Improve work and solve problems as a team

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Design and content review
title: Why to do a review
last-reviewed: Last reviewed&#58; 26 July 2022
intro-text-lead: Content TBC.

decorative-image-url:  /images/decorative/inclusive-meeting-guidelines-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporting image set col width to equal 12 when added to col-width above
supporting-col-width: 5


# Changelog
changelog:
  - date: 26 July 2022
    notes: page first published
---

<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">

                <div class="coop-l-grid">

                    <div class="coop-l-grid__item coop-l-grid__item--large-7">

                        <h2>Why do a design or content review</h2>
                        <p>You can use crits to:</p>
                        <ul>
                            <li>help solve design and content problems together</li>
                            <li>make sure that people understand the content or can use the design</li>
                            <li>make sure the design or content is accessible to everyone, including people with different access needs who are neurodivergent or disabled, and people who speak English as a second language</li>
                            <li>work in the open and show your process</li>
                            <li>get better at presenting work</li>
                            <li>learn from different perspectives and improve design skills</li>
                            <li>support and learn from each other</li>
                        </ul>

                        <h3>Why empathy is important for reviews and feedback</h3>
                        <p>Being aware of how other people may feel can help people to:</p>
                        <ul>
                            <li>feel included and heard</li>
                            <li>know what they share is important</li>
                            <li>give constructive, thoughtful feedback</li>
                            <li>be aware that not everyone thinks in the same way</li>
                        </ul>

                        <h4>Next section of the review guide</h4>
                        <p>Go to <a href="/experience-library/ways-of-working/design-and-content-review/the-what-who-and-when-of-a-review.html">the what, who and when of a review</a>.</p>

                    </div>

                </div>

            </div>
        </section>

    </main>
    {% include footer.html %}
</div>
