---
layout: coop-experience
id: SEO
description: You should apply search engine optimisation best practice whenever you’re creating online content. Find out more about why SEO is important.
section: SEO
meta-title:	About SEO and search - Co-op Experience Library
item-url: /seo/about-seo.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: About SEO
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - You should apply search engine optimisation (SEO) best practice whenever you’re creating online content.
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>Why SEO is important</h2>
                    <p>Applying SEO best practice to our content can help our sites appear higher up on search engine results pages.</p>
                    <p>When you search, search engines return two types of results: organic and paid. Organic search results are the web page listings that the search engine thinks most closely match what you’re looking for.</p>
                    <p>Appearing high up in organic search results is called ‘getting a high search ranking’.</p>
                    <p>Getting high search rankings is good for Co-op because:</p>
                    <ul>
                        <li>it increases clicks to our websites from search results</li>
                        <li>it helps to build trust in our brand and services</li>
                        <li>it’s a form of marketing – we’re not targeting customers, we’re there when they need us</li>
                        <li>it does not cost Co-op anything, unlike the paid-for 'ad' listings which also sometimes appear in search results</li>
                    </ul>
                    <h2>What people who might be interested in Co-op are searching for online</h2>
                    <p>Each month in the UK, there are around:</p>
                    <ul>
                        <li>5.2m online searches for ‘groceries’</li>
                        <li>22.6m online searches for ‘insurance’</li>
                        <li>4.1m online searches for ‘funerals’</li>
                        <li>1.1m online searches for ‘Co-op'</li>
                    </ul>
                    <p>There are also lots of people searching for other topics relating to Co-op’s services and community values.</p>
                    <p>When people search using these kinds of words and phrases, we want to appear in the search results they get.</p>
                    <h2>How Google works</h2>
                    <p>Around 90% of online searches are done through Google. Because of this, it’s the search engine we optimise for.</p>
                    <h3>Google’s ranking factors</h3>
                    <p>Google has at least 200 ranking factors that it uses to decide whether a page is relevant to each search that happens on its site.</p>
                    <p>Many of these are top secret, but we know that:</p>
                    <ul>
                        <li>content that is well written and helps people find the information they’re looking for ranks better</li>
                        <li>following our SEO content checklist will improve the chances of our pages getting a high search ranking for relevant searches</li>
                    </ul>
                    <p><a href="https://backlinko.com/google-ranking-factors">Read more about Google’s 200 ranking factors on backlinko.com.</a></p>
                    <h3>How search works on Google</h3>
                    <ol>
                        <li>Person enters a search term into a search engine.</li>
                        <li>Google assumes the purpose of the person’s search - this is called the search intent.</li>
                        <li>Google matches the search term and search intent to pages within its index, which contains hundreds of billions of webpages.</li>
                        <li>Google shows the most relevant pages from its index on the search engine results page. The pages are displayed in order of relevance based on what Google thinks will best meet the person’s search intent.</li>
                    </ol>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
