---
layout: coop-experience
id: SEO
item-url: /search-engine-optimisation/how-to-do-keyword-research.html
section: SEO
meta-title:	How to do keyword research
meta-description: Follow these guidelines to create a list of relevant keywords that you can use in your content to improve SEO.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: SEO
title: How to do keyword research
last-reviewed: Last reviewed&#58; 30 June 2021
intro-text-lead: 
  - Follow these guidelines to create a list of relevant keywords that you can use in your content.
# Image at the top of the hero
decorative-image-url: images/decorative/seo-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>1. Create a ‘SEO monitor’ account</h2>
                    <p>Go to topics.seomonitor.com and create a free account. This will let you do 5 free searches a day and download a spreadsheet (CSV file) of relevant keywords.</p>
                    <h2>2. Search for your topic</h2>
                    <p>Set Google Market to UK. Then type in a word,  or words, to do with the topic you want to write about.</p>
                    <h2>3. Download the results</h2>
                    <p>The next page of search results will give information relating to how people search around that topic. Select the ‘Download CSV’ link. </p>
                    <figure class="el-c-pullout__figure">
                        <img src="{{ 'images/examples/SEO/topics-seo-monitor.jpg' | prepend: site.baseurl }}" alt="Screenshot of Topics by SEO monitor an online SEO keyword tool.">
                        <figcaption class="coop-t-caption">An example of what the Topics by SEOmonitor search results will look like.</figcaption>
                    </figure>
                    <h2>4. Create a shortlist of keywords</h2>
                    <p>Use the CSV file to create a shortlist. You can do this by filtering the relevance and search volume columns. Choose keywords with a ‘relevance’ of 3, 4 and 5 that also have a high search volume compared to the other keywords in the list. Copy your shortlist into another tab on your spreadsheet.</p>
                    <figure class="el-c-pullout__figure">
                        <img src="{{ 'images/examples/SEO/excel-spreadsheet.jpg' | prepend: site.baseurl }}" alt="Screenshot of a spreadsheet downloaded from SEO monitor.">
                        <figcaption class="coop-t-caption">An example of a keyword spreadsheet downloaded from Topics by SEOmonitor. The ‘Search Volume’ and ‘Relevance’ columns have been circled.</figcaption>
                    </figure>
                    <h2>How to add more keywords</h2>
                    <p>To add more keywords, either start from the beginning with a different keyword or go back to the existing SEOmonitor list and ‘analyse the topic' of your chosen keyword. This will generate an additional list of keywords based on the keyword you’ve chosen. Copy the results into your shortlist.</p>
                    <figure class="el-c-pullout__figure">
                        <img src="{{ 'images/examples/SEO/add-keywords.jpg' | prepend: site.baseurl }}" alt="Screenshot of an SEO monitor dialogue box showing how to add more keywords.">
                        <figcaption class="coop-t-caption">An image showing how you can generate an additional list of keywords based on a keyword in the list the Topics by SEOmonitor provides.</figcaption>
                    </figure>
                    <h2>How to narrow down the list</h2>
                    <p>You might end up with a long list of keywords. Try narrowing this down to 10-15 keywords. You can do this by:</p>
                    <ul>
                        <li>removing any duplicate keywords</li>
                        <li>removing any keywords that do not feel relevant </li>
                        <li>removing any words that include competitor brands</li>
                        <li>moving keywords with the highest search volume and year on year (YoY) traffic to the top of the list</li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
