---
layout: coop-experience
id: SEO
item-url: /search-engine-optimisation/how-to-do-keyword-research.html
section: SEO
meta-title:	How to do keyword research
meta-description: Follow these guidelines to create a list of relevant keywords that you can use in your content to improve SEO.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: SEO
title: How to do keyword research
last-reviewed: Last reviewed&#58; 30 June 2021
intro-text-lead: 
  - Follow these guidelines to create a list of relevant keywords that you can use in your content.
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
