---
layout: coop-experience
id: SEO
description: Find out more about SEO for meta titles, meta descriptions, headings and subheadings, which help people and search engines understand what your page is about.
section: SEO
meta-title:	Meta titles & descriptions - Co-op Experience Library
item-url: /seo/meta-titles-and-descriptions.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: SEO for meta titles, meta descriptions and headings
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - Meta titles, descriptions, headings and subheadings help people and search engines understand what your page is about. 
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>How to write meta titles</h2>
                    <p>A meta title is the webpage title that shows on a search results page.</p>
                    <p>Meta titles should be:</p>
                    <ul>
                        <li>no more than 60 characters long</li>
                        <li>as descriptive as possible of what’s on the page - for example, on a vegan mayonnaise recipe page “Vegan Mayonnaise Recipe” would be a better meta title than “Vegan Mayonnaise”</li>
                    </ul>
                    <p>When adding meta titles to Co-op’s CMS, you do not need to include the name of the business unit like ‘Food’ or ‘Funeralcare’. The CMS will do this automatically.</p>
                    <h2>How to write meta descriptions</h2>
                    <p>A meta description is the description of a webpage that appears beneath its listing on a search results page.</p>
                    <p>Google does not use the meta description to decide where in the search results your content appears. But a good meta description can encourage more people to click through to your content.</p>
                    <p>A good meta description should:</p>
                    <ul>
                        <li>reflect what’s on the page – if Google believes other text from the page is more relevant, it will use that as the meta description instead</li>
                        <li>be no more than 158 characters in length</li>
                        <li>include the most important information at the beginning –  on smaller devices, the search engine results might only show the first 120 characters</li>
                        <li>contain keywords, which are words that you think people would use to find your content, in a way that feels natural to the reader</li>
                        <li>start with a verb if possible, for example ‘Find out’, ‘Read’ or ‘Get’</li>
                    </ul>
                    <h2>SEO for headings and subheadings</h2>
                    <p>Headings and subheadings:</p>
                    <ul>
                        <li>help search engines understand the content on a page</li>
                        <li>break content up so its easier for people to read</li>
                        <li>makes content more accessible for those using assistive technology like screen readers</li>
                    </ul>
                    <p>You should include subheadings in long-form online content like blogs, articles and guides.</p>
                    <p>Headings and subheadings should include relevant keywords as this will help your content appear higher up in search results.</p>
                    <p>Including keywords will also improve the chances of Co-op being included within some of Google’s search engine result page (SERP) features. <a href="Including keywords will also improve the chances of Co-op being included within some of Google’s search engine result page (SERP) features. Read more about SERP features on the Semrush blog.">Read more about SERP features on the Semrush blog.</a></p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
