---
layout: coop-experience
id: SEO
item-url: /search-engine-optimisation/seo-for-images-and-pdfs.html
section: SEO
meta-title:	About SEO and search
meta-description: You should apply search engine optimisation best practice whenever you’re creating online content. Find out more about why SEO is important.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: SEO for images and PDFs
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - You should optimise images and PDFs for search. This can also help to improve accessibility.
# Image at the top of the hero
decorative-image-url: images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Avoid using text on images</h2>
                        <p>This is because search engines and screen readers cannot read text that’s on an image.</p>
                        <p>Any text that appears on a webpage should be written in HTML.</p>
                        <p>Sometimes you might have to use an image that contains text, for example if you’re publishing an infographic.</p>
                        <p>If you have to use an image that contains text, you should write the text in HTML below the image.</p>
                        <h2>Use ALT text on images</h2>
                        <p>Alt text describes the appearance and function of an image.</p>
                        <p>Alt text:</p>
                        <ul>
                            <li>helps search engines understand what an image is</li>
                            <li>makes your webpage more accessible for people using screen readers</li>
                            <li>is displayed on the page if the image can’t be</li>
                        </ul>
                        <p>If the image you’re using does not do anything to set context or improve understanding of the page content, you do not need to add alt text.</p>
                        <p>When writing alt text:</p>
                        <ul>
                            <li>use keywords in a natural-sounding way</li>
                            <li>keep it short and precise – it should be less than 125 characters long</li>
                            <li>be descriptive</li>
                            <li>there’s no need to include the words “picture of” or “image of”</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <div class="el-c-pullout">
                            <div class="el-c-pullout-header">
                                <h2>Example</h2>
                            </div>
                            <div class="el-c-pullout-content">
                                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                                    <img src="{{ 'images/alt-text-example.png' | prepend: site.baseurl }}"> alt="jack russell terrier puppy and silver tabby kitten wearing cape illustrations">      
                                </div>
                                <p class="coop-t-caption coop-u-margin-t-16 coop-u-margin-b-32">An image of a cat and dog wearing capes taken from the Co-op Pet Insurance website</p>
                                <p class="coop-u-margin-t-64">Here is a good example of alt text for this image:</p>
                                <blockquote>"jack russell terrier puppy and silver tabby kitten wearing cape illustrations"</blockquote>
                                <p class="coop-u-margin-t-64">Here is a bad example of alt text for this image:</p>
                                <blockquote>"dog insurance cat insurance buy pet insurance uk"</blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Avoid using PDFs</h2>
                        <p>This is because PDFs</p>
                        <ul>
                            <li>are harder to find than webpage content</li>
                            <li>are not designed for reading on screens</li>
                            <li>can be slow to load</li>
                            <li>can be more difficult to navigate</li>
                            <li>are harder to keep up to date</li>
                        </ul>
                        <p>Read more about why content should be published in HTML and not PDF on the <a href="https://gds.blog.gov.uk/2018/07/16/why-gov-uk-content-should-be-published-in-html-and-not-pdf/">Government Digital Service blog.</a></p>
                        <h3>If you have to use a PDF, make it accessible and findable</h3>
                        <p>There might be times when you have to use a PDF, for example if you’re creating offline content that needs to be printed like a poster.</p>
                        <p>You should make sure that the text in the PDF is also available in HTML or another accessible format, and you should create a host page for the PDF.</p>
                        <p>The host page should contain:</p>
                        <ul>
                            <li>a link to the PDF</li>
                            <li>text that you’ve optimised for search using our <a href="{{ 'search-engine-optimisation/index.html' | prepend: site.baseurl }}">">search engine optimisation guidance</a></li>
                            <li>an introduction to the PDF</li>
                            <li>a list of the PDF’s content</li>
                        </ul>
                        <p>You should also optimise the PDF.</p>
                        <h3>How to optimise PDFs</h3>
                        <p>To reduce load time, use standard fonts and reduce the size of ('compress') the PDF. You can compress PDFs using Adobe Acrobat.</p>
                        <p>Make sure your PDF file name relates to the content and includes relevant keywords. For example, ‘co-op-food-labelling-guide.pdf’.</p>      
                        <p>Use headings to break up the text and include relevant links.</p>           
                        <p>Make sure the metadata of the PDF contains keywords. You can amend the metadata by going to ‘Document Properties’.</p>
                        <p>Set ALT text for any images within the PDF, just like you would do for a web page. You can do this through the ‘Tools’ menu.</p>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
