---
layout: coop-experience
id: SEO
description: Use our search engine optimisation (SEO) checklist to make sure you’ve optimised your content for search.
section: SEO
meta-title:	SEO content checklist - Co-op Experience Library
item-url: /search-engine-optimisation/seo-content-checklist.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: SEO content checklist
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - Use this checklist to make sure you’ve optimised your content for search.
# Image at the top of the hero
decorative-image-url: images/decorative/seo-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <ol>
                        <li class="coop-u-margin-b-16">Complete keyword research and use these keywords naturally in your content. Go to our <a href="{{ 'search-engine-optimisation/using-keywords-for-seo.html' | prepend: site.baseurl }}">Using keywords for SEO’ page</a> for guidance on how to do this.</li>
                        <li class="coop-u-margin-b-16"> Choose a page heading that reflects what’s on the page and includes keywords. For long-form content, you should also break up the content with subheadings that contain relevant keywords. Go to our <a href="{{ 'search-engine-optimisation/meta-titles-and-descriptions.html' | prepend: site.baseurl }}">‘SEO for meta titles, meta descriptions and headings’</a> page for more information.</li>
                        <li class="coop-u-margin-b-16">Include links to relevant product pages and other content on the website ('internal links'). If you think it’s relevant and helpful, you can also link to other trustworthy websites ('external links'). Go to our  <a href="{{ 'search-engine-optimisation/seo-for-links.html' | prepend: site.baseurl }}">‘SEO for links’ page</a> for more information.</li>
                        <li class="coop-u-margin-b-16">Write a meta title and meta description that includes keywords. Go to our <a href="{{ 'search-engine-optimisation/meta-titles-and-descriptions.html' | prepend: site.baseurl }}">SEO for meta titles, meta descriptions and headings’ page</a> for guidance on how to do this.</li>
                        <li class="coop-u-margin-b-16">Write alt text for any images. Go to our <a href="{{ 'search-engine-optimisation/seo-for-images-and-pdfs.html' | prepend: site.baseurl }}">‘SEO for images and PDFs’ page</a> for guidance on how to do this.</li>
                        <li class="coop-u-margin-b-16">If you want to use a PDF, follow the guidelines on our <a href="{{ 'search-engine-optimisation/seo-for-images-and-pdfs.html' | prepend: site.baseurl }}">SEO for images and PDFs’ page</a>.</li>
                        <li>Check that your content contains all the information that you think people visiting the page would be looking for.</li>
                     </ol>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
