---
layout: coop-experience
id: SEO
item-url: /search-engine-optimisation/seo-for-links.html
section: SEO
meta-title:	SEO for links
meta-description: Using relevant links in your content can help it to appear higher up in search results. Find out more search engine optimisation (SEO) for links.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: SEO
title: SEO for links
last-reviewed: Last reviewed&#58; 30 June 2021
intro-text-lead: 
  - Using relevant links in your content can help it to appear higher up in search results.
# Image at the top of the hero
decorative-image-url: images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2>How and when to include links in your content</h2>
                    <p>All pages should be linked to from either the navigation or a relevant category page. A category page groups individual web pages that have a similar subject or theme, for example, ‘Travel insurance'.</p>
                    <p>Evergreen content is content that you’d expect people to search for all year round, like a page about one of our services. All evergreen content should link back to:</p>
                    <ul>
                        <li>a relevant product page – this is a web page that explains a product or service you can get from Co-op, for example, ‘Order groceries online’ or a ‘Buy multi-trip travel insurance’ product page</li>
                        <li>another piece or pieces of evergreen content, where relevant</li>
                        <li>relevant seasonal content, for example, COVID updates that affect our products or services</li>
                    </ul>
                    <p>You’d expect seasonal content to have peaks in search traffic because it’s about something temporary, like a blog post about celebrating Easter. Seasonal content should link back to:</p>
                    <ul>
                        <li>a relevant evergreen content piece</li>
                        <li>a product page if necessary</li>
                    </ul>
                    <p><a href="/elements/links.html">Find out how to design links</a>.</p>
                    <h2>Guidelines on linking to other websites</h2>
                    <p>You might need, or want, to link to other websites that are not owned by Co-op (external websites) in your content.</p>
                    <p>Any external websites you link to should be:</p>
                    <ul>
                        <li>high quality</li>
                        <li>relevant</li>
                        <li>trustworthy</li>
                    </ul>
                    <p>Regularly review the links to external websites in your content and remove or update any that:</p>
                    <ul>
                        <li>no longer work</li>
                        <li>now redirect to irrelevant content</li>
                    </ul>
                    <h2>Why links are important</h2>
                    <p>Links are either to other:</p>
                    <ul>
                        <li>pages on the same website ('internal links')</li>
                        <li>sites that are trustworthy ('external links')</li>
                    </ul>
                    <h3>Why internal links are important</h3>
                    <p>Internal links:</p>
                    <ul>
                        <li>support the architecture of the website</li>
                        <li>help Google understand the content</li>
                    </ul>
                    <p>We should avoid creating ‘orphaned pages’, which are pages that do not receive any links from other pages on the same site.</p>
                    <p>This is because Google is unlikely to review ('crawl') orphaned pages and add them to its index. And this means they won’t appear in search results.</p>
                    <h3>Why external links are important</h3>
                    <p>External links:</p>
                    <ul>
                        <li>help Google assess the credibility of other websites</li>
                        <li>can provide people with other useful information</li>
                    </ul>
                    <p>When Google finds a relevant, good-quality link from one website it considers trustworthy to another, it takes this as a sign that the website being linked to is also trustworthy. </p>
                    <p>This means the site is more likely to be added to Google’s index and appear high up in search results.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
