---
layout: coop-experience
id: SEO
item-url: /search-engine-optimisation/using-keywords-for-seo.html
section: SEO
meta-title:	Using keywords for SEO
meta-description: You should use the keywords that your audience is searching for in your content. Find out more about the best way to do keyword research and use keywords.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: Using keywords for SEO
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - A keyword is what someone types into a search engine. You should use the keywords that your audience is searching for in your content.
# Image at the top of the hero
decorative-image-url:  /images/decorative/seo-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <p>Using keywords in your content will help your content appear in relevant search results.</p>
                    <p>Keywords should:</p>
                    <ul>
                        <li>be used sparingly</li>
                        <li>fit naturally into the content</li>
                        <li>not be forced into content, making it harder to read or understand</li>
                    </ul>
                    <h2>How to decide which keywords are important</h2>
                    <p>Before you start writing your content, you should decide on 10 to 15 keywords or key phrases that you know people search for when they were looking for content like yours.</p>
                    <p>You should decide what these keywords and key phrases are:</p>
                    <ul>
                        <li>through keyword research</li>
                        <li>by thinking about when your content will be most useful to your audience</li>
                    </ul>
                    <h3>Do keyword research</h3>
                    <p>Follow our <a href="{{ '/search-engine-optimisation/how-to-do-keyword-research.html' | prepend: site.baseurl }}">guidelines on how to do keyword research.</a></p>
                    <h3>Choose ‘long-tail keywords’ over ‘generic queries'</h3>
                    <p>People often use generic queries when they first start searching around a particular topic - for example ‘breakdown cover’.</p>
                    <p>Generic queries are usually one or 2 words long.  Because lots of people search for these generic queries, there will be lots of companies competing to appear high up in the search results for them.</p>
                    <p>People often start using more specific keywords to search when they’re getting ready to buy - for example ‘single trip breakdown cover uk’. We call these more specific keywords long-tail keywords.</p>
                    <p>Long-tail keywords are often four or more words. Because fewer people search for these long-tail keywords, fewer companies will be competing to appear high up in the search results for them.</p>
                    <p>We should focus on including long-tail keywords in our content because:</p>
                    <ul>
                        <li>we have more chance of appearing high up in the search results for long-tail keywords</li>
                        <li>when people see us in their search results, it increases trust in Co-op</li>
                        <li>those who click through from search results for long-tail keywords are more likely to go on to buy something from us than people who click through from the search results of a generic query</li>
                    </ul>
                    <h3>Decide if your content is ‘evergreen’ or ‘seasonal’</h3>
                    <p>Any content we put online is either evergreen or seasonal content.</p>
                    <p>Evergreen content:</p>
                    <ul>
                        <li>should receive search traffic all year round</li>
                        <li>is detailed and contains all the information the user needs on the topic</li>
                        <li>doesn’t change often</li>
                    </ul>
                    <p>Some examples of evergreen content are this:</p>
                    <ul>
                        <li><a href="https://www.co-oplegalservices.co.uk/family-law-solicitors/children/">Custody of Children guidance</a> on the Co-op Legal Services website</li>
                        <li><a href="https://www.coop.co.uk/funeralcare/what-to-do-when-someone-dies">What to do when someone dies guidance</a> on the Co-op Funeralcare website</li>
                        <li><a href="https://www.coop.co.uk/health-wellbeing/labelling">Food labelling information</a> on coop.co.uk</li>
                    </ul>
                    <p>Seasonal content:</p>
                    <ul>
                        <li>is likely to have peaks in search traffic</li>
                        <li>may only be useful for someone once</li>
                        <li>can be about something temporary</li>
                    </ul>
                    <p>Some examples of seasonal content are this:</p>
                    <ul>
                        <li><a href="https://www.co-oplegalservices.co.uk/media-centre/articles-sept-dec-2018/how-to-get-through-the-first-christmas-without-the-kids/">How to Get through the First Christmas Without the Kids article</a> on the Co-op Legal Services Media Centre</li>
                        <li><a href="https://www.coop.co.uk/funeralcare/coronavirus">Co-op Funeralcare’s Coronavirus page</a></li>
                        <li>page showing <a href="https://www.coop.co.uk/recipes/mothers-day">Mother’s Day recipes on coop.co.uk</a></li>
                    </ul>
                    <p>Decide whether the content you’re writing is evergreen or seasonal and consider how this affects the keywords you need to use in your content, for example whether you should include ‘Easter’ or ‘Mother’s Day' in your content.</p>
                    <h3>Think about when your content will be most helpful to people - ‘awareness’, ‘consideration’ or ‘purchase’</h3>
                    <p>To decide on your keywords, it can be helpful to think about what stage your customer is likely to be at when they’re looking for your content.</p>
                    <p>When a person is starting off their search and trying to find out more about a topic, we call this ‘awareness’. At this stage, things like blogs are usually the most useful. You can optimise this content for long-tail keywords like ‘do alarms deter burglars’ or ‘which house alarm is best’.</p>
                    <p>After going through the ‘awareness’ stage, people might move into the ‘consideration’ stage. This is when they’re looking to find out more specific information about the topic they’re interested in. At this stage, things like guides are usually the most useful. You can optimise the content for long-tail keywords like ‘are underground pipes covered by home insurance’.</p>
                    <p>After going through the ‘consideration’ stage, people might move into the ‘purchase’ stage. This is when they’re looking to buy something. At this stage, things like product pages are usually the most useful. You can optimise the content for long-tail keywords like ‘Co-op home insurance’, or ‘and ‘home insurance with business cover’.</p>
                    <h2>How to use keywords naturally in your content</h2>
                    <p>You do not need to include the keyword phrases you are optimising for word for word, or include the keywords lots of times. Trying to do this can make your content hard to read and understand.</p>
                    <p>What’s most important is that your content is useful and readable.</p>
                    <h3>Example</h3>
                    <p>Imagine you are planning to write a campaign page about weekend breakfast items.</p>
                    <p>Through keyword research, you’ve decided that the long-tail keywords you want to optimise are ‘weekend breakfast ideas’, ‘savoury breakfast’, and ‘traditional full English breakfast’.</p>
                    <p>You write a first draft of the page introduction:</p>
                    <blockquote>Here are some weekend breakfast ideas so that you can make a savoury breakfast like a traditional full English breakfast this weekend.</blockquote>
                    <p>The first draft doesn’t feel quite right. This is because:</p>
                    <ul>
                        <li>there are too many keywords</li>
                        <li>the sentence does not sound natural</li>
                        <li>the content is hard to read</li>
                    </ul>
                    <p>You write a second draft:</p>
                    <blockquote>Set yourself up for the weekend with our most popular savoury breakfast items. Perfect to cook up a traditional full English breakfast.</blockquote>
                    <p>This is better because the:</p>
                    <ul>
                        <li>keywords complement the content</li>
                        <li>sentences sound natural</li>
                        <li>content is readable</li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
