---
layout: coop-experience
id: index
item-url: /brand-guidelines.html
section: 
meta-title:	Brand guidelines
meta-description: Find out how what our brand guidelines are and how to apply them.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: 
title: Brand guidelines
last-reviewed: Last reviewed&#58; 2 Nov 2021
intro-text-lead: 
  - How to use the Co-op brand in your work.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <p>The Co-op brand guidelines include:</p>
                    <ul>
                        <li>guides on how to apply the Co-op brand</li>
                        <li>examples of the brand in different contexts</li>
                        <li>templates</li>
                        <li>photography</li>
                    </ul>
                    <p>The guidelines are available on an external website.</p>
                    <p>To register or sign in, go to <a href="coop.co.uk/ourbrand">coop.co.uk/ourbrand</a></p>
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>