---
layout: coop-experience
id: index
item-url: /browser-and-device-support.html
section:
meta-title: Browser and device support
meta-description: Find out which browser and devices to support when building digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title:
title: Browser and device support
last-reviewed: Last reviewed&#58; 1 December 2022
intro-text-lead:
  - Co-op products and services must be accessible. This means they must work on every browser or device that people access it on.

# Image at the top of the hero
decorative-image-url:  /images/decorative/components.svg

# Changelog
changelog:
  - date: 17 August 2021
    notes: First version of page published
  - date: 1 December 2022
    notes: Removed old contact email address

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>This page provides a guide on how to support browsers and devices for users.</p>
                        <p>The information here is a starting point. Use statistics from your own research to make sure you have the right browser and device support in place for your product or service.</p>
                        <p>Try to give as consistent an experience as possible across browsers and devices. However, some differences are unavoidable.</p>
                        <p>Products and services do not need to be identical in every browser or device but users must be able to access and use all the information and features they need.</p>
                        <p>Use new technology and the latest features and apply them in a way that allows users who do not have these features to access the content.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <table class="coop-table">
                            <caption class="coop-t-h2 coop-t-bold">Browsers and devices to support and test in</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Device</th>
                                    <th scope="col">Operating system</th>
                                    <th scope="col">Browser</th>
                                    <th scope="col">Browser version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" rowspan="3">Apple desktop</th>
                                    <td rowspan="3">Latest 2</td>
                                    <td>Google chrome</td>
                                    <td>Latest 2</td>
                                </tr>
                                <tr>
                                    <td>Safari</td>
                                    <td>Latest 2</td>
                                </tr>
                                <tr>
                                    <td>Firefox</td>
                                    <td>Latest 2</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="4">Windows desktop</th>
                                    <td rowspan="4">Latest 2</td>
                                    <td>Edge</td>
                                    <td>Latest</td>
                                </tr>
                                <tr>
                                    <td>Internet Explorer</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>Google chrome</td>
                                    <td>Latest 2</td>
                                </tr>
                                <tr>
                                    <td>Firefox</td>
                                    <td>Latest 2</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2">Apple iPhone</th>
                                    <td rowspan="2">Latest 2</td>
                                    <td>Safari</td>
                                    <td>Latest</td>
                                </tr>
                                <tr>
                                    <td>Safari in-app</td>
                                    <td>Latest Facebook and Twitter versions</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2">Apple iPad</th>
                                    <td rowspan="2">Latest 2</td>
                                    <td>Safari</td>
                                    <td>Latest</td>
                                </tr>
                                <tr>
                                    <td>Safari in-app</td>
                                    <td>Latest Facebook and Twitter versions</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2">Android</th>
                                    <td rowspan="2">Latest 2</td>
                                    <td>Samsung internet</td>
                                    <td>Latest</td>
                                </tr>
                                <tr>
                                    <td>Google chrome</td>
                                    <td>Latest</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>What supported means</h2>
                        <p>For browsers and devices in the table:</p>
                        <ul>
                            <li>all content must be readable and usable</li>
                            <li>all functionality must work</li>
                            <li>differences in the presentation of content must be kept to a minimum</li>
                            <li>the CSS (where used) must be rendered by supported web browsers that present a fully-styled version of the page</li>
                            <li>pages should be developed to maximise the user experience for the browser that has the highest proportion of users</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Do your own browser and device research</h2>
                        <p>When designing your product, you should analyse and support your users’ choice of:</p>
                        <ul>
                            <li>operating systems</li>
                            <li>browsers</li>
                            <li>browser versions</li>
                            <li>screen sizes/resolutions</li>
                            <li>mobile devices</li>
                        </ul>
                        <p>You must also support:</p>
                        <ul>
                            <li>browsers and devices with usage of over 2% of the total</li>
                            <li>instances where there are technical or internal restrictions on what must be used to access the product or service</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to test browsers and devices</h2>
                        <p>For manual browser and device testing we use a range of devices and <a href="https://www.browserstack.com/">Browserstack</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Accessibility testing</h2>
                        <p>You’ll also need to make sure your product or service works with assistive technology.</p>
                        <p><a href="{{ '/accessibility/find-out-if-something-is-accessible.html' | prepend: site.baseurl }}">Go to our guidelines on accessibility testing</a>.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
