---
layout: coop-experience
id: index
item-url: /design-principles.html
section: 
meta-title:	Design principles
meta-description: Our digital design principles reflect how we think about design.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Design
title: Design principles
last-reviewed: Last reviewed&#58; 09 Dec 2016
intro-text-lead: 
  - Our design principles reflect how we think about design. They provide a way for us to look at the work we create and how we create it&#58; building the right thing; building the thing right.
# Image at the top of the hero
decorative-image-url: images/decorative/design-principles-hero.svg

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-8">
                    <h2 id="we-design-in-context">We design in context</h2>
                    <p>Communicating with a clear voice, at the right time, in the right way.</p>
                    <p>We do this by:</p>
                    <ul>
                        <li>understanding user needs, the market, technology and our business goals</li>
                        <li>looking at the whole experience for the user, not just the digital part</li>
                        <li>giving information only at the point it’s needed, and through the most effective channel</li>
                    </ul>
                    <h2 id="we-design-with-purpose">We design with purpose</h2>
                    <p>Making services that are useful, elegant and easy to use.</p>
                    <p>We’re doing this by:</p>
                    <ul>
                        <li>knowing why the service is needed before we build it</li>
                        <li>measuring and challenging the effectiveness of what we build</li>
                        <li>getting out of the way — helping users achieve their goals as quickly as they can</li>
                        <li>designing services that speak for themselves — they’re self-explanatory and intuitive</li>
                    </ul>
                    <h2 id="we-design-for-everyone">We design for everyone</h2>
                    <p>Designing so that no one feels different.</p>
                    <p>We do this by:</p>
                    <ul>
                        <li>communicating in a clear, simple way; opening up our services to everyone</li>
                        <li>designing for people irrespective of their background, circumstance, digital skills or subject knowledge — removing any barriers to our services</li>
                        <li>recognising that people come to our services with their own needs, insecurities and struggles — they deserve our consideration and thoughtfulness</li>
                    </ul>
                    <h2 id="we-design-with-honesty">We design with honesty</h2>
                    <p>Nothing made up.</p>
                    <p>We do this by:</p>
                    <ul>
                        <li>being truthful about what we can and cannot do for our users</li>
                        <li>talking about what we’ve done, not what we’ve yet to do</li>
                        <li>being true to our medium, understanding its opportunities and limits</li>
                    </ul>
                    <h2 id="we-design-in-the-open">We design in the open</h2>
                    <p>Being co-operative in the way we work with others.</p>
                    <p>We do this by:</p>
                    <ul>
                        <li>talking about what we’re making as we make it</li>
                        <li>being generous with what we know, and open to learning from others</li>
                        <li>not being afraid to experiment</li>
                    </ul>
                    <h2 id="we-design-iteratively">We design iteratively</h2>
                    <p>There’s no substitute for putting our work in front of real people.</p>
                    <p>We do this by:</p>
                    <ul>
                        <li>releasing earlier, learning faster</li>
                        <li>learning from what people do, not what they say they do</li>
                        <li>making design decisions based on evidence</li>
                        <li>responding to change</li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>