---
layout: coop-experience
id: content
item-url: /content-guidelines/content-tools-and-resources.html
section: style-and-patterns
meta-title:	Content tools and resources
meta-description: Find a list of content tools and resources for designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Content tools and resources
last-reviewed: Last reviewed&#58; 9 Sept 2021
intro-text-lead: 
  - A list of tools and resources for creating helpful, accessible content.
# Image at the top of the hero
decorative-image-url:  /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 9 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Check your content</h2>
                        <h3><a href="https://hemingwayapp.com/">Hemingway</a></h3>
                        <p>Checks your writing and highlights complicated, passive sentences.</p>
                        <h3><a href="https://www.grammarly.com/">Grammarly</a></h3>
                        <p>Checks spelling, grammar and clarity.</p>
                        <h3><a href="https://wave.webaim.org/">Wave accessibility checker</a></h3>
                        <p>Checks web pages for accessibility problems.</p>
                        <h2>Follow good guidelines</h2>
                        <h3><a href="https://readabilityguidelines.co.uk/">Readability guidelines</a></h3>
                        <p>These guidelines are maintained by a collaborative project and are supported by lots of evidence.</p>
                        <h3><a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a></h3>
                        <p><a href="https://www.gov.uk/">GOV.UK</a> does a lot of testing and research into what works well for users. They also have useful information and patterns in their design system.</p>
                        <h3><a href="https://service-manual.nhs.uk/content">NHS style guide</a></h3>
                        <p>The NHS style guide has evidence-based advice and guidance.</p>
                        <h3><a href="https://www.theguardian.com/guardian-observer-style-guide-a">Guardian style guide</a></h3>
                        <p>The Guardian is a fallback for any words and phrases that are not in our style guide.</p>
                        <h2>Read blog posts</h2>
                        <h3><a href="https://contentdesign.london/content-design/what-is-content-design/">What is content design?</a></h3>
                        <p>A summary of content design and why it matters.</p>
                        <h3><a href="https://gds.blog.gov.uk/2014/02/17/guest-post-clarity-is-king-the-evidence-that-reveals-the-desperate-need-to-re-think-the-way-we-write/">The importance of clear writing</a></h3>
                        <p>Explains how simple, clear writing is more likely to be read and lead to action.</p>
                        <h3><a href="https://contentdesign.london/reading/dumbing-down/">Why simplicity is better for everyone</a></h3>
                        <p>Explains why ‘dumbing down’ is really making your content more accessible.</p>
                        <h3><a href="https://digitalblog.coop.co.uk/2018/09/13/why-faqs-arent-the-answer-youve-been-looking-for/">Why FAQs do not work</a></h3>
                        <p>Explains why we avoid using FAQs.</p>
                        <h2>Use research to support your work</h2>
                        <h3><a href="https://www.nngroup.com/articles/">Nielsen Norman Group</a></h3>
                        <p>A wide range of research into all aspects of usability, accessibility and user experience.</p>
                        <h3><a href="https://www.gov.uk/guidance/content-design/research-and-evidence">Gov.uk research and evidence</a></h3>
                        <p>List of books and guides that support the government approach to content design.</p>
                    </div>
                </div>
            </div>

            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
