---
layout: coop-experience
id: content
item-url: /content-guidelines/how-we-write.html
section: Content guidelines
meta-title:	How we write
meta-description: Find out how we write when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: How we write
last-reviewed: Last reviewed&#58; 4 Oct 2024
intro-text-lead: 
  - Good content helps people to complete tasks, find information and interact with us in ways that suit them. 
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev:

# In page nav
in-page-nav:
  - link-id: anchor-create-less-content
    link-text: Create smarter content, not more content
  - link-id: anchor-be-relevant
    link-text: Be relevant
  - link-id: anchor-be-clear
    link-text: Be clear
  - link-id: anchor-be-considerate
    link-text: Be considerate
  - link-id: anchor-be-inclusive
    link-text: Be inclusive
  - link-id: anchor-make-decisions-with-evidence
    link-text: Make decisions with evidence

# Changelog
changelog:
  - date: 4 Oct 2024
    notes: Content made simpler and examples added
  - date: 17 Sept 2021
    notes: First version of page published

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-create-less-content">Create smarter content, not more content</h2>
                        <p>Think about whether you need to create more content. Too much content can be overwhelming for people and get in the way of what they need to do.</p>
                        <p>Content is expensive to maintain. Creating and storing content also demands energy, which has an environmental impact.</p>
                        <p>Before creating content, ask yourself:</p>
                        <ul>
                          <li>does the content exist elsewhere, and could you make it easier to find?</li>
                          <li>is the content meeting a user need?</li> 
                          <li>would people be able to complete their task without the content?</li> 
                        </ul>
                        <h3>Edit your content</h3>
                        <p>People who use our products and services are mostly on mobile devices. They do not have much time, and have something they need to do or know.</p>
                        <p>Get the message across quickly so that they do not get frustrated and go elsewhere.</p>
                        <p>Edit, then edit again to create content that is short and easy to understand.</p>
                        <h3>Delete content that is no longer useful</h3>
                        <p>Delete content that:</p>
                        <ul>
                          <li>is out of date</li> 
                          <li>is not accurate</li>
                          <li>does not meet a user need</li>
                          <li>people are not interested in, based on evidence</li> 
                        </ul>
                        <p>Outdated, inaccurate content might make people lose trust in us and not use our products and services.</p> 
                        <h2 id="anchor-be-relevant">Be relevant</h2>
                        <h3>Help people find what they need</h3>
                        <p>People are more likely to take in information if they’re given it at a point where they can act on it. Understand each step our users go through when interacting with us.</p>
                        <p>Include the most important information at the start – what the purpose of the page is, and who it’s for. This helps people know whether they’re in the right place.</p> 
                        <h3>Put content in a logical order</h3> 
                        <p>For people to understand content, it needs to follow a logical order and have a clear relationship with other content.</p>
                        <p>Keep pages as simple as possible and make sure they make sense when read top to bottom.</p>
                        <p><a href="{{ '/elements/headings-paragraphs-and-lists.html' | prepend: site.baseurl }}">Use clear headings and sub-headings to give your content a logical structure</a>.</p>
                        <p><a href="{{ '/accessibility/digital-accessibility-standards.html#structure' | prepend: site.baseurl }}">Find out more about how structure affects accessibility</a>.</p>
                        <h3>Use the words that your audience use</h3>
                        <p>Your audience may not use the same words that we use at work. Work with user researchers to understand the words your audience use.</p> 
                        <p>Using the words your audience use helps people to find and understand content.</p>
                        <h2 id="anchor-be-clear">Be clear</h2>
                        <h3>Use clear English</h3>
                        <p></p>Write in short words and sentences. This helps people that:</p>
                        <ul>
                          <li>have low literacy levels</li>
                          <li>do not have English as their first language</li> 
                          <li>are tired or distracted</li>
                          <li>have a disability or impairment</li>
                        </ul>
                        <h3>Make it active and direct</h3>
                        <p>Be direct and use active voice to make it clear who does what. Avoid passive voice.</p>
                        <p class="medium-weight-text">Active voice:</p> 
                        <p>Fill in the form.</p> 
                        <p class="medium-weight-text coop-u-margin-t-32">Passive voice:</p>
                        <p>The form should be filled in.</p>
                        <h3>Address people directly</h3>
                        <p>Where possible, address people as ‘you’. Speaking directly to the audience makes it quicker for them to relate to what you’re saying and understand what they need to do.</p>
                        <h3>Remove any unnecessary doubt</h3>
                        <p>If someone must do something, make it clear. Words like ‘should’ or ‘could’ add an element of doubt. If something is needed, use ‘must’.</p>
                        <h3>Make content easy to scan</h3>
                        <p>People often scan content, looking for words, headings or links that will help them achieve what they came to do as quickly as possible.</p>
                        <p>Write content so that it’s easy to read quickly by using:</p>
                        <ul>
                            <li>short sentences and paragraphs</li>
                            <li>subheadings and lists to break up walls of text</li>
                            <li>clear English</li>
                        </ul>
                        <h3>Use clear titles and subheadings</h3>
                        <p>Headings should be short and describe the task or information. This helps people decide whether to keep reading. Avoid the temptation to use headings to attract attention and sound exciting. They should always reflect what the content that follows is about.</p>
                        <p class="medium-weight-text">Good examples:</p>
                        <p>Book an appointment</p>
                        <p>Buy a funeral plan</p>
                        <p class="medium-weight-text coop-u-margin-t-32">Bad examples:</p>
                        <p>More information</p>
                        <p>Further help</p>
                        <p class="coop-u-margin-t-32"><a href="{{ '/elements/headings-paragraphs-and-lists.html' | prepend: site.baseurl }}">Go to the guidelines on headings, paragraphs and lists</a>.</p>
                        <h3>Use the same words for the same things</h3>
                        <p>Choose what you're going to call things and stick to it. Calling the same thing by different names can confuse people.</p>
                        <p>For example, at Co-op we use ‘sign in’ and not ‘log in’. If we used both terms, then people might think they were different things.</p>
                        <h3>Tell people where they are in a process</h3>
                        <p>People should know where they are and what is going on throughout their journey. Set expectations and give next steps. This builds confidence and creates trust in the service. </p>
                        <h2 id="anchor-be-considerate">Be considerate</h2>
                        <h3>Do not tell people how they should feel</h3>
                        <p>Avoid words like ‘quick’, ‘easy’, ‘simple’ and ‘convenient’. We do not know whether that is true for the reader and we should not make assumptions.</p>
                        <h3>Explain things clearly</h3>
                        <p>We must never assume that our users understand our way of doing things, our business language or our products and services. Clear, simple content that explains what they need to do will help them achieve their task, which is good for them and good for our business. </p>
                        <p>Simplify content by: </p>
                        <ul>
                            <li>explaining what people need to do</li>
                            <li>removing information that is not needed</li>
                            <li>answering questions people had during research</li>
                            <li>being clear about what people need to do next</li>
                        </ul>
                        <p>Legal content in particular can be hard work to explain, but is important to get right. The more clearly we can explain something, the more likely they are to use our services. Being understood is more important than sounding clever. </p>
                        <p>Bad example:</p>
                        <p class="medium-weight-text">Check if you need probate</p>
                        <p>1 in 2 people will need it. If you need probate and instruct Co-op Legal Services, you might not need to pay for the funeral upfront, as we can take payment directly from the estate.</p>
                        <p class="coop-u-margin-t-32">Good example:</p>
                        <p class="medium-weight-text">Check if you need probate</p>
                        <p>1 in 2 people will need probate. This is the legal process of dealing with someone's home, money and possessions after they have died. You will only need probate if the person who died:</p> 
                        <ul>
                          <li>owned a house in their sole name</li> 
                          <li>had more than £30,000 in the bank </li>
                        </ul>
                        <p>If you instruct Co-op Legal Services, you might not need to pay for the funeral upfront, as we can take payment directly from the estate.</p>
                        <h2 id="anchor-be-inclusive">Be inclusive</h2>
                        <p>Use abbreviations, acronyms and initialisms with caution.</p>
                        <p>Not everyone will understand what these mean.</p>
                        <p class="coop-u-margin-t-32"><a href="{{ '/content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html' | prepend: site.baseurl }}">Go to the guidelines on abbreviations, acronyms and initialisms</a>.</p>
                        <h3>Do not use images to replace text content</h3>
                        <p>If you need an image to help people understand something, always include a text description. This is so that people who rely on assistive technology, like screen readers, can access the information.</p>
                        <p class="coop-u-margin-t-32"><a href="https://www.coop.co.uk/accessibility/standards#text-alternatives">Go to the accessibility standard on text alternatives</a>.</p>
                        <h3>Do not use time to set expectations</h3>
                        <p>Telling people that something ‘takes 10 minutes to complete’ is misleading and insensitive to people who might take longer.</p>
                        <p>Use a less subjective description, such as ‘this survey has 10 multiple choice questions’.</p>
                        <h3>Only ask for the information you need</h3>
                        <p>This is the law.</p>
                        <p class="coop-u-margin-t-32"><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">Go to the Information Commissioner’s Office guidance on the General Data Protection Regulation</a> (UK GDPR).</p>
                        <h2 id="anchor-make-decisions-with-evidence">Make decisions with evidence</h2>
                        <h3>Research with users to help make content decisions</h3>
                        <p>Hearing from the people who'll be reading your content is one of the best ways to know if your content works or not. User research can identify issues, or let you know if it's ready to be published.</p>
                        <p>Show the content to users through virtual or in-person research. Notice what they struggle understanding. Use these findings to make improvements to your content.</p> 
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
