---
layout: coop-experience
id: content
item-url: /content-guidelines/how-we-write.html
section: Content guidelines
meta-title:	How we write
meta-description: Find out how we write when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: How we write
last-reviewed: Last reviewed&#58; 17 Sept 2021
intro-text-lead: 
  - These guidelines help us to make it as easy as possible for people to complete tasks, get information and engage with us on their terms.
# Image at the top of the hero
decorative-image-url:  /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev:

# In page nav
in-page-nav:
  - link-id: anchor-create-less-conten
    link-text: Create less content
  - link-id: anchor-be-relevant
    link-text: Be relevant
  - link-id: anchor-be-clear
    link-text: Be clear
  - link-id: anchor-be-considerate
    link-text: Be considerate
  - link-id: anchor-be-inclusive
    link-text: Be inclusive
  - link-id: anchor-make-decisions-with-evidence
    link-text: Make decisions with evidence

# Changelog
changelog:
  - date: 17 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-create-less-content">Create less content</h2>
                        <p>Consider whether you need to create more content. Content is expensive to maintain and has an environmental impact. The average web page tested produces 1.76g of carbon dioxide for each page view, according to the <a href="https://www.websitecarbon.com/">Website Carbon Calculator</a>.</p>
                        <p>Outdated, inaccurate content leads people to distrust us and could stop them from buying our products and services. Delete content that people do not need or that evidence shows they are not interested in.</p>
                        <h3>Edit your content</h3>
                        <p>Our audience is mostly on mobile devices, are time-poor and have something they need to do or know.  </p>
                        <p>Get the message across quickly otherwise they’ll be frustrated and go elsewhere. Edit, then edit again to pack maximum meaning into minimal content.</p>
                        <h2 id="anchor-be-relevant">Be relevant</h2>
                        <h3>Give information only when it’s needed</h3>
                        <p>People rarely take in information if they’re given it at a point where they cannot act on it. Understand each step they go through when interacting with us and give people the information they need at the right time. </p>
                        <h3>Help people find what they need</h3>
                        <p>People pay more attention to content that’s near the top of a page. Stating who content is for, and what it will help them achieve early on, makes it easier for people to decide whether to continue.</p>
                        <h3>Reflect the words people use</h3>
                        <p>Research how your audience refers to things by speaking to them, finding relevant forums and using search data. What you find out might not be what we call things internally.</p>
                        <p>Using familiar words means people can find and make sense of content.</p>
                        <h2 id="anchor-be-clear">Be clear</h2>
                        <h3>Use plain English</h3>
                        <p>According to the National Literacy Trust, 16.4% of adults in England have very low literacy skills. Other things can affect people’s reading and comprehension. Lots of people have English as a second language. People might be tired or distracted when reading something we have written.</p>
                        <p>Using clear, simple language makes things easier for everyone to understand and increases the likelihood of them interacting with us.</p>
                        <h3>Make it active and direct</h3>
                        <p>Be direct and use active voice. Make it clear who does what and avoid passive voice.</p>
                        <H4>Example</H4>
                        <p class="medium-weight-text">Good example:</p>
                        <p>Send your invoice to the finance manager.</p>
                        <p class="medium-weight-text coop-u-margin-t-32">Bad example:</p>
                        <p>The invoice is sent to the finance manager.</p>
                        <h3>Address people directly</h3>
                        <p>Where possible, address people as ‘you’. Speaking directly to the audience makes it quicker for them to relate to what you’re saying and understand what they need to do.</p>
                        <h3>Remove ambiguity</h3>
                        <p>If someone must do something, make it clear. Words like ‘should’ or ‘could’ add an element of doubt. If something is needed, use ‘must’.</p>
                        <h3>Make content easy to scan</h3>
                        <p>People often skim read, looking for words, headings or links that will help them achieve what they came to do as quickly as possible.</p>
                        <p>Design content so that it’s easy to scan by using:</p>
                        <ul>
                            <li>short sentences and paragraphs</li>
                            <li>subheadings and lists to break up walls of text</li>
                            <li>the words your audience use</li>
                        </ul>
                        <h3>Use clear titles and subheadings</h3>
                        <p>Headings should be short, precise and reflect the task or information. This helps people decide whether to keep reading.</p>
                        <H4>Examples</H4>
                        <p class="medium-weight-text">Good examples:</p>
                        <p>Book an appointment</p>
                        <p>Buy a funeral plan</p>
                        <p class="medium-weight-text coop-u-margin-t-32">Bad examples:</p>
                        <p>More information</p>
                        <p>Further help</p>
                        <p class="coop-u-margin-t-32"><a href="{{ '/elements/headings-paragraphs-and-lists.html' | prepend: site.baseurl }}">Go to the guidelines on headings, paragraphs and lists</a>.</p>
                        <h3>Make it consistent</h3>
                        <p>Choose what you're going to call things and stick to it. Calling the same thing by different names can confuse people.</p>
                        <p>For example, at Co-op we use ‘sign in’ and not ‘log in’. If we used both terms, then people might think they were different things.</p>
                        <h3>Tell people where they are in a process</h3>
                        <p>People should know where they are and what is going on throughout their journey. Set expectations and give next steps. This builds confidence and creates trust in the service.</p>
                        <h2 id="anchor-be-considerate">Be considerate</h2>
                        <h3>Do not tell people how they should feel</h3>
                        <p>Avoid words like ‘quick’, ‘easy’, ‘simple’ and ‘convenient’. We do not know whether that is true for the reader and we should not make assumptions.</p>
                        <h3>Reflect how people understand things</h3>
                        <p>We often have detailed knowledge of the subject we are writing about. Our audience may not.</p>
                        <p>Design content to reflect how people understand things by:</p>
                        <ul>
                            <li>answering their questions</li>
                            <li>using the words they use</li>
                            <li>being clear about what they need to do next</li>
                        </ul>
                        <h2 id="anchor-be-inclusive">Be inclusive</h2>
                        <h3>Use abbreviations, acronyms and initialisms with caution</h3>
                        <p>Not everyone will understand what these mean.</p>
                        <p class="coop-u-margin-t-32"><a href="{{ '/content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html' | prepend: site.baseurl }}">Go to the guidelines on abbreviations, acronyms and initialisms</a>.</p>
                        <h3>Do not use images to replace text content</h3>
                        <p>If you need an image to help people understand something, always include a text description. This is so that people who cannot see the image understand the information.</p>
                        <p class="coop-u-margin-t-32"><a href="https://www.coop.co.uk/accessibility/standards#text-alternatives">Go to the accessibility standard on text alternatives</a>.</p>
                        <h3>Do not use time to set expectations</h3>
                        <p>Telling people that something ‘takes 10 minutes to complete’ is misleading and insensitive to people who might take longer.</p>
                        <p>Use a less subjective description, such as ‘this survey has 10 multiple choice questions’.</p>
                        <h3>Only ask for the information you need</h3>
                        <p>Only ask for personal details if it’s essential. This is the law.</p>
                        <p class="coop-u-margin-t-32"><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">Go to the Information Commissioner’s Office guidance on the General Data Protection Regulation</a>.</p>
                        <h2 id="anchor-make-decisions-with-evidence">Make decisions with evidence</h2>
                        <h3>Test your content</h3>
                        <p>Test that your content works by:</p>
                        <ul>
                            <li>speaking to your audience</li>
                            <li>using analytics</li>
                            <li>reviewing it with colleagues</li>
                        </ul>
                        <p>Use the findings from testing and research to keep reviewing content and make decisions about what to publish and what to delete.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
