---
layout: coop-experience
id: content
item-url: /content-guidelines/word-list.html
section: Content guidelines
meta-title:	Word list
meta-description: Find out how to use words consistently when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Word list
last-reviewed: Last reviewed&#58; 29 Sept 2021
intro-text-lead: 
  - Common words and phrases we use to make Co-op content consistent and understandable.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev:

# In page nav
in-page-nav:
  - link-id: coop
    link-text: Communicating about Co-op
  - link-id: anchor-food-recipe
    link-text: Food and recipes
  - link-id: anchor-food-store
    link-text: Food store terms
  - link-id: anchor-funeralcare
    link-text: Funeralcare
  - link-id: anchor-insurance
    link-text: Insurance
  - link-id: anchor-membership
    link-text: Membership
  - link-id: anchor-property
    link-text: Property
  
# Changelog
changelog:
  - date: 30 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                    <h2 id="coop">Communicating about Co-op</h2>
                    <h3 class="word-list__title">1 Angel Square</h3>
                    <p class="word-list__p">The name of Co-op’s building in Manchester. The name and address is  1 Angel Square.</p>
                    <p class="word-list__p">Do not refer to it as ‘head office’, ‘headquarters’ or ‘1AS’.</p>
                    <h3 class="word-list__title">board members</h3>
                    <h3 class="word-list__title">colleagues</h3>
                    <p class="word-list__p">Do not call people who work at Co-op ‘staff’.</p>
                    <h3 class="word-list__title">colleagues</h3>
                    <h3 class="word-list__title">the Co-op board</h3>
                    <p class="word-list__p">The Co-op board oversees Co-op’s overall strategy and is elected by our members.</p>
                    <h3 class="word-list__title">Co-op</h3>
                    <p class="word-list__p">Co-op starts with an upper case 'C' and is hyphenated.</p>
                    <p class="word-list__p coop-u-padding-t-16">Use: ‘At Co-op we…’</p>
                    <p class="word-list__p coop-u-padding-b-16">Not: ‘At the Co-op we…’</p>
                    <p class="word-list__p">That’s because we know that customers often refer to our food stores as ‘the Co-op’, so it can cause confusion to use ‘the Co-op’ if we’re referring to another part of Co-op.</p>
                    <p class="word-list__p">Capitalise our businesses, for example, Co-op Food and Co-op Funeralcare . You can refer to them without ‘Co-op’, for example, ‘our Funeralcare business’.</p>
                    <p class="word-list__p">Use ‘our Co-op’ with caution. ‘Our' may be unclear and may mean something different to your audience. If you use it, only use it when communicating internally.</p>
                    <p class="word-list__p">Do not use ‘Co-op Group’ or ‘the Group’.</p>
                    <h3 class="word-list__title">co-operative</h3>
                    <p class="word-list__p">Only use ‘co-operative’ when communicating about things like ‘the co-operative movement’ or ‘other co-operative societies’.</p>
                    <p class="word-list__p">‘Co-op’ and ‘co-operative’ are always hyphenated. The only exceptions to this are:</p>
                    <ul>
                      <li>on social media when using a hashtag such as #TheCoopWay or #BeingCoop</li>
                      <li>in a website address like <a href="https://www.coop.co.uk/">coop.co.uk</a></li>
                    </ul>
                    <h3 class="word-list__title">Co-operative Banking Group</h3>
                    <p class="word-list__p">No longer part of Co-op.</p>
                    <h3 class="word-list__title">Co-operative Group Limited</h3>
                    <p class="word-list__p">The trading name of Co-op. Only use it if you must do for legal reasons.</p>
                    <h3 class="word-list__title">co-operative movement</h3>
                    <h3 class="word-list__title">co-operative principles</h3>
                    <h3 class="word-list__title">co-operative societies</h3>
                    <h3 class="word-list__title">other co-operatives</h3>
                    <p class="word-list__p">Not ‘other co-ops’.</p>
                    <h3 class="word-list__title">Co-op Young Members’ Group (CYMG)</h3>
                    <p class="word-list__p">A group of 6 young members who work with Co-op on specific projects.</p>
                    <p class="word-list__p">Use the full title at least the first time you refer to the group.  You can then use:</p>
                    <ul>
                      <li>‘our Young Members’ Group’</li>
                      <li>‘CYMG’, as long as you’ve explained the acronym earlier</li>
                    </ul>
                    <p><a href="{{ '/content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html' | prepend: site.baseurl }}">Go to our guidelines on abbreviations, acronyms and initialisms</a>.</p>
                    <h3 class="word-list__title">#BeingCoop Awards</h3>
                    <p class="word-list__p">An annual event which recognises colleagues who have demonstrated the Ways of Being Co-op.</p>
                    <h3 class="word-list__title">Leaders’ Weekly Update</h3>
                    <p class="word-list__p">A weekly email to Co-op colleagues.</p>
                    <h3 class="word-list__title">Rochdale Pioneers</h3>
                    <p class="word-list__p">The Rochdale Pioneers are regarded as the founders of the Co-operative Movement.</p>
                    <h3 class="word-list__title">Stronger Co-op, Stronger Communities</h3>
                    <p class="word-list__p">The name of Co-op’s 5-year-plan, 2018 to 2023.</p>
                    <p class="word-list__p">In a sentence, write in sentence case as ‘a stronger Co-op and stronger communities’.</p>
                    <h3 class="word-list__title">Ways of Being Co-op</h3>
                    <p class="word-list__p">The 4 Ways of Being Co-op guide our future.</p>
                    <p class="word-list__p">They are:</p>
                    <ul>
                      <li>do what matters most</li>
                      <li>be yourself, always</li>
                      <li>show you care</li>
                      <li>succeed together</li>
                    </ul>
                    <h3 class="word-list__title">Annual General Meeting (AGM)</h3>
                    <h3 class="word-list__title">Co-op National Members’ Council</h3>
                    <p class="word-list__p">Our National Members’ Council is made up of 100 Co-op Members from around the UK, including colleagues.</p>
                    <p class="word-list__p">Use the full title where possible. You can also refer to it as ‘our Members’ Council’.</p>
                    <h3 class="word-list__title">the council president</h3>
                    <h3 class="word-list__title">the council senate</h3>
                    <h3 class="word-list__title">elections</h3>
                    <p class="word-list__p">And ‘stand for election’.</p>
                    <h3 class="word-list__title">member nominated directors</h3>
                    <h3 class="word-list__title">members’ motion</h3>
                    <p class="word-list__p">A proposal that's voted on by members at Co-op’s AGM. Motions can be put forward by our business, our Members’ Council or by individual members.</p>
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                      <hr>
                      <h2 id="anchor-food-recipe">Food and recipes</h2>
                      <h3 class="word-list__title">aduki beans</h3>
                      <p class="word-list__p">Not ‘Adzuki beans’.</p>
                      <h3 class="word-list__title">albumen</h3>
                      <h3 class="word-list__title">alcohol</h3>
                      <p class="word-list__p"><a href="/content-guidelines/style-and-patterns/alcohol.html">Go to our guidelines on how to write about alcohol</a>.</p>
                      <h3 class="word-list__title">alfresco</h3>
                      <h3 class="word-list__title">allspice</h3>
                      <h3 class="word-list__title">baking tray</h3>
                      <p class="word-list__p">Not ‘baking sheet’.</p>
                      <h3 class="word-list__title">barbeque or BBQ</h3>
                      <p class="word-list__p">Not 'barbie' or ‘barbecue’.</p>
                      <h3 class="word-list__title">beers, wines and spirits</h3>
                      <p class="word-list__p">To describe what might be referred to internally as ‘BWS’.</p>
                      <h3 class="word-list__title">biryani</h3>
                      <h3 class="word-list__title">blackbean</h3>
                      <h3 class="word-list__title">British</h3>
                      <h3 class="word-list__title">brussels sprouts</h3>
                      <p class="word-list__p">Not ‘Brussels’ with a capital B.</p>
                      <h3 class="word-list__title">bulgur wheat</h3>
                      <h3 class="word-list__title">buttercream</h3>
                      <h3 class="word-list__title">canned food</h3>
                      <p class="word-list__p">Not ‘tin’ or ‘tinned’.</p>
                      <h3 class="word-list__title">cannelloni</h3>
                      <p class="word-list__p">Not ‘Canelloni’.</h3>
                      <h3 class="word-list__title">cardamom</h3>
                      <p class="word-list__p">Not 'Cardamon'.</p>
                      <h3 class="word-list__title">char sui</h3>
                      <p class="word-list__p">Not ‘Char Siu’.</p>
                      <h3 class="word-list__title">cheese</h3>
                      <p class="word-list__p">Capitalise if there’s a place name or it’s trademarked. For example, Stilton, Comté, Gruyère, Parmesan, feta, halloumi, goat’s cheese, mozzarella, Parmigiano-Reggiano.</p>
                      <h3 class="word-list__title">chick pea or chick peas</h3>
                      <h3 class="word-list__title">chilli or chillies</h3>
                      <h3 class="word-list__title">cling film or non-PVC cling film</h3>
                      <p class="word-list__p">Not ‘clingfilm’.</p>
                      <h3 class="word-list__title">clove of garlic</h3>
                      <p class="word-list__p">Not 'garlic clove'.</p>
                      <h3 class="word-list__title">coconut oil</h3>
                      <p class="word-list__p">Not ‘copra oil’.</p>
                      <h3 class="word-list__title">confectionery</h3>
                      <p class="word-list__p">Confectionary with an 'a' is for shops selling or making sweets.</p>
                      <h3 class="word-list__title">contactless</h3>
                      <h3 class="word-list__title">cornflour</h3>
                      <h3 class="word-list__title">cottonseed</h3>
                      <h3 class="word-list__title">cotton wool balls</h3>
                      <h3 class="word-list__title">cotton wool buds</h3>
                      <h3 class="word-list__title">cotton wool pads</h3>
                      <h3 class="word-list__title">crème fraÎche</h3>
                      <h3 class="word-list__title">cocoa</h3>
                      <h3 class="word-list__title">dauphinoise</h3>
                      <h3 class="word-list__title">doughnut</h3>
                      <p class="word-list__p">Not ‘donuts’ except ‘Dunkin’ Donuts’.</p>
                      <h3 class="word-list__title">éclair</h3>
                      <h3 class="word-list__title">every day and everyday</h3>
                      <p class="word-list__p">‘Every day’ means daily, as in ‘open every day’. 'Everyday' is an adjective used to describe something as humdrum or normal, for example, ‘shoes for everyday wear’.</p>
                      <h3 class="word-list__title">Fairtrade</h3>
                      <p class="word-list__p">Use for Fairtrade products or the Fairtrade initiative. For example: ‘We’re proud to support Fairtrade’ or ‘All our bagged sugar is Fairtrade’.</p>
                      <h3 class="word-list__title">fair trade</h3>
                      <p class="word-list__p">The theory and practice of fair trade, where producers in developing countries are paid a fair price for the goods they supply to companies in developed countries.</p>
                      <h3 class="word-list__title">FAIRTRADE Mark</h3>
                      <p class="word-list__p">The formal certification on products which contain ingredients certified by the Fairtrade Labelling Organisation (FLO).</p>
                      <h3 class="word-list__title">Fairtrade Fortnight</h3>
                      <p class="word-list__p">An annual celebration of Fairtrade used as a focus point for campaigners, businesses and the Fairtrade Foundation to educate the  public on the benefits of Fairtrade. For example 'Join us in celebrating Fairtrade Fortnight'.</p>
                      <h3 class="word-list__title">Father’s day</h3>
                      <h3 class="word-list__title">fat-reduced</h3>
                      <h3 class="word-list__title">fish cake</h3>
                      <p class="word-list__p">Not ‘fishcake’.</p>
                      <h3 class="word-list__title">flameproof</h3>
                      <h3 class="word-list__title">free range</h3>
                      <h3 class="word-list__title">greaseproof paper</h3>
                      <p class="word-list__p">Not ‘baking paper’.</p>
                      <h3 class="word-list__title">habanero</h3>
                      <h3 class="word-list__title">Halloween</h3>
                      <h3 class="word-list__title">Hanukkah</h3>
                      <h3 class="word-list__title">health and beauty</h3>
                      <p class="word-list__p">To describe what might be referred to internally as ‘HBA’ (health and beauty aids).</p>
                      <h3 class="word-list__title">health care</h3>
                      <h3 class="word-list__title">high street</h3>
                      <p class="word-list__p">Lower case unless referring to the name of an actual street, for example, High Street, Manchester.</p>
                      <h3 class="word-list__title">hoisin</h3>
                      <h3 class="word-list__title">homemade</h3>
                      <h3 class="word-list__title">hosiery</h3>
                      <h3 class="word-list__title">houmous</h3>
                      <h3 class="word-list__title">instore and in store</h3>
                      <p class="word-list__p">‘Instore’ can be used to reference availability of an item or an activity taking place in a store. For example, ‘instore bakery’, ‘prepared instore’ or ‘available instore’.</p>
                      <p class="word-list__p">‘In store’, means forthcoming,  as in ‘what have you got in store for me today’.</p>
                      <h3 class="word-list__title">ice cream</h3>
                      <h3 class="word-list__title">irresistible and Irresistible</h3>
                      <p class="word-list__p">Capitalise when talking about a specific Co-op Irresistible product.</p>
                      <h3 class="word-list__title">kiwi fruit</h3>
                      <h3 class="word-list__title">lemon grass</h3p>
                      <h3 class="word-list__title">litre</h3>
                      <p class="word-list__p">Not ‘Ltr’.</p>
                      <p class="word-list__p">You can use 'l' after a number and after explaining ‘litre’ the first time you use it. </p>
                      <p><a href="{{ '/content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html' | prepend: site.baseurl }}">Go to our guidelines on abbreviations, acronyms and initialisms</a>.</p>
                      <h3 class="word-list__title">makeup and make up</h3>
                      <p class="word-list__p">‘Makeup’ when referring to cosmetics.</p>
                      <p class="word-list__p">'Make up' when referring to making amends.</p>
                      <h3 class="word-list__title">Manx or from the Isle of Man</h3>
                      <h3 class="word-list__title">margarita and margherita</h3>
                      <p class="word-list__p">‘Margarita’ is a cocktail.</p>
                      <p class="word-list__p">'Margherita' is a type of pizza.</p>
                      <h3 class="word-list__title">microwaveable</h3>
                      <p class="word-list__p">Not ‘microwavable’ without the 'e'.</p>
                      <h3 class="word-list__title">Mother’s day</h3>
                      <h3 class="word-list__title">mozzarella</h3>
                      <h3 class="word-list__title">ovenproof</h3>
                      <h3 class="word-list__title">palm oil</h3>
                      <p class="word-list__p">Not ‘Palm Kernel Oil’.</p>
                      <h3 class="word-list__title">part baked</h3>
                      <p class="word-list__p">Not ‘part-baked’ or ‘partbaked’.</p>
                      <h3 class="word-list__title">panini</h3>
                      <h3 class="word-list__title">panna cotta</h3>
                      <h3 class="word-list__title">passata</h3>
                      <p class="word-list__p">Or ‘sieved tomato’ if an ingredient.</p>
                      <h3 class="word-list__title">pâté</h3>
                      <h3 class="word-list__title">pasteurised</h3>
                      <h3 class="word-list__title">Peppadew</h3>
                      <h3 class="word-list__title">petits pains</h3>
                      <h3 class="word-list__title">petits pois</h3>
                      <h3 class="word-list__title">pilaf</h3>
                      <h3 class="word-list__title">pilau</h3>
                      <h3 class="word-list__title">prosciutto</h3>
                      <h3 class="word-list__title">Protected Designation of Origin (PDO)</h3>
                      <p class="word-list__p">The name of an area, a specific place or, in exceptional cases, the name of a country, used as a designation for an agricultural product or a food.</p>
                      <h3 class="word-list__title">purée</h3>
                      <h3 class="word-list__title">quiche Lorraine</h3>
                      <h3 class="word-list__title">radicchio</h3>
                      <p class="word-list__p">Not ‘raddicchio’ with two 'd's.</p>
                      <h3 class="word-list__title">reduced fat</h3>
                      <p class="word-list__p"><a href="#caution">Go to our guidelines on words to use with caution.</a></p>
                      <h3 class="word-list__title">rapeseed</h3>
                      <h3 class="word-list__title">refrigerator</h3>
                      <h3 class="word-list__title">rice wine</h3>
                      <p class="word-list__p">Not ‘sake’.</p>
                      <h3 class="word-list__title">rocket</h3>
                      <p class="word-list__p">Not ‘roquette’.</p>
                      <h3 class="word-list__title">sausagemeat</h3>
                      <h3 class="word-list__title">self raising flour</h3>
                      <h3 class="word-list__title">semi-skimmed</h3>
                      <h3 class="word-list__title">serving suggestion</h3>
                      <h3 class="word-list__title">shallots</h3>
                      <p class="word-list__p">Not ‘eschallots’.</p>
                      <h3 class="word-list__title">shiitake</h3>
                      <h3 class="word-list__title">Szechuan</h3>
                      <p class="word-list__p">Not ‘Sichuan’.</p>
                      <h3 class="word-list__title">smokey</h3>
                      <p class="word-list__p">Not ‘smoky’ or ‘Smokey’ with a capital S.</p>
                      <h3 class="word-list__title">soya bean</h3>
                      <h3 class="word-list__title">soya powder</h3>
                      <h3 class="word-list__title">soy sauce</h3>
                      <h3 class="word-list__title">squash</h3>
                      <p class="word-list__p">Not ‘cordial’.</p>
                      <h3 class="word-list__title">stir fry</h3>
                      <h3 class="word-list__title">stonebaked</h3>
                      <h3 class="word-list__title">stores</h3>
                      <p class="word-list__p">Not ‘Co-op shops’.</p>
                      <h3 class="word-list__title">sundried</h3>
                      <p class="word-list__p">Not ‘sun-dried’.</p>
                      <h3 class="word-list__title">swiss roll</h3>
                      <h3 class="word-list__title">teaspoonful or teaspoonsful</h3>
                      <h3 class="word-list__title">tin</h3>
                      <p class="word-list__p">For example, ‘cake tin’.</p>
                      <p class="word-list__p">Do not use to describe food and drinks packaging. Instead, use ‘can’ or ‘canned’.</p>
                      <h3 class="word-list__title">vinaigrette</h3>
                      <p class="word-list__p">Not ‘vinegarette’.</p>
                      <h3 class="word-list__title">water chestnuts</h3>
                      <h3 class="word-list__title">Worcestershire</h3>
                      <p class="word-list__p">Not Worcester.</p>
                      <h3 class="word-list__title">yogurt</h3>
                      <h2 class="coop-u-margin-t-64">Words to use with caution</h2>
                      <p>When describing food and recipes, avoid vague terms and phrases as they can be open to misinterpretation. If you use them, explain what you mean.</p>
                      <p>Use these words with caution:</p>
                      <ul>
                        <li>authentic</li>
                        <li>craft</li>
                        <li>farm fresh</li>
                        <li>fresh</li>
                        <li>hand made</li>
                        <li>healthy and healthier</li>
                        <li>homegrown</li>
                        <li>local, unless the product is made within 30 miles</li>
                        <li>lower price, unless there is a higher price for comparison</li>
                        <li>natural</li>
                        <li>original</li>
                        <li>reduced fat</li>
                        <li>traditional</li>
                        <li>wholesome</li>
                      </ul> 
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                    <hr>
                    <h2 id="anchor-food-store">Food store terms</h2>
                    <h3 class="word-list__title">Areas</h3>
                    <p class="word-list__p">Cymru or Wales</p>
                    <p class="word-list__p">Central and Eastern</p>
                    <p class="word-list__p">East Midlands</p>
                    <p class="word-list__p">East of England</p>
                    <p class="word-list__p">Isle of Man</p>
                    <p class="word-list__p">London</p>
                    <p class="word-list__p">North East</p>
                    <p class="word-list__p">North West</p>
                    <p class="word-list__p">Northern Ireland</p>
                    <p class="word-list__p">Scotland</p>
                    <p class="word-list__p">South East</p>
                    <p class="word-list__p">South West</p>
                    <p class="word-list__p">West Midlands</p>
                    <p class="word-list__p">Yorkshire and the Humber</p>
                    <h3 class="word-list__title">colleague website</h3>
                    <p class="word-list__p"><a href="https://colleagues.coop.co.uk/">colleagues.coop.co.uk</a></p>
                    <h3 class="word-list__title">customer care line</h3>
                    <h3 class="word-list__title">Double Discount</h3>
                    <h3 class="word-list__title">handheld terminal (HHT)</h3>
                    <h3 class="word-list__title">How do I</h3>
                    <p class="word-list__p">An online service for colleagues in food stores to find out Co-op store processes.</p>
                    <h3 class="word-list__title">Instore bakery</h3>
                    <p class="word-list__p">To describe what might be referred to internally as ISB.</p>
                    <h3 class="word-list__title">News & Mags</h3>
                    <p class="word-list__p">When referring to the app or team.</p>
                    <p class="word-list__p">If writing about news and magazines generally, use ‘news and magazines’.</p>
                    <h3 class="word-list__title">on-shelf advertising</h3>
                    <p class="word-list__p">Not point of sale.</p>
                    <h3 class="word-list__title">self checkout</h3>
                    <p class="word-list__p">Not ‘self scan’ or ‘sco’.</p>
                    <h3 class="word-list__title">shelf edge label (SEL)</h3>
                    <h3 class="word-list__title">store</h3>
                    <p class="word-list__p">Not shop.</p>
                    <h3 class="word-list__title">support centre</h3>
                    <p class="word-list__p">Not head office.</p>
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                    <hr>
                    <h2 id="anchor-funeralcare">Funeralcare</h2>
                    <h3 class="word-list__title">ashes</h3>
                    <p class="word-list__p">Not cremated remains.</p>
                    <h3 class="word-list__title">‘at the end of their life’ or ‘about to die’</h3>
                    <p class="word-list__p">Not ‘about to pass away’.</p>
                    <h3 class="word-list__title">bereavement notification service</h3>
                    <h3 class="word-list__title">book of remembrance</h3>
                    <h3 class="word-list__title">bring them into our care</h3>
                    <p class="word-list__p">Not ‘collection’.</p>
                    <h3 class="word-list__title">burial</h3>
                    <h3 class="word-list__title">burial ground</h3>
                    <h3 class="word-list__title">cemetery</h3>
                    <h3 class="word-list__title">coffins</h3>
                    <h3 class="word-list__title">coroner</h3>
                    <h3 class="word-list__title">cortege or funeral procession</h3>
                    <h3 class="word-list__title">cremation</h3>
                    <h3 class="word-list__title">crematorium</h3>
                    <h3 class="word-list__title">died</h3>
                    <p class="word-list__p">Not ‘passed away’, ‘passed over’, ‘gone’ or any other phrase that could be misinterpreted.</p>
                    <p class="word-list__p">Use ‘the person who has died’, not ‘the deceased’.</p>
                    <p class="word-list__p">Use ‘loved one’ with caution and only if you are certain of a loving relationship between the person who has died and the person you’re communicating with.</p>
                    <h3 class="word-list__title">embalming</h3>
                    <h3 class="word-list__title">eulogy</h3>
                    <h3 class="word-list__title">flowers</h3>
                    <h3 class="word-list__title">funeral</h3>
                    <p class="word-list__p coop-u-margin-b-16">Lower case even when you’re writing about the types of funerals Co-op offer, such as:</p>  
                    <ul>
                      <li>tailored funeral</li>
                      <li>essential funeral</li>
                      <li>direct cremation</li>
                      <li>direct burial</li>
                    </ul>
                    <h3 class="word-list__title">funeral director</h3>
                    <p class="word-list__p">Lower case, but capitalised if it’s in relation to an individual colleague’s job title, such as Sam Smith, Funeral Director.</p>
                    <h3 class="word-list__title">funeral plan</h3>
                    <p class="word-list__p coop-u-margin-b-16">Lower case unless you are using the title of a specific Co-op plan, such as:</p>  
                    <ul>
                      <li>Simple Plan</li>
                      <li>Bronze Plan</li>
                      <li>Silver Plan</li>
                      <li>Gold Plan</li>
                      <li>Direct Cremation Plan</li>
                    </ul>
                    <p class="word-list__p coop-u-margin-b-16">Lower case when writing about types of funeral plans:</p>  
                    <ul>
                      <li>fixed funeral plans</li>
                      <li>memorial headstone plans</li>
                      <li>tailor-made plans</li>
                    </ul>
                    <h3 class="word-list__title">funeralcare products</h3>
                    <p class="word-list__p coop-u-margin-b-16">Lower case if writing about types of products such as:</p>  
                    <ul>
                      <li>coffins</li>
                      <li>flowers</li>
                      <li>headstones</li>
                      <li>memorial jewellery</li> 
                    </ul>
                    <p class="word-list__p coop-u-margin-b-16">Capitalise if writing about specific products, such as:</p>  
                    <ul>
                      <li>Scatter Tube</li>
                      <li>Ashes into Glass Collection</li>
                      <li>Classic Rose and Lily Spray</li>
                    </ul>
                    <h3 class="word-list__title">Co-op Funeralcare Funeral Home and funeral home</h3>
                    <p class="word-list__p">Capitalise when talking about a specific Co-op Funeralcare Funeral Home, lower case when speaking generally about funeral homes.</p>  
                    <h3 class="word-list__title">funeral stationery</h3>
                    <h3 class="word-list__title">garden of remembrance</h3>
                    <h3 class="word-list__title">headstone</h3>
                    <p class="word-list__p">Not ‘gravestone’ or ‘masonry’.</p>  
                    <h3 class="word-list__title">hearse</h3>
                    <p class="word-list__p">Unless you’re talking about ‘Land Rover hearse’.</p>  
                    <h3 class="word-list__title">hearse</h3>
                    <p class="word-list__p">Generic words like ‘my plan’, ‘set plan’ or ‘tailor made plan’ should be lower case, unless they begin the sentence or are used as a title. </p>  
                    <p class="word-list__p">Co-op funeral plan names should be capitalised as they are names of products, so ‘Simple Funeral Plan’ or ‘Gold Funeral Plan’. </p>  
                    <h3 class="word-list__title">memorial cards</h3>
                    <h3 class="word-list__title">memorial headstone</h3>
                    <p class="word-list__p">Use when talking about masonry.</p>  
                    <h3 class="word-list__title">memorial items</h3>
                    <h3 class="word-list__title">memorial jewellery</h3>
                    <h3 class="word-list__title">online tributes</h3>
                    <h3 class="word-list__title">order of service</h3>
                    <h3 class="word-list__title">pallbearers or 'people to carry the coffin'</h3>
                    <p class="word-list__p">Not 'bearers'.</p>  
                    <h3 class="word-list__title">probate</h3>
                    <h3 class="word-list__title">procurator fiscal</h3>
                    <h3 class="word-list__title">private remembrance room</h3>
                    <p class="word-list__p">Not ‘chapel of rest’.</p>  
                    <h3 class="word-list__title">scatter ashes</h3>
                    <h3 class="word-list__title">the person who has died</h3>
                    <p class="word-list__p">Not 'the deceased'.</p>  
                    <h3 class="word-list__title">third party fees</h3>
                    <p class="word-list__p">Not ‘disbursements’.</p>  
                    <h3 class="word-list__title">urn</h3>
                    <h3 class="word-list__title">visiting the person who has died</h3>
                    <p class="word-list__p">Not ‘viewing the person who has died’.</p>  
                    <h3 class="word-list__title">woodland burial ground</h3>                                       
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                    <hr>
                    <h2 id="anchor-insurance">Insurance</h2>
                    <h3 class="word-list__title">Allianz Insurance plc</h3>
                    <p class="word-list__p">Our pet insurance is offered through Co‑op Insurance Services and underwritten by Allianz Insurance plc.</p>
                    <h3 class="word-list__title">Direct Debit</h3>
                    <h3 class="word-list__title">multi-trip</h3>
                    <p class="word-list__p">Travel insurance that covers more than one trip, for example ‘multi-trip insurance’.</p>  
                    <h3 class="word-list__title">MAPFRE Asistencia</h3>
                    <p class="word-list__p">Our travel insurance is offered through Co-op Insurance Services and underwritten by MAPFRE Asistencia.</p>  
                    <h3 class="word-list__title">multi-pet</h3>
                    <p class="word-list__p">Insurance that covers more than one pet, for example ‘multi-pet insurance’.</p>
                    <h3 class="word-list__title">no claim discount</h3>
                    <p class="word-list__p">You can use the acronym ‘(NCD)’ if you’re using the term a lot in a short space, but explain the acronym at least the first time you use it. For example ‘Your no claim discount (NCD) is…</p>  
                    <p><a href="{{ '/content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html' | prepend: site.baseurl }}">Go to our guidelines on abbreviations, acronyms and initialisms</a>.</p>
                    <h3 class="word-list__title">safe driving discount</h3>
                    <h3 class="word-list__title">single-trip</h3>
                    <p class="word-list__p">Travel insurance cover for a specific trip, for example ‘single-trip insurance’.</p>
                    <h3 class="word-list__title">The Royal London Group</h3>
                    <p class="word-list__p">Our life cover is offered through Co-op Insurance Services and is provided, underwritten and administered by The Royal London Group.</p>
                    <h3 class="word-list__title">written-off</h3>
                    <p class="word-list__p">For example, ‘If your car’s written-off by the garage…’.</p>
                    <p class="word-list__p">Use ‘write-off’ where appropriate, for example, 'We will write off your car if it’s too broken.’</p>
                    <h3 class="word-list__title">Wunelli Ltd</h3>
                    <p class="word-list__p">Wunelli Ltd is an independent company who we have appointed to supply and install black boxes.</p>
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64">
                    <hr>
                    <h2 id="anchor-membership">Membership</h2>
                    <h3 class="word-list__title">colleague member</h3>
                    <h3 class="word-list__title">Community Partnerships Fund</h3>
                    <p class="word-list__p">The Community Partnership Fund helps us partner with like-minded organisations to co-operate for a fairer world.</p>
                    <h3 class="word-list__title">Co-op App</h3>
                    <h3 class="word-list__title">Co-op Membership and membership</h3>
                    <p class="word-list__p">Use a capital M when referencing Co-op Membership or Co-op Members specifically, but lowercase everywhere else. For example, ‘Your Co-op Membership account’, and ‘Your membership number is on the back of your membership card’.</p>
                    <p class="word-list__p">The same applies to:</p>
                    <ul>
                      <li>Co-op Membership account and a membership account</li>
                      <li>Co-op Membership card and a membership card</li>
                      <li>Co-op Membership card number and a membership card number</li>
                      <li>Co-op Membership number and a membership number</li>
                    </ul>
                    <h3 class="word-list__title">Co-op Offers and offers</h3>
                    <p class="word-list__p">Use a capital O when referencing Co-op Offers specifically, but lowercase everywhere else.</p>
                    <h3 class="word-list__title">Join In</h3>
                    <p class="word-list__p">Join In is an opportunity for members to shape our products and services by taking part in surveys, forums and online events.</p>
                    <p class="word-list__p">Use lower case when talking about members ‘joining in’.</p>
                    <h3 class="word-list__title">local causes</h3>
                    <h3 class="word-list__title">Local Community Fund</h3>
                    <p class="word-list__p">The Co-op Local Community Fund supports projects across the UK that our members care about.</p>
                    <h3 class="word-list__title">local community</h3>
                    <h3 class="word-list__title">Member Pioneer</h3>
                    <p class="word-list__p">Member Pioneers bring together Co-op Members, colleagues and local causes to make communities a better place to work, play, live and learn.</p>
                    <h3 class="word-list__title">partner member</h3>
                    <h3 class="word-list__title">rewards</h3>
                    <p class="word-list__p">Members earn rewards, not points.</p>
                    <h3 class="word-list__title">temporary card</h3>
                  </div>
                  <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-t-64 coop-u-margin-b-64">
                    <hr>
                    <h2 id="anchor-property">Property</h2>
                    <h3 class="word-list__title">Facilities Management</h3>
                    <p class="word-list__p">Consider shortening this to ‘facilities’ if that’s what your audience would naturally say.</p>
                    <h3 class="word-list__title">National Operations Centre (NOC)</h3>
                    <p class="word-list__p">The outsourced call centre that handles all Facilities Management enquiries. Consider shortening this to ‘call facilities’ if that’s what your audience would naturally say.</p>
                    <h3 class="word-list__title">non-trading property</h3>
                    <p class="word-list__p">Non-trading properties are buildings that are not used to serve members and customers. These include residential properties like flats, commercial properties and agricultural land.</p>
                    <h3 class="word-list__title">Property or property</h3>
                    <p class="word-list__p">Only start ‘Property' with a capital letter if you’re writing about the Property Team. If you’re writing generally about property, use ‘property’ with lower case.</p>
                    <p class="word-list__p">The Property team is responsible for buying, selling and looking after Co-op’s 6,000 buildings across the UK. It’s not called ‘Estates’ or ‘Estates Services’ any more.</p>
                    <h3 class="word-list__title">residential property</h3>
                    <p class="word-list__p">Where people live, like flats and houses.</p>
                    <h3 class="word-list__title">trading property</h3>
                    <p class="word-list__p">Trading properties are the buildings that our colleagues use to serve our members and customers. These include food stores, funeral branches, depots and offices.</p>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
