---
layout: coop-experience
id: content
item-url: /content-guidelines/word-list.html
section: Content guidelines
meta-title:	Word list
meta-description: Find out how to use words consistently when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Word list
last-reviewed: Last reviewed&#58; 29 Sept 2021
intro-text-lead: 
  - Common words and phrases we use to make Co-op content consistent and understandable.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev:

# In page nav
in-page-nav:
  - link-id: anchor-food-drink-ingredient
    link-text: Food, drink and ingredient terms
  - link-id: anchor-food-store
    link-text: Food store terms
  - link-id: anchor-funeralcare
    link-text: Funeralcare terms
  - link-id: anchor-insurance
    link-text: Insurance terms
  - link-id: anchor-membership
    link-text: Membership terms
  - link-id: anchor-property
    link-text: Property terms
# Changelog
changelog:
  - date: 17 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-food-drink-ingredient">Food, drink and ingredient terms</h2>
                        <p class="word-list__title">aduki beans</p>
                        <p class="word-list__p">Not ‘Adzuki beans’.</p>
                        <p class="word-list__title">albumen</p>
                        <p class="word-list__title">alcohol</p>
                        <p class="word-list__p"><a href="/content-guidelines/style-and-patterns/alcohol.html">Go to our guidelines on how to write about alcohol</a>.</p>
                        <p class="word-list__title">alfresco</p>
                        <p class="word-list__title">allspice</p>
                        <p class="word-list__title">baking tray</p>
                        <p class="word-list__p">Not ‘baking sheet’.</p>
                        <p class="word-list__title">barbeque or BBQ</p>
                        <p class="word-list__p">Not 'barbie' or ‘barbecue’.</p>
                        <p class="word-list__title">beers, wines and spirits</p>
                        <p class="word-list__p">To describe what might be referred to internally as ‘BWS’.</p>
                        <p class="word-list__title">biryani</p>
                        <p class="word-list__title">blackbean</p>
                        <p class="word-list__title">British</p>
                        <p class="word-list__title">brussels sprouts</p>
                        <p class="word-list__p">Not ‘Brussels’ with a capital B.</p>
                        <p class="word-list__title">bulgur wheat</p>
                        <p class="word-list__title">buttercream</p>
                        <p class="word-list__title">canned food</p>
                        <p class="word-list__p">Not ‘tin’ or ‘tinned’.</p>
                        <p class="word-list__title">cannelloni</p>
                        <p class="word-list__p">Not ‘Canelloni’.</p>
                        <p class="word-list__title">cardamom</p>
                        <p class="word-list__p">Not 'Cardamon'.</p>
                        <p class="word-list__title">char sui</p>
                        <p class="word-list__p">Not ‘Char Siu’.</p>
                        <p class="word-list__title">cheese</p>
                        <p class="word-list__p">Capitalise if there’s a place name or it’s trademarked. For example, Stilton, Comté, Gruyère, Parmesan, feta, halloumi, goat’s cheese, mozzarella, Parmigiano-Reggiano.</p>
                        <p class="word-list__title">chick pea or chick peas</p>
                        <p class="word-list__title">chilli or chillies</p>
                        <p class="word-list__title">cling film or non-PVC cling film</p>
                        <p class="word-list__p">Not ‘clingfilm’.</p>
                        <p class="word-list__title">clove of garlic</p>
                        <p class="word-list__p">Not 'garlic clove'.</p>
                        <p class="word-list__title">coconut oil</p>
                        <p class="word-list__p">Not ‘copra oil’.</p>
                        <p class="word-list__title">confectionery</p>
                        <p class="word-list__p">Confectionary with an 'a' is for shops selling or making sweets.</p>
                        <p class="word-list__title">contactless</p>
                        <p class="word-list__title">cornflour</p>
                        <p class="word-list__title">cottonseed</p>
                        <p class="word-list__title">cotton wool balls</p>
                        <p class="word-list__title">cotton wool buds</p>
                        <p class="word-list__title">cotton wool pads</p>
                        <p class="word-list__title">crème fraÎche</p>
                        <p class="word-list__title">cocoa</p>
                        <p class="word-list__title">dauphinoise</p>
                        <p class="word-list__title">doughnut</p>
                        <p class="word-list__p">Not ‘donuts’ except ‘Dunkin’ Donuts’.</p>
                        <p class="word-list__title">éclair</p>
                        <p class="word-list__title">every day and everyday</p>
                        <p class="word-list__p">‘Every day’ means daily, as in ‘open every day’. 'Everyday' is an adjective used to describe something as humdrum or normal, for example, ‘shoes for everyday wear’.</p>
                        <p class="word-list__title">Fairtrade</p>
                        <p class="word-list__p">Use for Fairtrade products or the Fairtrade initiative. For example: ‘We’re proud to support Fairtrade’ or ‘All our bagged sugar is Fairtrade’.</p>
                        <p class="word-list__title">fair trade</p>
                        <p class="word-list__p">The theory and practice of fair trade, where producers in developing countries are paid a fair price for the goods they supply to companies in developed countries.</p>
                        <p class="word-list__title">FAIRTRADE Mark</p>
                        <p class="word-list__p">The formal certification on products which contain ingredients certified by the Fairtrade Labelling Organisation (FLO).</p>
                        <p class="word-list__title">Fairtrade Fortnight</p>
                        <p class="word-list__p">An annual celebration of Fairtrade used as a focus point for campaigners, businesses and the Fairtrade Foundation to educate the  public on the benefits of Fairtrade. For example 'Join us in celebrating Fairtrade Fortnight'.</p>


Father’s day

fat-reduced

fish cake 

Not ‘fishcake’.

flameproof

free range

greaseproof paper 

Not ‘baking paper’.

habanero

Halloween

Hanukkah

health and baby 

To describe what might be referred to internally as ‘HBA’.

health care

high street 

Lower case unless referring to the name of an actual street, for example, High Street, Manchester.

hoisin

homemade

hosiery

houmous

instore and in store

‘Instore’ can be used to reference availability of an item or an activity taking place in a store. For example, ‘instore bakery’, ‘prepared instore’ or ‘available instore’.

‘In store’, means forthcoming,  as in ‘what have you got in store for me today’.

ice cream

irresistible and Irresistible

Capitalise when talking about a specific Co-op Irresistible product.

kiwi fruit

lemon grass

litre

Not ‘Ltr’.

You can use 'l' after a number and after explaining ‘litre’ the first time you use it. 

Go to our guidelines on measurements

makeup and make up

‘Makeup’ when referring to cosmetics.

'Make up' when referring to making amends.

Manx or from the Isle of Man

margarita and margherita

‘Margarita’ is a cocktail.

'Margherita' is a type of pizza.

microwaveable

Not ‘microwavable’.

Mother’s day

mozzarella

ovenproof

own brand

Not ‘own-brand’ or ‘own-label’.

palm oil

Not ‘Palm Kernel Oil’.

part baked 

Not ‘part-baked’ or ‘partbaked’.

panini

panna cotta

pâté

passata

Or ‘sieved tomato’ if an ingredient.

pasteurised

Peppadew

petits pains

petits pois

pilaf

pilau

prosciutto

Prosecco

Protected Designation of Origin (PDO)

The name of an area, a specific place or, in exceptional cases, the name of a country, used as a designation for an agricultural product or a food.

purée

quiche Lorraine

radicchio 

Not ‘raddicchio’ or ‘radicchio’.

reduced-fat

rapeseed

refrigerator

rice wine

Not ‘sake’.

rocket

Not ‘roquette’.

sausagemeat

self raising flour

self checkout

Not ‘self scan’ or ‘sco’.

semi-skimmed

serving suggestion

shallots

Not ‘eschallots’. 

shiitake

Szechuan

Not ‘Sichuan’.

smokey

Not ‘smoky’ or ‘Smokey’ with a capital S.

soya bean

soya powder

soy sauce

squash

Not ‘cordial’.

stir fry

stonebaked

stores

Not ‘Co-op shops’.

sundried

Not ‘sun-dried’.

swiss roll

teaspoonful or teaspoonsful

tin

For example, ‘cake tin’.

Do not use to describe food and drinks packaging. Instead, use ‘can’ or ‘canned’.

vinaigrette

Not ‘vinegarette’.

water chestnuts

Worcestershire

Not Worcester.

yogurt
                        
                        











                        
                        
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
