---
layout: coop-experience
id: content
item-url: /content-guidelines/word-list.html
section: Content guidelines
meta-title:	Word list
meta-description: Find out how to use words consistently when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Word list
last-reviewed: Last reviewed&#58; 29 Sept 2021
intro-text-lead: 
  - Common words and phrases we use to make Co-op content consistent and understandable.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev:

# In page nav
in-page-nav:
  - link-id: anchor-food-drink-ingredient
    link-text: Food, drink and ingredient terms
  - link-id: anchor-food-store
    link-text: Food store terms
  - link-id: anchor-funeralcare
    link-text: Funeralcare terms
  - link-id: anchor-insurance
    link-text: Insurance terms
  - link-id: anchor-membership
    link-text: Membership terms
  - link-id: anchor-property
    link-text: Property terms
# Changelog
changelog:
  - date: 17 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-food-drink-ingredient">Food, drink and ingredient terms</h2>
                        <h3 class="word-list__title">aduki beans</h3>
                        <p class="word-list__p">Not ‘Adzuki beans’.</p>
                        <h3 class="word-list__title">albumen</h3>
                        <h3 class="word-list__title">alcohol</h3>
                        <p class="word-list__p"><a href="/content-guidelines/style-and-patterns/alcohol.html">Go to our guidelines on how to write about alcohol</a>.</p>
                        <h3 class="word-list__title">alfresco</h3>
                        <h3 class="word-list__title">allspice</h3>
                        <h3 class="word-list__title">baking tray</h3>
                        <p class="word-list__p">Not ‘baking sheet’.</p>
                        <h3 class="word-list__title">barbeque or BBQ</h3>
                        <p class="word-list__p">Not 'barbie' or ‘barbecue’.</p>
                        <h3 class="word-list__title">beers, wines and spirits</h3>
                        <p class="word-list__p">To describe what might be referred to internally as ‘BWS’.</p>
                        <h3 class="word-list__title">biryani</h3>
                        <h3 class="word-list__title">blackbean</h3>
                        <h3 class="word-list__title">British</h3>
                        <h3 class="word-list__title">brussels sprouts</h3>
                        <p class="word-list__p">Not ‘Brussels’ with a capital B.</p>
                        <h3 class="word-list__title">bulgur wheat</h3>
                        <h3 class="word-list__title">buttercream</h3>
                        <h3 class="word-list__title">canned food</h3>
                        <p class="word-list__p">Not ‘tin’ or ‘tinned’.</p>
                        <h3 class="word-list__title">cannelloni</h3>
                        <p class="word-list__p">Not ‘Canelloni’.</h3>
                        <h3 class="word-list__title">cardamom</h3>
                        <p class="word-list__p">Not 'Cardamon'.</p>
                        <h3 class="word-list__title">char sui</h3>
                        <p class="word-list__p">Not ‘Char Siu’.</p>
                        <h3 class="word-list__title">cheese</h3>
                        <p class="word-list__p">Capitalise if there’s a place name or it’s trademarked. For example, Stilton, Comté, Gruyère, Parmesan, feta, halloumi, goat’s cheese, mozzarella, Parmigiano-Reggiano.</p>
                        <h3 class="word-list__title">chick pea or chick peas</h3>
                        <h3 class="word-list__title">chilli or chillies</h3>
                        <h3 class="word-list__title">cling film or non-PVC cling film</h3>
                        <p class="word-list__p">Not ‘clingfilm’.</p>
                        <h3 class="word-list__title">clove of garlic</h3>
                        <p class="word-list__p">Not 'garlic clove'.</p>
                        <h3 class="word-list__title">coconut oil</h3>
                        <p class="word-list__p">Not ‘copra oil’.</p>
                        <h3 class="word-list__title">confectionery</h3>
                        <p class="word-list__p">Confectionary with an 'a' is for shops selling or making sweets.</p>
                        <h3 class="word-list__title">contactless</h3>
                        <h3 class="word-list__title">cornflour</h3>
                        <h3 class="word-list__title">cottonseed</h3>
                        <h3 class="word-list__title">cotton wool balls</h3>
                        <h3 class="word-list__title">cotton wool buds</h3>
                        <h3 class="word-list__title">cotton wool pads</h3>
                        <h3 class="word-list__title">crème fraÎche</h3>
                        <h3 class="word-list__title">cocoa</h3>
                        <h3 class="word-list__title">dauphinoise</h3>
                        <h3 class="word-list__title">doughnut</h3>
                        <p class="word-list__p">Not ‘donuts’ except ‘Dunkin’ Donuts’.</p>
                        <h3 class="word-list__title">éclair</h3>
                        <h3 class="word-list__title">every day and everyday</h3>
                        <p class="word-list__p">‘Every day’ means daily, as in ‘open every day’. 'Everyday' is an adjective used to describe something as humdrum or normal, for example, ‘shoes for everyday wear’.</p>
                        <h3 class="word-list__title">Fairtrade</h3>
                        <p class="word-list__p">Use for Fairtrade products or the Fairtrade initiative. For example: ‘We’re proud to support Fairtrade’ or ‘All our bagged sugar is Fairtrade’.</p>
                        <h3 class="word-list__title">fair trade</h3>
                        <p class="word-list__p">The theory and practice of fair trade, where producers in developing countries are paid a fair price for the goods they supply to companies in developed countries.</p>
                        <h3 class="word-list__title">FAIRTRADE Mark</h3>
                        <p class="word-list__p">The formal certification on products which contain ingredients certified by the Fairtrade Labelling Organisation (FLO).</p>
                        <h3 class="word-list__title">Fairtrade Fortnight</h3>
                        <p class="word-list__p">An annual celebration of Fairtrade used as a focus point for campaigners, businesses and the Fairtrade Foundation to educate the  public on the benefits of Fairtrade. For example 'Join us in celebrating Fairtrade Fortnight'.</p>
                        <h3 class="word-list__title">Father’s day</h3>
                        <h3 class="word-list__title">fat-reduced</h3>
                        <h3 class="word-list__title">fish cake</h3>
                        <p class="word-list__p">Not ‘fishcake’.</p>
                        <h3 class="word-list__title">flameproof</h3>
                        <h3 class="word-list__title">free range</h3>
                        <h3 class="word-list__title">greaseproof paper</h3>
                        <p class="word-list__p">Not ‘baking paper’.</p>
                        <h3 class="word-list__title">habanero</h3>
                        <h3 class="word-list__title">Halloween</h3>
                        <h3 class="word-list__title">Hanukkah</h3>
                        <h3 class="word-list__title">health and baby </h3>
                        <p class="word-list__p">To describe what might be referred to internally as ‘HBA’.</p>
                        <h3 class="word-list__title">health care</h3>
                        <h3 class="word-list__title">high street</h3>
                        <p class="word-list__p">Lower case unless referring to the name of an actual street, for example, High Street, Manchester.</p>
                        <h3 class="word-list__title">hoisin</h3>
                        <h3 class="word-list__title">homemade</h3>
                        <h3 class="word-list__title">hosiery</h3>
                        <h3 class="word-list__title">houmous</h3>
                        <h3 class="word-list__title">instore and in store</h3>
                        <p class="word-list__p">‘Instore’ can be used to reference availability of an item or an activity taking place in a store. For example, ‘instore bakery’, ‘prepared instore’ or ‘available instore’.</p>
                        <p class="word-list__p">‘In store’, means forthcoming,  as in ‘what have you got in store for me today’.</p>
                        <h3 class="word-list__title">ice cream</h3>
                        <h3 class="word-list__title">irresistible and Irresistible</h3>
                        <p class="word-list__p">Capitalise when talking about a specific Co-op Irresistible product.</p>
                        <h3 class="word-list__title">kiwi fruit</h3>
                        <h3 class="word-list__title">lemon grass</h3p>
                        <h3 class="word-list__title">litre</h3>
                        <p class="word-list__p">Not ‘Ltr’.</p>
                        <p class="word-list__p">You can use 'l' after a number and after explaining ‘litre’ the first time you use it. </p>
                        <h3 class="word-list__title">makeup and make up</h3>
                        <p class="word-list__p">‘Makeup’ when referring to cosmetics.</p>
                        <p class="word-list__p">'Make up' when referring to making amends.</p>
                        <h3 class="word-list__title">Manx or from the Isle of Man</h3>
                        <h3 class="word-list__title">margarita and margherita</h3>
                        <p class="word-list__p">‘Margarita’ is a cocktail.</p>
                        <p class="word-list__p">'Margherita' is a type of pizza.</p>
                        <h3 class="word-list__title">microwaveable</h3>
                        <p class="word-list__p">‘Not ‘microwavable’.</p>
                        <h3 class="word-list__title">Mother’s day</h3>
                        <h3 class="word-list__title">mozzarella</h3>
                        <h3 class="word-list__title">ovenproof</h3>
                        <h3 class="word-list__title">own brand</h3>
                        <p class="word-list__p">Not ‘own-brand’ or ‘own-label’.</p>
                        <h3 class="word-list__title">palm oil</h3>
                        <p class="word-list__p">Not ‘Palm Kernel Oil’.</p>
                        <h3 class="word-list__title">part baked</h3>
                        <p class="word-list__p">Not ‘part-baked’ or ‘partbaked’.</p>
                        <h3 class="word-list__title">panini</h3>
                        <h3 class="word-list__title">panna cotta</h3>
                        <h3 class="word-list__title">pâté</h3>
                        <h3 class="word-list__title">passata</h3>
                        <p class="word-list__p">Or ‘sieved tomato’ if an ingredient.</p>
                        <h3 class="word-list__title">pâté</h3>
                        <h3 class="word-list__title">pasteurised</h3>
                        <h3 class="word-list__title">Peppadew</h3>
                        <h3 class="word-list__title">petits pains</h3>
                        <h3 class="word-list__title">petits pois</h3>
                        <h3 class="word-list__title">pilaf</h3>
                        <h3 class="word-list__title">pilau</h3>
                        <h3 class="word-list__title">prosciutto</h3>
                        <h3 class="word-list__title">Protected Designation of Origin (PDO)</h3>
                        <p class="word-list__p">The name of an area, a specific place or, in exceptional cases, the name of a country, used as a designation for an agricultural product or a food.</p>
                        <h3 class="word-list__title">purée</h3>
                        <h3 class="word-list__title">quiche Lorraine</h3>
                        <h3 class="word-list__title">radicchio</h3>
                        <p class="word-list__p">Not ‘raddicchio’ or ‘radicchio’.</p>
                        <h3 class="word-list__title">reduced-fat</h3>
                        <h3 class="word-list__title">rapeseed</h3>
                        <h3 class="word-list__title">refrigerator</h3>
                        <h3 class="word-list__title">rice wine</h3>
                        <p class="word-list__p">Not ‘sake’.</p>
                        <h3 class="word-list__title">rocket</h3>
                        <p class="word-list__p">Not ‘roquette’.</p>
                        <h3 class="word-list__title">sausagemeat</h3>
                        <h3 class="word-list__title">self raising flour</h3>
                        <h3 class="word-list__title">self checkout</h3>
                        <p class="word-list__p">Not ‘self scan’ or ‘sco’.</p>
                        <h3 class="word-list__title">semi-skimmed</h3>
                        <h3 class="word-list__title">serving suggestion</h3>
                        <h3 class="word-list__title">shallots</h3>
                        <p class="word-list__p">Not ‘eschallots’.</p>
                        <h3 class="word-list__title">shiitake</h3>
                        <h3 class="word-list__title">Szechuan</h3>
                        <p class="word-list__p">Not ‘Sichuan’.</p>
                        <h3 class="word-list__title">smokey</h3>
                        <p class="word-list__p">Not ‘smoky’ or ‘Smokey’ with a capital S.</p>
                        <h3 class="word-list__title">soya bean</h3>
                        <h3 class="word-list__title">soya powder</h3>
                        <h3 class="word-list__title">soy sauce</h3>
                        <h3 class="word-list__title">squash</h3>
                        <p class="word-list__p">Not ‘cordial’.</p>
                        <h3 class="word-list__title">stir fry</h3>
                        <h3 class="word-list__title">stonebaked</h3>
                        <h3 class="word-list__title">stores</h3>
                        <p class="word-list__p">Not ‘Co-op shops’.</p>
                        <h3 class="word-list__title">sundried</h3>
                        <p class="word-list__p">Not ‘sun-dried’.</p>
                        <h3 class="word-list__title">swiss roll</h3>
                        <h3 class="word-list__title">teaspoonful or teaspoonsful</h3>
                        <h3 class="word-list__title">tin</h3>
                        <p class="word-list__p">For example, ‘cake tin’.</p>
                        <p class="word-list__p">Do not use to describe food and drinks packaging. Instead, use ‘can’ or ‘canned’.</p>
                        <h3 class="word-list__title">vinaigrette</h3>
                        <p class="word-list__p">Not ‘vinegarette’.</p>
                        <h3 class="word-list__title">water chestnuts</h3>
                        <h3 class="word-list__title">Worcestershire</h3>
                        <p class="word-list__p">Not Worcester.</p>
                        <h3 class="word-list__title">yogurt</h3>
                        <h3 class="coop-u-margin-t-64">Words to use with caution</h3>
                        <p>When describing food, drink or ingredients, avoid vague terms and phrases as they can be open to misinterpretation. If you use them, explain what you mean.</p>
                        <p>Use these words with caution:</p>
                        <ul>
                          <li>authentic</li>
                          <li>craft</li>
                          <li>farm fresh</li>
                          <li>fresh</li>
                          <li>hand made</li>
                          <li>healthy and healthier</li>
                          <li>homegrown</li>
                          <li>local, unless the product is made within 30 miles</li>
                          <li>lower price, unless there is a higher price for comparison</li>
                          <li>natural</li>
                          <li>original</li>
                          <li>reduced fat</li>
                          <li>traditional</li>
                          <li>wholesome</li>
                        </ul> 
                  </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
