---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/check-in.html
section: ways-of-working-activities
meta-title:	Check-in activity
meta-description: Find out how to use check-ins to get your meeting or workshop off to an effective start.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: Check-in
last-reviewed: Last reviewed&#58; 28 September 2021
intro-text-lead:  
  - A way for your group to introduce themselves to each other and find out how people are feeling that day.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/check-in-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: The team
  - img: /images/icons/clock.svg
    text: 5 to 15 minutes

# Changelog
changelog:
  - date: 17 September 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on check-ins</h2>
                        <h3>Why do a check-in</h3>
                        <p>Check-ins can help your team to:</p>
                        <ul>
                            <li>say hello and talk to each other</li>
                            <li>clear their minds of other things</li>
                            <li>focus on the meeting</li>
                            <li>contribute their thoughts</li>
                            <li>share anything on their mind</li>
                        </ul>
                        <p>Check-ins can help facilitators to:</p>
                        <ul>
                            <li>see who’s in the room</li>
                            <li>get a sense of how people are feeling</li>
                            <li>identify anything that could affect someone's ability to input</li>
                            <li>get people talking</li>
                        </ul>      
                        <h3>Who is involved</h3>
                        <p>All members of the team including anyone in the office or working remotely at home.</p>
                        <h3>When to have a check-in</h3>
                        <p>At the start of any meeting, workshop, or other group activity.</p>
                        <h3>Things you’ll need</h3>
                        <p>It’s good to use a physical or digital prompt for people to talk around. You could ask people to select emojis from a sheet of paper or an online whiteboard tool like Miro.</p>
                        <p>You could also talk through the instructions without anything visual.</p>
                        <h3>Tips on running the session</h3>
                        <p>Introduce the check-in with a brief description of why you’re asking people to do the activity.</p>
                        <p>When choosing a check-in activity or question, think about how it relates to the overall purpose of the meeting or workshop. For example, you may want:</p>
                        <ul>
                            <li>to hear about people’s frame of mind: whether they’re distracted, confused about this meeting’s purpose, or excited to get started. This is useful to know as you move into the main meeting.</li>
                            <li>the group to learn a little more about each other outside of work, as this can help a group feel happier and work together more effectively.</li>
                            <li>to hear everyone’s overall feeling about the main activity topic. Knowing this can be useful context for everyone before getting into details about it.</li>
                        </ul>
                        <p>Different groups have different choices for check-ins. Some like new questions to get to know people, other groups prefer focused questions with a clear link to the session’s purpose. If you’re not sure, you can ask people before the day of the session.</p>
                        <h3>Learn more</h3>
                        <p>View our <a href="https://miro.com/app/board/o9J_lvVxKsQ=/">Miro board of check-in examples</a></p>
                        <p><a href="https://toolbox.hyperisland.com/check-in-questions">Hyper island check-in questions</a></p>
                        <p><a href="http://www.thecircleway.net/articles/2016/12/27/questions-for-check-ins">Questions for check-ins — The Circle Way</a></p>
                        <p><a href="https://conversationstartersworld.com/250-conversation-starters/">250 Conversation Starters</a></p>

                        <h3>Glossary</h3>
                        <p>Related terms: facilitator, safe environment.</p>   
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/agile-glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a check-in</h2>
                        <h3>How to use the steps</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Introduce yourself, the overall topic of the session.</p>
                                <P>Check that everyone knows who everyone else is.</P>
                            </li>
                            <li>
                                <h3>Introduce the aims of the session</h3>
                                <p>Explain that a check-in is a quick activity to:</p>
                                <ul>
                                    <li>mark the start of a session</li>
                                    <li>get a little involvement from everyone</li>
                                    <li>learn a bit about each other</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Decide how long you would like the check-in to take, and guide participants to help keep to the timing. You could:</p>
                                <ul>
                                    <li>explain at the start how much time you’d like the group to spend on the check-in overall. You could give guidance like, “this is a quick check-in” or “we’d like to hear more about…”</li>
                                    <li>use instructions like “in one word…” or “in a few sentences…”</li>
                                    <li>encourage people to speak for longer, or thank them and move on, as you go round the group</li>
                                </ul>
                                <p>If you are using any visual tools, check that everyone can access them.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity </h3>
                                <p>Set a question for everyone to answer for the check-in.</p>
                                <p>Give them a moment to think about it before asking each person for their response.</p>
                                <p>Some questions you could choose from, depending on the aim of the check-in:</p>
                                <p>To get an idea of how you feel about this topic:</p>
                                <ul>
                                    <li>what was your initial reaction when the invite to this activity arrived?</li>
                                    <li>is there anything that you are excited or worried about coming out of today’s session?</li>
                                </ul>
                                <p>To get us focused on this session:</p>
                                <ul>
                                    <li>is there anything distracting you right now, and what might help you focus?</li>
                                    <li>what’s one thing you really hope we accomplish today?</li>
                                </ul>
                                <p>Learning a bit more about each other can help us work together. Please share:</p>
                                <ul>
                                    <li>what’s a recent fun thing you did outside?</li>
                                    <li>what’s your favourite way to waste time?</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Reflect on anything that came up from the check-in responses</p>
                                <p>If lots of people are uncertain about the topic, take time to check for understanding and to explain things people have questions about.</p>
                                <p>If anyone says they are feeling really tired or upset, avoid asking them unexpected questions, but try to include them as you normally would.</p>
                            </li>
                            <li>
                                <h3>Close the session </h3>
                                <p>Thank people for their contributions and close the session.</p>
                                <p>You could say, “we’ll the end the check-in there, next is…” and introduce the next activity.</p>
                            </li> 
                        </ol>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
