---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/dot-voting.html
section: ways-of-working-activities
meta-title:	Dot voting 
meta-description: Find out how to use dot voting to help you or your team decide which idea to focus on. 

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7

section-title: Ways of working
title: Dot voting
last-reviewed: Last reviewed&#58; 9 Sept 2021
intro-text-lead:  
  - A quick, democratic way to prioritise and filter lots of ideas.
# Image at the top of the hero
decorative-image-url: /images/ways-of-working/activities/dot-voting-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 to 8 people
  - img: /images/icons/clock.svg
    text: 10 minutes

# Changelog
changelog:
  - date: 9 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on dot voting</h2>
                        <p>Dot voting helps your team to:</p>
                        <ul>
                            <li>prioritise ideas quickly</li>
                            <li>decide which ideas to progress as a group</li>
                            <li>make sure everyone has a say</li>
                        </ul>   
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>anyone outside the team who could add a different view</li>
                        </ul>    
                        <h3>When to have a dot vote</h3>
                        <p>Use this method whenever you have lots of ideas that you need to discuss and prioritise. Dot voting is very quick to organise and do.</p>
                        <p>This ‘converge’ or filtering activity typically happens after a ‘diverge’ stage like generating lots of ideas.</p>
                        <h3>Things you’ll need</h3>
                        <p>A digital or physical space so that you can see all of the ideas.</p>
                        <p>Digital or physical sticky dots or marker pens.</p>
                        <p>Timer and an understanding of:</p>
                        <ul>
                            <li>what you are voting on</li>
                            <li>how many votes you have each</li>
                        </ul> 
                        <h3>Tips on running the session</h3>
                        <p>Make sure everyone understands that the team will:</p>
                        <ul>
                            <li>take forward the ideas that get the most votes</li>
                            <li>revisit the ideas with less votes later if they need to</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p><a href="https://lucidspark.com/blog/dot-voting">How to use dot voting for group decision making</a>.</a></p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a dot vote</h2>
                        <h3>How to use the steps:</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li>
                                <h3>Welcome and introductions</h3>
                                <p>Dot voting typically happens as part of another activity. For example, when your team have created lots of ideas and need to choose between them.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session</h3>
                                <p>Explain that dot voting is a democratic way of:</p>
                                <ul>
                                    <li>deciding which ideas you will prioritise and why</li>
                                    <li>making sure that everyone has a say </li>
                                </ul>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Ask people to try and make their vote without discussing it first.</p>
                                <p>Your team members should not try to influence one another’s votes or sell their idea. You can discuss the ideas more after the vote.</p>
                            </li>
                            <li>
                                <h3>Introduce the thing using a visual example</h3>
                                <p>Make sure everyone understands what you are voting on and has access to it. It might be sketches, storyboards or ideas on post-its.</p>
                                <p>For example, you’re doing a Retro and you’ve talked through challenges of this sprint. Your team all generated suggestions so you do a dot vote to decide which challenge to focus on.</p>
                            </li>
                            <li>
                                <h3>Context setting</h3>
                                <p>Let everyone know how many votes they have and how they can cast them. For example people could have three dots each.</p>
                                <p>Make it clear, for example, if it’s okay to cast all three dots on one idea or put a dot on three different ideas.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity</h3>
                                <p>Ask people to cast their votes. You can set a timer if you think it will help.</p>
                            </li>
                            <li>
                                <h3>Reorder the ideas or sketches.</h3>
                                <p>Put the idea with the most votes at the top and the idea with the least votes at the bottom.</p>
                            </li>
                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Ask if the team are happy to progress the ideas with the most votes and the process of choosing them.</p>
                                <p>You could review whether people felt like they had the right number of votes in this case. There’s no right or wrong answer - you’ll get to know what feels right over time.</p>
                            </li>
                            <li>
                                <h3>Post session tasks</h3>
                                <p>Keep visual evidence of all the ideas if you have not done this as part of the activity already.  You might want to come back to the ideas and the reasons you chose an idea later. </p>
                               <!-- <p>You could decide to do a [Priority mapping] or [How might We] activity next. Or the dot voting session could mean you’re ready to implement some ideas.</p> -->
                            </li>
                        </ol>
                        <p>Go back to <a href="/ways-of-working/activities/">ways of working activities</a> to decide what you work on next.</p>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
