---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/how-might-we.html
section: ways-of-working-activities
meta-title:	How might we activity
meta-description: Find out how to use ‘How might wes’ to decide which problems to solve as a team.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: How might we (HMW)
last-reviewed: Last reviewed&#58; 1 February 2022
intro-text-lead:
  - Frame problems as questions to help the team agree which questions will help to generate solutions.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/how-might-we-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 to 6 people
  - img: /images/icons/clock.svg
    text: 1 hour

# Changelog
changelog:
  - date: 1 February 2022
    notes: Link update
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on ‘how might wes' (HMW)</h2>
                        <h3>Why create HMW statements</h3>
                        <p>HMW statements can help your team to:</p>
                        <ul>
                            <li>summarise problems or insights from research</li>
                            <li>describe problems as questions before thinking about solutions or research</li>
                            <li>agree on the problems you want to solve</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>anyone outside the team who could add a different view</li>
                            <li>the people you're designing for or people who understand their needs. User research helps with this.</li>
                        </ul>
                        <h3>When to create HMW</h3>
                        <p>Consider creating a HMW:</p>
                        <ul>
                            <li>at the start of the work when you want to discuss the value of solving different problems</li>
                            <li>after research when you want to decide which problems to solve or insights to look into further</li>
                        </ul>
                        <h3>Things you’ll need</h3>
                        <p>Any information that will help like:</p>
                        <ul>
                            <li>outcomes you’re aiming for</li>
                            <li>business considerations or context</li>
                            <li>user research</li>
                            <li>any other in sights or relevant information</li>
                        </ul>
                        <p>A digital or physical space so that you can see all of the ideas and create the questions.</p>
                        <p>Digital or physical sticky dots or marker pens.</p>

                        <h3>Tips on running the session</h3>
                        <p>Make sure everyone understands that the team will:</p>
                        <ul>
                            <li>take forward the HMW that get the most votes</li>
                            <li>revisit the HMW with less votes later if they need to</li>
                        </ul>

                        <h3>Learn more</h3>
                        <p>IDEO <a href="https://www.designkit.org/methods/3">video on ‘how might we' statements</a>.</p>
                        <p>Fast Company <a href="https://www.fastcompany.com/90649969/the-most-popular-design-thinking-strategy-is-bs">blog on whether to use 'how might we' statements</a>.</p>

                        <h3>Glossary definitions that might be helpful:</h3>
                        <p>Insight, Observation, Outcome, Quantitative data and research, Qualitative data and research.</p>
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/agile-glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to create ‘how might wes’ (HMW)</h2>
                        <h3>How to use the steps</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group don’t know each other.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims of the session</h3>
                                <p>For example:</p>
                                <p>&#8220;Today we’re going to review the insights from the research and turn them into questions. This will help us to agree which questions will help us to generate solutions.&#8221;</p>
                            </li>
                            <li>
                                <h3>Introduce the thing using a visual example</h3>
                                <p>Review your key insights from research or the information you have so far on the problem you think you want to solve.</p>
                                <p>Make sure that everyone can access this information.</p>
                            </li>
                            <li>
                                <h3>Context setting</h3>
                                <p>Remind everyone about your overall team purpose and current objectives if relevant.</p>
                            </li>
                            <li>
                                <h3>Do the HMW</h3>
                                <p>Turn each insight or problem into a question using a 'how might we' (HMW) format, for example:</p>
                                <p>Insight: Customers are annoyed about the length of time it takes to pay.</p>
                                <p>HMW: “How might we make it quick for customers to pay?”</p>
                                <p>Write the questions somewhere everyone can access them in a shared space.</p>
                                <p>Aim for quantity. Continue to add questions until you run out of thoughts.</p>
                            </li>
                            <li>
                                <h3>Group the HMWs into themes.</h3>
                                <p>For each theme, make sure you have HMWs that communicate the most important questions.</p>
                                <p>Check your main HMWs are not too broad or too specific. The HMWs should focus you on the problem and still give you space to come up with ideas.</p>
                                <p>Do a <a href="{{ '/ways-of-working/activities/dot-voting.html' | prepend: site.baseurl }}">Dot vote</a> or <a href="{{ '/ways-of-working/priority-mapping.html' | prepend: site.baseurl }}">Priority mapping</a> activity to help you decide which HMWs to take forward.</p>
                            </li>
                            <li>
                                <h3>Do a Dot vote or Priority mapping activity to help you decide which HMWs to take forward.</h3>
                            </li>
                            <li>
                                <h3>Review the HMW</h3>
                                <p>Ask if the team are happy to progress the HMWs with the most votes and the process.</p>
                                <p>Note why you made HMWs decisions and make sure everyone can access the information.</p>
                            </li>
                            <li>
                                <h3>Close the session </h3>
                                <p>Agree what’s next and let everyone know you’re going to end the session there.</p>
                            </li>
                            <li>
                                <h3>After the session</h3>
                                <p>Use the HMWs as starting points for creating ideas. You might do a <a href="{{ '/ways-of-working/activities/mind-mapping.html' | prepend: site.baseurl }}">Mind mapping</a> or <a href="{{ '/ways-of-working/activities/rapid-eights.html' | prepend: site.baseurl }}">Rapid eights</a> activity next.</p>
                            </li>
                        </ol>
                        <p>To decide what you work on next, go to <a href="/experience-library/ways-of-working/activities/">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
