---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/kick-off.html
section: ways-of-working-activities
meta-title:	Kick off activity
meta-description: Use the kick-off activity to help your team understand the purpose of work, decide roles and agree outcomes. Get more information about how to use a kick-off.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Kick-off
last-reviewed: Last reviewed&#58; 23 July 2021
intro-text-lead:  
  - A way for all of your team to understand the purpose of your work.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/kick-off-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: The team
  - img: /images/icons/clock.svg
    text: 30 mins to 1 hour

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on kick-offs</h2>
                        <h3>Why have a kick-off</h3>
                        <p>Kick off sessions help your team to:</p>
                        <ul>
                            <li>agree the purpose and outcomes of your work</li>
                            <li>identify people with an interest in the work</li>
                            <li>understand roles and responsibilities</li>
                            <li>create success criteria for the work</li>
                        </ul>   
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>people with an interest in the work</li>
                        </ul>    
                        <h3>When to have a kick-off</h3>
                        <p>Consider having a kick-off when:</p>
                        <ul>
                            <li>starting work on a new discovery, product, service or feature</li>
                            <li>new people join the team</li>
                            <li>someone is leaving the team so they can share their knowledge</li>
                            <li>there is a change to priorities or direction for the team</li>
                        </ul> 
                        <h3>Things you’ll need</h3>
                        <p>A shared digital or physical space so that everyone can see and what you are working on together.</p>
                        <p>Digital or physical sticky notes and marker pens.</p>
                        <p>Any reference, data or other context that could help.</p>
                        
                        <h3>Tips on running the session</h3>
                        <ul>
                            <li>As a team, agree on the main subjects that need to be discussed</li>
                            <li>Provide time limits to go through each subject</li>
                            <li>Agree on actions and next steps for individuals and the team</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p>Consider using a format like Ben Holliday's '<a href="www.hollidazed.co.uk/2015/07/28/frame-the-problem/">Framing the problem</a>'.</a></p>
                        <h3>Glossary</h3>
                        <p>Related terms: outcome, point of departure, safe environment, working in the open</p>   
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a kick-off</h2>
                        <ol class="el-c-activity-steps">
                            <li>
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group do not know each other.</p>
                                <p>You could also do a check-in activity to find out how everyone is doing that day and involve everyone in the session.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;We’re here so that we can talk about the purpose and outcomes of this work.&#8221;</p>
                                <p>&#8220;We’re going to make sure we all know the problem we are solving when designing and building this feature&#8221;</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations of the activity</h3>
                                <p>For example, that things may change during the work.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity</h3>
                                <p>Write these titles on post-its and explain what they mean, for example:</p>
                                <ul>
                                    <li>Purpose - what are we all here to do?</li>
                                    <li>Outcomes - what do we, the business, our stakeholders and users need from this work?</li>
                                    <li>Roles and responsibilities - what are people going to be doing during the project, for example who will be leading on: user research, content, running sessions, communicating about the project?</li>
                                    <li>Tools - which software or platforms will we use to do the work?</li>
                                    <li>Success criteria - how will we know if we are succeeding?</li>
                                    <li>Disaster criteria - how will we know if things are not working so we can recognize and address it?</li>
                                </ul>
                                <p>Set a timer and ask people to write down thoughts or questions about each subject on post-its.</p>
                                <p>Go through each title, one at a time.</p>
                                <p>Ask everyone to read out their post-its and put them under the title.</p>
                                <p>Discuss everything as a team so that everyone can share their thoughts and questions.</p>
                                <p>Make a note of the actions you agree.</p>
                                <p>Actions might include questions you could not answer in the session.</p>
                                <p>Recording actions also helps people who did not come to the session.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Review the session as a whole - is the purpose of the work now clear?</p>
                                <p>Make sure everyone agrees on the actions or next steps.</p>
                                <p>You could choose a date and time for a follow-up session.</p>
                                <p>Summarise the session and share it using what works best for your team.</p>
                            </li>
                        </ol>
                        <p>Go back to <a href="/ways-of-working/activities/">ways of working activities</a> to decide what you work on next.</p>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
