---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/kick-off.html
section: ways-of-working-activities
meta-title:	Kick off activity
meta-description: Use the kick-off activity to help your team understand the purpose of work, decide roles and agree outcomes. Get more information about how to use a kick-off.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7

section-title: Ways of working
title: Kick-off
last-reviewed: Last reviewed&#58; 23 July 2021
intro-text-lead:  
  - A way for all of your team to understand the purpose of your project.
# Image at the top of the hero
decorative-image-url: /images/decorative/accessibility-index-hero.svg

# Supporting image
supporting-image-url: /images/ways-of-working/activities/kick-off.jpg
supporting-image-alt: 3 people gathered around a wall with printouts of websites and post-it notes stuck on to it

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: The team
  - img: /images/icons/clock.svg
    text: 30 mins to 1 hour

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidance</h2>
                        <h3>Why have a kick-off</h3>
                        <p>Kick off sessions help your team to:</p>
                        <ul>
                            <li>agree the purpose and outcomes of your work</li>
                            <li>identify key stakeholders</li>
                            <li>understand roles and responsibilities</li>
                            <li>create success criteria for the project</li>
                        </ul>   
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>key stakeholders</li>
                        </ul>    
                        <h3>When to have a kick-off</h3>
                        <p>Consider having a kick-off when:</p>
                        <ul>
                            <li>starting work on a new discovery, product, service or feature</li>
                            <li>new people join the team</li>
                            <li>someone is leaving the team so they can share their knowledge</li>
                            <li>there is a change to priorities or direction for the team</li>
                        </ul> 
                        <h3>Things you’ll need</h3>
                        <p>Any information that will help inform why this work is needed (proposed outcomes, commercial value, user research).</p>
                        <p>If you’re working face-to-face:</p>
                        <ul>
                            <li>A physical space that allows open discussion</li>
                            <li>Post-its</li>
                            <li>Sharpies/pens</li>
                            <li>Wall space</li>
                        </ul> 
                        
                        <h3>Tips on running the session</h3>
                        <ul>
                            <li>As a team, agree on the main subjects that need to be discussed</li>
                            <li>Provide time limits to go through each subject</li>
                            <li>Agree on actions and next steps for individuals and the team</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p>Consider using a format like Ben Holliday's '<a href="www.hollidazed.co.uk/2015/07/28/frame-the-problem/">Framing the problem</a>'.</a></p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Steps</h2>
                        <ol class="el-c-activity-steps">
                            <li>
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group don’t know each other.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;We’re here so that we can talk about the purpose and outcomes of this work&#8221;</p>
                                <p>&#8220;We’re going to make sure we all know the problem we are solving when designing and building this feature&#8221;</p>
                            </li>
                            <li>
                                <h3>Write the subjects on post-its and explain what they mean, for example:</h3>
                                <ul>
                                    <li>Purpose - what are we all here to do?</li>
                                    <li>Outcomes - what do we, the business, our stakeholders and users need from this work?</li>
                                    <li>Roles and responsibilities - what are people going to be doing during the project, for example who will be leading on: user research, content, running sessions, communicating about the project?</li>
                                    <li>Tools - which software or platforms will we use to do the work?</li>
                                    <li>Success criteria - how will we know if we are succeeding?</li>
                                    <li>Disaster criteria - how will we know if things are not working so we can recognize and address it?</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Set a timer and ask people to write down thoughts or questions about each subject on post-its.</h3>
                            </li>
                            <li>
                                <h3>Going through each subject at a time, ask everyone to read out their post-its as they stick them under the subject title.</h3>
                            </li>
                            <li>
                                <h3>Discuss everything as a team so that everyone can share their thoughts and questions.</h3>
                            </li>
                            <li>
                                <h3>Make a note of the agreed actions.</h3>
                                <p>Actions might be questions that could not be answered in the session or act as information from someone that did not attend the session.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Review the session as a whole - is the purpose of the work now clear?</p>
                                <p>Make sure everyone is clear on the actions or next steps.</p>
                                <p>You could choose a date and time for a follow up session if needed.</p>
                                <p>Summarise the session and share it using what works best for your team.</p>
                            </li>
                        </ol>
                        <p>Go back to <a href="/ways-of-working/activities/">ways of working activities</a> to decide what you work on next.</p>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
