---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/mind-mapping.html
section: ways-of-working-activities
meta-title:	Mind mapping activity
meta-description: Find out how to use mind mapping to get ideas from your head, into the open.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Mind mapping
last-reviewed: Last reviewed&#58; 21 September 2021
intro-text-lead:
  - Get ideas and thoughts out of your head and into the open.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/mind-mapping-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 to 8 people
  - img: /images/icons/clock.svg
    text: 10 to 30 minutes

# Changelog
changelog:
  - date: 20 September 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on mind mapping</h2>
                        <h3>Why create a mind map</h3>
                        <p>You can use mind mapping to:</p>
                        <ul>
                            <li>visualise your thinking</li>
                            <li>highlight themes in your thinking</li>
                            <li>explore a challenge that you are working on as a team</li>
                            <li>encourage thought about anything</li>
                        </ul>
                        <h3>Who is involved in mind-mapping</h3>
                        <p>Mind mapping works as an activity on your own or as a team.</p>

                        <h3>When to create a mind map</h3>
                        <p>You can use it anytime and especially when:</p>
                        <ul>
                            <li>you need ideas</li>
                            <li>there is a lack of direction for a problem</li>
                            <li>you want to encourage your team to collaborate with ideas</li>
                        </ul>
                        <h3>Things you’ll need</h3>
                        <ul>
                            <li>Information that will help, for example: outcomes, commercial situation, user research</li>
                            <li>a way for people to sketch their ideas</li>
                            <li>a timer and someone to facilitate</li>
                        </ul>
                        <h3>Tips on running the session</h3>
                        <ul>
                            <li>Typically team members create their own own mind-maps first, then share them with the group, if it’s a group activity</li>
                            <li>If you’re working as a group, make sure that you leave time to talk about the mind maps together</li>
                            <li>Try not to filter your thoughts and allow them to go in different directions</li>
                        </ul>
                        <h3>Glossary</h3>
                        <p>Related terms: align thinking, design and design thinking, working in the open.</p>
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to create a mind map</h2>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group do not know each other. You could also do a ‘Check-in’ activity.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;In this session we’re going to try and get everything we’re thinking about out of our head and talk about it as a team.&#8221;</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Allow yourself or your team to think in different directions. Try not to filter your thoughts.</p>
                            </li>
                            <li>
                                <h3>Introduce the thing using a visual example</h3>
                                <p>Agree the challenge or problem you are exploring in your mind map.</p>
                                <p>Write the problem somewhere that everyone can access and so that there is space to add comments.</p>
                                <p>Put the problem or challenge in the middle of the space.</p>
                            </li>

                            <li>
                                <h3>Agree how long you will spend on the mind map and set a timer./h3>
                            </li>

                            <li>
                                <h3>Do the mind mapping activity</h3>
                                <p>Write out your thoughts and add them to the mind map.</p>
                                <p>Everyone can add their ideas to the same map as they create them.  Team members could also keep their ideas private until everyone has finished, then add them to the shared map.</p>
                                <p>Use lines to link themes or sequences together as you or your team add them in.</p>
                            </li>

                            <li>
                                <h3>When the time is up, look over your mind map and highlight themes in a different colour pen.</h3>
                            </li>

                            <li>
                                <h3>If you’re working as a group, take turns to read out your mind map and talk about themes together.</h3>
                            </li>

                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Let the group know what’s going to happen with the ideas. You could prioritise the potential ideas using the <a href="{{ '/ways-of-working/activities/dot-voting.html' | prepend: site.baseurl }}">dot voting</a> activity.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Make sure everyone can access the activity information.</p>
                            </li>
                            <li>
                                <h3>After the session</h3>
                                <p>Next you could do a round of <a href="{{ '/ways-of-working/activities/rapid-eights.html' | prepend: site.baseurl }}">rapid eights</a> to develop your thoughts into ideas.</p>
                            </li>
                        </ol>
                        <p>To decide what you work on next, go to <a href="{{ '/ways-of-working/activities/' | prepend: site.baseurl }}">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
