---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/priority-mapping.html
section: ways-of-working-activities
meta-title:	Priority mapping activity
meta-description: Find out how to use priority mapping to prioritise work and create focus.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: Priority mapping
last-reviewed: Last reviewed&#58; 14 December 2021
intro-text-lead:  
  - A way to prioritise work and create focus.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/priority-mapping-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 - 8 people
  - img: /images/icons/clock.svg
    text: 45 minutes to 1 hour

# Changelog
changelog:
  - date: 14 December 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on priority mapping</h2>
                        <h3>Why do a priority map</h3>
                        <p>Priority mapping can help you and your team to identify what:</p>
                        <ul>
                            <li>to work on next</li>
                            <li>not to work on at all</li>
                            <li>the relative effort and value of something is</li>
                            <li>contribute their thoughts</li>
                            <li>work might need breaking down into smaller chunks</li>
                        </ul>
                        <p>Prioritising is something we do all the time however there is value in mapping all the information  - allows you to visualise everything, reflect…</p>
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>team members with an understanding of the things being prioritised</li>
                            <li>subject matter experts</li>
                            <li>any relevant stakeholders</li>
                        </ul>
                        <h3>When to do a priority map</h3>
                        <p>You can use this method when you:</p>
                        <ul>
                            <li>have lots of relevant stakeholders and need to work out where to start</li>
                            <li>want to understand the relative value of something compared to another</li>
                            <li>want to build a shared agreement of the relative priority of different pieces of work</li>
                        </ul>
                        <h3>Things you’ll need</h3>
                        <p>A shared digital or physical space so that everyone can see and what you are working on together.</p>
                        <p>Digital or physical sticky notes and marker pens.</p>
                        <p>Any reference, data or other context that could help.</p>
                        <h3>Tips on running the session</h3>
                        <p>Everyone will have their own interpretation of value and effort so allow plenty of time for discussion.</p>
                        <p>If you’re not sure exactly where something should be placed on the map that’s fine. It helps to plot several things on the map, take a step back and reflect, then move things around again until you’re confident with the overall order of work on the map.</p>
                        <p>Different groups have different choices for check-ins. Some like new questions to get to know people, other groups prefer focused questions with a clear link to the session’s purpose. If you’re not sure, you can ask people before the day of the session.</p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a priority map</h2>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group don’t know each other.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims of the session</h3>
                                <p>For example: “We’re here to prioritise work in the backlog and give ourselves a focus for the next few weeks.”</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>For example, you may have a time limit or deadline that you need to deliver to.</p>
                            </li>
                            <li>
                                <h3>Discuss the kind of things that you’ll be mapping</h3>
                                <p>Explain that you’ll be placing things on the map based on their relative ‘effort’ and ‘value’ to one another.</p>
                                <p>Effort and value will mean different things to different teams.</p>
                                <p>Value usually means; how well something meets a business outcome or user need.</p>
                                <p>Effort usually means; how much time could this take the team to deliver.</p>
                            <li>
                                <h3>Do the priority map</h3>
                                <p>Draw 2 intersecting lines, that give you four quadrants</p>
                                <p>Label the top of the vertical line as 'most value' and the bottom as 'least value'.</p>
                                <p>Label the right of the horizontal line as 'most effort' and the left as 'least effort'.</p>
                                <p>Discuss and plot your ideas or features on the map as a group using post-its so you can move things around. The real value here is in having an open conversation as a group and agreeing what the value of the thing is.</p>
                            </li>
                            <li>
                                <h3>Review the priority map</h3>
                                <p>When you’ve placed everything on the map, usually the focus would be on the high value, low effort items, however it’s up to the team to discuss and decide themselves.</p>
                                <p>You might decide to work on a higher value item that could take longer to deliver.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Review the aims you set at the start of the session - is there increased clarity or knowledge?</p>
                                <p>Ask if anyone has any questions or would like you to explain anything.</p>
                                <p>Explain what will happen next. For example: “we’ll start work on the things we’ve prioritised as high value and low effort as soon as possible. We’ll assess if and when we do the other items.”</p>
                            </li> 
                        </ol>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
