---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/rapid-eights.html
section: ways-of-working-activities
meta-title:	Rapid eights activity
meta-description: Find out how to use rapid eights to create lots of ideas to solve one problem.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: Rapid eights
last-reviewed: Last reviewed&#58; 17 January 2022
intro-text-lead:
  - Create lots of ideas to solve one problem.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/rapid-eights-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 to 8 people
  - img: /images/icons/clock.svg
    text: 15 to 20 minutes

# Changelog
changelog:
  - date: 17 January 2022
    notes: Minor content updates
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on rapid eights</h2>
                        <h3>Why use rapid eights</h3>
                        <p>Rapid eights help your team to:</p>
                        <ul>
                            <li>create lots of new ideas quickly</li>
                            <li>understand that their first idea is not always the best and work past it</li>
                            <li>think of ideas you would not have thought of otherwise because you’re working quickly</li>
                            <li>share their individual ideas</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>anyone outside the team who could add a different view or who you want to engage</li>
                        </ul>
                        <h3>When to do rapid eights</h3>
                        <p>You can use this method when:</p>
                        <ul>
                            <li>you’re starting work on a new discovery, product, service or feature</li>
                            <li>research provides enough confidence to start creating ideas</li>
                            <li>you or your team needs to look at a problem in a new way</li>
                        </ul>
                        <h3>Things you’ll need</h3>
                        <ul>
                            <li>The problem you want to solve so that people can access it for the whole activity</li>
                            <li>Information that will help, for example, outcomes, commercial value, user research</li>
                            <li>A way for people to sketch their ideas</li>
                            <li>A timer and someone do the timing</li>
                        </ul>
                        <h3>Tips on running the session</h3>
                        <ul>
                            <p>Make sure everyone understands:</p>
                            <li>the problem you’re trying to solve and how it fits into the bigger picture.</li>
                            <li>the quality of drawing is not important - it's about getting your ideas across, not being an artist</li>
                            <li>what you will do with the ideas after the session</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p><a href="https://www.youtube.com/watch?v=yz4g87XapQ0&ab_channel=AJ%26Smart">Watch a YouTube video demonstrating rapid eights</a>.</p>
                        <p><a href="https://designsprintkit.withgoogle.com/methodology/phase3-sketch/crazy-8s">Read guidance from Google Design Sprints on rapid eights.</a></p>
                        <h3>Glossary</h3>
                        <p>Related terms: design and design thinking, working in the open.</p>
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/agile-glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do rapid eights</h2>
                        <h3>How to use the steps</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group do not know each other. You could use a <a href="{{ '/ways-of-working/activities/check-in.html' | prepend: site.baseurl }}">check-in activity</a>.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;In this session we’re going to generate ideas and potential solutions to the problem we’re focusing on.&#8221;</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Try and think as wide as possible when generating ideas in this way. If the team face any significant constraints, it’s good to discuss them beforehand.</p>
                                <p>It’s good to say that this activity is not about drawing skills or judging the drawings themselves. It’s a free way to express ideas. Encourage people to draw, but they can also use text if they want.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity </h3>
                                <p>Agree the challenge or problem you want to solve.</p>
                                <p>Write the problem somewhere and make it available for people.</p>
                                <p>Make sure everyone has a way of capturing eight ideas.</p>
                                <p>One way to do this is by folding a single sheet of A3 or A4 paper in half 3 times to make 8 equally sized panels. You could then take a picture of your ideas on paper and upload them to a shared space online that everyone can see.</p>
                                <p>Another option would be to use a collaborative online tool such as Miro. The group could visualise ideas using the built in drawing tools, like icons and illustrations, to share their ideas.</p>
                                <p>Set a timer for 8 minutes (1 minute per panel).</p>
                                <p>Let everyone know that when the timer starts they need to quickly sketch one idea per panel individually. The quality of drawing is not important.</p>
                                <p>Call out the time every minute and ask everyone to move onto the next sketch. It’s okay if some people have started the next one early.</p>
                                <p>When the time is over ask everyone to share and talk through their ideas. It’s best if everyone can see the sketched ideas in a shared space.</p>
                            </li>
                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Let the group know what’s going to happen with the ideas. You could prioritise the potential ideas using the <a href="{{ '/ways-of-working/activities/dot-voting.html' | prepend: site.baseurl }}">dot voting</a> activity.</p>
                            </li>
                            <li>
                                <h3>Close the session </h3>
                                <p>Close the session and collate the ideas somewhere that everyone can access.</p>
                            </li>
                        </ol>
                        <p>To decide what to work on next go to the <a href="{{ '/ways-of-working/activities/' | prepend: site.baseurl }}">activities page</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
