---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/retrospectives.html
section: ways-of-working-activities
meta-title:	Retrospective activity
meta-description: Find out how teams use retrospectives to look back on their recent time working together.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: Retrospectives
last-reviewed: Last reviewed&#58; 15th July 2022
intro-text-lead:
  - Reflect on your time working together as a team.
# Image at the top of the hero
decorative-image-url: /images/ways-of-working/activities/stand-up-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 2 to 10 people
  - img: /images/icons/clock.svg
    text: 1 hour per session

# Changelog
changelog:
  - date: 15th July 2022
    notes: Page published.
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on retrospectives</h2>
                        <h3>Why do a retrospective</h3>
                        <p>Retrospectives are a way for teams to:</p>
                        <ul>
                            <li>look back on their recent time working together</li>
                            <li>reflect on what's working well and not so well</li>
                            <li>turn reflections into improvements in their ways of working</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>The team, usually up to 10 people. You can run retrospectives with larger groups, but you need different activity structures and usually more time to let everyone participate.</p>
                        <h3>When to do a retrospective</h3>
                        <p>Teams usually have regular retrospectives booked in their calendars. You can experiment with other patterns, but every two weeks is a good starting place.</p>
                        <p>Having retrospectives regularly helps the team to keep experimenting with small changes to how they work together.</p>
                        <h3>Things you’ll need</h3>
                        <p>There are lots of structures for a retrospective, but typically:</p>
                        <ul>
                            <li>any reference, data or other context that could help, for example: user stories or results of a team health check</li>
                            <li>a shared digital or physical space so that everyone can see and create the map together</li>
                            <li>digital or physical sticky notes and marker pens</li>
                        </ul>
                        <h3>Tips on running the session</h3>
                        <p>Agree a time everyone can make in advance.</p>
                        <p>Have one person to facilitate the meeting. Usually this is a team member. You might want to ask a facilitator from outside the team, to let everyone in the team take part.</p>

                        <h3>Learn more</h3>
                        <p><a href="https://pragprog.com/titles/dlret/agile-retrospectives/">Agile Retrospectives: Making good teams great</a>.</p>
                        <p><a href="https://www.parabol.co/resources/agile-sprint-retrospective-ideas/">6 effective sprint retrospective techniques</a></p>
                        <p><a href="https://retrospectivewiki.org/">Retrospective Wiki:</a></p>
                        <ul>
                            <li><a href="https://retrospectivewiki.org/index.php?title=Rob%27s_Guide_to_Effective_Retrospectives">guide to effective retrospectives</a></li>
                            <li><a href="https://retrospectivewiki.org/index.php?title=Common_ailments_%26_cures">common retro ailments and cures</a></li>
                            <li><a href="https://retrospectivewiki.org/index.php?title=Retrospective_Plans">retro formats</a></li>
                        </ul>
                        <p><a href="https://adrianhoward.com/posts/good-retros/">A spotter’s guide to good retrospectives</a>.</p>
                        <p><a href="https://www.retrium.com/blog/blaming-and-naming-recognizing-and-avoiding-retrospective-anti-patterns">Recognising and avoiding retrospective antipatterns</a>.</p>
                        <h3>Glossary definitions that might be helpful:</h3>
                        <p><a href="https://coop.co.uk/experience-library/ways-of-working/agile-glossary.html#retrospective">Retrospective</a>, <a href="https://static.coop.co.uk/experience-library/ways-of-working/agile-glossary.html#retrospective-prime-directive">Retrospective prime directive</a>, <a href="https://static.coop.co.uk/experience-library/ways-of-working/agile-glossary.html#facilitator">Facilitator</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a retrospective</h2>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-32">
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group do not know each other.</p>
                                <p>If people have not been to a retrospective before, explain that this is a safe space for the team to discuss their work.</p>
                                <p>Teams often reference the ‘retrospective Prime Directive’ written by Norm Kerth:</p>
                                <blockquote>
                                    <p>"Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what they knew at the time, their skills and abilities, the resources available, and the situation at hand."</p>
                                </blockquote>
                                <p>It is useful for encouraging people to make positive and honest contributions, which is the best way to get the most out of a retrospective.</p>
                                <p>You may want to read this out, to help them get in the right frame of mind.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session</h3>
                                <p>For example: “The aim of this session it to reflect on what happened during the last two weeks, and to agree actions the team can take to help the team work better together in future.”</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>For example:</p>
                                <p>Looking back on a two-week period in a short session, there  might not be enough time to discuss everything that happened in detail. The group should help each other find the common themes and important events.</p>
                                <p>It's good to agree:</p>
                                <ul>
                                    <li>how to action anything which is outside the team’s control</li>
                                    <li>actions the team can take and who is responsible</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Ask people to reflect and add their thoughts to the board</h3>
                                <p>There are many ways for a team to reflect using a retrospective. In this example we’ve asked 3 questions:</p>
                                <p>'What's been working well?'</p>
                                <p>‘What could be better?’</p>
                                <p>‘Any ideas to improve things in the future?’</p>
                                <p>Start a timer and advise the group how long they have to add their thoughts to the board.</p>
                                <p>The length of time you give the group will depend on how many people are taking part. You want to give everyone a chance to add their thoughts, whilst leaving enough time to theme and discuss them as a group.</p>
                            </li>
                            <li>
                                <h3>Synthesise and theme</h3>
                                <p>Once everyone has added their notes to the board, start to group any themes or related notes.</p>
                                <p>You can either do this as a group activity or let the facilitator take the lead.</p>
                                <p>If there are any notes that are not part of a theme, it’s ok to keep them separate.</p>
                            </li>
                            <li>
                                <h3>Discuss the themes</h3>
                                <p>Go back through the themes one by one.</p>
                                <p>Prompt the group to talk about what they have written as you are going through the themes, you could say: “Does anyone want to go through what they’ve written?”</p>
                                <p>You need to allow enough time for the group to discuss the themes and come to a conclusion.</p>
                                <p>Make sure you have enough time to discuss all of the themes on the board.</p>
                            </li>
                            <li>
                                <h3>Create and prioritise actions</h3>
                                <p>As the group are talking, ideas about what to do may be suggested. Capture these as potential actions. You could add these to the board using a different colour sticky note.</p>
                                <p>Once the group have discussed all the themes you should prioritise what you are going to do about them.</p>
                                <p>Go back over the themes and ask the group to suggest potential actions that could be taken if they haven’t been captured already.</p>
                                <p>Not everything that was discussed will require further action.</p>
                                <p>Once you have a list of potential actions, ask the group to prioritise them. You could use the dot vote method to do this.</p>
                                <p>Lastly, ask the group if they’d like to take the lead on a prioritised action. Capture who is doing what and close the session.</p>
                            </li>
                            <li>
                                <h3>Review and assign actions</h3>
                                <p>Ask the group if they’d like to take the lead on a prioritised action.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Capture who is doing what and close the session.</p>
                                <p>You could say something like:</p>
                                <p>“Thanks for your input today, the actions will be reviewed at the start of the next retrospective in two weeks to see how they’re progressing”.</p>
                            </li>
                            <li>
                                <h3>After the session</h3>
                                <p>Add any actions that were captured during the retrospective to your backlog.</p>
                                <p>You could reflect on the progress of the actions at the start of the teams next retrospective.</p>
                            </li>
                            <li>
                                <h3>Retrospective Miro template</h3>
                                <p>We’ve created an example retrospective template in Miro that you can copy and adapt to suit your needs.</p>
                                <a class="coop-btn coop-btn--primary" href="https://miro.com/app/board/uXjVO1-SfH4=/">Open retrospective template</a>
                            </li>
                        </ol>
                        <p>To decide what you work on next, go to <a href="/experience-library/ways-of-working/activities/">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
