---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/service-mapping.html
section: ways-of-working-activities
meta-title:	Service mapping activity
meta-description: Use service mapping to show the step-by-step journey of your product or service in a visual way.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Activities
title: Service mapping
last-reviewed: Last reviewed&#58; 1 February 2022
intro-text-lead:
  - Show the step-by-step journey of your product or service in a visual way.
# Image at the top of the hero
decorative-image-url:  /images/decorative/service-mapping.svg

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 3 to 10 people
  - img: /images/icons/clock.svg
    text: 2 to 3 hours per session

# Changelog
changelog:
  - date: 1 February 2022
    notes: Link update
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on service mapping</h2>
                        <h3>Why create a service map</h3>
                        <p>Service maps can help:</p>
                        <ul>
                            <li>you to see the bigger picture of your product or service</li>
                            <li>your team work together with a focus</li>
                            <li>bring clarity in times of change</li>
                            <li>make decisions obvious</li>
                            <li>make knowledge accessible</li>
                            <li>to quickly identify pain points and opportunities</li>
                            <li>you involve stakeholders and agree how to progress together</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>team members with an understanding of the service</li>
                            <li>subject matter experts</li>
                            <li>people that input into the service</li>
                            <li>service users</li>
                        </ul>
                        <h3>When to create a service map</h3>
                        <p>You can do service mapping at all stages of product and service development.</p>
                        <h3>Things you’ll need</h3>
                        <p>A shared digital or physical space so that everyone can see and create the map together.</p>
                        <p>Digital or physical sticky notes and marker pens.</p>
                        <p>Any reference, data or other context that could help.</p>
                        <h3>Tips on running the session</h3>
                        <p>Provide the group with:</p>
                        <ul>
                            <li>visuals of what a service map looks like</li>
                            <li>handouts with clear instructions if you think it will help</li>
                            <li>copies of existing research if it is relevant</li>
                            <li>time limits for each activity</li>
                        </ul>
                        <p>Be as open as possible and make it clear that there is no wrong answer.</p>
                            <p>Get the team stood up and involved as soon as possible.</p>
                            <p>Be specific about what you want people to do, for example, where you want people to contribute or put their post-its.</p>
                            <p>Close the session at least 10 minutes before the end so that people have time to ask questions.</p>
                        <h3>Learn more</h3>
                        <p><a href="http://www.practicalservicedesign.com/">practicalservicedesign.com</a></p>
                        <p><a href="https://medium.com/leading-service-design/service-mapping-and-different-types-of-maps-604a1a22e22c">Service mapping and different types of maps</a> - Ben Holliday</p>
                        <p><a href="https://digitalblog.coop.co.uk/2019/08/14/service-mapping-to-make-friends-and-influence-stakeholders/">Service mapping to make friends and influence people</a> - Co-op Digital blog</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to create a service map</h2>
                        <ol class="el-c-activity-steps">
                            <li>
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group don’t know each other.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;We’re here to understand the bigger picture of the service (or product) that we are working on.&#8221;</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations, for example:</h3>
                                <p>The service map might change as you go through the project - it takes a few versions to get the level of detail and format right.</p>
                            </li>
                            <li>
                                <h3>Introduce the service mapping method using a visual example</h3>
                                <img src="{{ '/images/ways-of-working/activities/service-map.png' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-32" alt="Service map example">
                                <p class="coop-t-caption">An example of a completed service map.</p>
                            </li>
                            <li>
                                <h3>Explain that it is important to do the top row first, which is usually the ‘steps’ of a user journey or service.</h3>
                                <p>It’s helpful if the facilitator asks the group to identify the steps and makes the notes on post-its to get the service map going. All the post-its in each row should be the same colour.</p>
                                <p>The top row of steps fall into stages or categories called ‘epics’. If you’re developing a digital product this could be: Awareness, Log on, Task and Log out.</p>
                                <p>Some participants have more experience of the subject matter than others. You could ask them to work on the area that they are more familiar with.</p>
                            </li>
                            <li>
                                <h3>Now you can identify the service map rows that sit under the steps, for example:</h3>
                                <ul>
                                    <li>Who</li>
                                    <li>Action visible to user</li>
                                    <li>System</li>
                                    <li>Data available</li>
                                    <li>Pain points</li>
                                    <li>Opportunities to improve</li>
                                </ul>
                                <p>You may not need all of these or you might need to add rows that are specific to your project.</p>
                                <p>Go through each layer or row type with examples.</p>
                                <p>Ask the group if they have any questions before you get started.</p>
                            </li>
                            <li>
                                <h3>Fill in the service map</h3>
                                <p>Get the team to write post-its and stick them up. Don't worry about getting things wrong, that's why we map out the service - to bring clarity!</p>
                            </li>
                            <li>
                                <h3>Review the service map</h3>
                                <p>Ask the team to look over and make any immediate changes or corrections you can. You might then need to do this again with different people that have different knowledge.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Review the aims you set at the start of the session - is there increased clarity or knowledge?</p>
                                <p>Ask if anyone has any questions or would like you to explain anything.</p>
                                <p>Explain what will happen next.</p>
                            </li>
                            <li>
                                <h3>Post session tasks</h3>
                                <p>Digitise the map if you need to so that the steps and layers are neat and easy to follow.</p>
                                <p>Put the service map in a place where all your team can access it. Revisit it regularly, keep it updated, and use it to make decisions.</p>
                                <p>Transfer all pain points and ideas to a spreadsheet or synthesis board for tracking if it is valuable at this stage.</p>
                            </li>
                        </ol>
                        <p>To decide what to work on next go to <a href="{{ '/ways-of-working/activities/' | prepend: site.baseurl }}">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
