---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/show-and-tell.html
section: ways-of-working-activities
meta-title:	Show and tell activity
meta-description: Find out how to create a show and tell to share your team’s progress with a wider audience.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Show and tell
last-reviewed: Last reviewed&#58; 17 January 2022
intro-text-lead:
  - Share progress or learnings with a wider audience and get feedback on your work.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/show-and-tell-hero.svg

# Supporting image
supporting-image-url:
supporting-image-alt:

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 - 3 people presenting
  - img: /images/icons/clock.svg
    text: 30 minutes

# Changelog
changelog:
  - date: 17 January 2022
    notes: Content updates
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on show and tells</h2>
                        <h3>Why have a show and tell</h3>
                        <p>To gather feedback and ideas on your work by telling colleagues about:</p>
                        <ul>
                            <li>who you are and what you’re working on</li>
                            <li>progress you’ve made</li>
                            <li>what you’ve learned</li>
                            <li>what went well and what did not work</li>
                            <li>what’s next</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>Team and key stakeholders. Invite anyone who you think is interested in your updates.</p>
                        <h3>When to have a show and tell</h3>
                        <p>Do a show and tell in a regular slot each week, fortnight or month. Whatever works best for the team and your audience.</p>
                        <h3>Things you’ll need</h3>
                        <p>You need to show the things you've been working on, like:</p>
                        <ul>
                            <li>live demos of the product</li>
                            <li>working prototypes or visuals that can demonstrate the value of the progress</li>
                            <li>user research and quotes</li>
                        </ul>
                        <p>If creating a slide deck helps you do this, that’s fine but showing what you’re working on and discussing it with your audience is the most important thing.</p>
                        <p>If you’re doing a show and tell face-to-face, you'll also need a good space.</p>
                        <p>Face-to-face or remotely, you need to invite colleagues a few weeks before and send reminders so that people can attend.</p>
                        <h3>Tips on running the session</h3>
                        <p>Preparation should be quick. Aim to create a conversation, not a TED talk that takes up half of your team’s week to prepare.</p>
                        <p>Aim for 20 minutes for the presentation and 10 minutes for questions.</p>
                        <p>Avoid having a lot of content on each slide. Try and use simple sentences and images where you can.</p>
                        <p>There is a <a href="https://cooponline.sharepoint.com/:p:/r/sites/AllDesignTeam/_layouts/15/Doc.aspx?sourcedoc=%7BFAADE7D0-B307-4E54-8C36-E69DAE81DDD4%7D&file=Current%20Co-op%20Digital%20Presentation%20Template.pptx&action=edit&mobileredirect=true&cid=4a4e28bb-1394-4821-aeb2-7e772519f388">Digital template for presentations</a> and <a href="https://miro.com/app/board/o9J_l0MSFbs=/">presentation design structure board</a> that might help you to get started.</p>
                        <p>Try to add in stories to engage people at the beginning or during your show and tell. For example, you could tell a story about how and why the team decided to work on this.</p>
                        <p>Have different people speaking to provide a range of voices.</p>
                        <p>Practise beforehand to check that the timing and pace work.</p>
                        <p>Shout about the things that have gone well but also talk about the things that can help other people learn.</p>
                        <p>Expect questions. Be honest if you do not know the answer and offer to follow up with anyone who wants to get into a longer debate.</p>
                        <h3>Learn more</h3>
                        <p><a href="https://www.youtube.com/watch?v=Unzc731iCUY&ab_channel=MITOpenCourseWare">How To Speak by Patrick Winston</a></p>
                        <p><a href="https://www.doingpresentations.com/writing.html">Doing Presentations</a></p>
                        <p><a href="https://wow.how/">Ways of working</a></p>
                        <p><a href="https://cooponline.sharepoint.com/:p:/r/sites/AllDesignTeam/_layouts/15/Doc.aspx?sourcedoc=%7BFAADE7D0-B307-4E54-8C36-E69DAE81DDD4%7D&file=Current%20Co-op%20Digital%20Presentation%20Template.pptx&action=edit&mobileredirect=true&cid=4a4e28bb-1394-4821-aeb2-7e772519f388">Digital template for presentations</a></p>
                        <p><a href="https://miro.com/app/board/o9J_l0MSFbs=/">Presentation design structure guide</a></p>
                        <h3>Glossary</h3>
                        <p>Related terms: show and tell, stakeholders, working in the open.</p>
                        <p>See definitions of these terms in our <a href="{{ '/ways-of-working/glossary.html' | prepend: site.baseurl }}">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a show and tell</h2>
                        <h3>How to use the steps</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Introduce yourself, your team and who’s going to be speaking.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims of the session</h3>
                                <p>Share your vision for the show and tell: what people are going to know by the end of it.</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Be clear that:</p>
                                <ul>
                                    <li>show and tells are an important part of reporting for the project</li>
                                    <li>colleagues are welcome to ask questions. Let people know whether you want them to ask questions during the presentation or keep them until the end.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Context setting</h3>
                                <p>Provide some context for your work and how it contributes to your purpose and objectives. This could be a good place to add a story.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity </h3>
                                <p>Provide 2 to 5 main points about the progress on your product or service.</p>
                                <p>Try not to tell everyone about everything you have done. If you’re not sure what to talk about, pick:</p>
                                <ul>
                                    <li>one thing that went well</li>
                                    <li>one thing that you learned or did not go well</li>
                                    <li>something you want feedback on</li>
                                </ul>
                                <p>Very briefly tell people about your next steps.</p>
                            </li>
                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Tell people how you have met your vision for the show and tell: summarise what you have told them or contributed.</p>
                            </li>
                            <li>
                                <h3>Close the session </h3>
                                <p>Tell people about the next show and tell and when it will be.</p>
                                <p>Signal the end of your presentation.</p>
                                <p>“You could say “That’s the end of the show and tell and I’m happy to answer questions.”</p>
                            </li>
                            <li>
                                <h3>Post session tasks</h3>
                                <p>Share the slides, visuals, or recording of the show and tell, if you think that would help people.</p>
                                <p>Review the show and tell as a team soon afterwards. Recording how you feel in the moment can help you to improve what you do next time.</p>
                            </li>
                        </ol>
                        <p>To decide what to work on next go to <a href="{{ '/ways-of-working/activities/' | prepend: site.baseurl }}">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
