---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/activities/stand-up.html
section: ways-of-working-activities
meta-title:	Stand-up activity
meta-description: Find out how to use daily stand-ups to look at your work as a team and decide how to tackle it.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Stand-up
last-reviewed: Last reviewed&#58; 23 July 2021
intro-text-lead:  
  - Quick stand-up meeting with your team to decide what to focus on that day. A chance to ask for help, share problems and relevant updates.
# Image at the top of the hero
decorative-image-url:  /images/ways-of-working/activities/stand-up-hero.svg

# Supporting image
supporting-image-url: 
supporting-image-alt: 

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: The team
  - img: /images/icons/clock.svg
    text: 5 to 15 minutes

# Changelog
changelog:
  - date: 17 September 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on stand-ups</h2>
                        <h3>Why have a stand-up</h3>
                        <p>Stand-ups create a time and place for teams to:</p>
                        <ul>
                            <li>mark the start of your working day as a team</li>
                            <li>identify the priorities to work on that day</li>
                            <li>share news and updates quickly with focus</li>
                            <li>ask for help or talk through problems</li>
                        </ul>   
                        <h3>Who is involved</h3>
                        <p>All members of the team including anyone in the office or working remotely at home.</p>
                        <h3>When to have a stand-up</h3>
                        <p>Typically stand-ups happen at a time that suits the team for 15 minutes between 8:45 and 10am. You can use <a href="{{ '/ways-of-working/glossary.html#letter-r' | prepend: site.baseurl }}">Retros</a> to discuss whether the time slot for stand-ups is working.</p>
                        <h3>Things you’ll need</h3>
                        <p>You need to focus around the work you are doing. This could be:</p>
                        <ul>
                            <li>a white board using Kanban with post-its and marker pens</li>
                            <li>a digital way of recording what you do, for example, Jira or Trello or Miro</li>
                        </ul> 
                        <h3>Tips on running the session</h3>
                        <ul>
                            <li>Agree a time for the stand-up that suits all of the team so that everyone can be there.</li>
                            <li>If some members of the team are not turning up, find out if there is a reason, for example, it’s not at the right time for them.</li>
                            <li>One person from the team should facilitate the stand-up but that person can rotate throughout the week.</li>
                        </ul>
                        <h3>Learn more</h3>
                        <p><a href="https://www.jamesshore.com/v2/books/aoad2/stand-up_meetings">James Shore: AoAD2 Practice: Stand-Up Meetings</a></p>
                        <p><a href="https://martinfowler.com/articles/itsNotJustStandingUp.html">It's Not Just Standing Up: Patterns for Daily Standup Meetings</a></p>
                    </div>
                </div>
            </div>  
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to run a stand-up</h2>
                        <h3>How to use the steps</h3>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li class="coop-u-margin-t-64">
                                <h3>Welcome and introductions</h3>
                                <p>Say hello to everyone. Let people know the stand-up is starting.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims of the session</h3>
                                <p>Remind everyone that they are there to quickly:</p>
                                <ul>
                                    <li>agree the focus for work that day</li>
                                    <li>ask questions or ask for help</li>
                                    <li>identify anything that has come up and needs more discussion later</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations</h3>
                                <p>Remind everyone that it’s all of the team’s responsibility to make sure that you keep to time.</p>
                                <p>You’re aiming for a short meeting to create a focus for the day. Stand-ups are also a great place to discover what needs more in-depth discussion, but it’s not the time to have the in-depth discussion itself.</p>
                                <p>You can agree who will have the in-depth discussion and when, then move the stand-up on. You could decide to stay on the call or in the room after stand-up if that suits everyone.</p>
                            </li>
                            <li>
                                <h3>Do the method or activity </h3>
                                <p>Focus on the work and your team priorities.</p>
                                <p>Often this involves reviewing progress of tasks using:</p>
                                <ul>
                                    <li>a white board using Kanban with post-its and marker pens</li>
                                    <li>a digital way of recording what you do, for example, Jira or Trello or Miro</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Review the method or activity</h3>
                                <p>Stand-ups are short so it does not work to review them every time.</p>
                                <p>You can review stand-ups at Retros or other team feedback sessions.</p>
                            </li>
                            <li>
                                <h3>Close the session </h3>
                                <p>Thank everyone for coming and close the session.</p>
                            </li>
                            <li>
                                <h3>Post session tasks</h3>
                                <p>Remind everyone to update their progress according to how you are recording this, for example, Kanban, Trello or Miro.</p>
                            </li> 
                        </ol>
                    </div>
                </div>
            </div>  
        </section>
    </main>
    {% include footer.html %}
</div>
