---
layout: coop-experience
id: ways-of-working
item-url: /ways-of-working/storyboarding.html
section: ways-of-working-activities
meta-title:	Storyboards - Co-op Experience Library
meta-description: Find out how to use storyboards to explain an idea in a simple, visual way.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8

section-title: Ways of working
title: Storyboards
last-reviewed: Last reviewed&#58; 22 September 2021
intro-text-lead:
  - Sketch out an idea to help explain it.
# Image at the top of the hero
decorative-image-url: /images/ways-of-working/activities/storyboarding-hero.svg

# If using supporing image set col width to equal 12 when added to col-width above
supporting-col-width: 5

# WOW Activity meta data
wow-activity-meta:
  - img: /images/icons/avatar.svg
    text: 1 to 8 people
  - img: /images/icons/clock.svg
    text: 10 to 15 minutes

# Changelog
changelog:
  - date: 22 Sep 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">

            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Advice on storyboarding</h2>
                        <h3>Why create a storyboard</h3>
                        <p>Storyboards can help your team to:</p>
                        <ul>
                            <li>share and develop ideas</li>
                            <li>ask questions of whether ideas are viable and create value for users</li>
                            <li>openly discuss technical, time or cost constraints</li>
                            <li>eliminate ideas that do not work early</li>
                        </ul>
                        <h3>Who is involved</h3>
                        <p>People with a range of different perspectives and knowledge which usually includes:</p>
                        <ul>
                            <li>a facilitator</li>
                            <li>all team members</li>
                            <li>subject matter experts</li>
                            <li>key stakeholders</li>
                            <li>anyone outside the team who could add a different view or who you want to engage</li>
                        </ul>
                        <h3>When to storyboard</h3>
                        <p>You can use this method when:</p>
                        <ul>
                            <li>research provides enough confidence to start creating ideas</li>
                            <li>you’re starting work on a new discovery, product, service or feature</li>
                            <li>you or your team needs to look at a problem from a new perspective</li>
                        </ul>
                        <h3>Things you’ll need</h3>
                        <ul>
                            <li>a representation of the problem or opportunity so that people can see the whole thing</li>
                            <li>information that will help, for example: outcomes, commercial value, user research and business problems</li>
                            <li>a digital or physical space that people can use to capture their ideas</li>
                        </ul>
                        <h3>Tips on running the session</h3>
                        <p>Make sure everyone understands:</p>
                        <ul>
                            <li>the problem or opportunity</li>
                            <li>this is informal - question, challenge and debate at any point</li>
                            <li>the quality of drawing is not important. It's about getting ideas across, not being an artist</li>
                            <li>what you will do with the ideas after the session</li>
                        </ul>

                        <h3>Glossary</h3>
                        <p>Related terms: design and design thinking, user stories, working in the open.</p>
                        <p>See definitions of these terms in our <a href="">glossary</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>How to do a storyboard</h2>
                        <p>This is one way of doing this activity based on our experience.</p>
                        <p>You might want to adapt it or only use part of it.</p>
                        <p>Teams often find their own way of doing an activity. This is a guide to get you started.</p>
                        <ol class="el-c-activity-steps">
                            <li>
                                <h3>Welcome and introductions</h3>
                                <p>Welcome everyone to the session. Ask everyone to introduce themselves if the group don’t know each other.</p>
                            </li>
                            <li>
                                <h3>Introduce the aims for the session with your team, for example:</h3>
                                <p>&#8220;We’re here to create a set of storyboards that will help us share and explain the ideas we have for our service.&#8221;</p>
                                <p>Or:</p>
                                <p>&#8220;We’re here to visualise the user journey of our product using a storyboard.&#8221;</p>
                            </li>
                            <li>
                                <h3>Discuss any blockers or limitations, for example:</h3>
                                <p>&#8220;We’re storyboarding the ideas we prioritised to work on for the next 6 months.&#8221;</p>
                            </li>
                            <li>
                                <h3>Introduce the service mapping method using a visual example</h3>
                                <img src="{{ '/images/ways-of-working/activities/storyboard.jpg' | prepend: site.baseurl }}" class="coop-u-margin-t-32 coop-u-margin-b-32" alt="Two one page storyboards. Each contain a title of the idea, a short description and a simple sketch. The sketch is on a large post it and stuck below the title on a A4 sheet of paper.">
                                <p class="coop-t-caption">Two one page storyboards. Each contain a title of the idea, a short description and a simple sketch. The sketch is on a large post it and stuck below the title on a A4 sheet of paper.</p>
                            </li>
                            <li>
                                <h3>Create your storyboard</h3>
                                <p>Explain that each storyboard needs:</p>
                                <ul>
                                    <li>a title for the idea</li>
                                    <li>at least one visual of the idea, usually a sketch</li>
                                    <li>a short, clear description of the idea underneath the visual</li>
                                </ul>
                            </li>
                            <li>
                                <h3>Review the storyboards</h3>
                                <p>When the group is ready, put the storyboards somewhere everyone can see them, this might be a physical wall or an online tool like Miro.</p>
                                <p>The important thing is that everyone can see and review the ideas together.</p>
                            </li>
                            <li>
                                <h3>Close the session</h3>
                                <p>Thank everyone for their input and explain what you plan to do with the storyboards.</p>
                            </li>
                            <li>
                                <h3>Post session tasks</h3>
                                <p>If you need to prioritise the ideas on your storyboards, you could try <a href="{{ '/ways-of-working/activities/dot-voting.html' | prepend: site.baseurl }}">Dot voting</a>.</p>
                            </li>
                        </ol>
                        <p>To decide what you work on next, go to <a href="{{ '/ways-of-working/activities/' | prepend: site.baseurl }}">ways of working activities</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
