---
layout: coop-experience
id: accessibility
item-url: /accessibility/build-accessible-websites.html
section: doing-accessibility
meta-title:	Build accessible websites
meta-description: Guidance, tools and resources on digital accessibility. Get started with building accessible websites at Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Build accessible websites
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - Get started with building accessible websites at Co-op.
# Image at the top of the hero
decorative-image-url: /images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Policy and standards</h2>
                    <p>When designing and building websites for Co-op, you must meet our accessibility standards. This stops us creating barriers for people.</p>
                    <p><a href="/accessibility/policy-and-standards.html">Read more about our digital accessibility policy and standards</a>.</p>
                    <h2>Components</h2>
                    <p>We have tested all components in the Experience Library against accessibility criteria. To find out how the components can work best for people using your product or service, test and research with your users.</p>
                    <p><a href="https://cooponline.sharepoint.com/:x:/s/AllDesignTeam/ESHwxyQDTZRChv9KqzEXcN4BGasfPzrHpAHgRP9ft4YCsA?e=iZeUVd">Go to our accessibility criteria for components</a> (Co-op colleagues only).</p>
                    <p><a href="/components/">Go to the component guidelines</a>.</p>
                    <p><a href="/accessibility/research-with-people-with-access-needs.html">Go to the guidance on researching with people</a>.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>