---
layout: coop-experience
id: accessibility
item-url: /accessibility/business-case-for-accessibility.html
section: get-started-with-accessibility
meta-title:	Business case for accessibility
meta-description: Having accessible products and services is the right thing to do and it’s also good for business. Get more information on the business case for accessibility.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Accessibility
title: Business case for accessibility
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - Making our products, services and communications accessible is the right thing to do. It also happens to make good business sense.
# Image at the top of the hero
decorative-image-url: /images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Lost business</h2>
                    <p>There are at least 14.1 million disabled people in the UK. That does not include temporarily disabled people, for example someone who has a broken arm. It does not include situationally disabled people, for example someone trying to do something on their phone outside on a sunny day. If we make something inaccessible, then we exclude some, if not all, of these people. </p>
                    <p>83% of people with access needs limit their shopping to sites they know are barrier-free.</p>
                    <p>UK businesses lose £17.1 billion a year in spending that goes elsewhere because of websites that are not accessible.</p>
                    <p>This is according to .<a href="http://clickawaypound.com/index.html">research from Click Away Pound</a>.</p>
                    <h2>The law</h2>
                    <p>The Equality Act 2010 protects all individuals from unfair treatment.</p>
                    <p>Website owners are required to make ‘reasonable adjustments’ to make their sites accessible to disabled people and people with access needs. </p>
                    <p><a href="https://www.gov.uk/guidance/equality-act-2010-guidance">Government guidance on the Equality Act 2010</a>.</p>
                    <h2>Cost savings</h2>
                    <p>Fixing code after it has gone live can cost up to 100 times more, <a href="https://www.researchgate.net/figure/IBM-System-Science-Institute-Relative-Cost-of-Fixing-Defects_fig1_255965523">according to research from IBM</a>. The earlier we find and fix accessibility issues the less it will cost us to do so.</p>
                    <h2>Business Disability Forum</h2>
                    <p>Co-op is a member of the Business Disability Forum, which works with businesses to influence policy and remove barriers.</p>
                    <p><a href="https://businessdisabilityforum.org.uk/">Go to the Business Disability Forum website</a>.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>