---
layout: coop-experience
id: accessibility
item-url: /accessibility/communities.html
section: get-started-with-accessibility
meta-title:	Communities - Accessibility
meta-description: There are several communities working on accessibility, inclusion and diversity at Co-op. Get more information and contact the communities.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Accessibility
title: Communities
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - There are several communities working on accessibility, inclusion and diversity at Co-op.
  - Co-op colleagues can join these groups, and find their contact details, through Yammer.

# Image at the top of the hero
decorative-image-url: /images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Accessibility champions network</h2>
                    <p>Accessibility champions promote accessibility in their teams and disciplines. They also host a guest speaker a few times a year.</p>
                    <p><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiIzNzA0ODEzMTU4NCJ9/all">Accessibility Champions on Yammer</a>.</p>
                    <h2>Rise</h2>
                    <p>Rise network is dedicated to supporting a diverse and inclusive culture. They amplify the benefits of ethnic diversity through education and sharing real-life colleague experiences.</p>
                    <p><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI1Nzg1MjgwNTEyIn0/all">Rise Network on Yammer</a>.</p>
                    <h2>Aspire</h2>
                    <p>Aspire is a network for women and allies. They offer support and guidance, and host events and discussions.</p>
                    <p><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI5MzU1NzU1NTIifQ/all">Aspire Network on Yammer</a>.</p>
                    <h2>Respect LGBTQ+</h2>
                    <p>Respect is Co-op’s LGBTQ+ colleague network. They raise awareness about policy developments and educate colleagues about LGBTQ+ challenges and achievements.</p>
                    <p><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiIxMTA3ODYxNTA0MCJ9/all">Respect on Yammer</a>.</p>
                    <h2>Co-op diversity and inclusion</h2>
                    <p>The diversity and inclusion team share regular updates and events about inclusion.</p>
                    <p><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI1MTE1ODEzODg4In0/all">Diversity and inclusion team on Yammer</a>.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>