---
layout: coop-experience
id: accessibility
item-url: /accessibility/digital-accessibility-awareness-training.html
section: accessibility-training
meta-title:	Digital Accessibility Awareness training
meta-description: Join our practical, interactive Digital Accessibility Awareness training designed for Co-op colleagues.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Digital Accessibility Awareness training
last-reviewed: Last reviewed&#58; 15 August 2024
intro-text-lead: 
  - Practical, interactive sessions for Co-op colleagues. A basic understanding of digital accessibility is helpful.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 15 August 2024
    notes: Content updated
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Who it's for</h2>
                    <p>This training is for people who already have a basic understanding of digital accessibility.</p>
                    <h2>What you'll learn</h2>
                    <p>Learn more about how to create products, services and communications that everyone can understand.</p>
                    <p>The training will:</p>
                    <ul>
                    <li>help you build empathy and awareness of digital accessibility</li>
                    <li>give you confidence when talking about accessibility</li>
                    <li>make it easier to encourage your team to prioritise accessibility</li>
                    </ul>
                    <h2>When the sessions are</h2>
                    <p>The 1.5-hour sessions take place monthly, but we can also arrange a session to fit around your team.</p>
                    <blockquote>
                        <p>“I can confirm this is one of the best training sessions I have been on at the Co-op.”</p>
                        <cite>– a previous attendee.</cite>
                    </blockquote>
                    <h2>How to book a place</h2>
                    <p>Please contact Antonia Duffin on Microsoft Teams to book your place.</p>
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
