---
layout: coop-experience
id: accessibility
item-url: /accessibility/digital-accessibility-policy.html
section: get-started-with-accessibility
meta-title:	Digital accessibility standards
meta-description: Find out about Co-op’s digital accessibility policy.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Digital accessibility policy
last-reviewed: Last reviewed&#58; 15 December 2021
intro-text-lead: 
  - At Co-op we want to make sure that everyone can access digital services including Co-op websites, apps, communications and colleague resources.
intro-text:
  - We've set out our digital accessibility goals, processes and responsibility so that we can create a consistent approach.
  - We've also created our digital accessibility standards to set out what guidelines we need to meet and why.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>How do we make things more accessible?</h2>
                    <p>We need to consider digital accessibility at every stage of creating products and services at <span class="coop-u-nowrap">Co-op</span>. And it must not end there. We need to constantly review and improve everything we build and develop.  </p>
                    <p>The 8 stage process makes sure that there is responsibility for accessibility at all stages of product and service development.</p>
                    <hr class="coop-u-margin-t-64">
                    <h2>8 stage accessibility process</h2>
                    <p>The aim of this process is to catch accessibility issues as early as possible, avoiding a build-up of expensive ‘accessibility debt’ that we’ll need to fix in the future. </p>
                    <h3>1. Procurement</h3>
                    <p>We will:</p>
                    <ul>
                        <li>assess all online products and services that we buy against <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1 criteria</a> </li>
                        <li>test key journeys with people with access needs</li>
                        <li>document the barriers for people with access needs and share with the procurement lead </li>
                    </ul>
                    <h3>2. Research</h3>
                    <p>We will: </p>
                    <ul>
                        <li>carry out research with 1 in 5 participants who have a known access need (motor, cognitive, vision or hearing)</li>
                    </ul>
                    <h3>3. Design</h3>
                    <p>We will: </p>
                    <ul>
                        <li>use our inclusive design crits document when reviewing designs </li>
                        <li>include people with access needs in our crits sessions on a regular basis </li>
                        <li>record any reasons for not meeting accessibility guidelines and share with the product owner </li>
                    </ul>
                    <h3>4. Front end build at a component level</h3>
                    <p>We will: </p>
                    <ul>
                        <li>run automated testing against <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a> while building new components</li>
                    </ul>
                    <h3>5. Content</h3>
                    <p>We will: </p>
                    <ul>
                        <li>score content accessibility quarterly </li>
                        <li>support content creators to produce accessible content </li>
                    </ul>
                    <h3>6. Quality assurance</h3>
                    <p>We will: </p>
                    <ul>
                        <li>be involved from the design stage </li>
                        <li>test key journeys with people with access needs </li>
                    </ul>
                    <h3>7. Automated testing of live products and services</h3>
                    <p>We will: </p>
                    <ul>
                        <li>run continuous automated testing against <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a> throughout product development</li>
                        <li>have development standards that include accessibility </li>
                        <li>make sure new starters read the standards </li>
                    </ul>
                    <h3>8. Annual accessibility audits</h3>
                    <p>We will: </p>
                    <ul>
                        <li>carry out annual audits of digital products and services</li>
                    </ul>
                    <hr class="coop-u-margin-t-64">
                    <h2>Responsibility for accessibility policy</h2>
                    <p>Our head of digital products, Adam Warburton, has overall accountability for the accessibility of our products and services.</p>
                    <p>Everyone working in <span class="coop-u-nowrap">Co-op</span> product and service development is accountable for working to the principles of this policy.</p>
                    <hr class="coop-u-margin-t-64">
                    <h2>Awareness and support for the accessibility policy</h2>
                    <p>We will: </p>
                    <ul>
                        <li>provide regular training to make sure everyone involved in developing online products and services are aware of accessibility needs </li>
                        <li>make the accessibility policy easily accessible  </li>
                        <li>encourage people to attend sessions to see how people use technology in different ways  </li>
                        <li>create a network of people with an interest in accessibility to build and share knowledge </li>
                        <li>liaise with the <span class="coop-u-nowrap">Co-op</span> Inclusion Pioneer Network so that they aware of the accessibility policy   </li>
                        <li>produce a communications plan to generate awareness and commitment to the accessibility policy and guidelines </li>
                    </ul>
                    <hr class="coop-u-margin-t-64">
                    <h2>Help with accessibility</h2>
                    <p>For help and support making our products and services accessible, contact <a href="mailto:accessibility@coop.co.uk">accessibility@coop.co.uk</a>. </p>
                    <p>This might include:</p>
                    <ul>
                        <li>contacting the accessibility champion network at the <span class="coop-u-nowrap">Co-op</span> </li>
                        <li>help with accessibility testing tools and access to people with access needs</li>
                    </ul>
                    <hr class="coop-u-margin-t-64">
                    <h2>Reporting and volunteering</h2>
                    <p>If you find any accessibility issues please email <a href="mailto:accessibility@coop.co.uk">accessibility@coop.co.uk</a>. </p>
                    <p>We're always looking for volunteers with access needs to help us with our products. If you'd like to get involved, please contact <a href="mailto:matt.tyas@coop.co.uk">matt.tyas@coop.co.uk</a>.</p>
                    <hr class="coop-u-margin-t-64">
                    <h2>Information on accessibility</h2>
                    <h3>Web Content Accessibility Guidelines (WCAG) 2.1</h3>
                    <p>These are the standards developed by individuals and organisations around the world to create a shared standard for accessibility. <span class="coop-u-nowrap">Co-op</span> needs to meet Level AA of these standards as a minimum and Level AAA wherever possible.  </p>
                    <h3>Equality Act 2010</h3>
                    <p>This is the law that protects people from any discrimination that happened since 2010. <a href="http://www.legislation.gov.uk/ukpga/2010/15/section/29">Read the provision of service which includes digital services and therefore accessibility</a>. </p>
                    <h3><span class="coop-u-nowrap">Co-op</span> Diversity and Inclusion team</h3>
                    <p><span class="coop-u-nowrap">Co-op</span> creates an environment where people respect and celebrate each other's individual differences. We embrace the talents, beliefs, backgrounds and abilities of all our colleagues. <a href="https://colleagues.coop.co.uk/diversity-inclusion-and-wellbeing">Find out how <span class="coop-u-nowrap">Co-op</span> create an inclusive work environment for our diverse community of colleagues</a>.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>