---
layout: coop-experience
id: accessibility
item-url: /accessibility/digital-accessibility-awareness-training.html
section: get-started-with-accessibility
meta-title:	Digital accessibility awareness training
meta-description: An interactive session for Co-op colleagues to find accessibility issues in a fake service. Get more information and book a session.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Digital accessibility awareness training
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - We’ve created an interactive session to help colleagues find accessibility issues using a fake service – ‘Return a leaky flour bag’. See first-hand what problems people can have when trying to do something online.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>About the accessibility training</h2>
                    <p>In this session you can learn:</p>
                    <ul>
                        <li>why accessibility matters</li>
                        <li>how to navigate web pages using just a keyboard</li>
                        <li>how to find accessibility issues</li> 
                    </ul>
                    <blockquote>
                    <p>“I can confirm this is one of the best training sessions I have been on at the Co-op.”</p>
                    <cite>– a previous attendee.</cite>
                    </blockquote>
                    <p>To book a one hour session, email <a href="mailto:accessibility@coop.co.uk">accessibility@coop.co.uk</a></p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>