---
layout: coop-experience
id: accessibility
item-url: /accessibility/find-out-if-something-is-accessible.html
section: doing-accessibility
meta-title:	Accessibility awareness training
meta-description: Find out if something is accessible. Get more information on Co-op’s processes for accessibility testing. 

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Accessibility
title: Find out if something is accessible
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - It can be hard to know where to start with accessibility testing. These processes may help&#58;
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Critical accessibility testing framework</h2>
                    <p>You can use the framework to test a common user journey or a new component.</p>
                    <p>The board provides instructions on how to do automated and manual tests to find the most critical accessibility issues. This can help you to find the barriers that could stop people using something, and what you need to do to remove them.</p>
                    <p><a href="https://miro.com/app/board/o9J_lMK6t0M=/?moveToWidget=3074457356619647171&cot=14">Go to the critical accessibility testing Miro board</a> (Co-op colleagues only).</p>
                    <h2>Accessibility review template</h2>
                    <p>The review template sets out how to assess a product or service for accessibility. It's based on a critical accessibility test and a series of tests with users of different assistive technology. Through testing and user research, find what the major barriers to using the service are, and which standards are not met.</p>
                    <p>To do an accessibility review:</p>
                    <ol>
                        <li><a href="https://miro.com/app/board/o9J_l9CbLdw=/?moveToWidget=3074457360614119468&cot=14">Go to the accessibility review template board</a> (Co-op colleagues only).</li>
                        <li>Make a copy for your review and rename it.</li>
                        <li>Follow the instructions.</li> 
                        <li>Record results and recommendations.</li>
                        <li>Create a plan to fix any issues found and remove barriers.</li>
                    </ol>
                    <h2>PDFs</h2>
                    <p>PDFs are often not accessible. They make it hard for assistive technology users to follow and get the information from them.</p>
                    <p><a href="https://gds.blog.gov.uk/2018/07/16/why-gov-uk-content-should-be-published-in-html-and-not-pdf/">The UK government have said PDFs are not a format everybody can access</a>.</p>
                    <p>Try to avoid using PDFs and use web pages instead wherever possible.</p>
                    <p><a href="/search-engine-optimisation/seo-for-images-and-pdfs.html">The UK government have said PDFs are not a format everybody can access</a>.</p>
                    <h2>Tools and resources</h2>
                    <p>Find tools to help with accessibility testing on our <a href="/accessibility/tools-and-resources.html">tools and resources page</a>.</p>
                    <h2>Resources</h2>
                    <ul>
                       <li><a href="https://miro.com/app/board/o9J_lMK6t0M=/">Critical accessiblity testing Miro board</a> (Co-op colleagues only).</li> 
                       <li><a href="https://miro.com/app/board/o9J_lSAqxBs=/">Critical accessiblity testing example - the Co-op jobs webiste</a> (Co-op colleagues only).</li> 
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>