---
layout: coop-experience
id: accessibility
item-url: /accessibility/policy-and-standards.html
section: accessibility
meta-title:	6 steps to getting started with accessibility at Co-op
meta-description: Learn the essential 6 steps to begin your accessibility journey at Co-op. Discover practical tips to enhance accessibility and create an inclusive experience for everyone.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: '6 steps to getting started with accessibility at <span class="coop-t-nowrap">Co-op</span>'
last-reviewed: Last reviewed&#58; 6 August 2024
intro-text-lead: 
  - Practical tips to help you start your accessibility journey at Co-op.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 6 August 2024
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>1. Check out our Learning Journey</h2>
                    <p>Take a look at our <a href="https://trello.com/b/CzW8MOi8/accessibility-learning-journey">Learning Journey Trello board</a> if you're new to Co-op, or want to know more about the practical ways to get involved.</p>
                    <h2>2. Book onto our Digital Accessibility Awareness training</h2>
                    <p>Whether you're new to Co-op or want to refresh your knowledge, you can attend one of our monthly <a href="{{ '/accessibility/digital-accessibility-awareness-training.html' | prepend: site.baseurl }}">Digital Accessibility Awareness training</a> sessions.</p>
                    <p>They are practical, interactive sessions where a basic understanding of digital accessibility is helpful but not necessary. Anyone in Co-op can attend. Contact Antonia Duffin on Microsoft Teams to book your place.</p>
                    <h2>3. Join our #accessibility Slack channel</h2>
                    <p>A place to ask questions, share learnings and chat all things accessibility. If you do not have access to Slack, contact Antonia Duffin on Microsoft Teams.</p>
                    <p>You can also explore the Viva Engage (formerly Yammer) channels:</p>
                    <ul>
                        <li><a href="https://engage.cloud.microsoft/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiIxODk2NTY2Nzg0MDAifQ">Represent Network Yammer channel</a></li>
                        <li><a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI1MTE1ODEzODg4In0/all">Diversity and Inclusion Yammer channel</a></li>
                    </ul>
                    <p>These links are only available to Co-op colleagues.<p>
                    <h2>4. View our accessibility levels of responsibility</h2>
                    <p>Read our <a href="https://cooponline.sharepoint.com/sites/AllDesignTeam/SitePages/Our-accessibility-levels-of-responsibility.aspx">accessibility levels of responsibility</a> in Microsoft Sharepoint to find out what's expected in your role as a colleague in Customer Products. And learn how to become more involved in accessibility as an accessibility advocate.</p>
                    <p>This link is only available to Co-op colleagues.</p>
                    <h2>5. Read our digital accessibility guidelines</h2>
                    <p>We follow a set of <a href="{{ '/accessibility/digital-accessibility-standards.html' | prepend: site.baseurl }}">digital accessibility guidelines</a> so that we create products, services and communications that as many people as possible can use and understand. These guidelines are based on the globally recognised <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG)</a>.</p>
                    <h2>6. Explore the tools and resources section</a></h2>
                    <p>We have created a list of <a href="{{ '/accessibility/tools-and-resources.html' | prepend: site.baseurl }}">tools and resources</a> to help you find more information about accessibility, and do it practically in your day to day role.</p>
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>