---
layout: coop-experience
id: accessibility
item-url: /accessibility/how-to-test-for-accessibility.html
section: testing-accessibility
meta-title:	How to test for accessibility – methods and tools
meta-description: Learn how to test for accessibility with methods and tools. Make your digital products are usable by everyone, including people with disabilities

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: How to test for accessibility
last-reviewed: Last reviewed&#58; 15 August 2024
intro-text-lead: 
  - Testing for accessibility makes sure your digital products are usable by everyone, including people with disabilities. This guide covers methods and tools to help you make your work more accessible.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# In page nav
in-page-nav:
  - link-id: automated-testing
    link-text: Automated testing
  - link-id: manual-testing
    link-text: Manual testing
  - link-id: testing-with-disabled-people
    link-text: How to test with disabled people

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 15 August 2024
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <p>Testing for accessibility at the start of any new product or service increases the positive impact it will have on a broader range of people.</p>
                    <p>Accessibility features that are ‘added on’ once it’s been built are less beneficial for users, and could prove costly.</p>
                    <p>Using an existing service or even a competitor's journey can provide insight into how you might approach design for disabled people.</p>

                    <h2 id="automated-testing">Testing with tools and software &ndash; automated testing</h2>

                    <p>There are several free tools available that you can use to help you identify accessibility issues in your product or service.</p>
                    <p>Automated tools will check for 30% of the Web Content Accessibility Guidelines (WCAG) guidelines.</p>
                    <p>See the <a href="{{ '/accessibility/tools-and-resources.html' | prepend: site.baseurl }}">Tools and Resources section</a>.</p>

                    <h2 id="manual-testing">Testing carried out by people &ndash; manual testing</h2>
                    <p>Your product or service may appear accessible when using automated tools, but might not be when you put it in front of people.</p>
                    <p>Manual testing is carried out by people, whereas automated testing uses tools or software.</p>
                    <p>It involves:</p>
                    <ul>
                        <li>turning off sound</li>
                        <li>not using a mouse or trackpad</li>
                        <li>using assistive technologies such as screen readers and screen magnification</li>
                    </ul>
                    <p>Manual testing can be time-consuming and requires expertise, but it's more thorough than automated testing.</p>
                    <p>It covers 70% of the Web Content Accessibility Guidelines (WCAG) whereas automated testing covers only 30%.</p>

                    <h3>Keyboard navigation</h3>
                    <p>Navigate through your service using only a keyboard. Keyboard navigation is how most assistive technologies operate and will help expose where a user would hit problems.</p>
                    <p>We recommend you do this before testing a service in front of a user. If you cannot navigate the service this way, your test will not be useful.</p>
                    <p>When testing, make sure you can navigate in the order you expect. You can open, close, and navigate through items in drop downs, radio buttons, and hidden accordions.</p>
                    <p>Think about things that only work on mouse hover. Do they also work with the tab and enter keys?</p>
                    <p>Make sure there's a clear, visible focus ring that follows you when using the tab key.</p>

                    <h3>Screen magnification</h3>
                    <p>Screen magnification acts like an electronic magnifying glass for your computer, tablet, or smartphone. Some users will use specific tools to support this.</p>
                    <p>You can enlarge text through your browser. This only enlarges text, and not images. This helps users keep the context of the page.</p>
                    <p>Developers should code in a way that does not interfere with the browser's default ways of enlarging content.</p>
                    <p>You can also test magnification by zooming into your website using the zoom function on your browser.</p>
                    <p>You can access the zoom function on your browser through the View menu option. You can also use the following keyboard shortcuts:</p>
                    <ul>
                        <li>Windows device &ndash; windows key and +</li>
                        <li>Apple device &ndash; command key and +</li>
                    </ul>
                    <p>We advise setting your browser to 400%.</p>

                    <h3>Screen readers</h3>
                    <p>It's best to test your services on various screen readers with people familiar with the tools.</p>
                    <p>Running tests with users via Fable, a provider of user research and accessibility testing, is so valuable as they can provide insight you cannot replicate as a sighted user.</p>
                    <p>Testing your service with a screen reader before putting it in front of these users will help you get the most out of the testing. It will make sure the tester can access the essential journeys you want them to test.</p>
                    <p>Learn more about <a href="/accessibility/how-to-use-a-screen-reader.html">how to use a screen reader</a>.</p>

                    <h2 id="testing-with-disabled-people">How to test with disabled people</h2>
                    <p>Testing on your own is not enough. Testing with people who have disabilities is the only real way of knowing if something is accessible.</p>
                    <p>Interviewing disabled people about how they navigate tasks or how they approach the problem presented will give you an understanding of what you need to consider.</p>
                
                    <h3>Fable, a provider of user research and accessibility testing</h3>
                    <p>We have access to a tool called Fable. Fable has a community of disabled people with various access needs who use different types of assistive technology to interact with websites and apps, like:</p>
                    <ul>
                      <li>voice activation</li>
                      <li>screen readers</li>
                      <li>screen magnification</li>
                    </ul>
                        
                    <p>We can connect remotely with them to test our ideas, prototypes, or live websites through the design process.</p>
                    <p>They are the experts, not us.</p>

                    <p>We have 20 'requests' available to use a month. A request could be:</p>
                    <ul>
                        <li>a moderated user interview</li>
                        <li>an unmoderated self-guided task</li>
                        <li>a prototype review</li>
                        <li>a compatibility test (an audit with 1 to 5 people)</li>
                        <li>a one-to-one session with a technical person (known as a QA session)</li>
                    </ul>

                    <p>Find out more about <a href="https://makeitfable.com/tutorial/request-types/">request types</a> and what would suit your needs.</p>
                    <p>The turnaround time is 1 week.</p>
                    
                    <h4>Tips on using Fable</h4>

                    <p>You can:</p>
                    <ul>
                        <li>observe other sessions to get a feel for them</li>
                        <li>ask an accessibility champion to sit in one of the sessions for extra support</li>
                        <li>invite your team for moderated interviews. Observing and seeing the issues first hand has more impact than just stating what the problems are</li>
                        <li>send video clips to your team for added impact &ndash; the sessions are recorded</li>
                        <li>use this <a href="https://cooponline.sharepoint.com/:w:/r/sites/AllDesignTeam/_layouts/15/Doc.aspx?sourcedoc=%7BAB24AC79-20EB-45C7-BF8C-2D132D711124%7D&file=Fable%20draft%20discussion%20guide%20for%20moderated%20sessions.docx&action=default&mobileredirect=true">example discussion guide</a> for moderated interviews</li>
                    </ul>
                        
                    <p>You do not need to worry about leading the participant, as you would in normal user research. These sessions are more about finding technical problems. We need to know what is causing the confusion or issue.</p>

                    <h2>Testing carried out by people &ndash; manual testing</h2>
                    <p>Your product or service may appear accessible when using automated tools, but might not be when you put it in front of people.</p>
                    <p>Manual testing is carried out by people, whereas automated testing uses tools or software.</p>

                    <h3>Fable</h3>
                    <p>	Co-op works with Fable, a provider of user research and accessibility testing. Fable has a community of disabled people who use various types of assistive technology. You can arrange research interviews and other tests with people from this community within a few days of sending a request.</p>
                    <p>Learn more about <a href="/accessibility/how-to-test-your-work-with-disabled-people.html">how to test your work with disabled people.</a></p>

                    <h4>How to get access to Fable</h4>
                    <p>Speak to Antonia Duffin on Microsoft Teams for access and information about how to set up a test.</p>
                    
                    <h4>Recruiting participants using other methods</h4>
                    <p>We should always recruit 1 in 5 people who have access needs.</p>
                    <p>Sometimes Fable is not appropriate. It does not work with Co-op's Virtual Private Network (VPN), and you cannot test in our support centre One Angel Square.</p>
                    
                    <h4>People for Research agency</h4>
                    <p>We can recruit users in the way we do regular user research, via an agency called People for Research. You can ask to speak to people with certain disabilities you need to test with.</p>
                    
                    <h4>Represent, our colleague network</h4>
                    <p><a href="https://colleagues.coop.co.uk/represent-disability-network">Represent</a> is Co-op's colleague network for disabled people. It is a community of people who live with or have experience of disability. You can ask them for help and advice at <a href="mailto:represent@coop.co.uk">represent@coop.co.uk</a></p>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>