---
layout: coop-experience
id: accessibility
item-url: /accessibility/introduction-to-digital-accessibility-training.html
section: get-started-with-accessibility
meta-title:	Introduction to Digital Accessibility training – in-person, interactive session for Co-op colleagues
meta-description: Learn about the basics of accessibility, how to get started and try out our impairment simulation kit

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Digital Accessibility Awareness training
last-reviewed: Last reviewed&#58; 15 August 2024
intro-text-lead: 
  - If you want to understand the basics of accessibility and how to get started, this in-person session is for you.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 15 August 2024
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Who it's for</h2>
                    <p>This training is for people who have no knowledge of digital accessibility.</p>
                    <h2>What you'll learn</h2>
                    <p>Try out our impairment simulation kit to experience some of the difficulties people with vision and mobility impairments face.</p>
                    <p>Learn about:</p>
                    <ul>
                    <li>digital accessibility and why it's important</li>
                    <li>the social and medical models of disability</li>
                    <li>why it's important to not rely on simulation</li>
                    <li>how to think about accessibility in your work or communications</li>
                    </ul>
                    <h2>When the sessions are</h2>
                    <p>We can fit around you and your team.</p>
                    <blockquote>
                        <p>“I can confirm this is one of the best training sessions I have been on at the Co-op.”</p>
                        <cite>– a previous attendee.</cite>
                    </blockquote>
                    <h2>How to book a place</h2>
                    <p>Please contact Antonia Duffin on Microsoft Teams to arrange a session for your team.</p>
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
