---
layout: coop-experience
id: accessibility
item-url: /accessibility/policy-and-standards.html
section: get-started-with-accessibility
meta-title:	Policy and standards
meta-description: Find out about Co-op’s digital accessibility policy and standards.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Accessibility
title: Policy and standards
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - We've created an accessibility policy and some plain English accessibility standards. This is to help us make our products and services as accessible as possible and to give us criteria to test our work against.
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Policy</h2>
                    <p>Our digital accessibility policy sets out our goals, processes and responsibilities. This helps us be consistent in our approach to accessibility.</p>
                    <p><a href="https://www.coop.co.uk/accessibility">Go to the Co-op digital accessibility policy</a>.</p>
                    <h2>Standards</h2>
                    <p>We have our own standards for accessibility. Meeting these standards helps to make accessible products and services.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards">Go to the Co-op digital accessibility standards</a>.</p>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>