---
layout: coop-experience
id: accessibility
item-url: /accessibility/research-with-people-with-access-needs.html
section: doing-accessibility
meta-title:	Research - Accessibility
meta-description: Research with people with access needs. Get more information on how we include people with access needs in our research.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Research with people with access needs
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - The best way to find accessibility issues and barriers is to put your design, prototype, product or service in front of people with access needs and ask them about it.
# Image at the top of the hero
decorative-image-url: images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Policy guidelines</h2>
                    <p>Co-op’s accessibility policy states that 1 in 5 research participants must be people with an access need.</p>
                    <p>By doing this we:</p>
                    <ul>
                        <li>make sure that everyone can access Co-op digital services including our website, communications and resources</li>
                        <li>consider digital accessibility at every stage of products and service development at Co-op</li>
                        <li>constantly review and improve everything we build and develop</li> 
                    </ul>
                    <h2>Fable</h2>
                    <p>Co-op works with Fable, a provider of user research and accessibility testing. Fable has a community of disabled people who use various types of assistive technology. You can arrange research interviews and other tests with people from this community within a few days of sending a request.</p>
                    <p>To get access to Fable, email accessibility@coop.co.uk</p>
                    <h2>Co-op accessibility panel</h2>
                    <p>The Digital Products and Design team are getting a panel of colleagues together to be involved in research who are:</p>
                    <ul>
                        <li>living with a disability, condition or illness</li>
                        <li>consider English as their second language</li>
                    </ul>
                    <p>This is to help make sure that everyone can access Co-op services.</p>
                    <p>You can:</p>
                    <ul>
                        <li><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=tLdPg01i6E2pdy1GrZeb2fZVJQFDiVBPobzKS7JgRYpUQUtUM1RKQ1lHWkJNU1BSSFpQWFdGN0MyTSQlQCN0PWcu">apply to be part of panel</a>.</li> 
                        <li>speak to your user researcher to arrange research with members of the panel (currently digital product teams only)</li> 
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>