---
layout: coop-experience
id: accessibility
item-url: /accessibility/testing-with-disabled-people.html
section: testing-accessibility
meta-title:	How to test your work with disabled people
meta-description: Testing on our own is not enough. Testing with people who have disabilities is the only real way of knowing if something is accessible.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: How to test your work with disabled people
last-reviewed: Last reviewed&#58; 6 August 2024
intro-text-lead: 
  - Testing on our own is not enough. Testing with people who have disabilities is the only real way of knowing if something is accessible.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 6 August 2024
    notes: First version of page published
---
<div class="coop-u-flex__main">
  <main id="main">
    <div class="coop-l-full">
        
        {% include hero.html %}
    </div>
    <section class="coop-l-page">
      <div class="coop-l-grid">
        <div class="coop-l-grid__item coop-l-grid__item--large-7">
          <h2>Fable, a provider of user research and accessibility testing</h2>
          <p>We have access to a tool called Fable. Fable has a community of disabled people with various access needs who use different types of assistive technology to interact with websites and apps, like:</p>
          <ul>
            <li>voice activation</li>
            <li>screen readers</li>
            <li>screen magnification</li>
          </ul>
              
          <p>We can connect remotely with them to test our ideas, prototypes, or live websites through the design process</p>
          <p>They are the experts, not us.</p>
              
          <h3>Types of tests</h3>
          <p>We have 20 'requests' available to use a month. A request could be:</p>
              <ul>
              <li>a moderated user interview</li>
              <li>an unmoderated self-guided task</li>
              <li>a prototype review</li>
              <li>a compatibility test (an audit with 1 to 5 people)</li>
              <li>a one-to-one session with a technical person (known as a QA session)</li>
          </ul>
          
          <p>Find out more about <a href="https://makeitfable.com/tutorial/request-types/">request types</a> and what would suit your needs.</p>
          <p>The turnaround time is 1 to 2 days.</p>
          
          <h3>Tips on using Fable</h3>
          <p>You can:</p>
          <ul>
              <li>observe other sessions to get a feel for them</li>
              <li>ask an accessibility champion to sit in one of the sessions for extra support</li>
              <li>invite your team for moderated interviews. Observing and seeing the issues first hand has more impact than just stating what the problems are</li>
              <li>send video clips to your team for added impact - the sessions are recorded</li>
              <li>use this <a href="https://cooponline.sharepoint.com/:w:/r/sites/AllDesignTeam/_layouts/15/Doc.aspx?sourcedoc=%7BAB24AC79-20EB-45C7-BF8C-2D132D711124%7D&file=Fable%20draft%20discussion%20guide%20for%20moderated%20sessions.docx&action=default&mobileredirect=true">example discussion guide</a> for moderated interviews</li>
          </ul>
              
          <p>You do not need to worry about leading the participant, like you do in normal user research. These sessions are more about finding technical problems. We need to know what is causing the confusion or issue.</p>
          
          <h3>How to get access to Fable</h3>
          <p>Speak to Antonia Duffin for access and information about how to set up a test.</p>
          
          <h2>Recruiting participants using other methods</h2>
          <p>We should always recruit 1 in 5 people who have access needs.</p>
          <p>Sometimes Fable is not appropriate. It does not work with Co-op's Virtual Private Network (VPN), and you cannot test in our support centre One Angel Square.</p>
          
          <h3>People for Research agency</h3>
          <p>We can recruit users in the way we do regular user research, via an agency called People for Research. You can ask to speak to people with certain disabilities you need to test with.</p>
          
          <h3>Represent, our colleague network</h3>
          <p><a href="https://colleagues.coop.co.uk/represent-disability-network">Represent</a> is Coop's colleague network for disabled people. It is a community of people who live with or have experience of disability. You can ask them for help and advice at <a href="mailto:represent@coop.co.uk">represent@coop.co.uk</a></p>
      </div>
    </section>
  </main>
    {% include footer.html %}
</div>