---
layout: coop-experience
id: accessibility
item-url: /accessibility/tools-and-resources.html
section: Accessibility
meta-title:	Tools and resources - Accessibility
meta-description: Useful links to tools and resources for digital accessibility.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Tools and resources
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - There is a lot of information about accessibility available online. These tools and resources can help you learn more&#58;
# Image at the top of the hero
decorative-image-url: images/decorative/accessibility-index-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Tools</h2>
                    <ul>
                        <li><a href="https://wave.webaim.org/">WAVE - free automated tool that checks web content for accessibility errors</a></li>
                        <li><a href="https://webaim.org/resources/contrastchecker/">Webaim colour contrast checker - tool to check that colour combinations have enough contrast</a></li>
                        <li><a href="https://hemingwayapp.com/">Hemingway - an app which checks your content for long and complex sentences</a></li>
                        <li><a href="https://silktide.com/resources/toolbar/">Silktide - browser plugin for simulating disabilities</a></li>
                        <li><a href="https://www.w3.org/WAI/tutorials/images/decision-tree/">A decision tree for alt text from Web Accessibility Initiative</a></li>
                    </ul>
                    <h2>Resources</h2>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=pHUk54NU5gc">Video from Hassell Inclusion</a></li>
                        <li><a href="https://abookapart.com/products/accessibility-for-everyone">The book ‘Accessibility for everyone’ by Laura Kalbag</a></li>
                        <li><a href="https://accessible-pdf.info/">How to make PDFs as accessible as possible</a></li>
                        <li><a href="https://www.selfdefined.app/">Self Defined - a glossary for inclusive language</a></li>
                        <li><a href="https://accessibility.blog.gov.uk/2016/09/02/dos-and-donts-on-designing-for-accessibility/">Home Office Digital accessibility posters</a></li>
                        <li><a href="https://www.youtube.com/channel/UCSKM9uIhS6B77RX56JwUJSw">Microsoft accessibility videos</a></li>
                        <li><a href="https://airtable.com/shrYnipJOkh9IVJnZ/tbl02v8ktFhZMdQ1E/viw5ZGBb1d0mexVMx?blocks=hide">Co-op database of links on accessibility</a></li>
                        <li><a href="https://accessibility-manual.dwp.gov.uk/">Department of Work and Pensions Accessibility Manual</a></li>
                        <li><a href="https://contentdesign.london/reading/dumbing-down/">Content Design London blog post on using plain language</a></li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>