---
layout: coop-experience
id: accessibility
item-url: /accessibility/tools-and-resources.html
section: Accessibility
meta-title:	Tools and resources for accessibility – learn and improve
meta-description: Explore a curated list of tools and resources to enhance your understanding of accessibility. Find valuable information online to help you learn and implement best practices.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Tools and resources
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - There is a lot of information about accessibility available online. These tools and resources can help you learn more.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Testing existing products and services</h2>
                    <h3>Tools</h3>
                    <h4><a href="https://wave.webaim.org/">WAVE</a></h4>
                    <p>Free automated tool that checks web content for accessibility issues using the Web Content Accessibility Guidelines (WCAG).</p>
                    <h4><a href="https://silktide.com/toolbar/">Silktide</a></h4>
                    <p>Free accessibility checker for Chrome which covers:</p>
                    <ul>
                        <li>WCAG and Americans with Disability Act (ADA) compliance checks</li>
                        <li>disability simulations</li>
                        <li>screen reader simulator</li>
                    </ul>
                    <h4><a href="https://webaim.org/resources/contrastchecker/">WebAIM colour contrast checker</a></h4>
                    <p>Free tool that displays the colour contrast ratio between the foreground and background colour. It also states whether it passes or fails Level AA and AAA requirements for both normal text and large text.</p>

                    <h3>Resources</h3>
                    <ul>
                        <li><a href="{{ '/accessibility/how-to-use-a-screen-reader.html' | prepend: site.baseurl }}">How to use a screen reader</a></li>
                        <li><a href="{{ '/accessibility/how-to-test-for-accessibility.html' | prepend: site.baseurl }}">How to test for accessibility</a></li>
                    </ul>
                    
                    <h2>Testing your content</h2>
                    <h3>Tools</h3>
                    <h4><a href="https://hemingwayapp.com/">Hemmingway App</a></h4>
                    <p>Free tool that visually highlights lengthy, complex sentences and common errors. The highlights are in different colours which identify different issues, for example, a yellow highlight means the sentence is too long and advises you to shorten or split it up.</p>

                    <h4><a href="https://www.grammarly.com/">Grammarly</a></h4>
                    <p>Free tool that:</p>
                    <ul>
                        <li>checks grammar and spelling</li>
                        <li>checks sentence structures</li>
                        <li>uses artificial intelligence (AI) to generate text</li>
                    </ul>

                    <h3>Resources</h3>
                    <p><a href="{{ '/content-guidelines/' | prepend: site.baseurl }}">Co-op's content guidelines</a></p> <p>Guidelines for how we write in Co-op, including styles and patterns, and common words and phrases we use to make Co-op content consistent and understandable.</p>

                    <h2>Introducing your team to accessibility</h2>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=pHUk54NU5gc">Video from Hassell Inclusion</a></li>
                        <li><a href="https://accessibility.blog.gov.uk/2016/09/02/dos-and-donts-on-designing-for-accessibility/">Home Office Digital accessibility posters</a></li>
                    </ul>

                    <h2>Accessibility blog posts</h2>
                    <ul>
                        <li><a href="https://digitalblog.coop.co.uk/2021/05/13/inclusive-accessible-services-the-importance-of-content-design/">Inclusive, accessible services: the importance of content design</a></li>
                        <li><a href="https://digitalblog.coop.co.uk/2021/04/30/what-happened-at-our-inclusion-and-accessibility-talks/">What happened at our inclusion and accessibility talks</a></li>
                        <li><a href="https://digitalblog.coop.co.uk/2021/05/21/questions-and-answers-from-the-inclusion-and-accessibility-event/">Questions and answers from the inclusion and accessibility event</a></li>
                        <li><a href="https://digitalblog.coop.co.uk/2024/03/05/how-our-accessibility-champions-are-creating-a-can-do-culture/">How our accessibility champions are creating a 'can do' culture</a></li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>