---
layout: coop-experience
id: accessibility
item-url: /accessibility/where-to-go-for-help.html
section: Accessibility
meta-title:	Where to go for help with accessibility – training and support
meta-description: Find essential training and support for accessibility. Discover where to get expert advice, technical help, and training to make sure your work meets accessibility standards

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Accessibility
title: Where to go for help
last-reviewed: Last reviewed&#58; 6 August 2024
intro-text-lead: 
  - Practical tips to help you start your accessibility journey at Co-op.
# Image at the top of the hero
decorative-image-url:  /images/decorative/accessibility-index-hero.jpg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 6 August 2024
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <h2>Co-op's accessibility champions</h2>
                    <p>We're a multidisciplinary team across design, product, delivery and engineering that formed out of a passion for making a difference and including everyone.</p>
                    <p>Our aim is to make Co-op's products and services accessible to all.</p>
                    <p>Antonia Duffin, Design Operations Officer<br>
                    Hannah France, Lead User Researcher<br>
                    Michelle May, Lead UX Designer<br>
                    Phil Wolstenholme, Lead Front-end Engineer<br>
                    Phoebe Quayle, Delivery Manager<br>
                    Rachel Machin, Lead Content Designer</p>

                    <h2>Training and support</h2>
                    <p>If you'd like accessibility advice or a second opinion on a product or service, the accessibility champions hold bi-weekly drop in sessions on Mondays at 3pm.</p>
                    <p>Reminders are sent out via Slack channels, or alternatively you can contact Antonia Duffin on Microsoft Teams to book your slot.</p>
                    <p>If you want to learn more about digital accessibility and would like to attend our <a href="/accessibility/digital-accessibility-awareness-training.html">Digital Accessibility Awareness training</a>, contact Antonia Duffin to book your place.</p>
                    
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>
