---
layout: coop-experience
id: accessibility
item-url: /accessibility/write-accessible-content.html
section: doing-accessibility
meta-title:	Write accessible content
meta-description: Guidance, tools and resources on digital accessibility. Get started with building accessible websites at Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Accessibility
title: Write accessible content
last-reviewed: Last reviewed&#58; 24 June 2021
intro-text-lead: 
  - An important but often overlooked aspect of accessibility is clear, structured content.
# Image at the top of the hero
decorative-image-url: /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the alert notification in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the alert notification
link-box-link-dev: #

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-7">
                    <p>There is a lot to consider when making making content accessible. Here are some common issues.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards">You can also find guidance in our digital accessibility standards.</a></p>
                    <h2>Common issues</h2>
                    <h3>Plain English</h3>
                    <p>Use plain English to make your content as easy to understand as possible.</p>
                    <p>According to the National Literacy Trust, 16.4% of adults in England have very low literacy skills. Lots of people have English as a second language. Lots of people are tired or distracted when using one of our products or services.</p>
                    <p>Use simple words and sentence structures. Do not use specialist terms and unusual words or phrases. If you have to use them, explain them.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#literacy">Go to the accessibility standard on literacy</a>.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#unusual-words">Go to the accessibility standard on unusual words and phrases</a>.</p>
                    <h3>Headings</h3>
                    <p>Use clear descriptive headings to give structure and hierarchy to your content. This helps people find the information they are looking for.</p>
                    <p>Front load your headings and sub-headings – that is, put the most important information at the start – so that people scanning the page can find important information more easily.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#titles-and-headings">Go to the accessibility standard on page titles and section headings</a>.</p>
                    <p><a href="/search-engine-optimisation/meta-titles-and-descriptions.html">Go to the SEO guidelines on headings</a>.</p>
                    <h3>Logical order</h3>
                    <p>For people to understand content, it needs to follow a logical order and have a clear relationship with other content.</p>
                    <p>Keep pages as simple as possible and make sure they make sense when read top to bottom. Following a proper heading structure will help with this.</p>
                    <p>Include the most important information at the start – what the purpose of the page is, and who it’s for – to help people know whether they’re in the right place.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#structure">Go to the accessibility standard on structure</a>.</p>
                    <h3>Alternative text</h3>
                    <p>If you’re using images that add meaning and context to the content, provide alternative text. This means that assistive technology users do not miss out on any context or information.</p>
                    <p>You should:</p>
                    <ul>
                        <li>describe the image</li>
                        <li>be as clear and brief as possible</li>
                    </ul>
                    <p>If an image is only decorative, such as page dividers or shape graphics then you do not need to provide alternative text.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#text-alternatives">Go to the accessibility standard on text alternatives</a>.</p>
                    <h3>Link and button text</h3>
                    <p>Links allow users to navigate to a new page when they select them.</p>
                    <p>Buttons should be actionable and should only be used to let users carry out an action, such as submitting information.</p>
                    <p>Do not use text such as ‘click here’, or anything that does not make sense when read out of context — screen readers can read link text in isolation without the surrounding content.</p>
                    <p>Make link and button text, clear, concise and based around actions. For example, ‘Book tickets'. This will help make it clear to people where a link is taking them or what a button will do.</p>
                    <p><a href="https://www.coop.co.uk/accessibility/standards#descriptive-links">Go to the accessibility standard on links</a>.</p>
                    <h2>Resources</h2>
                    <ul>
                        <li><a href="https://www.w3.org/WAI/tutorials/images/decision-tree/">A decision tree for alt text</a></li>
                        <li><a href="https://supercooldesign.co.uk/blog/how-to-write-good-alt-text">How to write good alt text</a></li>
                    </ul>
                </div>
        </section>
    </main>
    {% include footer.html %}
</div>