---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html
section: style-and-patterns
meta-title:	Abbreviations, acronyms and initialisms
meta-description: Find out how to use abbreviations, acronyms and initialisms when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Abbreviations, acronyms and initialisms
last-reviewed: Last reviewed&#58; 9 Sept 2021
intro-text-lead: 
  - Abbreviations, acronyms and initialisms are shortened forms of words that can make content more concise
# Image at the top of the hero
decorative-image-url:  /images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 9 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Abbreviations, acronyms and initialisms</h2>
                        <p>An abbreviation is a shortened form of a word or phrase, like ‘Co-op’, short for ‘co-operative’.</p>
                        <p>An acronym is an abbreviation made up of the initial letters of other words and pronounced as a word, like ‘Nisa', short for the National Independent Supermarket Association.</p>
                        <p>An initialism is an abbreviation made up of initial letters that are pronounced separately, for example ‘BBC’, short for British Broadcasting Corporation.</p>
                        <p>Any of these can be confusing and exclude people. Only use them where necessary, for example if:</p>
                        <ul>
                            <li>you’re repeating the same term multiple times in a short space</li>
                            <li>they are more well known than the explanation</li>
                        </ul>
                        <p>Explain abbreviations at least the first time you use them, unless they’re well known, like Co-op, UK, or HR.</p>
                        <p>Consider whether it’s helpful to explain them more than once, for example, if the user might only read a certain section of the page.</p>
                        <p>When you explain the term in full, add the abbreviation in brackets after it. For example, ‘Customer Relationship Management (CRM)’. You can then refer to it by the initials and using the ‘abbreviation’ tag in the code. This tag code means that the explanation’s displayed as hover text.</p>
                        <p>Do not use full stops within abbreviations, for example ‘CRM’ not ‘C.R.M.’</p>
                        <p>For more information on abbreviations, acronyms and initialisms go to the <a href="https://readabilityguidelines.co.uk/grammar-points/abbreviations-and-acronyms/">Content Design London Readability Guidelines section on Abbreviations and acronyms</a>.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Abbreviation, acronym and initialism examples</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-10">
                                <p>Facilities Management Services (also known as 'Facilities'). </p>
                                <p class="coop-t-caption coop-u-margin-b-64">Explanation of an abbreviation with the abbreviation in brackets.</p>
                                <p>National Independent Supermarket Association (Nisa)</p>
                                <p class="coop-t-caption coop-u-margin-b-64">Explanation of an acronym with the acronym in brackets.</p>
                                <p>Customer Relationship Management (CRM)</p>
                                <p class="coop-t-caption coop-u-margin-b-32">Explanation of an initialism with the initialism in brackets.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
