---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/alcohol.html
section: style-and-patterns
meta-title: Alcohol
meta-description: Find out how to write about alcohol when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Alcohol
last-reviewed: Last reviewed&#58; 28 Sept 2021
intro-text-lead: 
  - We need to be responsible and meet industry standards when writing about alcohol.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 28 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>If a product is alcoholic, you must:</p>
                        <ul>
                            <li>include this information in any communication about the product</li>
                            <li>include the Drinkaware logo on any advertising</li>
                            <li>follow the Portman Group rules</li>
                        </ul>
                        <p>The Portman Group is an industry organisation that sets rules and standards for alcohol marketing.</p>
                        <p><a href="https://www.portmangroup.org.uk/rules/">Go to the Portman Group rules</a>.</p>
                        <p>Any communication that includes alcohol must be approved by the Co-op legal team.</p>
                        <p>Send your draft content and request to legalmarketingapprovals@coop.co.uk at least 3 business days before you need the approval.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
