---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/alternative-text.html
section: style-and-patterns
meta-title:	Alternative text
meta-description: Find out how to use alternative text when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Alternative text
last-reviewed: Last reviewed&#58; 4 Oct 2024
intro-text-lead: 
  - Alt text describes an image and its purpose for people who cannot see an image, such as screen reader users and those with a slow internet connection.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 4 Oct 2024
    notes: New version of content bringing exisiting guidance together
  - date: 23 Sept 2021
    notes: First version of page published

---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Provide alt text if you’re using images that add meaning and context to the content. These images could be:</p> 
                        <ul>
                            <li>from a marketing campaign</li> 
                            <li>stock imagery that provides more meaning to advice articles</li>
                            <li>of products on an online shop</li>
                        </ul>
                        <p>Alt text is shown when an image cannot be displayed. It makes your webpage, email or social media post more accessible for people using screen readers. It also helps search engines understand what an image is.</p>  
                        <p>When writing alt text:</p>
                        <ul>
                            <li>use keywords in a natural-sounding way</li>
                            <li>keep it short and precise – it should be less than 125 characters long</li>
                            <li>describe relevant elements of the image – for example, only include colours if they add meaning or useful context</li> 
                            <li>do not include the words “picture of” or “image of” – screen reader users hear this anyway when alt text is read out</li> 
                        </ul>
                        <p>You do not need to provide alt text if:</p> 
                        <ul>
                            <li>an image is only decorative, such as page dividers or shape graphics</li>
                            <li>the content of the image is written in surrounding content</li> 
                            <li>an image has been used already on that page (to avoid repeating content)</li> 
                        </ul>  
                        <p>Add alt text when you’re uploading an image into the content management system (CMS) or social media platform. There will be a field to add it in.</p>  
                        <p class="coop-u-margin-b-32">If you don’t need to add alt text, leave the field blank in the CMS.</p>   
                        <div class="el-c-pullout">
                        <div class="el-c-pullout-header">
                            <h3>Examples</h3>
                        </div>
                        <div class="el-c-pullout-content">
                            <img
                                src="{{ '/images/examples/content/shopping-list.png' | prepend: site.baseurl }}"
                                alt="A paper shopping list of bread, eggs, milk and broccoli, attached to a fridge with a Co-op member prices magnet."
                                class="coop-u-margin-b-32"
                            />
                            <h4>Good alt text</h4>
                            <p>A paper shopping list of bread, eggs, milk and broccoli, attached to a fridge with a Co-op member prices magnet.</p> 
                            <h4>Bad alt text</h4>
                            <p>Shopping list picture for member prices home page card.</p>
                            <img
                                src="{{ '/images/examples/content/cls-example.png' | prepend: site.baseurl }}"
                                alt="Two people walking in a forest during autumn."
                                class="coop-u-margin-b-32 coop-u-margin-t-64"
                            />
                            <h4>Good alt text</h4> 
                            <p>Two people walking in a forest during autumn.</p>
                            <h4>Bad alt text</h4> 
                            <p>Image_2.jpeg</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
