---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/frequently-asked-questions.html
section: style-and-patterns
meta-title: Frequently asked questions
meta-description: Find out why we do not use frequently asked questions when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Frequently asked questions
last-reviewed: Last reviewed&#58; 28 Sept 2021
intro-text-lead: 
  - Frequently asked questions presents information in a question and answer format.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 28 Sept 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Do not use frequently asked questions (FAQs).</p>
                        <p>FAQs generally:</p>
                        <ul>
                            <li>make information hard to find</li>
                            <li>take information out of context</li>
                            <li>are not frequently asked but based on assumptions</li>
                        </ul>
                        <p>Instead, put important information in the right place and give it at the right time. Speak to your audience and do research to find out what information to give at what point.</p>
                        <p>This means people will not have to spend time searching through an FAQ section full of content that's not relevant to them in order to find what they’re looking for.</p>
                        <p>If your team is receiving the same questions frequently, use this as a basis to inform and improve your content. Information might be missing, or it might be in the wrong place.</p>
                        <p>For more information, go to Tom Adam’s <a href="https://digitalblog.coop.co.uk/2018/09/13/why-faqs-arent-the-answer-youve-been-looking-for/">Co-op Digital blog post, ‘Why FAQ’s aren’t the answer you’ve been looking for'</a>.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
