---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/headings.html
section: style-and-patterns
meta-title:	Headings
meta-description: Find out how to use headings when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Headings
last-reviewed: Last reviewed&#58; 1 Oct 2021
intro-text-lead: 
  - Headings give your content structure and help to make it more readable.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 1 Oct 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>You can find full guidelines on headings, paragraphs and lists in our elements section.</p>
                        <p><a href="{{ '/elements/headings-paragraphs-and-lists.html' | prepend: site.baseurl }}">Go to the full guidelines on headings, paragraphs and lists</a>.</p>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
