---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/index.html
section: style-and-patterns
meta-title:	Style and patterns
meta-description: Style and patterns

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 8
section-title: Content Guidelines
title: Style and patterns
last-reviewed: Last reviewed&#58; 8 Sept 2021
intro-text-lead: How to write for Co-op in a way that's understandable, accessible and consistent.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the logo in Figma
link-box-link-design: /about-this-prototype/
link-box-text-dev: Go to Storybook to learn more about and install the logo
link-box-link-dev: /about-this-prototype/

# Signposts
signpost:
  - link: /content-guidelines/style-and-patterns/abbreviations-acronyms-and-initialisms.html
    text: Abbreviations, acronyms and initialisms
    image: 
  - link: /content-guidelines/style-and-patterns/alternative-text.html
    text: Alternative text
    image:
  - link: /content-guidelines/style-and-patterns/buttons.html
    text: Buttons
    image: 
  - link: /content-guidelines/style-and-patterns/links.html
    text: Links
    image: 
  - link: /content-guidelines/style-and-patterns/numbers-dates-and-time.html
    text: Numbers, dates and time
    image:
  - link: /content-guidelines/style-and-patterns/punctuation-and-formatting.html
    text: Punctuation and formatting
    image:  

signpost2:
  - link: /accessibility/build-accessible-websites.html
    text: Build accessible websites
    image: 
  - link: /accessibility/write-accessible-content.html
    text: Write accessible content
    image: 
  - link: /accessibility/find-out-if-something-is-accessible.html
    text: Find out if something is accessible
    image: 
  - link: /accessibility/research-with-people-with-access-needs.html
    text: Research with people with access needs
    image: 
  - link: /accessibility/tools-and-resources.html
    text: Tools and resources
    image: 
  
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full"> 
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid coop-u-margin-resp-b-32-16">
                    <div class="coop-l-grid__item coop-l-grid__item--large-12">
                        <ul class="coop-l-grid coop-u-list-bare">
                            {% for signpost in page.signpost %}
                            <li class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-flex">
                                {% include signpost.html %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
