---
layout: coop-experience
id: content
item-url: /content-guidelines/style-and-patterns/job-titles.html
section: style-and-patterns
meta-title: Job titles
meta-description: Find out how to write job titles when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Job titles
last-reviewed: Last reviewed&#58; 2 Nov 2021
intro-text-lead: 
  - A job title is the name of the position someone holds, usually within an organisation.
# Image at the top of the hero
decorative-image-url:  /images/decorative/design-principles-hero.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: 

# Changelog
changelog:
  - date: 2 Nov 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2>Guidelines</h2>
                        <p>Capitalise a job title if you’re writing about a specific person’s role, for example:</p>
                        <ul>
                            <li>Steve Murrells, Chief Executive</li>
                            <li>Sarah Thomas, Team Leader</li>
                            <li>Mary Smith, Content Designer</li>
                        </ul>
                        <p>Lower case when talking about a generic job role, for example:</p>
                        <ul>
                            <li>a team leader</li>
                            <li>an executive </li>
                            <li>a group of designers</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
