---
layout: coop-experience
id: content
item-url: /content-guidelines/styles-and-patterns/punctuation-and-formatting.html
section: style-and-patterns
meta-title:	Punctuation and formatting
meta-description: Find out how to use punctuation and formatting when designing digital products and services for Co-op.

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Content guidelines
title: Punctuation and formatting
last-reviewed: Last reviewed&#58; 4 June 2021
intro-text-lead: 
  - Use punctuation and formatting to help people read and understand your writing.
# Image at the top of the hero
decorative-image-url: images/decorative/components.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: 
link-box-link-design: 
link-box-text-dev: 
link-box-link-dev: /about-this-prototype/

# In page nav
in-page-nav:
  - link-id: anchor-ampersands
    link-text: Ampersands (&amp;)
  - link-id: anchor-bold-and-italics
    link-text: Bold and italics
  - link-id: anchor-brackets
    link-text: Brackets
  - link-id: anchor-captial-letters
    link-text: Capital letters
  - link-id: anchor-colons-and-semi-colons
    link-text: Colons and semi-colons
  - link-id: anchor-ellipsis
    link-text: Ellipsis (&hellip;)
  - link-id: anchor-exclamation-marks
    link-text: Exclamation marks
  - link-id: anchor-hyphens-and-dashes
    link-text: Hyphens and dashes
  - link-id: anchor-latin-terms
    link-text: Latin terms&#58; eg, etc and ie
  - link-id: anchor-percentagess
    link-text: Percentages
  - link-id: anchor-slashes
    link-text: Slashes

# Changelog
changelog:
  - date: 4 June 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-ampersands">Ampersands</h2>
                        <p>Use ‘and’ rather than ‘&amp;', unless it’s part of a:</p>
                        <ul>
                            <li>brand or product name</li>
                            <li>company, organisation or department’s name</li>
                            <li>logo</li>
                        </ul>
                        <p>‘And’ is easier for people to skim and understand.</p>
                        <p>For more information see the <a href="https://insidegovuk.blog.gov.uk/2014/02/25/ampersands-date-ranges-and-contractions-style-guidance-2/">gov.uk blog post on ‘Ampersands, date ranges and contractions: style guidance’</a>.</p>
                        <h2 id="anchor-bold-and-italics">Bold and italics</h2>
                        <p>Limit where you use bold – it can hard for people to read and know what to pay attention to.</p>
                        <p>Only use italics to reference the source of a quote.</p>
                        <p>If you need to add emphasis, structure your content to reflect how people scan a page:</p>
                        <ul>
                            <li>use descriptive headings and subheadings that use a logical heading structure in the code (see <a href="{{ '/elements/headings-paragraphs-and-lists.html' | prepend: site.baseurl }}">our guidelines on headings, paragraphs and lists</a>)</li>
                            <li>put the most important information at the start of sentences and headings</li>
                            <li>break lists into bullet points</li>
                        </ul>
                        <h2 id="anchor-brackets">Brackets</h2>
                        <h3>Round brackets</h3>
                        <p>Use round brackets to clarify an acronym or technical term that you’ll use from that point onwards, for example: ‘customer team member (CTM)’, or ‘the people you want to sort out your will (known as ‘executors’)’. Do this at least the first time you use the acronym – consider whether it’s helpful to explain the acronym more than once, for example, if the user only reads a certain section of the page.</p>
                        <p>You can also use round brackets to add information that’s not essential to the main point of your sentence. Information that, if removed, would not change the meaning of the sentence.</p>
                        <p>Do not use round brackets to indicate that something can be singular or plural, like: ‘Check which document(s) you need to send to HR’.</p>
                        <p>Instead, use the plural, as this will cover each possibility: ‘Check which documents you need to send to HR’.</p>
                        <p>If you have a complete sentence that stands alone in brackets, start it with a capital letter and end it with a full stop before the closing bracket.</p>
                        <p>Do not to overuse brackets, they can disrupt the flow of reading.</p>
                        <h3>Square brackets</h3>
                        <p>Only use square brackets to add clarification to a quote or something you’ve not written yourself, like, ‘It [content] deserves our full time and attention’.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples - Brackets</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-10">
                                <p>Customer team member (CTM)</p>
                                <p class="coop-t-caption coop-u-margin-b-64">Clarification of an acronym with the acronym in round brackets.</p>
                                <p>(If you have a complete sentence that stands alone in brackets, start it  with a capital letter and end it with a full stop before the closing bracket.)</p>
                                <p class="coop-t-caption coop-u-margin-b-64">A complete sentence that stands alone in brackets, showing punctuation.</p>
                                <p>“It [content] deserves our full time and attention.”</p>
                                <p class="coop-t-caption coop-u-margin-b-32">Clarification in square brackets added to a quote.</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-capital-letters">Capital letters</h2>
                        <p>Capital letters are harder to read and can slow people down.</p>
                        <p>Use lower case ('sentence case'), including for headings, subheading and for.</p>
                        <p>Only use capital letters for proper nouns.</p>
                        <p>Proper nouns include:</p>
                        <ul>
                            <li>names of people and places, for example, John Smith, Manchester</li>
                            <li>names of groups, directorates and organisations, for example, Co-op or Co-op Legal Services</li>
                            <li>job titles if they are specific to a person, for example, John Smith, Designer or ‘a bunch of designers’</li>
                            <li>titles of specific acts or bills, for example, the Equality Act</li>
                            <li>brand names, unless the brand uses lower case, for example, Co-op Irresistible range</li>
                            <li>titles of books, shows and films, for example, To Kill a Mocking Bird </li>
                        </ul>
                        <p class="coop-u-margin-t-32">For more on capital letters go to:</p>
                        <ul>
                            <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK section on capitalisation</a></li>
                            <li><a href="https://readabilityguidelines.co.uk/grammar-points/capital-letters/#1-do-not-capitalise-whole-words-or-phrases">the Content Design London Readability Guidelines section on capital letters</a></li>
                        </ul>
                        <h2 id="anchor-colons-and-semi-colons">Colons and semicolons</h2>
                        <p>Use a colon at the end of a lead-in line to introduce a quote or list.</p>
                        <p>Otherwise, avoid using colons or semicolons - they can make your sentence long and hard to read. If you think a sentence needs a colon or semicolon, break it into separate sentences.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Examples - Colons</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-10">
                                <p>As the poet Matthew Arnold said:</p>
                                <p>”Have something to say, and say it as clearly as you can. That is the only secret of style.”</p>
                                <p class="coop-t-caption coop-u-margin-b-64">A colon at the end of a lead-in line to introduce a quote.</p>
                                <p>You need to bring:</p>
                                <ul>
                                    <li>your driving licence or passport</li>
                                    <li>a copy of your P60</li>
                                    <li>proof of your address, like a recent utility bill</li>
                                </ul>
                                <p class="coop-t-caption">A colon at the end of a lead-in line to introduce a list.</p>                                
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-ellipsis">Ellipsis (&hellip;)</h2>
                        <p>Only use them:</p>
                        <ul>
                            <li>when you’re quoting someone and need to show words have been missed out, for example, “We design with purpose&hellip; by knowing why the service is needed before we build it.”</li>
                            <li>to indicate there’s more to come, for example, in a header, ‘We asked our users to name a wine&hellip;'</li>
                        </ul>
                        <p>If you use an ellipsis, do not include a space after the previous word, but include one space after.</p>
                        <p>If the ellipsis ends the sentence, do not add an additional full stop.</p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="el-c-pullout">
                    <div class="el-c-pullout-header">
                        <h3>Example - Ellipsis</h3> 
                    </div>
                    <div class="el-c-pullout-content">
                        <div class="coop-l-grid">
                            <div class="coop-l-grid__item coop-l-grid__item--large-10">
                                <p>‘We design with purpose&hellip; by knowing why the service is needed before we build it.’</p>
                                <p class="coop-t-caption">A quote with an ellipsis to show that words have been missed out.</p>                                
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-exclamation-marks">Exclamation marks</h2>
                        <p>Exclamation marks can make content:</p>
                        <ul>
                            <li>seem flippant, insincere or patronising</li>
                            <li>lose impact</li>
                        </ul>
                        <p>Ending your sentence with a full stop instead of an exclamation mark allows people to focus on the message, rather than the tone. Use exclamation marks sparingly. </p>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-hyphens-and-dashes">Hyphens and dashes</h2>
                        <h3>Hyphens</h3>
                        <p>Hyphens are used to link words or part of words. They show people that there’s a connection between them, for example, ‘mother-in-law’, ‘fine-tuned’, ‘Co-op’.</p>
                        <p>Too many hyphens can be distracting and confusing, especially if they’re used when they’re not needed. </p>
                        <p>Only use a hyphen if it’s confusing without it. For example, ‘They recovered the sofa’ has a different meaning to ‘They re-covered the sofa’. If you decide to use a hyphen, use it consistently each time you repeat the word.</p>
                        <h3>Dashes</h3>
                        <p>Dashes are longer than hyphens.</p>
                        <p>They’re often used where brackets or commas could be used, for example, ‘Use question words &mdash; the who, what, when, where, why, and how &mdash; to get information.’</p>
                        <p>Some screen readers read out the word ‘dash’ which can disrupt the flow and make sentences harder to understand.</p>
                        <p>Instead, use a comma in place of the dash where possible.</p>
                        <p>If you’re writing a date range, use ‘to’ within date ranges rather than a hyphen or dash, for example:</p>
                        <p>Use: Tuesday 21 May to Friday 24 May</p>
                        <p>Not: Tuesday 21 May &ndash; Friday 24 May</p>
                        <p>For more information go to:</p>
                        <ul>
                            <li><a href="https://www.theguardian.com/guardian-observer-style-guide-h">Guardian style guide entry on ‘Hyphens’</a></li>
                            <li><a href="https://readabilityguidelines.co.uk/grammar-points/hyphens-and-dashes/">Content Design London section on hyphens and dashes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-latin-terms">Latin terms: eg, etc and ie</h2>
                        <p>Do not use the abbreviated Latin terms 'eg', ‘etc’ and ‘ie’ because:</p>
                        <ul>
                            <li>some people do not know what they mean</li>
                            <li>some screen readers can read them incorrectly, for example, ‘egg’ instead of ‘eg’</li>
                        </ul>
                        <p>Instead, use:</p>
                        <ul>
                            <li>‘for example’ or ‘like’ instead of ‘eg’</li>
                            <li>‘and so on’ instead of ‘etc’</li>
                            <li>‘in other words’ or ‘that is’ instead of ‘ie’</li>
                        </ul>    
                        <p class="coop-u-margin-t-32">For more information go to the gov.uk blog post <a href="https://insidegovuk.blog.gov.uk/2016/07/20/changes-to-the-style-guide-no-more-eg-and-ie-etc/">Changes to the style guide: no more eg, and ie, etc</a></p>                
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-percentages">Percentages</h2>
                        <p>Use ‘%' instead of ‘percent’ or ‘per cent’ when you’re using it with a number. It’s easier to read and understand.</p>
                        <p>Some people find percentages confusing. Consider whether you could make your content more understandable by using other references, for example, ‘1 in 2 people’ or ‘half’.</p>        
                    </div>
                </div>
            </div>
            <div class="el-c-primary-section">
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8">
                        <h2 id="anchor-slashes">Slashes (/)</h2>
                        <p>Slashes can suggest ‘and’ or ‘or’ which can be confusing. To be clear, use ‘and’ or ‘or’ instead of a slash.</p>
                        <p>You can use slashes in website addresses, where necessary.</p>        
                    </div>
                </div>
            </div>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</div>
