---
layout: coop-experience
id: index
description: We use a grid to structure our designs and create consistent spacing. It gives us a flexible way to layout components that adapts to different device sizes.
section: Layout
item-url: /layout/grid.html

# Hero content
# Set width of content (options 6 [50% width] - 12 [100% width] )
col-width: 7
section-title: Layout
title: Grid
last-reviewed: Last reviewed&#58; 14 April 2021
intro-text-lead: 
  - We use a grid to structure our designs and create consistent spacing. It gives us a flexible way to layout components that adapts to different device sizes.
# Image at the top of the hero
decorative-image-url: /images/decorative/layout-grid.svg

# Hero link box - set to false or remove the code below to remove
link-box: false
link-box-text-design: View the grid in Figma
link-box-link-design: #
link-box-text-dev: Go to Storybook to learn more about and install the grid
link-box-link-dev: #

# Example (add path to html include or path to image)
example-html: foundations/foundations-tables/tables.html
example-image: 
example-image-alt: 

# Changelog
changelog:
  - date: 14 April 2021
    notes: First version of page published
---
<div class="coop-u-flex__main">
    <main id="main">
        <div class="coop-l-full">
            {% include notification.html %}
            {% include hero.html %}
        </div>
        <section class="coop-l-page">
            <div class="el-c-primary-section"> 
                <div class="coop-l-grid">
                    <div class="coop-l-grid__item coop-l-grid__item--large-8 coop-u-margin-b-32">
                        <h2>Guidelines</h2>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/columns.png" class="coop-u-margin-b-16" alt="The 12 columns of the grid that is used for designing digital content at Co-op.">
                        <h3>Columns</h3>
                        <p class="coop-t-font-size-18">The grid has 12 columns. The widths of the columns change with the size of the device.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/gutters.png" class="coop-u-margin-b-16" alt="Grid with gutter spacing between each of the 12 columns.">
                        <h3>Gutters</h3>
                        <p class="coop-t-font-size-18">Gutters are the gaps between the columns.</p>
                        <p class="coop-t-font-size-18">They are:</p>
                        <ul>
                            <li class="coop-t-font-size-18">fixed to 32px for browser widths above 1300px</li>
                            <li class="coop-t-font-size-18">fixed to 16px for browser widths below 1300px</li> 
                        </ul>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/grid-margins.png" class="coop-u-margin-b-16" alt="Grid with the 16 pixel margin spacing on the far left hand side and far right hand side.">
                        <h3>Grid margins</h3>
                        <p class="coop-t-font-size-18">Grid margins make sure there is always white space around the content. The grid margins are 16px wide.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/layout.png" class="coop-u-margin-b-16" alt="Possible arrangement of content laid out across the grid.">
                        <h3>Layout</h3>
                        <p class="coop-t-font-size-18">Components and content can be laid out across as many grid columns as needed.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/fixed-width-grid.png" class="coop-u-margin-b-16" alt="12 column grid with large space on the far left hand side and far right hand side.">
                        <h3>Fixed width grid</h3>
                        <p class="coop-t-font-size-18"p>The fixed width grid has a container around it that keeps the maximum size centred in the browser at 1440px.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/full-width-grid.png" class="coop-u-margin-b-16" alt="12 column grid with small space on the far left hand side and far right hand side.">
                        <h3>Full width grid</h3>
                        <p class="coop-t-font-size-18">The full width grid allows the content to stretch right to the edges of the browser. This is useful when you’re creating detailed applications that might need to use the whole screen.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-12 coop-u-margin-b-64">
                    <div class="coop-table-wrapper">
                        <table class="coop-table">
                            <h3 class="">Full grid values used across breakpoints (device sizes)</h3>
                                <thead>
                                <tr>  
                                    <th scope="col">Min width</th>
                                    <th scope="col">Breakpoint</th>
                                    <th scope="col">Columns</th>
                                    <th scope="col">Fixed width grid</th>
                                    <th scope="col">Full width grid</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td role="cell">320px</td>
                                    <td role="cell">xxsmall</td>
                                    <td role="cell">2</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">414px</td>
                                    <td role="cell">xsmall</td>
                                    <td role="cell">2</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">600px</td>
                                    <td role="cell">small</td>
                                    <td role="cell">6</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">768px</td>
                                    <td role="cell">medium</td>
                                    <td role="cell">12</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">1024px</td>
                                    <td role="cell">large</td>
                                    <td role="cell">12</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">1300px</td>
                                    <td role="cell">xlarge</td>
                                    <td role="cell">12</td>
                                    <td role="cell">100%</td>
                                    <td role="cell">100%</td>
                                </tr>
                                <tr>
                                    <td role="cell">1440px</td>
                                    <td role="cell">xxlarge</td>
                                    <td role="cell">12</td>
                                    <td role="cell">1440px, centred</td>
                                    <td role="cell">100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/tablet-and-mobile-grid.png" class="coop-u-margin-b-16" alt="Illustration of three different sized devices showing the number of columns in the grid adapting to device width.">
                        <h3>Tablet and mobile grid</h3>
                        <p class="coop-t-font-size-18">With a browser under 600px, the number of columns drops from 12 to 6. With a browser under 414px, the number of columns drops to 2 columns.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/centering-content.png" class="coop-u-margin-b-16" alt="Possible example of how to center content across the grid.">
                        <h3>Centering content</h3>
                        <p class="coop-t-font-size-18">Content on the page does not always have to span 12 columns. Components can be centred within a specified amount of columns.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6 coop-u-margin-b-64">
                        <img src="/images/offsetting-content.png" class="coop-u-margin-b-16" alt="Possible example of how to offset content across the grid.">
                        <h3>Offsetting content</h3>
                        <p class="coop-t-font-size-18">Content can also be offset by a specified amount of columns. Offset can be changed or removed at different device sizes.</p>
                    </div>
                    <div class="coop-l-grid__item coop-l-grid__item--large-6">
                        <img src="/images/reversing-order.png" class="coop-u-margin-b-16" alt="Illustration of two different sized devices showing content changing order of position depending on device width.">
                        <h3>Reversing the order of components on different sizes of device</h3>
                        <p class="coop-t-font-size-18">Components can be re-ordered to change the prominence of content across different device sizes.</p>
                    </div>
                </div>
            </div>     
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--large-12">
                    {% include changelog.html %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</div>
